atlantis:webstash(type="css")
  style
    :less
      #marquee { 
        background-color: #f3f3f4; overflow-y: hidden;
        .promo-wrapper, .price-wrapper { margin-top: 20px; }
        .inline-dash { display:inline-block;overflow:hidden;letter-spacing:-0.5em;font-size:1.4em;vertical-align:top;line-height:50%; }
        .headline-wrapper { margin-top: 40px; line-height: 1; }
        .promo-wrapper { color: #77c043; }
        .price { color: #ff8a00; }
        .btn-purchase {min-width: 40%;}
        .price-wrapper .bigtext{width:60%;}
        .disclaimer { font-size: 0.6em;}
        .hero-wrapper > .row img { margin: 0 auto; display: block; }
      }
      @media only screen and (min-width:1200px) {
         #marquee .btn-purchase{margin-top:40px;float: right;}
         #marquee .price-wrapper .bigtext{width:100%;}
         #marquee .disclaimer{text-align: right;} 
      }
      @media (min-width: 992px) {
        #marquee .hero-wrapper > .row img { width:90%; }
        .disclaimer{margin-bottom:0px;}
      }
      @media (min-width: 768px) {
        #marquee .hero-wrapper > .row { max-height: 315px; }
        #marquee .hero-wrapper > .row img { width:100%; }
        .disclaimer{margin-bottom:20px;}
        .price-text{font-size:1.2rem;}
      }

.row
  .col-xs-12.col-sm-6
    .headline-wrapper
      .bigtext(style='width:100%')
        .line.walsheim-black WOOK AT THE PUPPY!
        .line.tungsten NOW STOP WOOKING AT THE PUPPY
        .line.walsheim-black <span class='inline-dash'>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span> AND WOOK AT THIS OFFER
    .promo-wrapper
      .bigtext(style='width:100%')
        .walsheim-black DOMAIN + WEBSITE + EMAIL
    .container
      .row
        .col-lg-6.col-sm-12
          .price-wrapper
            .price-text.walsheim-black ALL STARTING AT JUST
            .bigtext(style='display: inline-block;')
              span.price.walsheim-black $1.00/MO
        .col-lg-6.col-sm-12      
          a.btn.btn-purchase(data-url!="[@T[link:<relative path='/offers/online-business.aspx'><param name='ci' value='11111' /></relative>]@T]") Get Started
    .disclaimer First year only. Other restrictions apply.
  .col-xs-12.col-sm-5
    img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/got-buddy.jpg")
