include ../../../../templates/plan-tiles-mixin.jade

+renderPlanTiles(3, {"backgroundColor":"bg-green-official"})
  +planTile
    include ../bottom-pods/_global-pod.jade
  +planTile
    include ../bottom-pods/_club-pod.jade
  +planTile
    include ../bottom-pods/_co-pod.jade