include ../../../../templates/plan-tiles-mixin.jade

+renderPlanTiles(4, {})
  +planTile
    include ../top-pods/_com-pod.jade
  +planTile
    include ../top-pods/_net-pod.jade
  +planTile
    include ../top-pods/_org-pod.jade
  +planTile
    include ../top-pods/_info-pod.jade
  .container
    .row
      .col-sm-12
        h3.text-center So What All Do You Get?
    .row
      .col-md-4.col-sm-6
        .include-check Simple domain set up - no technical skills needed. Honest.
        .include-check Quickly forward your domain to any existing website
      .col-md-4.col-sm-6
        .include-check Up to 100 subdomains (like pics.coolexample.com) to customize your site.
        .include-check 100 professional email aliases (like sales@coolexample.com).
      .col-md-4.col-sm-6
        .include-check Real-time monitoring to keep you up and running