html[lang='pt-BR'] .gd-left-image, html[lang='pt-PT'] .gd-left-image{
background: url('../img/cobranded-cce-lenovo-sprite.png') no-repeat -24px -102px;
  width: 224px;
  height: 97px;
display: inline-block;
float: left;
margin-left: 65px;
}

.main-banner-lenovo {
 background-image: url("../img/lenovo-landing-page-marquee.png");
background-position: center top;
background-repeat: no-repeat;
position: relative;
padding-bottom: 9.6em;
}

.main-banner-text>.main-banner-title {
color: #333;
margin-bottom: .611111111em;
text-transform: uppercase;
font-size: 24px;
}

.main-tab{
	background:#689A1D;
}

.green-divider{
	height: 60px;
}
.top-tab-content{
	margin-top: -2.428em;
}
.tab-content-blade {
background-repeat: no-repeat;
background-position: right top;
}
.tab-content-blade-alternate {
background-repeat: no-repeat;
background-position: left top;
}

.tab-content-easier-than-you-think {
background-repeat: no-repeat;
background-position: left top;
height: 500px;
}
.lenovo-logo {
background-repeat: no-repeat;
background-position: right top;
height: 100px;
margin-bottom: 60px;
}

.main-banner-text {
width: 595px;
float: left;
}
.main-banner-form label input {
position: absolute;
left: -9999px;
}