---
location: sales/domains/domain-configuration.aspx
id: 545a5d72f778fc0fb8419a81
name: GCE-30455
comments: Intergrate with TMS and rewrite with AngularJS
configPage: true
metaCanonicalPath: "/domains/domain-configuration.aspx"
metaOgDescription: "[@L[cds.sales/gd/domains/domain-configuration:MetaDescription]@L]"
metaOgTitle: "[@L[cds.sales/gd/domains/domain-configuration:MetaTitle]@L]"
---

{% extends 'layouts/base.html' %}

{% block pageTitle %}<title>[@L[cds.sales/domains/searchresults-new:MetaTitle]@L]</title>{% endblock %}
{% block pageDescription %}{% endblock %}
{% block pageKeywords %}{% endblock %}

{% block metahead %}
{% parent %}

{% endblock %}

{% block body %}
{% raw %}
<div class="clearfix">
<div class="step-wrapper single" id="step-{{Type}}" style="display: block;">
  <div class="step">
    <div class="section full">
      <h3 class="weight-ultra">{{HeaderText}}</h3>
      <p class="fg-orange lowest-price">[@L[cds.sales/domains/searchresults-new3:lowest.price.domain]@L]</p><!-- Contains the angular expression in language file -->
      <p>{{DescriptionText}}</p>
      <div id="plans-{{Type}}" class="plan-droplist-select select-disable" style="z-index: 26;">
        <div class="plan-droplist-selected">
          <span>[@L[cds.sales/domains/searchresults-new3:no.thanks]@L]</span><span class="price fg-orange" style="display: none;"><!-- Will be either "plan.price.per.domain" or "plan.price.per.mo" --></span>
        </div>
        <div id="selectbtn-{{Type}}" class="plan-droplist-selectbtn"><span></span></div>
        <div id="list-{{Type}}" class="plan-droplist" style="display: none;">
          <div data-id="dpp_no_selection_bundle" data-ci="87162" id="no-" class="plan-option plan-option-selected">
            <span class="title">[@L[cds.sales/domains/searchresults-new3:no.thanks]@L]</span>
          </div>
          <div data-id="{{Id}}" data-ci="87163" id="{{Type}}-{{Id}}" class="plan-option">
            <span class="title">{{PlanTitle}}</span>
            <span class="plan-droplist-price fg-orange">[@L[cds.sales/domains/searchresults-new3:plan.price.per.domain]@L]</span>
            <ul class="plan-feature-list">
              {{PlanFeatures}}
            </ul>
          </div>
        </div>
      </div>
      <p class="last">
        {{ToolTipDisplayText}}
        <span class="g-toolTip g-toolTip-displayDown">
          <span>
            {{ToolTipHoverText}}
          </span>
        </span>
      </p>
    </div>
    <h2 class="flag blue">[@L[cds.sales/domains/domain-configuration:step.privacy]@L]</h2>
  </div>
  <div class="step-separator"><span></span></div>
</div>


<div class="step-wrapper double" id="step-{{Type}}" style="display: block;">
  <div class="step options">
    <div id="left-{{Type}}" class="section split left split-b">
      <p class="checkbox">
        <span data-ci="xxxxxx" class="uxicon uxicon-box"></span>
        <span class="weight-light">{{HeaderText}}</span>
      </p>
      <p class="weight-light">{{DescriptionText}}</p>
      <p class="price weight-light fg-orange">[@L[cds.sales/domains/searchresults-new3:lowest.price.domain]@L]</p>
      <div id="plan-{{Type}}" class="plan-droplist-select select-disable" style="z-index: 24;">
        <div class="plan-droplist-selected">
          <span>{{PlanTitle}}</span><span class="price fg-orange" style="display: inline;">[@L[cds.sales/domains/searchresults-new3:plan.price.per.domain]@L]</span>
        </div>
        <div id="selectbtn-{{Type}}" class="plan-droplist-selectbtn"><span></span></div>
        <div id="list-{{Type}}" class="plan-droplist" style="display: none;">
          <div data-id="{{Id}}" data-ci="86238" id="{{Type}}-{{Id}}" class="plan-option">
            <span class="title">{{PlanTitle}}</span>
            <span class="plan-droplist-price weight-bold fg-orange">[@L[cds.sales/domains/searchresults-new3:plan.price.per.domain]@L]</span>
            <ul class="plan-feature-list">
              {{PlanFeatures}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="right-{{Type}}" class="section split right split-b">
      <p class="checkbox">
        <span data-ci="xxxxxx" class="uxicon uxicon-box"></span>
        <span class="weight-light">{{HeaderText}}</span>
      </p>
      <p class="weight-light">{{DescriptionText}}</p>
      <p class="price weight-light fg-orange">[@L[cds.sales/domains/searchresults-new3:lowest.price.domain]@L]</p>
      <div id="plan-{{Type}}" class="plan-droplist-select select-disable" style="z-index: 23;">
        <div class="plan-droplist-selected">
          <span>{{PlanTitle}}</span><span class="list-price"></span><span class="price fg-orange" style="display: inline;">[@L[cds.sales/domains/searchresults-new3:plan.price.per.domain]@L]</span>
        </div>
        <div id="selectbtn-{{Type}}" class="plan-droplist-selectbtn"><span></span></div>
        <div id="list-{{Type}}" class="plan-droplist" style="display: none;">
          <div data-id="{{Id}}" data-ci="86241" id="{{Type}}-{{Id}}" class="plan-option">
            <span class="title">{{PlanTitle}}</span>
            <span class="plan-droplist-price weight-bold fg-orange">[@L[cds.sales/domains/searchresults-new3:plan.price.per.domain]@L]</span>
            <ul class="plan-feature-list">
              {{PlanFeatures}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h2 class="flag blue">[@L[cds.sales/domains/searchresults-new3:step.privacy]@L]</h2>
    <div id="or" class="diamond-wrap">
      <div class="diamond"></div>
      <span class="weight-bold">[@L[cds.sales/domains/domain-configuration:or]@L]</span>
    </div>
  </div>
  <div class="step-separator"><span></span></div>
</div>
</div>
{% endraw %}
{% endblock %}

{% block footer %}
    
    <!-- JS YOU WILL PROBABLY NEED -->
    <script src="[@T[link:<javascriptroot />]@T]shared/js/jquery.plugins.min.20111019.js" type="text/javascript" ></script>
    <script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
    <script src="[@T[link:<javascriptroot />]@T]fos/sales/themes/scotty/domains/domain-config/js/domain-config10132014.js"></script>

    <!--[if lte IE 8]>
    <script src="[@T[link:<javascriptroot />]@T]fos/script/JSON2.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">

      $(document).ready(function() {

      });
    </script>   
{% endblock %}