atlantis:webstash(type="css")
  style.
    #marquee {
      margin: 0 auto; 
      background-color: #77c043;
      background: no-repeat top center cover;
      padding-bottom: 120px;
      padding-bottom: 120px;
      background-size: cover;
      padding: 0 0 150px 0;
    }
    
    /* latam */
    html[lang="es-ar"] #marquee,
    html[lang="pt-br"] #marquee,
    html[lang="es-cl"] #marquee,
    html[lang="es-co"] #marquee,
    html[lang="es-mx"] #marquee,
    html[lang="es-pe"] #marquee,
    html[lang="es-ve"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/img_mwp_latam_marquee_02_v01.jpg);
    }

    /* general */
    html[lang="en-us"] #marquee,
    html[lang="es-us"] #marquee,
    html[lang="en-au"] #marquee,
    html[lang="en-ca"] #marquee,
    html[lang="en-nz"] #marquee,
    html[lang="fr-be"] #marquee,
    html[lang="fr-ca"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/img_mwp_usa_marquee_02_v01.jpg);
    }

    /* asia */
    html[lang="en-my"] #marquee,
    html[lang="en-ph"] #marquee,
    html[lang="en-sg"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/img_mwp_asia_marquee_02_v01.jpg);
    }

    /* in-pk */
    html[lang="en-in"] #marquee,
    html[lang="en-pk"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/img_mwp_india_marquee_02_v01.jpg);
    }

    /* emea */
    html[lang="nl-be"] #marquee,
    html[lang="da-dk"] #marquee,
    html[lang="de-de"] #marquee,
    html[lang="es-es"] #marquee,
    html[lang="fr-fr"] #marquee,
    html[lang="en-ie"] #marquee,
    html[lang="it-it"] #marquee,
    html[lang="nb-no"] #marquee,
    html[lang="nl-nl"] #marquee,
    html[lang="de-at"] #marquee,
    html[lang="pl-pl"] #marquee,
    html[lang="pt-pt"] #marquee,
    html[lang="fr-ch"] #marquee,
    html[lang="it-ch"] #marquee,
    html[lang="de-ch"] #marquee,
    html[lang="en-za"] #marquee,
    html[lang="fi-fi"] #marquee,
    html[lang="sv-se"] #marquee,
    html[lang="tr-tr"] #marquee,
    html[lang="en-gb"] #marquee,
    html[lang="el-gr"] #marquee,
    html[lang="ru-ru"] #marquee,
    html[lang="uk-ua"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/img_mwp_emea_marquee_02_v01.jpg);
    }

    #marquee .marquee {
      position: relative;
    }
    #marquee .marquee-flag-position {
      top: 0px;
      right: 0px;
      position: absolute;
      display: inline-block;
    }
    #marquee .marquee-flag-background:before, 
    #marquee .marquee-flag-background:after {
      content: "";
    }    
    .Explorer8 #marquee .marquee-flag-background {background-color:#770286 !important;}
    #marquee .marquee-flag-background {
      background: no-repeat scroll center center / cover rgba(0,0,0,0);
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0MDMgNjQuMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTgxLjggNjQuMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbD0iIzc3MDI4NiIgcG9pbnRzPSIxNywwIDAsMjQuMiAzLDU2IDM4Nyw2NC4yIDQwMyw0My44IDQwMyw0LjMgIi8+PC9zdmc+");
      line-height: 1.42857;
      padding: 9px 13px;
      font-size: 2.4rem;
      text-transform: none;
    }

    #marquee .contact-support {
      font-weight: 800;
    }
    .Explorer8 #marquee .marquee-content-wrapper {
      background-color:#1A1A1A !important;
    }
    #marquee .marquee-content-wrapper {
      background: no-repeat scroll center center / cover rgba(0,0,0,0);
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4MjlweCIgaGVpZ2h0PSI0MzFweCIgdmlld0JveD0iMCAwIDgyOSA0MzEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgyOSA0MzEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIG9wYWNpdHk9IjAuODUiIGZpbGw9IiMxQTFBMUEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIHBvaW50cz0iMSwwIDg2LjI5Niw0MDMuMjk3IDcxNS41MjEsNDI5LjUzIDgyOSwxNDAuODcxIDc1MC4zODMsMCAiLz48L3N2Zz4=");
      margin: 0 0 0 -50px;
      padding: 16px 87px;
    }
    #marquee .as-low-as-pricing {
      font-size: 4.5rem;
      margin-left: 20px;
    }
    #marquee .price {
      font-family: "Walsheim-Bold";
      font-size: 4.5rem;
      font-weight: 700;
    }
    #marquee .price span {
      font-size: 2.4rem;
    }
    #marquee p.price-text {
      margin: 0px;      
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6rem;
    }
    #get-started-btn {
      margin-top: 12px;
    }

section#marquee
  .container.marquee.marquee-white      
      .row
        .col-sm-7
          .marquee-content-wrapper.clearfix
            h1.marquee-product-name [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-name]@L]
            h2.marquee-product-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-desc]@L]
            p.marquee-product-p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-p]@L]
            button#get-started-btn.btn.btn-default-light.btn-plan.pull-left(data-ci="#{page.ci.marqueeGetStarted}", data-plan="#{page.plan.A}", data-btn-src= "gs", title!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic-btn-alt-text]@L]") [@L[cds.sales/_common:get-started]@L]
            .pull-left.as-low-as-pricing
              p.price-text [@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]
              .price(data-tokenize!="#{page.pricing.current.A}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-price-span-per-mo]@L]

        .col-sm-5
          .marquee-flag-position
            .marquee-flag-background.headline-secondary.text-center(data-tokenize!="[@T[support:<tes.CLOUDSERVERCONCIERGE_PHONE />]@T]") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-flag]@L]
