extend ../../../sales/shared/_plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe]@L]";
  - description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-desc]@L]";
  - pfid = page.pfids.current.B;
  - listPrice = page.pricing.list.B;
  - currentPrice = page.pricing.current.B;
  - buttonid="product-B";
  - term ="/mo[@L[cds.sales/gd/hosting/wordpress-hosting:per-mo]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - buttonTitleText = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-btn-alt-text]@L]";
  - defaultPlan = page.plan.B;
  - showDropDownList = false;
  - vat = true
  - ci = page.ci.plansAddToCartB;
  - flagText = ""
  - additionalClasses = ""
  - priceText = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]"
  - tooltip2 = page.tooltipTemplate.replace('{0}','[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssd]@L]');
  - tooltip3 = page.tooltipTemplate.replace('{0}','[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-visitors]@L]');

block price
  include ./_2_plan-price-override.jade

  
block features
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-1]@L]
  .plan-item 
    | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-2]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssd]@L]")  
  .plan-item
    span(data-tokenize!="[@T[localization:<display type='numeric' number='100000' />]@T]") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-3]@L]&nbsp; 
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-visitors]@L]" data-tokenize!="[@T[localization:<display type='numeric' number='10000' />]@T]" data-tokenize-attr="data-content")
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-4]@L] 
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-5]@L] 
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-deluxe-feature-6]@L] 
  | 
  | ##if(productIsOffered(107))
  | 
  .plan-item &nbsp; 
  | 
  | ##endif
  | 
  .plan-item &nbsp; 