extend ../../../sales/shared/_plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic]@L]";
  - description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic-desc]@L]";
  - pfid = page.pfids.current.A;
  - listPrice = page.pricing.list.A;
  - currentPrice = page.pricing.current.A;
  - buttonid="product-A";
  - term ="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-per-mo]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_WordPressHostingPlan_C";
  - vat = true
  - ci = page.ci.plansAddToCartA;
  - flagText = ""
  - additionalClasses = ""
  - priceText = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]"
  - buttonUrl = ""
  - tooltip2 = page.tooltipTemplate.replace('{0}','[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssd]@L]');
  - tooltip3 = page.tooltipTemplate.replace('{0}','[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-visitors]@L]');

block price
  include ./_plan-price-override.jade

block features
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic-feature-1]@L]
  .plan-item 
    | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic-feature-2]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssd]@L]")
  .plan-item
    span(data-tokenize!="[@T[localization:<display type='numeric' number='25000' />]@T]") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-basic-feature-3]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-visitors]@L]" data-tokenize!="[@T[localization:<display type='numeric' number='10000' />]@T]" data-tokenize-attr="data-content")
  .plan-item &nbsp; 
  .plan-item &nbsp; 
  .plan-item &nbsp; 
  | 
  | ##if(productIsOffered(107))
  | 
  .plan-item &nbsp; 
  | 
  | ##endif
  | 
  .plan-item &nbsp; 