- securityCarousel = securityCarousel || {};
- securityCarousel.lazyLoad = true;
- securityCarousel.css = true;
- securityCarousel.backgroundColor ='';
- securityCarousel.ci = {};
- securityCarousel.ci.prev = page.ci.securityCarouselSlideLeft;
- securityCarousel.ci.next = page.ci.securityCarouselSlideRight;
- securityCarousel.ci.carouselIndicator = page.ci.securityCarouselSlideSel;
- securityCarouselItem = securityCarouselItem || {};
- securityCarouselItem.textCenter = true;
- securityCarouselItem.ci = {};
- securityCarouselItem.ci.panelContainer = '';


| 
| ##if(productIsOffered(107))
| 

+renderTabbedCarousel({
    backgroundColor: "",
    icode: "",
    featuresCarouselId: "carousel-security-tabs",
    title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-title]@L]",
    subtitle: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-subtitle]@L]",
    numOfTabs: 6,
    id: "carousel-security"
  })
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L]",ci:page.ci.securityCarouselSlideTab1})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L]",ci:page.ci.securityCarouselSlideTab2})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L]",ci:page.ci.securityCarouselSlideTab3})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L]",ci:page.ci.securityCarouselSlideTab4})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L]",ci:page.ci.securityCarouselSlideTab5})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-6-title]@L]",ci:page.ci.securityCarouselSlideTab6})

+carousel("carousel-security", 6, securityCarousel)
  +carouselItem(securityCarouselItem)  
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center security-carousel-img", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/icn_mwp_wordpress-hosting_02_v02.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Malware scan
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-6-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-6-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_automatic-updated_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Automatic updates
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12.text-center
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_standing_guard_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Standing Guard
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_bots_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Walking Bots
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_spammers_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Spammers Beware
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_prescreened-plugins_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Plugins
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-desc]@L] 

| 
| ##else
| 
+renderTabbedCarousel({
    backgroundColor: "",
    icode: "",
    featuresCarouselId: "carousel-security-tabs",
    title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-title]@L]",
    subtitle: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-subtitle]@L]",
    numOfTabs: 5,
    id: "carousel-security"
  })
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L]",ci:page.ci.securityCarouselSlideTab1})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L]",ci:page.ci.securityCarouselSlideTab2})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L]",ci:page.ci.securityCarouselSlideTab3})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L]",ci:page.ci.securityCarouselSlideTab4})
  +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L]",ci:page.ci.securityCarouselSlideTab5})

+carousel("carousel-security", 5, securityCarousel)
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center carousel-img", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_automatic-updated_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Automatic updates
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12.text-center
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_standing_guard_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Standing Guard
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_bots_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Walking Bots
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_spammers_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Spammers Beware
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-desc]@L] 
  +carouselItem(securityCarouselItem)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/illus_mwp_prescreened-plugins_02_v01.png", "", "triggerResize")
      .row
        .col-xs-12
          //- Plugins
          h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L] 
          p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-desc]@L] 
| 
| ##endif
| 