atlantis:webstash(type="css")
  style.
    #alternate-products {
      background-color: #fff;
      padding: 0px !important;
    }
    .white-text { color: #fff;}
    ul.alternate-products {
      padding-left: 15px;
    }
    #alternate-products .two-up-text-wrap {
      padding:30px;
    }

    .Explorer8 #alternate-products h2.h0 {font-size:30px!important;}
    
section#alternate-products

  +renderTwoUpCompare({ title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-title]@L]", 
                      twoUpCompareId: "alternate-products-compare", 
                      titleBackgroundColor: "bg-white", 
                      backgroundColor: "bg-green-official", 
                      backgroundImage: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/bg-mwp-crossPromo-banner-illustrations_02_v01.jpg", 
                      style: "min-height: 580px;"})

    
    +twoUpCompareColumn({ shapeText: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-product-name]@L]", 
                          title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-title]@L]", 
                          backgroundColor: "bg-green-official-light", 
                          shapeColor: "orange"})
      ul.left-aligned-round-list
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-list-item-1]@L]
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-list-item-2]@L]
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-list-item-3]@L]
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-1-parenthesis]@L]
      a.btn.btn-default-dark(data-ci="#{page.ci.alternativeWebsiteBuilderLearnMore}", href!="[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='#{page.ci.alternativeWebsiteBuilderLearnMore}' /></relative>]@T]") [@L[cds.sales/_common:learn-more]@L]
    

    +twoUpCompareColumn({ shapeText: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-2-product-name]@L]", 
                          title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-2-title]@L]", 
                          backgroundColor: "bg-gray-darkest",                           
                          shapeColor: "orange", 
                          whiteText: "white-text",
                          offsetDefaultForSecondColumn: "col-md-offset-2"})
      ul.left-aligned-round-list
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-2-list-item-1]@L]
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-2-list-item-2]@L]
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-alt-2-list-item-3]@L]
      a.btn.btn-default-light(data-ci="#{page.ci.alternativeWebHostingLearnMore}", href!="[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='#{page.ci.alternativeWebHostingLearnMore}' /></relative>]@T]") [@L[cds.sales/_common:learn-more]@L]