atlantis:webstash(type="css")
  style.
    #marquee {
      margin:0 auto; 
      background-color: #77c043;
    }
    #marquee .marquee {
      position: relative;
    }
    #marquee .marquee .marquee-flag {
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxODEuOCA2NC4yIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxODEuOCA2NC4yIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlnb24gZmlsbD0iI0ZFREM0NSIgcG9pbnRzPSIxNywwIDAsMjQuMiAzLDU2IDE2NC41LDY0LjIgMTgxLjgsNDMuOCAxODEsNC4zICIvPgo8L3N2Zz4=") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
      text-transform: uppercase;
      top: -20px;
      right: 30px;
      position: absolute;
    }
    #marquee .contact-support {
      font-weight: 800;
    }
section#marquee
  .container.marquee.marquee-white
    .marquee-flag [@L[cds.sales/hosting/wordpress-hosting:wordpress-hosting-4-999UptimeGuarantee]@L]
    .row
      .col-sm-7.marquee-content-wrapper
        h1.marquee-product-name [@L[cds.sales/hosting/wordpress-hosting:wordpress-hosting-3-MANAGEDWORDPRESS]@L]
        h2.marquee-product-description [@L[cds.sales/hosting/wordpress-hosting:wordpress-hosting-11-YouHaveBetterThingsToDoThanManage]@L]
        button.btn.btn-medium.btn-purchase Plan Pricing
        .marquee-product-text
        .contact-support [@L[cds.sales/gd/hosting/wordpress-hosting:professional-Hosting-Support]@L] [@T[support:<tes.CLOUDSERVERCONCIERGE_PHONE />]@T]

        