atlantis:webstash(type="css")
  style.
    #marquee {
      margin: 0 auto; 
      background-color: #77c043;
      background: no-repeat top center cover;
      padding-bottom: 120px;
      padding-bottom: 120px;
      background-size: cover;
    }
    ##if(activeLanguageAny([en-pk],[en-in]))
      #marquee { 
        background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/BACKUP_image_sb15_wsb_marquee.jpg);
      }
    ##else
      #marquee { 
        background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/BACKUP_image_sb15_wsb_marquee.jpg);
      }
    ##endif

    #marquee .marquee {
      position: relative;
    }
    #marquee .marquee-flag:before, 
    #marquee .marquee-flag:after {
      content: "";
    }    
    #marquee .marquee-flag {
      background: no-repeat scroll center center / cover rgba(0,0,0,0);
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxODEuOCA2NC4yIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxODEuOCA2NC4yIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjNzcwMjg2IiBwb2ludHM9IjE3LDAgMCwyNC4yIDMsNTYgMTY0LjUsNjQuMiAxODEuOCw0My44IDE4MSw0LjMgIi8+PC9zdmc+");      
      top: -45px;
      right: 30px;
      position: absolute;
      display: inline-block;
      line-height: 1.42857;
      padding: 10px 5px;
    }
    #marquee .contact-support {
      font-weight: 800;
    }
    #marquee .marquee-content-wrapper {
      background-color: rgba(50, 50, 50, 0.75);
    }
    #marquee .as-low-as-pricing {
      font-size: 4.5rem;
      margin-left: 20px;
    }
    #marquee .price {
      font-family: "Walsheim-Bold";
      font-size: 4.5rem;
      font-weight: 700;
    }
    #marquee .price span {
      font-size: 2.4rem;
    }
    #marquee p.price-text {
      margin: 0px;      
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6rem;
    }
    #marquee .get-started-btn {
      margin-top: 12px;
    }
section#marquee
  .container.marquee.marquee-white
      .marquee-flag(data-tokenize!="[@T[support:<tes.CLOUDSERVERCONCIERGE_PHONE />]@T]") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-flag]@L]
      .row
        .col-sm-7.marquee-content-wrapper
          h1.marquee-product-name [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-name]@L]
          h2.marquee-product-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-desc]@L]
          p.marquee-product-p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-marquee-product-p]@L]
          button.btn.btn-default-light.pull-left.get-started-btn [@L[cds.sales/_common:get-started]@L]
          .pull-left.as-low-as-pricing
            p.price-text [@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]
            .price(data-tokenize!="#{page.pricing.current.A}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-price-span-per-mo]@L]
