extend ../../../sales/shared/_plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer]@L]";
  - description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-desc]@L]";
  - pfid = page.pfids.current.D;
  - listPrice = page.pricing.list.D;
  - currentPrice = page.pricing.current.D;
  - buttonid="product-D";
  - term ="/mo[@L[cds.sales/gd/hosting/wordpress-hosting:per-mo]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_WordPressHostingPlan_D";
  - vat = true
  - ci = page.ci.plansAddToCartD;
  - flagText = ""; // "[@L[cds.sales/gd/hosting/wordpress-hosting:plan-D-flagtext]@L]"
  - additionalClasses = "pro-plan-wrap-alternate"
  - priceText = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]"


block price
  include ./_plan-price-override.jade

block features
  .plan-item 
    strong [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-1]@L]
  .plan-item 
    | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-2]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssd]@L]")
  .plan-item
    span(data-tokenize!="[@T[localization:<display type='numeric' number='800000' />]@T]") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-3]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-visitors]@L]" data-tokenize!="[@T[localization:<display type='numeric' number='10000' />]@T]" data-tokenize-attr="data-content")
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-4]@L] 
  .plan-item [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-5]@L]
  | 
  | ##if(productIsOffered(22))
  | 
  .plan-item 
    span(data-tokenize!="#{page.pricing.ssl}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-6]@L]&nbsp;
    span.tool-tip-black.sf-tip.sf-tipper-target(data-style="qt" data-width="400" data-content!="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-ssl]@L]" data-tokenize!="#{page.pricing.ssl.yr}")
  | 
  | ##endif
  | 
