extend ../../../sales/shared/_plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer]@L]";
  - description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-description]@L]";
  - features = [];
  - features.push('<strong>[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-1]@L]</strong>');
  - features.push('[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-2]@L]');
  - features.push('[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-3]@L]');
  - features.push('[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-4]@L]');
  - features.push('[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-5]@L]');
  - features.push('[@L[cds.sales/gd/hosting/wordpress-hosting:35561-developer-feature-6]@L]');


  - pfid = page.pfids.current.D;
  - listPrice = page.pricing.list.D;
  - currentPrice = page.pricing.current.D;
  - buttonid="product-D";
  - term ="/mo[@L[cds.sales/gd/hosting/wordpress-hosting:per-mo]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_WordPressHostingPlan_D";
  - vat = true
  - ci = page.ci.plansAddToCartD;
  - flagText = ""; // "[@L[cds.sales/gd/hosting/wordpress-hosting:plan-D-flagtext]@L]"
  - additionalClasses = "pro-plan-wrap-alternate"
  - priceText = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-as-low-as]@L]"


block price
  include ./_plan-price-override.jade