atlantis:webstash(type="css")
  style.
    #plans {
      margin:0 auto; 
      background-color: #77c043;
    }
    .pro-plans .pro-plan-wrap.pro-plan-wrap-alternate {
        border-top: 10px solid #FE8D01;
    }
    .plan-price-and-duration {
      margin-top: -5px;
    }
section#plans
  +renderPlanTiles(4) 
    +planTile("planTileA")
      include ./_plan-A.jade
    +planTile("planTileB")
      include ./_plan-B.jade
    +planTile("planTileC")
      include ./_plan-C.jade
    +planTile("planTileD")
      include ./_plan-D.jade