atlantis:webstash(type="css")
  style.
    #plans {
      margin:0 auto; 
    }
    .pro-plans .pro-plan-wrap.pro-plan-wrap-alternate {
        border-top: 10px solid #FE8D01;
    }
    .plan-price-and-duration {
      margin-top: -5px;
    }

    .include-check-black, .include-check-green, .include-check-none {
      padding-left: 33px;
      position: relative;
      margin-top: 20px;
    }
    .include-check-black:before {
      content: "";
      background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
      background-position: 0 -700px;
      background-size: 205px auto;
      width: 25px;
      height: 27px;
      padding-right: 5px;
      position: absolute;
      left: 0;
      top: -6px;
    }
    .include-check-green:before {
      content: "";
      background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
      background-position: 0 -668px;
      background-size: 205px auto;
      width: 25px;
      height: 27px;
      padding-right: 5px;
      position: absolute;
      left: 0;
      top: -6px;
    }
section#plans
  +renderPlanTiles(4) 
    +planTile("planTileA")
      include ./_plan-A.jade
    +planTile("planTileB")
      include ./_plan-B.jade
    +planTile("planTileC")
      include ./_plan-C.jade
    +planTile("planTileD")
      include ./_plan-D.jade
  .container
    .row
      h3.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-title]@L]
    .row
      .col-md-6.col-sm-12
        .row
          .col-sm-9.col-sm-push-3
            ul.green-check
              li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-5]@L]
              li
                | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-6]@L] 
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-guarantee]@L]")
              li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-7]@L]
              li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-8]@L]
              li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-4]@L]
              li
                | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-1]@L] 
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-free-domain]@L]")
      .col-md-6.col-sm-12
        .row
          .col-sm-9.col-sm-push-3
            ul.green-check
              | 
              | ##if(productIsOffered(99))
              | 
              li              
                | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-2]@L]
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-office-365]@L]")  
              | 
              | ##endif
              | 

              li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-3]@L]
            
              | 
              | ##if(areAdCreditsEnabled(google))
              | 
              li 
                span(data-tokenize!="#{page.pricing.hundred}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-google]@L]
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-google-adword]@L]")
            
              | 
              | ##endif
              | 

              | 
              | ##if(areAdCreditsEnabled(bing))
              | 
              li 
                span(data-tokenize!="#{page.pricing.hundred}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-bing]@L]
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-bing-adcredit]@L]")
              | 
              | ##endif
              | 
              
              | 
              | ##if(areAdCreditsEnabled(facebook))
              | 
              li
                span(data-tokenize!="#{page.pricing.fifty}") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-facebook]@L]
                +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-facebook-ad]@L]")
              | 
              | ##endif
              | 