atlantis:webstash(type="css")
  style.
    #plans {
      margin:0 auto; 
    }
    .pro-plans .pro-plan-wrap.pro-plan-wrap-alternate {
        border-top: 10px solid #FE8D01;
    }
    .plan-price-and-duration {
      margin-top: -5px;
    }

    .include-check-black, .include-check-green, .include-check-none {
      padding-left: 33px;
      position: relative;
      margin-top: 20px;
    }
    .include-check-black:before {
      content: "";
      background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
      background-position: 0 -700px;
      background-size: 205px auto;
      width: 25px;
      height: 27px;
      padding-right: 5px;
      position: absolute;
      left: 0;
      top: -6px;
    }
    .include-check-green:before {
      content: "";
      background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
      background-position: 0 -668px;
      background-size: 205px auto;
      width: 25px;
      height: 27px;
      padding-right: 5px;
      position: absolute;
      left: 0;
      top: -6px;
    }
section#plans
  +renderPlanTiles(4) 
    +planTile("planTileA")
      include ./_plan-A.jade
    +planTile("planTileB")
      include ./_plan-B.jade
    +planTile("planTileC")
      include ./_plan-C.jade
    +planTile("planTileD")
      include ./_plan-D.jade
  .container
    .row
      h2.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-title]@L]
    .row
      .col-md-6.col-sm-12
        .row
          .col-sm-6.col-sm-push-3
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-5]@L]
            .include-check-green 
              | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-6]@L] 
              +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-guarantee]@L]")
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-7]@L]
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-8]@L]
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-4]@L]
            .include-check-green 
              | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-1]@L] 
              +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-domain]@L]")
      .col-md-6.col-sm-12
        .row
          .col-sm-6.col-sm-push-3
            .include-check-green 
              | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-2]@L]
              +toolTip("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-tooltip-office-365]@L]")
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-3]@L]
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-9]@L]
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-10]@L]
            .include-check-green [@L[cds.sales/gd/hosting/wordpress-hosting:35561-all-plans-11]@L]