atlantis:webstash(type="css")
  style.
    #features {

    }
    #neverLoose,
    #training {
      background-color: #84D54A;
    }
    #security {
      background-color: white;
    }
    #renderMidPageNavBottom {margin:0;padding:0;}
+renderMidPageNav
  +priceBlock(page.pricing.current.A, "[@L[cds.sales/_common:month]@L]", "#planTileA", {"ci":page.ci.midPageNavSeeThePlans})

section#features(data-mid-nav-title="Features",data-ciCode="#{page.ci.midPageNavFeature}")
  .container
    .row
      .col-sm-12
        h2.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-title]@L]
    .row
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-title]@L]
        p.list-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-title]@L]
        ul.feature-list
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-1]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-2]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-3]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-4]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-5]@L]
        p.list-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-2-title]@L]
        ul.feature-list
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-2-item-1]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-2-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-3-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-3-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-4-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-4-desc]@L]
    .row
      .col-sm-12
        h2.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-title]@L]
    .row
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-1-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-1-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-2-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-3-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-3-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-4-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-4-desc]@L]

  +featuresTemplates({
    presentationTemplate: "featuresRightText", 
    featuresId: "neverLoose", 
    additionalWrapClasses: null, 
    lazyLoad: true, 
    backgroundImage: "", 
    featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", 
    featuresImgAltText: null, 
    title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-never-loose-title]@L]", 
    subtitle: "", 
    text: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-never-loose-desc]@L]", 
    buttonText: null, buttonUrl: null, buttonColor: null})

section#performance(data-mid-nav-title="Performance",data-ciCode="#{page.ci.midPageNavPerformance}")
  .container.maximum-performance
    .row
      .col-xs-12.col-sm-6.col-sm-push-3
        h2 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-desc]@L]
    .row.performance-list
      .col-xs-12.col-sm-4.col-sm-push-4
        ul
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-1]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-2]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-3]@L]
    .row.performance-chart
      .col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
      .col-xs-12.col-sm-8.col-sm-push-2
        h4.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-1]@L]
        p.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-2]@L]
        p.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-3]@L]
        p.text-center 
          a.btn.btn-default.btn-default-dark(id="see-latest-results-btn") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-btn-txt]@L]

section#security(data-mid-nav-title="Security",data-ciCode="#{page.ci.midPageNavSecuriy}")

  .container
    .row.text-center
      .col-sm-12
        h2 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-title]@L]
        h4 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-subtitle]@L]
    .row.text-center
      .col-sm-12
        h1 CAROUSEL HERE (TODO)
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-desc]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-desc]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-desc]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-desc]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-desc]@L]

section#training(data-mid-nav-title="Training",data-ciCode="#{page.ci.midPageNavTraining}")

  .container

    .row
      .col-sm-12
        h2 Tons of wordpress training and support

    .row
      .col-sm-6.col-xs-12        
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-desc]@L]
        p.powered-by [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-note]@L]

      .col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-2-desc]@L]
    

//- be sure to end the fixed navigational area
+renderMidPageNavBottom