
body { 
  background-color: #d9d9d9; 
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}
#product-disclaimers {
  cursor: pointer;
}
#disclaimers {
  background-color: #fff;
}