---
location: sales/contact-us.aspx
id:    541070bcf778fc15706586f0
name: GCE-27773
comments: changed http links for all markets to be secure
---
{% extends 'layouts/base.html' %}

{% block metahead %}
  {% parent %}

{% endblock %}

{% block body %}

  <section class="main-banner main-banner-contact-us">
      <div class="l-main-container container main-banner-content main-banner-content-contact-us">
        <div class="main-banner-text">
          <h4 class="main-banner-title condensed">[@L[cds.sales/contact-us:main-banner-title]@L]</h4>
          <h2 id="countryName" class="main-banner-subtitle main-banner-subtitle-alternate"></h2>

          <ul class="main-banner-list display-table">
          </ul>
          ##if(countrySiteAny(ch))
          <div class="main-banner-support-information main-banner-additional-languages">
            [@L[cds.sales/contact-us:additional-languages]@L]
          </div>
          ##endif
          <div class="main-banner-support-information">
            [@L[cds.sales/contact-us:disclaimer]@L]
          </div>
        </div>
      </div>
    </section>
    <section class="main-content">
      <div class="l-main-container container">
        <h1 class="main-content-title">[@L[cds.sales/contact-us:content-title]@L]</h1>
        <div class="row tab-content">
          <div class="col-xs-6">
             <ul class="marketList">
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89946" href="https://ar.godaddy.com">Argentina</a>
                <ul>
                  <li><span class="supportLocation">Buenos Aires</span><span class="supportPhone"><a rel="nofollow" data-ci="89947" href="tel:+54 11 5984 0780">+54 11 5984 0780</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89948" href="https://au.godaddy.com">Australia</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89949" href="tel:+61 2 8023 8592">+61 2 8023 8592</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89950" href="https://be.godaddy.com">België</a>
                <ul>
                  <li><span class="supportLocation">Nederlands</span><span class="supportPhone"><a rel="nofollow" data-ci="89951" href="tel:+32 78 48 20 46">+32 78 48 20 46</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 uur, ma-vr</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89952" href="https://be.godaddy.com/fr/">Belgique</a>
                <ul>
                  <li><span class="supportLocation">Français</span><span class="supportPhone"><a rel="nofollow" data-ci="89953" href="tel:+32 78 48 20 45">+32 78 48 20 45</a></span></li>
                  <li><span class="supportHours">9h à 18h lun-ven </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89954" href="https://br.godaddy.com">Brasil</a>
                <ul>
                  <li><span class="supportLocation">Rio de Janeiro</span><span class="supportPhone"><a rel="nofollow" data-ci="89955" href="tel:+55 21 3956 9989">+55 21 3956 9989</a></span></li>
                  <li><span class="supportHours">9:00 - 21:00 hrs, de segunda à sexta</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">São Paulo</span><span class="supportPhone"><a rel="nofollow" data-ci="89956" href="tel:+55 11 3958 5679">+55 11 3958 5679</a></span></li>
                  <li><span class="supportHours">9:00 - 21:00 hrs, de segunda à sexta</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89957" href="https://ca.godaddy.com">Canada</a>
                <ul>
                  <li><span class="supportLocation">English</span><span class="supportPhone"><a rel="nofollow" data-ci="89958" href="tel:866 938 1119">866 938 1119</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Français</span><span class="supportPhone"><a rel="nofollow" data-ci="89959" href="tel:844 494 9065">844 494 9065</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">8h à 12h EDT lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89960" href="https://cl.godaddy.com">Chile</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89961" href="tel:123 0020 1163">123 0020 1163</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89962" href="https://co.godaddy.com">Colombia</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89963" href="tel:01 800 518 3945">01 800 518 3945</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89964" href="https://dk.godaddy.com">Danmark</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89965" href="tel:+45 3692 7733">+45 3692 7733</a></span></li>
                  <li><span class="supportHours">Kl. 9:00 - 18:00, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89966" href="https://de.godaddy.com">Deutschland</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89967" href="tel:+49 32 221094047">+49 32 221094047</a></span></li>
                  <li><span class="supportHours">9:00 - 19:00 Uhr, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89968" href="https://es.godaddy.com">España</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89969" href="tel:+34 900 82 8371">+34 900 82 8371</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89970" href="https://fr.godaddy.com">France</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89971" href="tel:+33 9 75 18 70 39">+33 9 75 18 70 39</a></span></li>
                  <li><span class="supportHours">9h à 19h lun-ven </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89972" href="https://in.godaddy.com">India</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89973" href="tel:+91 40 49187600">+91 40 49187600</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89974" href="https://ir.godaddy.com">Ireland</a>
                <ul>
                  <li><span class="supportLocation">Dublin</span><span class="supportPhone"><a rel="nofollow" data-ci="89975" href="tel:+353 1 653 5976">+353 1 653 5976</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Country Wide</span><span class="supportPhone"><a rel="nofollow" data-ci="91292" href="tel:+353 76 680 5591">+353 76 680 5591</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>  
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89976" href="https://it.godaddy.com">Italia</a>
                <ul>
                  <li><span class="supportLocation">Milano</span><span class="supportPhone"><a rel="nofollow" data-ci="89977" href="tel:+39 02 9475 6520">+39 02 9475 6520</a></span></li>
                  <li><span class="supportHours">9:00 - 19:00, lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Napoli</span><span class="supportPhone"><a rel="nofollow" data-ci="89978" href="tel:+39 08 1189 21267">+39 08 1189 21267</a></span></li>
                  <li><span class="supportHours">9:00 - 19:00, lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Roma</span><span class="supportPhone"><a rel="nofollow" data-ci="89979" href="tel:+39 06 9480 6018">+39 06 9480 6018</a></span></li>
                  <li><span class="supportHours">9:00 - 19:00, lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89980" href="https://my.godaddy.com">Malaysia</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89981" href="tel:1 800 81 7248">1 800 81 7248</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89982" href="https://mx.godaddy.com">México</a>
                <ul>
                  <li><span class="supportLocation">Ciudad de México</span><span class="supportPhone"><a rel="nofollow" data-ci="89984" href="tel:+52 55 4631 2410">+52 55 4631 2410</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                <li><span class="supportLocation">Guadalajara</span><span class="supportPhone"><a rel="nofollow" data-ci="89983" href="tel:+52 33 4624 1997">+52 33 4624 1997</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Monterrey</span><span class="supportPhone"><a rel="nofollow" data-ci="89985" href="tel:+52 81 4770 1526">+52 81 4770 1526</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89986" href="https://nl.godaddy.com">Nederland</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89987" href="tel:+31 85 888 3143">+31 85 888 3143</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 uur, ma-vr</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89988" href="https://nz.godaddy.com">New Zealand</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89989" href="tel:0800 453 221">0800 453 221</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89990" href="https://no.godaddy.com">Norge</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89991" href="tel:+44 20 7084 1809">+44 20 7084 1809</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89992" href="https://at.godaddy.com">Österreich</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89993" href="tel:+43 720 116858">+43 720 116858</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 Uhr, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89994" href="https://pk.godaddy.com">Pakistan</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89995" href="tel:+1 480 463 8811">+1 480 463 8811</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89996" href="https://pe.godaddy.com">Perú</a>
                <ul>
                  <li><span class="supportLocation">Lima</span><span class="supportPhone"><a rel="nofollow" data-ci="89997" href="tel:+51 1 700 9337">+51 1 700 9337</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="marketList">
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="89998" href="https://ph.godaddy.com">Philippines</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="89999" href="tel:1 800 1 110 1798">1 800 1 110 1798</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90000" href="https://pl.godaddy.com">Polska</a>
                <ul>
                  <li><span class="supportLocation">Kraków</span><span class="supportPhone"><a rel="nofollow" data-ci="90001" href="tel:+48 12 881 12 87">+48 12 881 12 87</a></span></li>
                  <li><span class="supportHours">pn-pt, 9:00 - 18:00 </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Lódz</span><span class="supportPhone"><a rel="nofollow" data-ci="90002" href="tel:+48 42 203 66 37">+48 42 203 66 37</a></span></li>
                  <li><span class="supportHours">pn-pt, 9:00 - 18:00 </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Warszawa</span><span class="supportPhone"><a rel="nofollow" data-ci="90003" href="tel:+48 22 307 47 23">+48 22 307 47 23</a></span></li>
                  <li><span class="supportHours">pn-pt, 9:00 - 18:00 </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90004" href="https://pt.godaddy.com">Portugal</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90005" href="tel:+351 308 802 068">+351 308 802 068</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 hrs, 2ª-6ª</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90006" href="https://ch.godaddy.com">Schweiz</a>
                <ul>
                  <li><span class="supportLocation">Basel</span><span class="supportPhone"><a rel="nofollow" data-ci="90007" href="tel:+41 61 588 0224">+41 61 588 0224</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 Uhr, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Genf</span><span class="supportPhone"><a rel="nofollow" data-ci="90008" href="tel:+41 22 518 0635">+41 22 518 0635</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 Uhr, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Zürich</span><span class="supportPhone"><a rel="nofollow" data-ci="90009" href="tel:+41 43 508 3969">+41 43 508 3969</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 Uhr, M-F</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90010" href="https://sg.godaddy.com">Singapore</a>
                <ul>
                  <li><span class="supportLocation">Singapore</span><span class="supportPhone"><a rel="nofollow" data-ci="90011" href="tel:+65 6349 4240">+65 6349 4240</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90012" href="https://za.godaddy.com">South Africa</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90013" href="tel:0800 993 547">0800 993 547</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90014" href="https://ch.godaddy.com/fr/">Suisse</a>
                <ul>
                  <li><span class="supportLocation">Bâle</span><span class="supportPhone"><a rel="nofollow" data-ci="90015" href="tel:+41 61 588 0225">+41 61 588 0225</a></span></li>
                  <li><span class="supportHours">9h à 18h  lun-ven </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Genève</span><span class="supportPhone"><a rel="nofollow" data-ci="90016" href="tel:+41 22 518 0692">+41 22 518 0692</a></span></li>
                  <li><span class="supportHours">9h à 18h  lun-ven </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Zurich</span><span class="supportPhone"><a rel="nofollow" data-ci="90017" href="tel:+41 43 508 3970">+41 43 508 3970</a></span></li>
                  <li><span class="supportHours">9h à 18h  lun-ven </span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90018" href="https://fi.godaddy.com">Suomi</a>
                <ul>
                  <li><span class="supportLocation">Helsinki</span><span class="supportPhone"><a rel="nofollow" data-ci="90019" href="tel:+358 9 424 50695">+358 9 424 50695</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 h, Ma-Pe</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Tampere</span><span class="supportPhone"><a rel="nofollow" data-ci="90020" href="tel:+358 3 410 89752">+358 3 410 89752</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 h, Ma-Pe</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90021" href="https://se.godaddy.com">Sverige</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90022" href="tel:+46 77 588 8023">+46 77 588 8023</a></span></li>
                  <li><span class="supportHours">kl. 9:00 - 18:00, må-fr</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90023" href="https://ch.godaddy.com/it/">Svizzera</a>
                <ul>
                  <li><span class="supportLocation">Basilea</span><span class="supportPhone"><a rel="nofollow" data-ci="90024" href="tel:+41 61 588 0252">+41 61 588 0252</a></span></li>
                  <li><span class="supportHours">9h à 18h , lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Ginevra</span><span class="supportPhone"><a rel="nofollow" data-ci="90025" href="tel:+41 22 518 0693">+41 22 518 0693</a></span></li>
                  <li><span class="supportHours">9h à 18h , lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Zurigo</span><span class="supportPhone"><a rel="nofollow" data-ci="90026" href="tel:+41 43 508 3971">+41 43 508 3971</a></span></li>
                  <li><span class="supportHours">9h à 18h , lun-ven</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90027" href="https://pt.godaddy.com">Türkiye</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90028" href="tel:+44 20 7084 1809">+44 20 7084 1809</a></span></li>
                  <li><span class="supportHours">Pa-Cu 9:00 - 19:00 arası</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90029" href="https://uk.godaddy.com">United Kingdom</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90030" href="tel:+44 20 7084 1810">+44 20 7084 1810</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90031" href="https://www.godaddy.com">United States</a>
                <ul>
                  <li><span class="supportLocation">English</span><span class="supportPhone"><a rel="nofollow" data-ci="90032" href="tel:+1 480 505 8877">+1 480 505 8877</a></span></li>
                  <li><span class="supportHours">24/7 Support</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Español</span><span class="supportPhone"><a rel="nofollow" data-ci="90033" href="tel:+1 480 463 8300">+1 480 463 8300</a></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90034" href="https://ve.godaddy.com">Venezuela</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90035" href="tel:800 1362034">800 1362034</a><span class="supportNote"> [@L[cds.sales/contact-us:acessible-in-country]@L]</span></span></li>
                  <li><span class="supportHours">24/7 Asistencia técnica</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90036" href="https://gr.godaddy.com">Ελλάδα</a>
                <ul>
                  <li><span class="supportLocation">Αθήνα</span><span class="supportPhone"><a rel="nofollow" data-ci="90037" href="tel:+30 21 1 198 4715">+30 21 1 198 4715</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00, Δε-Πα</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <div class="supportCountry"></div>
                <ul>
                  <li><span class="supportLocation">Θεσσαλονίκη</span><span class="supportPhone"><a rel="nofollow" data-ci="90038" href="tel:+30 23 1 118 0732">+30 23 1 118 0732</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00, Δε-Πα</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90039" href="https://ru.godaddy.com">Россия</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90040" href="tel:+44 20 7084 1809">+44 20 7084 1809</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 MSK, пн.-пт.</span></li>
                </ul>
              </li>
              <li class="marketSupportInfo">
                <a rel="nofollow" class="supportCountry" data-ci="90041" href="https://ua.godaddy.com">Україна</a>
                <ul>
                  <li><span class="supportPhone"><a rel="nofollow" data-ci="90042" href="tel:+44 20 3014 1446">+44 20 3014 1446</a></span></li>
                  <li><span class="supportHours">9:00 - 18:00 год, Пн-Пт</span></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </section>
  <!-- End main-banner -->



{% endblock %}

{% block footer %}
    
  <script type="text/javascript">
 $(document).ready(function(){
    loadSupportData();
    if (typeof FastballEvent_MouseClick === 'function' && typeof fbiLibCheckQueue === 'function') {
        $('[data-ci]').click(function(e){
        $this = $(this);
        FastballEvent_MouseClick(e,$this.attr('data-ci'),$(this)[0],'a');
        fbiLibCheckQueue();
      });
    }

  function loadSupportData(){
    var supportNumberUrl = pc.page.sharedObjectMgr.get('pc_url_gui')+ 'pcjson/support/allmarkets';

    $.ajax({
    url: supportNumberUrl,
    cache: true,
    dataType: 'jsonp',
    success: supportNumberCallback,
    error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
    }
    });
  }
  function loadMarketSupportData(countryName){
    var supportNumberUrl = pc.page.sharedObjectMgr.get('pc_url_gui')+ 'pcjson/support/includemarket';

    $.ajax({
    url: supportNumberUrl,
    cache: true,
    dataType: 'jsonp',
    success: function(data){
      processSupportdata([{'countryName':countryName,'markets':[data]}]);
    },
    error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
    }
    });
  }

  function supportNumberCallback(data){
    processSupportdata(data);
  }

  function processSupportdata(data){
    var newNumbers ='';

    var alternateSupport = $('.display-table');
    alternateSupport.empty();
    var marketData = data[0].markets;
    var countryName = $('#countryName').empty();
    countryName.append(data[0].countryName);

    $.each(marketData,function(i,n){
      if(n !== ''){
        if(marketData.length >  1){
          newNumbers='';
          if(n.cityLocations.length > 0){//multiple languages and cities
                loadMarketSupportData(data[0].countryName);
                return false;
          }else{//multiple languages
            newNumbers +='<li class="main-banner-list-location"><h3 class="main-banner-list-location-title">'+ n.language+'</h3>';
            newNumbers += '<ul class="main-banner-list-location-details text-light"><li><span class="font-size-54 text-bold phone-number">'+n.marketsupportphone+'</span></li>';
            newNumbers += '<li><span class="font-size-20 text-light">'+ n.marketsupporthours+'</span></li></ul></li>';
          }
        }else{
          if(n.cityLocations.length >= 1){ //multiple cities
            $.each(n.cityLocations,function(l,k){
            if(k !== ''){
                newNumbers +='<li class="main-banner-list-location"><h3 class="main-banner-list-location-title">'+k.supportlocation+'</h3>';
                newNumbers += '<ul class="main-banner-list-location-details text-light"><li><span class="font-size-30 text-bold phone-number">'+k.supportphone+'</span></li>';
                newNumbers += '<li><span class="font-size-20 text-light">'+ k.supporthours +'</span></li></ul></li>';
              }
           });
          }else{//one language one phone
            newNumbers +='<li class="main-banner-list-location"><h3 class="main-banner-list-location-title">&nbsp;</h3>';
            newNumbers += '<ul class="main-banner-list-location-details text-light"><li><span class="font-size-54 text-bold phone-number">'+n.marketsupportphone+'</span></li>';
            newNumbers += '<li><span class="font-size-20 text-light">'+ n.marketsupporthours +'</span></li></ul></li>';
          }

        }
      }
      alternateSupport.append(newNumbers);
    });
  }

 });
 </script>
{% endblock %}