{% extends 'base.html' %}

{% block metahead %}
  {% parent %}
      
{% endblock %}

{% block body %}

  <section class="main-banner main-banner-contact-us">
      <div class="l-main-container container main-banner-content main-banner-content-contact-us">
        <div class="main-banner-text">
          <h1 class="main-banner-title condensed">Contact Us</h1>
          <h2 class="main-banner-subtitle main-banner-subtitle-alternate">United States</h2>
        
          <ul class="main-banner-list display-table">
            <li class="main-banner-list-location">
              <h3 class="main-banner-list-location-title">English</h3>
              <ul class="main-banner-list-location-details text-light">
                <li><span class="font-size-54 text-bold phone-number">(480) 505-8877</span></li>
                <li><span class="font-size-24 text-light">24/7 Support</span></li>
              </ul>
            </li> 
            
            <li class="main-banner-list-location">
              <h3 class="main-banner-list-location-title">Spanish</h3>
              <ul class="main-banner-list-location-details text-light">
                <li><span class="font-size-54 text-bold phone-number">(480) 463-8300</span></li>
                
              </ul>
            </li> 
          </ul>
          <div class="main-banner-support-information">
            Call charges to free phone numbers may vary when calling from outside the area, abroad or from a mobile phone depending on your specific phone plan.
          </div>
        </div>
      </div>
    </section>
    <section class="main-content">
      <div class="l-main-container container">
        <h4 class="main-content-title">Global Support</h4>
        <ul class="marketList">
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Argentina</h5>
            <ul>
              <li><span class="supportLocation">Buenos Aires</span><span class="supportPhone">+54 11 5984 0780<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Australia</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+61 2 8023 8592<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Austria</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+43 720 116858<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 Uhr, M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Belgium-fr</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+32 7 848 2045<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 h, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Belgium-nl</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+32 7 848 2046<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 uur, ma-vr</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Brazil</h5>
            <ul>
              <li><span class="supportLocation">Rio de Janeiro</span><span class="supportPhone">+55 21 3956 9989<span class="supportNote"></span></span></li>
              <li><span class="supportHours">9:00 - 21:00 hrs, de segunda à sexta</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Brazil</h5>
            <ul>
              <li><span class="supportLocation">São Paulo</span><span class="supportPhone">+55 11 3958 5679<span class="supportNote"></span></span></li>
              <li><span class="supportHours">9:00 - 21:00 hrs, de segunda à sexta</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Canada-en</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">866 938 1119<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Canada-fr</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">844 494 9065<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">8:00 - 12:00 h, EDT lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Chile</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">123 0020 1163<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Colombia</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">01 800 518 3945<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Denmark</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+45 36 92 77 33<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 kl. , M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Finland</h5>
            <ul>
              <li><span class="supportLocation">Helsinki</span><span class="supportPhone">+358 9 424 50695<span class="supportNote"></span></span></li>
              <li><span class="supportHours">13:00 - 19:00 h, Ma-Pe</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Finland</h5>
            <ul>
              <li><span class="supportLocation">Tampere</span><span class="supportPhone">+358 3 410 89752<span class="supportNote"></span></span></li>
              <li><span class="supportHours">13:00 - 19:00 h, Ma-Pe</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">France</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+33 9 75 18 70 39<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 h, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Germany</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+49 32 221094047<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 Uhr, M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Greece</h5>
            <ul>
              <li><span class="supportLocation">Αθήνα</span><span class="supportPhone">+30 21 1 198 4715<span class="supportNote"></span></span></li>
              <li><span class="supportHours">13:00 - 19:00, Δε-Πα</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Greece</h5>
            <ul>
              <li><span class="supportLocation">Θεσσαλονίκη</span><span class="supportPhone">+30 23 1 118 0732<span class="supportNote"></span></span></li>
              <li><span class="supportHours">13:00 - 19:00, Δε-Πα</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">India</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+91 40 49187600<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Ireland</h5>
            <ul>
              <li><span class="supportLocation">Dublin</span><span class="supportPhone">+353 1 653 5976<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Italy</h5>
            <ul>
              <li><span class="supportLocation">Milano</span><span class="supportPhone">+39 02 9475 6520<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Italy</h5>
            <ul>
              <li><span class="supportLocation">Napoli</span><span class="supportPhone">+39 08 1189 21267<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Italy</h5>
            <ul>
              <li><span class="supportLocation">Roma</span><span class="supportPhone">+39 06 9480 6018<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Malaysia</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">1 800 81 7248<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Mexico</h5>
            <ul>
              <li><span class="supportLocation">Ciudad de México</span><span class="supportPhone">+52 55 4631 2410<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Mexico</h5>
            <ul>
              <li><span class="supportLocation">Guadalajara</span><span class="supportPhone">+52 33 4624 1997<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Mexico</h5>
            <ul>
              <li><span class="supportLocation">Monterrey</span><span class="supportPhone">+52 81 4770 1526<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Netherlands</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+31 85 888 3143<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 uur, ma-vr</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">New Zealand</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">0800 453 221<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Pakistan</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+1480 463 8811<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Peru</h5>
            <ul>
              <li><span class="supportLocation">Lima</span><span class="supportPhone">+51 1 700 9337<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Philippines</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">001-800-1-110-1798<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Poland</h5>
            <ul>
              <li><span class="supportLocation">Kraków</span><span class="supportPhone">+48 12 881 12 87<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, pn-pt</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Poland</h5>
            <ul>
              <li><span class="supportLocation">Lódz</span><span class="supportPhone">+48 42 203 66 37<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, pn-pt</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Poland</h5>
            <ul>
              <li><span class="supportLocation">Warszawa</span><span class="supportPhone">+48 22 307 47 23<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, pn-pt</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Portugal</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+35 13 088 02068<span class="supportNote"></span></span></li>
              <li><span class="supportHours">11:00 - 17:00 hrs, 2ª-6ª</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Singapore</h5>
            <ul>
              <li><span class="supportLocation">Singapore</span><span class="supportPhone">+65 6349 4240<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">South Africa</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">0800 993 547<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Spain</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+34 91 275 4878<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Sweden</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+46 77 588 8023<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 kl. , må-fr</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-de</h5>
            <ul>
              <li><span class="supportLocation">Basel</span><span class="supportPhone">+41 61 588 0224<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 Uhr, M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-de</h5>
            <ul>
              <li><span class="supportLocation">Genf</span><span class="supportPhone">+41 22 518 0635<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 Uhr, M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-de</h5>
            <ul>
              <li><span class="supportLocation">Zürich</span><span class="supportPhone">+41 43 508 3969<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 Uhr, M-F</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-fr</h5>
            <ul>
              <li><span class="supportLocation">Bâle</span><span class="supportPhone">+41 61 588 0225<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-fr</h5>
            <ul>
              <li><span class="supportLocation">Genève</span><span class="supportPhone">+41 22 518 0692<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-fr</h5>
            <ul>
              <li><span class="supportLocation">Zurich</span><span class="supportPhone">+41 43 508 3970<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00 lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-it</h5>
            <ul>
              <li><span class="supportLocation">Basilea</span><span class="supportPhone">+41 61 588 0252<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-it</h5>
            <ul>
              <li><span class="supportLocation">Ginevra</span><span class="supportPhone">+41 22 518 0693<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Switzerland-it</h5>
            <ul>
              <li><span class="supportLocation">Zurigo</span><span class="supportPhone">+41 43 508 3971<span class="supportNote"></span></span></li>
              <li><span class="supportHours">12:00 - 18:00, lun-ven</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">UK</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+44 20 7979 2661<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">United States-en</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+1 480 505 8877<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Support</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">United States-es</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">+1 480 463 8300<span class="supportNote"></span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li>
          <li class="marketSupportInfo">
            <h5 class="supportCountry">Venezuela</h5>
            <ul>
              <li><span class="supportLocation">All</span><span class="supportPhone">800 1362034<span class="supportNote">Only accessible in country</span></span></li>
              <li><span class="supportHours">24/7 Asistencia técnica</span></li>
            </ul>
          </li></ul>
      </div>
    </section>
  <!-- End main-banner -->


##if(false)
  <script>
    var markets = 

    [
    {"Argentina":
      {
        "city":"Buenos Aires",
        "localphone":"(011) 5984-0780",
        "intphone":"+54 11 5984 0780",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Australia":
      {
        "city":"All",
        "localphone":"02 8023 8592",
        "intphone":"+61 2 8023 8592",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"Austria":
      {
        "city":"All",
        "localphone":"0720 116858",
        "intphone":"+43 720 116858",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 Uhr, M-F"
      }
    },
    {"Belgium-fr":
      {
        "city":"All",
        "localphone":"07 848 20 45",
        "intphone":"+32 7 848 2045",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 h, lun-ven"
      }
    },
    {"Belgium-nl":
      {
        "city":"All",
        "localphone":"07 848 20 46",
        "intphone":"+32 7 848 2046",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 uur, ma-vr"
      }
    },
    {"Brazil":
      {
        "city":"Rio de Janeiro",
        "localphone":"(021) 3956-9989",
        "intphone":"+55 21 3956 9989",
        "disclaimer":"",
        "coverage":"9:00 - 21:00 hrs, de segunda à sexta"
      }
    },
    {"Brazil":
      {
        "city":"São Paulo",
        "localphone":"(011) 3958-5679",
        "intphone":"+55 11 3958 5679",
        "disclaimer":"",
        "coverage":"9:00 - 21:00 hrs, de segunda à sexta"
      }
    },
    {"Canada-en":
      {
        "city":"All",
        "localphone":"866-938-1119",
        "intphone":"866 938 1119",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Support"
      }
    },
    {"Canada-fr":
      {
        "city":"All",
        "localphone":"844 494-9065",
        "intphone":"844 494 9065",
        "disclaimer":"Only accessible in country",
        "coverage":"8:00 - 12:00 h, EDT lun-ven"
      }
    },
    {"Chile":
      {
        "city":"All",
        "localphone":"123 0020 1163",
        "intphone":"123 0020 1163",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Colombia":
      {
        "city":"All",
        "localphone":"01-800-518-3945",
        "intphone":"01 800 518 3945",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Denmark":
      {
        "city":"All",
        "localphone":"36-92-77-33",
        "intphone":"+45 36 92 77 33",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 kl. , M-F"
      }
    },
    {"Finland":
      {
        "city":"Helsinki",
        "localphone":"09 424 50 695",
        "intphone":"+358 9 424 50695",
        "disclaimer":"",
        "coverage":"13:00 - 19:00 h, Ma-Pe"
      }
    },
    {"Finland":
      {
        "city":"Tampere",
        "localphone":"03 410 89 752",
        "intphone":"+358 3 410 89752",
        "disclaimer":"",
        "coverage":"13:00 - 19:00 h, Ma-Pe"
      }
    },
    {"France":
      {
        "city":"All",
        "localphone":"09 75 18 70 39",
        "intphone":"+33 9 75 18 70 39",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 h, lun-ven"
      }
    },
    {"Germany":
      {
        "city":"All",
        "localphone":"032-221094047",
        "intphone":"+49 32 221094047",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 Uhr, M-F"
      }
    },
    {"Greece":
      {
        "city":"Αθήνα",
        "localphone":"21 1 198 4715",
        "intphone":"+30 21 1 198 4715",
        "disclaimer":"",
        "coverage":"13:00 - 19:00, Δε-Πα"
      }
    },
    {"Greece":
      {
        "city":"Θεσσαλονίκη",
        "localphone":"23 1 118 0732",
        "intphone":"+30 23 1 118 0732",
        "disclaimer":"",
        "coverage":"13:00 - 19:00, Δε-Πα"
      }
    },
    {"India":
      {
        "city":"All",
        "localphone":"040-49187600",
        "intphone":"+91 40 49187600",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"Ireland":
      {
        "city":"Dublin",
        "localphone":"01 653 5976",
        "intphone":"+353 1 653 5976",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"Italy":
      {
        "city":"Milano",
        "localphone":"02-94756520",
        "intphone":"+39 02 9475 6520",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"Italy":
      {
        "city":"Napoli",
        "localphone":"08-118921267",
        "intphone":"+39 08 1189 21267",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"Italy":
      {
        "city":"Roma",
        "localphone":"06-94806018",
        "intphone":"+39 06 9480 6018",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"Malaysia":
      {
        "city":"All",
        "localphone":"1-800-81-7248",
        "intphone":"1 800 81 7248",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Support"
      }
    },
    {"Mexico":
      {
        "city":"Ciudad de México",
        "localphone":"(55) 4631 2410",
        "intphone":"+52 55 4631 2410",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Mexico":
      {
        "city":"Guadalajara",
        "localphone":"(33) 4624 1997",
        "intphone":"+52 33 4624 1997",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Mexico":
      {
        "city":"Monterrey",
        "localphone":"(81) 4770 1526",
        "intphone":"+52 81 4770 1526",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Netherlands":
      {
        "city":"All",
        "localphone":"085 888 3143",
        "intphone":"+31 85 888 3143",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 uur, ma-vr"
      }
    },
    {"New Zealand":
      {
        "city":"All",
        "localphone":"0800-453-221",
        "intphone":"0800 453 221",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Support"
      }
    },
    {"Pakistan":
      {
        "city":"All",
        "localphone":"+1 480 463 8811",
        "intphone":"+1480 463 8811",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"Peru":
      {
        "city":"Lima",
        "localphone":"(01) 700-9337",
        "intphone":"+51 1 700 9337",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Philippines":
      {
        "city":"All",
        "localphone":"001-800-1-110-1798",
        "intphone":"001-800-1-110-1798",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Support"
      }
    },
    {"Poland":
      {
        "city":"Kraków",
        "localphone":"12 881 12 87",
        "intphone":"+48 12 881 12 87",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, pn-pt"
      }
    },
    {"Poland":
      {
        "city":"Lódz",
        "localphone":"42 203 66 37",
        "intphone":"+48 42 203 66 37",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, pn-pt"
      }
    },
    {"Poland":
      {
        "city":"Warszawa",
        "localphone":"22 307 47 23",
        "intphone":"+48 22 307 47 23",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, pn-pt"
      }
    },
    {"Portugal":
      {
        "city":"All",
        "localphone":"13 088 02068",
        "intphone":"+35 13 088 02068",
        "disclaimer":"",
        "coverage":"11:00 - 17:00 hrs, 2ª-6ª"
      }
    },
    {"Singapore":
      {
        "city":"Singapore",
        "localphone":"65 6349 4240",
        "intphone":"+65 6349 4240",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"South Africa":
      {
        "city":"All",
        "localphone":"0800 993 547",
        "intphone":"0800 993 547",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Support"
      }
    },
    {"Spain":
      {
        "city":"All",
        "localphone":"91 275 4878",
        "intphone":"+34 91 275 4878",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Sweden":
      {
        "city":"All",
        "localphone":"077 588 8023",
        "intphone":"+46 77 588 8023",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 kl. , må-fr"
      }
    },
    {"Switzerland-de":
      {
        "city":"Basel",
        "localphone":"061 588 0224",
        "intphone":"+41 61 588 0224",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 Uhr, M-F"
      }
    },
    {"Switzerland-de":
      {
        "city":"Genf",
        "localphone":"022 518 0635",
        "intphone":"+41 22 518 0635",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 Uhr, M-F"
      }
    },
    {"Switzerland-de":
      {
        "city":"Zürich",
        "localphone":"043 508 3969",
        "intphone":"+41 43 508 3969",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 Uhr, M-F"
      }
    },
    {"Switzerland-fr":
      {
        "city":"Bâle",
        "localphone":"061 588 0225",
        "intphone":"+41 61 588 0225",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 lun-ven"
      }
    },
    {"Switzerland-fr":
      {
        "city":"Genève",
        "localphone":"022 518 0692",
        "intphone":"+41 22 518 0692",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 lun-ven"
      }
    },
    {"Switzerland-fr":
      {
        "city":"Zurich",
        "localphone":"043 508 3970",
        "intphone":"+41 43 508 3970",
        "disclaimer":"",
        "coverage":"12:00 - 18:00 lun-ven"
      }
    },
    {"Switzerland-it":
      {
        "city":"Basilea",
        "localphone":"061 588 0252",
        "intphone":"+41 61 588 0252",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"Switzerland-it":
      {
        "city":"Ginevra",
        "localphone":"022 518 0693",
        "intphone":"+41 22 518 0693",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"Switzerland-it":
      {
        "city":"Zurigo",
        "localphone":"043 508 3971",
        "intphone":"+41 43 508 3971",
        "disclaimer":"",
        "coverage":"12:00 - 18:00, lun-ven"
      }
    },
    {"UK":
      {
        "city":"All",
        "localphone":"020 7979 2661",
        "intphone":"+44 20 7979 2661",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"United States-en":
      {
        "city":"All",
        "localphone":"(480) 505-8877",
        "intphone":"+1 480 505 8877",
        "disclaimer":"",
        "coverage":"24/7 Support"
      }
    },
    {"United States-es":
      {
        "city":"All",
        "localphone":"(480) 463-8300",
        "intphone":"+1 480 463 8300",
        "disclaimer":"",
        "coverage":"24/7 Asistencia técnica"
      }
    },
    {"Venezuela":
      {
        "city":"All",
        "localphone":"0 800 1362034",
        "intphone":"800 1362034",
        "disclaimer":"Only accessible in country",
        "coverage":"24/7 Asistencia técnica"
      }
    }
];
$(document).ready(function(){
  /*

          <li class="marketSupportInfo">

            <h5 class="supportCountry">Belgique</h5>
            <ul>
              <li><span class="supportLocation">Netherlands</span><span class="supportPhone">0800 000 0000</span></li>
              <li><span class="supportHours">12:00-18:00</span></li>
            </ul>
          </li> 
  */

var $ml = $(".marketList");

for(var i in markets){
  var $li = $("<li/>").addClass("marketSupportInfo");

  var $h5 = $("<h5/>").addClass("supportCountry");
  var $ul = $("<ul/>");
  var $ulli1 = $("<li/>");
  var $ulli2 = $("<li/>");
  var $spanLoc = $("<span/>").addClass("supportLocation");
  var $spanPh = $("<span/>").addClass("supportPhone");
  var $spanHrs = $("<span/>").addClass("supportHours");
  var $spanNte = $("<span/>").addClass("supportNote");

  for(var key in markets[i]){
    $li.append($h5.html(key));
    $li.append($ul);
    for(var key2 in markets[i][key]){
      var val = markets[i][key][key2];
      switch(key2){
        case "city":
          $ul.append($ulli1.append($spanLoc.html(val)));
        break;
        case "localphone":

        break;
        case "intphone":
          $ul.append($ulli1.append($spanPh.html(val)));
        break;
        case "disclaimer":
          $spanPh.append($spanNte.html(val));
        break;
        case "coverage":
          $ul.append($ulli2.append($spanHrs.html(val)));
        break;
      }
    }
    $ml.append($li);
    
  }

}

})
  </script>
  ##endif

{% endblock %}

{% block footer %}
  
{% endblock %}

