extends ../_hero-simple.jade
block append vars
  - ciCode = 99098
  - classes = "domain-recommendations"

block append styles
  style
    :less
      .hero.domain-recommendations {
        mark.domain{text-transform:lowercase;word-break:break-word;}
      }
block content
  h2.font-lg [@L[cds.tmsv2/content/homepage/domain-recommendations/hero:headline]@L]
  .font-md.bold [@L[cds.tmsv2/content/homepage/domain-recommendations/hero:subhead2]@L]
  a.btn.btn-md.btn-purchase [@L[cds.tmsv2/content/homepage/domain-recommendations/hero:cta]@L]

block script
  script.
    var domainRecommendations = {
      dynamicContent: JSON.parse('[@D[tms.message.rule_data]@D]'),
      url:"[@T[link:<relative path='/domains/searchresults.aspx'><param name='domainToCheck' value='{0}' /><param name='checkAvail' value='1' /><param name='ci' value='#{ciCode}' /></relative>]@T]"
    };
    var btn = document.querySelectorAll('.hero .btn-purchase')[0];
    btn.href = domainRecommendations.url.replace('%7b0%7d',domainRecommendations.dynamicContent.domain_recommendations[0]);
    var domainText = document.querySelectorAll('.hero.domain-recommendations .domain')[0];
    if (domainText) {
      domainText.innerHTML = domainRecommendations.dynamicContent.domain_recommendations[0];
    }
    ux.eldorado.ready(function() {
      $('.hero.domain-recommendations').attr('data-url',domainRecommendations.url.replace('%7b0%7d',domainRecommendations.dynamicContent.domain_recommendations[0]));
    });