extend ../../../../../src/templates/panel

block vars
  - panelImage = "";
  - panelTitle = "quote";
  - panelText = "Godaddy Is Awesome"
  - panelButtonColor = "";
  - panelButtonText = "";
  - panelTcode = "something";
  - lazyLoad = true;