extends ../_hero-arrow.jade

append vars
  - var classes = "hosting-awesome";
  - var ciCode = 95856;
  - var ctaLink = "[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-md.black.text-white Your website is only as awesome...
  p.font-lg.black.text-white as your hosting.

block rightContent
  mark.font-sm.black Guaranteed [@T[localization:<display type="percent" number="99.9" />]@T] uptime
  h2.font-md.black Web Hosting
  p.price.bold Now just 
    span.text-purchase [@T[productprice:<current productid="32051" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/MO
  a.btn.btn-md.btn-purchase(href!=ctaLink) Get started