extends ../_hero-arrow.jade

append vars
  - var classes = "hosting-awesome";
  - var ciCode = 95856;
  - var ctaLink = "[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-md.black.text-white Your website
  p.font-md.black.text-white is only as awesome as 
  p.font-lg.black.text-white your hosting.

block rightContent
  p.font-sm.black GUARANTEED [@T[localization:<display type="percent" number="99.9" />]@T] UPTIME
  p.font-md.black Web Hosting
  p.price.bold Now just [@T[productprice:<current productid="32051" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/MO
  a.btn.btn-md.btn-purchase GET STARTED