extends ../_hero-arrow.jade

prepend vars
  - var classes = "fifty-right-image"
  - var dataCI = 97703;
  - var ctaLink = "[@T[link:<relative path='business/email-marketing-software'><param name='ci' value='"+dataCI+"' /></relative>]@T]";
  - var leftImage = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var xsLeftImage = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var rightImage = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var xsRightImage = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var polygon = "grey-bottom";
  - var xsBannerColor = "#DEDEDE";
  - var logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjQzIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgNDMgMzUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQzIDM1IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjNzdDMDQzIiBkPSJNMS40IDBsNDEgOC4yTDI0LjYgMjQuNSAxLjQgMHpNNDMgMTAuN2wtMiAyMi4xTDAuNyAzNSAwIDMuM2wyNC4zIDIzTDQzIDEwLjd6Ii8+PC9zdmc+";
  - var logoImageFallback = "[@T[link:<imageroot />]@T]fos/tmsv2/content/o365-biz-email/banner-small/pro-email-icon.png";
  - var titleText="Template title icon";

append styles
  style
    :less
      #marquee{
        .fifty-right-image{
          .leftContent{
            }
          .rightContent{
            }
        }
      }

block leftContent
  mark.font-sm.bold [@L[cds.tmsv2/content/homepage/gem/hero:markText]@L]
  p.font-md.black GODADDY PRODUCT
  h2.product LOREM IPSUM DOLOR SIT AMET
  div Ut enim ad minim veniam quis nostrud ecercitation ullamco.
  p.price Starting at <span>[@T[productprice:<current productid="566281" period="monthly" checktmspromocode="true" htmlsymbol="false" />]@T]/mo</span>
  a.btn.btn-md.btn-primary [@L[cds.tmsv2/content/homepage/gem/hero:ctaText]@L]
  p.disclaimer Disclaimer text is smaller and will take up this area
block rightContent
  div 