extends ../../../../sales/homepage/_hero-polygon.jade
prepend vars
  - var classes = "fifty-right-image"
  - var dataCI = 97703;
  - var ctaLink = "[@T[link:<relative path='business/email-marketing-software'><param name='ci' value='"+dataCI+"' /></relative>]@T]";
  - var marqueeBackground = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var marqueeFallback = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var polygon = "grey-bottom";
  - var xsBannerColor = "#DEDEDE";

append heroStyles
  style
    :less
      #marquee{background-color:#F3F3F4; background-size:initial;font-family:'Walsheim-Black', 'Arial Black', sans-serif;
        .fifty-right-image{
          #marqueeImage{background-size:initial;background-position:23%;}
          mark {font-size:16px;margin:0 0 5px 0;font-family:'Walsheim Bold', 'Arial Black', sans-serif;}
          .price {font-size:18px;color:#333;
            span{font-size:36px;color:#EF6C0F;}
            }
          .headline{font-size:24px; color:#333; line-height:.9;font-family:'Walsheim Bold', 'Arial Black', sans-serif;}
          .product-name{font-size:36px;color:#77c043;line-height:35px;}
          .subtitle{width: 70%;font-size:16px;line-height:20px;font-family:'Arial';}
          button{margin-top:3%;margin-bottom:2%;}
          .disclaimer{font-size: 10px;font-family: Arial;}
        }
      .hero.polygon{
          #marqueeImage{display:none !important};
        }
      .hero-wrapper{min-height:315px;}
      }
block heroContent
  mark [@L[cds.tmsv2/content/homepage/gem/hero:markText]@L]
  .headline GODADDY PRODUCT
  .product-name LOREM IPSUM DOLOR SIT AMET
  div.subtitle Ut enim ad minim veniam quis nostrud ecercitation ullamco.
  .price [@L[cds.tmsv2/content/homepage/gem/hero:priceText]@L]
  button.btn.btn-md.btn-primary [@L[cds.tmsv2/content/homepage/gem/hero:ctaText]@L]
  .disclaimer Disclaimer text is smaller and will take up this area