.DS_Store
/.tmp/
build/*
!build/cds
!build/wsimg.com
!build/wsimg-com.ide
!build/wsimg.com/**
!build/wsimg-com.ide/**
./lib/.salesupdate
/lib/.salesupdate
lib/.salesupdate
/node_modules
node_modules/*
.gitignore
*.log
.vagrant
src/templates/3.3.1-wsb-templates.html
src/templates/bootsrap-templates
src/templates/star-field-templates.html
