extends ../../../../sales/homepage/_right_arrow.jade

block append heroVars
  - rightArrow.ci = "94859";
  - rightArrow.ctaLink = "[@T[link:<external linktype='myaurl' path='myrenewals/myrenewals.aspx'><param name='ci' value='"+rightArrow.ci+"' /><param name='pg' value='smart' /></external>]@T]";
  - rightArrow.classes += " domain-expire";
block append rightArrowStyles
  style
    :less
      .hero.right-arrow.domain-expire{
      text-transform: uppercase;
        .leftContent {
             .line1{
              font-size:32px;
              }
              .line2{
              font-size:17px;
              }
             .line4{
              .dash{letter-spacing: -.4rem;}
              }
        }
        .rightContent {
          .line1{
          font-size:23px;
          }
          .line2{
          font-size:18px;
          }
          .line3{font-size:65%}
          }
      }
block leftContent
  .bigtext
    .line1.tungsten.bigtext [@L[cds.sales/homepage/heros/domain-expire:dontLetDomainBe]@L]
    .line2.walsheim-black 
      span.dash ——— &nbsp;&nbsp; [@L[cds.sales/homepage/heros/domain-expire:oneGotAway]@L]
block rightContent
  .bigtext
    .line1.walsheim-black [@L[cds.sales/homepage/heros/domain-expire:renewItNow]@L]
    .line2.walsheim-black [@L[cds.sales/homepage/heros/domain-expire:beforeItExpires]@L]
  a.btn.btn-md.btn-purchase [@L[cds.sales/homepage/heros/domain-expire:goToMyRenewals]@L]