extends ../_hero-arrow.jade

append vars
  - var classes = "domain-expire";
  - var ciCode = 94859;
  - var ctaLink = "[@T[link:<external linktype='myaurl' path='myrenewals/myrenewals.aspx'><param name='ci' value='"+ciCode+"' /><param name='pg' value='smart' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Don't let your domain be...
  p.font-md.black.text-white the one that got away.

block rightContent
  p.font-md.black Renew it now before it expires
  a.btn.btn-md.btn-purchase(href!=ctaLink) Go to my renewals
