extends ../_hero-arrow.jade

append vars
  - var classes = "domain-expire";
  - var ciCode = 94859;
  - var ctaLink = "[@T[link:<external linktype='myaurl' path='myrenewals/myrenewals.aspx'><param name='ci' value='"+ciCode+"' /><param name='pg' value='smart' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white [@L[cds.sales/homepage/heros/domain-expire:dontLetDomainBe]@L]
  p.font-md.black.text-white [@L[cds.sales/homepage/heros/domain-expire:oneGotAway]@L]

block rightContent
  p.font-md.black [@L[cds.sales/homepage/heros/domain-expire:renewItNow]@L]
  p.font-md.black [@L[cds.sales/homepage/heros/domain-expire:beforeItExpires]@L]
  a.btn.btn-md.btn-purchase [@L[cds.sales/homepage/heros/domain-expire:goToMyRenewals]@L]
