extends ../_hero-arrow.jade

append vars
  - var classes = "lawyer";
  - var ciCode = 95858;
  - var ctaLink = "[@T[link:<relative path='/tlds/lawyer'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Finally, a domain for people who read the disclaimers.

block rightContent
  p.font-md.black Get your .lawyer
  p.price.bold Just 
    span.text-purchase [@T[productprice:<current productid="466716" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/YR*
  a.btn.btn-md.btn-purchase(href!=ctaLink) Get started
  p.disclaimer *Seriously, it's just [@T[productprice:<current productid="466716" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/yr.