block styles
  style.
    .dash { 
      letter-spacing: -10px; 
      font-size: 1.5em; 
      line-height: 0.6; 
      vertical-align: -0.1em; 
    }
    .marquee-content-wrapper { 
      padding: 40px; 
      margin-left: 10px; 
      margin-right: 10px; 
      background-color: rgba(0,138,50,0.9); 
      color: white; 
    }
    .marquee { 
      padding-top: 40px; 
      padding-bottom: 40px; 
    }
    .marquee.marquee-white {
        color: #fff;
    }
    .marquee.marquee-white h1,
    .marquee.marquee-white h2,
    .marquee.marquee-white h3,
    .marquee.marquee-white h4,
    .marquee.marquee-white h5,
    .marquee.marquee-white h6 {
        color: #fff;
    }
    .marquee.marquee-white .dashed-underline {
        border-bottom-color: #fff;
    }
    .marquee.marquee-white a:not(.btn) {
        color: #fff;
        text-decoration: underline;
    }
    .marquee.marquee-white a:not(.btn):hover {
        text-decoration: none;
    }
    .marquee .jump-arrow-btn { margin-top:30px;}
    .marquee h1 { 
      font-size: 2rem;
      text-transform: uppercase;
      color: #ef6c0f;
      font-family: 'Walsheim-Bold';
      margin-bottom: 10px;
      margin-top:0;
    }
    .marquee h2 { 
      font-size: 4rem;
      font-weight: 100;
      line-height: 1.1;
      margin-top:0;
      margin-bottom: 20px;
      font-family: 'Walsheim-Bold';
    }

.container.marquee.marquee-white
  .row
    .col-sm-7.marquee-content-wrapper
      block content
