include compare-features-view-all-mixin.jade

mixin compareFeaturesTable(compareFeaturesOptions)
  - compareFeaturesOptions = compareFeaturesOptions || {};
  - compareFeaturesOptions.numberOfRowsNotHidden = compareFeaturesOptions.numberOfRowsNotHidden || 999;
  - compareFeaturesOptions.showViewAllButton = compareFeaturesOptions.showViewAllButton || false;
  - compareFeaturesOptions.tableID = compareFeaturesOptions.tableID || ""
  - compareFeaturesOptions.includeStyles = compareFeaturesOptions.includeStyles

  if typeof(compareFeaturesOptions.includeStyles) == 'undefined'
    style
      include:css styles/compare-features-table.css

  table.compare-table(id = compareFeaturesOptions.tableID)
    block
    script(type="text/javascript").
      $(window).load(function() {
        var chart = $(this).closest(".compare-table");
        $("##{compareFeaturesOptions.tableID} tr:gt(#{compareFeaturesOptions.numberOfRowsNotHidden})").hide();
       });
  if compareFeaturesOptions.showViewAllButton
    +compareViewAllButton(compareFeaturesOptions.tableID)