
mixin configStep
  .col-sm-12
    .row
      .col-sm-10.config-step
        block

    atlantis:webstash(type="css")
      style.
        .config-step {
          background: #FCFCFC;
          background-image: -moz-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
          background-image: -ms-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
          background-image: -o-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
          background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0,#EAE9E9),color-stop(0.5,#FCFCFC),color-stop(1,#EAE9E9));
          background-image: -webkit-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
          background-image: linear-gradient(to right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
          border: 1px solid #ccc;
          float: left;
          min-height: 460px;
          position: relative;
        }
        .config-step .flag {
          color: white;
          font-size: 19px;
          height: 34px;
          line-height: 30px;
          left: 0;
          padding: 2px 16px 4px;
          position: absolute;
          top: 10px;
        }
        .config-step .blue {
          background: #0da8e5;
        }
        .config-step .blue::after {
          border-color: #0da8e5 transparent #0da8e5 #0da8e5;
        }
        .config-step .flag::after {
          border-style: solid;
          border-width: 17px;
          content: "";
          left: 100%;
          position: absolute;
          top: 0;
        }
        @media only screen and (min-width: 1200px) {
          .config-step::after {
            background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/config-step-box-shadow-v2.png) no-repeat 0 0 transparent;
            background-size: cover;
            bottom: -10px;
            content: "";
            height: 10px;
            left: 0;
            position: absolute;
            width: 700px;
          }
        }