block vars
  - link = link || "#"
  - marqueeType = marqueeType || "base"
  - lightText = lightText || false;
  - icode = icode || ""
  - cornerImage = cornerImage || ""
  - cornerImageAltText = cornerImageAltText || ""
  - jumpText = jumpText || ""

atlantis:webstash(type="css")
  block marqueeStyles
    style.

.marquee(
    data-onclick = link,
    class = "#{marqueeType} #{lightText ? 'marquee-white' : ''}",
    data-icode = icode
    )

  block cornerImage
    if cornerImage
      .visible-md.visible-lg(class="marquee-corner-img")
        img(
            src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
            data-lazy-load = '{"src":"#{cornerImage}"}'
            alt = cornerImageAltText
            )
  .container.relative-position
    .row
      block content

  //- TODO: is this necessary?
    if (jumpText)
      .jump-to-plans
        .marquee-jump-text !{markdownToHtml(jumpText)}
        a.pro-icon.jump-arrow-icon(href="#plans")
