atlantis:webstash(type="css")
  style
    :less
      #danica-puppy-promo{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/danica-buddy.jpg) top center no-repeat;background-size:cover;min-height:266px;
        h3{@media only screen and (min-width:992px) {padding-top:5%;}@media only screen and (min-width:1200px) {padding-top:10%;}}
        img{width:100%}
      }

section#danica-puppy-promo
  .container
    .row
      .col-md-5.col-sm-8.col-xs-12
        .container
          .row
            .col-sm-12
              h2.walsheim-bold Danica and Buddy
          .row
            .col-md-4.col-sm-3.col-xs-2

              +videoPlayerModalAll(
                'rMF9d8-3WBA', 
                'danica-puppy-play-button', 
                '', 
                '',
                '[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png', 
                '', 
                '', 
                'danica-puppy-promo-video', 
                '')

            .col-md-8.col-sm-4.col-xs-3
              h3.walsheim-bold Watch the video!
      .col-md-7.col-sm-0.col-xs-9