atlantis:webstash(type="css")
  style
    :less
      #nacho-promo{background-image:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/nacho-video.jpg);background-size:cover;background-repeat:no-repeat;background-position:-1200px 0;
         @media only screen and (min-width : 480px){background-position:-950px 0;}
         @media only screen and (min-width : 768px){background-position:-700px 0;}
         @media only screen and (min-width : 992px){background-position:-450px 0;}
         @media only screen and (min-width : 1200px){background-position:-200px 0;}
         @media only screen and (min-width : 1500px){background-position:0 0;}
      }
      .Explorer8 #nacho-promo {background-position:0 0;}
      div.video-marquee{background-color:transparent}
atlantis:webstash(type="script")

section#nacho-promo
      .container
        .row
          .col-sm-12
            +fullVideoModule({"icode":"code","playButton":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png","tagline":"NO TIME FOR 7-LAYER DIP?<br />WE SALUTE YOU.","cta":"WATCH OUR SUPER BOWL COMMERCIAL","youtubeId":"FT7lLnd_DYE","tileName":"NachoVideo"})