atlantis:webstash(type="css")
  style
    :less
      #support-promo{background-color:#333;padding-bottom:50px;}
      #support-promo h2{margin:35px 0 50px}
      #support-promo h3{margin-top:0;text-transform:uppercase;font-size:4rem;}
      #support-promo p{max-width:390px;}
      #support-promo .support-promo-text .container{padding:0}
      .support-promo-img{width:100%;
        @media only screen and (min-width:768px){width:80%;margin-left:10%;}
        @media only screen and (min-width:1200px){width:60%;margin-left:20%;}
      }
      .support-promo-number{font-size:2.0rem;margin-top:2%}

section#support-promo
  .container
    h2.text-center.walsheim-black.text-white We're Always Here To Help.
    .row
      .col-xs-6.text-center
        <!--[if lt IE 9]>
        +lazyImg('support-promo-img','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_main_illus.png','GoDaddy Support')        
        <![endif]-->
        +lazyImg('svgfallback support-promo-img','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_main_illus.svg','GoDaddy Support')
      .col-xs-6
        .support-promo-text.text-white
          h3.walsheim-black Award-Winning<br />24/7 Support
          p We make it easy to get online, but if you do need help or just wanna talk to someone, our online experts are available 24/7/365.
          .container
            .row
              .col-md-4.col-xs-12
                a.btn.btn-default-light(data-url!="[@T[link:<external linktype='COMMUNITYURL'><param name='ci' value='95789' /></external>]@T]") Learn More
              .col-md-8.col-xs-12
                .support-promo-number.walsheim-medium [@T[supportphone:<technical />]@T]