block append styles
  style.
    .gdhp-main-top{margin:0 auto;padding:10px 0 0;position:relative;width:1000px;z-index:2;*margin-top:-3px}
    .search-form{width:1000px;max-width:1000px}
    .gdhp-search-box{background-color:#fff;border:2px solid #ccc;border-top:3px solid #939597;height:38px;position:relative;width:700px;float:left;margin-right:20px}
    .search-form-input{width:98.8%}
    .gdhp-main-top .btn-lg {padding: 0 0;height:44px;width:240px;}
    .gdhp-search-box .domainSearchBox{float:left;height:40px;margin:0;padding:0;position:relative;z-index:1}
    .gdhp-search-box input,.gdhp-search-box .searchInput{background:transparent;border:0;color:#999!important;float:left;font-size:20px;height:26px;line-height:25px;margin:0!important;outline:0;padding:6px 0 1px 10px!important;max-width:800px}
    #searchDomainName-label{top:1px;}
    .gdhp-search-box .hp-search{float:right;font-size:20px;line-height:20px;padding:15px 30px 15px;background-color:#7db701}
    .btn{font-family:'Walsheim-Medium';}
    .gdhp-main-top .btn-lg{padding:0 0;height:44px;width:240px;text-transform:uppercase;}

.gdhp-search-section
  .gdhp-main-top
    form.search-form.search-form-alternate.search-form-certified(method="post" data-url!="[@T[link:<relative path='~/api/dpp/search/single'/>]@T]" action!="[@T[link:<relative path='/domains/searchresults-new.aspx'/>]@T]")
      .gdhp-search-box
        input.search-form-input.searchInput.helveticafont(type="text" id="searchDomainName" name="domainToCheck" autocomplete="off" maxlength="63" title!="[@L[cds.sales/homepage:sb-search-title]@L]")
      button.btn.btn-warning.btn-lg.hp-search(type="submit" name="searchButton" data-ci="54814") [@L[cds.sales/homepage/segments/default:domain-banner-search-btn]@L]
      .clearfix