<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
block prepend style
=======
block append styles
>>>>>>> updating to stash
=======
atlantis:webstash(type="css")
>>>>>>> STUPID fix for what we do
=======
block prepend style
>>>>>>> done with templatization
=======
block prepend styles
>>>>>>> fixing biz and price span
=======
block prepend styles
>>>>>>> fixing merge conflict
=======
block prepend styles
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
  style.
    .why-us-wrap{width:100%;height:520px;background:radial-gradient(#615e5f 1px, transparent 1px),#d4d4d4;background-size: 5px 5px;}
    .why-us-content{width:1000px;margin:0 auto;border-top:15px solid green;background-color:#fff;height:485px;background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/WWD-background.png) scroll no-repeat;}
    .why-us-text{width:52%;padding:5px 0 0 20px;font-size:13px;float:left;box-sizing:border-box;position:relative;}
    .why-us-text h1 {font-size:14px;line-height:12px;display:inline;color:#333;}
    .why-us-headline{font-size:56px;font-family:'Walsheim-Black'}
    .why-us-maintext>div{margin-bottom:.8em}
    .why-us-logos{width:48%;height:100%;float:left;}
    .why-us-logos>ul{list-style:none;margin:30px 0 0 100px}
    .why-us-logos>ul>li{line-height:0px;height:80px;}
    .why-us-btn{cursor:pointer;}
    .why-us-btn:hover span{text-decoration:underline;}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    .gdhp-domains-logo,.gdhp-wsb-logo,.gdhp-store-logo,.gdhp-getfound-logo,.gdhp-support-logo,.gdhp-hosting-logo,.gdhp-o365-logo{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) scroll no-repeat;display:inline-block;}
=======
    .gdhp-domains-logo,.gdhp-wsb-logo,.gdhp-store-logo,.gdhp-getfound-logo,.gdhp-support-logo{display:inline-block;}
>>>>>>> updating to stash
=======
    .gdhp-domains-logo,.gdhp-wsb-logo,.gdhp-store-logo,.gdhp-getfound-logo,.gdhp-support-logo{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141024.png) scroll no-repeat;display:inline-block;}
>>>>>>> STUPID fix for what we do
=======
    .gdhp-domains-logo,.gdhp-wsb-logo,.gdhp-store-logo,.gdhp-getfound-logo,.gdhp-support-logo,.gdhp-hosting-logo,.gdhp-o365-logo{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) scroll no-repeat;display:inline-block;}
>>>>>>> done with templatization
=======
    .gdhp-domains-logo,.gdhp-wsb-logo,.gdhp-store-logo,.gdhp-getfound-logo,.gdhp-support-logo,.gdhp-hosting-logo,.gdhp-o365-logo{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) scroll no-repeat;display:inline-block;}
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
    .gdhp-domains-logo{background-position:-410px -170px;width:50px;height:56px;margin:12px 50px 0 0}
    .gdhp-wsb-logo{background-position:-410px -236px;width:45px;height:47px;margin:16.5px 55px 0 0}
    .gdhp-store-logo{background-position:-410px -293px;width:47px;height:52px;margin:14px 53px 0 0}
    .gdhp-getfound-logo{background-position:-410px -355px;width:68px;height:51px;margin:15px 42px 0 -10px}
    .gdhp-support-logo{background-position:-410px -416px;width:52px;height:58px;margin:11px 48px 0 0}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    .gdhp-hosting-logo{background-position: -476px -170px;width: 50px;height: 50px;margin: 10px 50px 0 0;}
    .gdhp-o365-logo{background-position: -476px -235px;width: 52px;height: 45px;margin: 10px 0 0 0;position: absolute;}
    .gdhp-domains-text,.gdhp-wsb-text,.gdhp-store-text,.gdhp-getfound-text,.gdhp-support-text,.gdhp-hosting-text,.gdhp-o365-text{font-size:24px;}
=======
    .gdhp-domains-text,.gdhp-wsb-text,.gdhp-store-text,.gdhp-getfound-text,.gdhp-support-text{font-size:24px;}
>>>>>>> updating to stash
=======
    .gdhp-hosting-logo{background-position: -476px -170px;width: 50px;height: 50px;margin: 10px 50px 0 0;}
    .gdhp-o365-logo{background-position: -476px -235px;width: 52px;height: 45px;margin: 10px 0 0 0;position: absolute;}
    .gdhp-domains-text,.gdhp-wsb-text,.gdhp-store-text,.gdhp-getfound-text,.gdhp-support-text,.gdhp-hosting-text,.gdhp-o365-text{font-size:24px;}
>>>>>>> fixing biz and price span
=======
    .gdhp-hosting-logo{background-position: -476px -170px;width: 50px;height: 50px;margin: 10px 50px 0 0;}
    .gdhp-o365-logo{background-position: -476px -235px;width: 52px;height: 45px;margin: 10px 0 0 0;position: absolute;}
    .gdhp-domains-text,.gdhp-wsb-text,.gdhp-store-text,.gdhp-getfound-text,.gdhp-support-text,.gdhp-hosting-text,.gdhp-o365-text{font-size:24px;}
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
    .gdhp-domains-text{vertical-align:21px;}
    .gdhp-wsb-text{vertical-align:18px;}
    .gdhp-store-text{vertical-align:20px;}
    .gdhp-getfound-text{vertical-align:24px;}
    .gdhp-support-text{vertical-align:24px;}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> done with templatization
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
    .gdhp-hosting-text{vertical-align:18px;}
    .gdhp-o365-text{display: inline-block;line-height: 30px;margin-left: 100px;}
    .why-us-wrap #disclaimers a{font-size: 12px;line-height: 14px;text-decoration: none;color: #333;}
    .why-us-wrap #gdhp-support-scope-link:hover,.why-us-wrap #gdhp-disclaimer-lnk:hover{color: #7db701;text-decoration: underline;}
    .why-us-wrap .content-disclaimer {padding-left:0px; line-height:14px}
<<<<<<< HEAD
<<<<<<< HEAD

.why-us-wrap
  .why-us-content
    .why-us-text
      span.why-us-headline [@L[cds.sales/homepage/locales/en:why-us-headline]@L]
      .why-us-maintext
        | ##if(countrySiteAny(in))
=======
=======
    
>>>>>>> STUPID fix for what we do
=======
>>>>>>> done with templatization
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370

.why-us-wrap
  .why-us-content
    .why-us-text
      span.why-us-headline [@L[cds.sales/homepage/locales/en:why-us-headline]@L]
      .why-us-maintext
<<<<<<< HEAD
<<<<<<< HEAD
        | ##if(countrySiteAny([en-in]))
>>>>>>> updating to stash
=======
        | ##if(countrySiteAny(in))
>>>>>>> fixing biz and price span
=======
        | ##if(countrySiteAny(in))
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
        | [@L[cds.sales/homepage/locales/en:why-us-maintext-india]@L]
        | ##else
        | [@L[cds.sales/homepage/locales/en:why-us-maintext]@L]
        | ##endif
      #disclaimers
        section.container.l-main-container.content-disclaimer
          p.no-margin-bottom
            a#gdhp-disclaimer-lnk.simple-link(href="#" data-toggle="modal" data-target="#myModal" data-ci="93289") [@L[cds.sales/homepage:disclaimer-text]@L]
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fixing biz and price span
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
          | 
          | ##if(countrySiteAny(in))
          p.no-margin-bottom
            a#gdhp-support-scope-link(href!='[@T[link:<external parammode="explicit" path="/help/article/9522/godaddy-statement-of-support" linktype="COMMUNITYURL"><param name="countrysite" value="in" /><param name="ci" value="94858" /></external>]@T]' target="_blank") [@L[cds.sales/homepage/locales/en:scopesupport]@L]
          | 
          | ##endif
<<<<<<< HEAD
<<<<<<< HEAD
=======
            | 
=======
>>>>>>> everything but what we do
=======
            | 
>>>>>>> STUPID fix for what we do
            | ##if(countrySiteAny([en-in]))
            | 
            a#gdhp-support-scope-link(href!='ta' target!="_blank")
            | 
            | ##endif
>>>>>>> updating to stash
=======
>>>>>>> fixing biz and price span
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
        .modal.fade#myModal
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                p.modal-title
                  strong [@L[cds.sales/homepage:disclaimer-modal-title]@L]
              .modal-body
                .g-modal-content
                  p [@L[cds.sales/homepage:disclaimer-modal-first-content]@L]
                  p [@L[cds.sales/homepage:disclaimer-modal-third-content]@L]
                  p [@L[cds.sales/homepage:disclaimer-modal-fourth-content]@L]
                  | 
                  | ##if(countrySiteAny(au))
                  p [@L[cds.sales/homepage:disclaimer-modal-second-content]@L]
                  | 
                  | ##endif
    .why-us-logos
      ul
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/domains/domain-name-search.aspx"><param name="ci" value="93299" /></relative>]@T]' data-ci="93299")
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
          span#gdhp-why-us-domains.gdhp-domains-logo
          span.gdhp-domains-text [@L[cds.sales/homepage/locales/en:whyus-logo-domains]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/hosting/website-builder.aspx"><param name="ci" value="93300" /></relative>]@T]' data-ci="93300")
          span#gdhp-why-us-wsb.gdhp-wsb-logo
          span.gdhp-wsb-text [@L[cds.sales/homepage/locales/en:whyus-logo-wsb]@L]
        | 
        | ##if(countrySiteAny(www,uk))
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/ecommerce/shopping-cart.aspx"><param name="ci" value="93301" /></relative>]@T]' data-ci="93301")
          span#gdhp-why-us-store.gdhp-store-logo
          span.gdhp-store-text [@L[cds.sales/homepage/locales/en:whyus-logo-onlinestore]@L]
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        | 
=======
        |
>>>>>>> STUPID fix for what we do
=======
        | 
>>>>>>> fixing biz and price span
=======
        | 
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
        | ##elseif(countrySiteAny(in))
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/hosting/web-hosting.aspx"><param name="ci" value="94309" /></relative>]@T]' data-ci="94309")
          span#gdhp-why-us-hosting.gdhp-hosting-logo
          span.gdhp-hosting-text [@L[cds.sales/homepage/locales/en:whyus-logo-hosting]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/business/office-365.aspx"><param name="ci" value="94310" /></relative>]@T]' data-ci="94310")
          span#gdhp-why-us-o365.gdhp-o365-logo
          span.gdhp-o365-text [@L[cds.sales/homepage/locales/en:whyus-logo-o365]@L]
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        | 
        | ##endif
        | ##if(countrySiteAny(www))
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/products/business-marketing.aspx"><param name="ci" value="93302" /></relative>]@T]' data-ci="93302")
          span#gdhp-why-us-getfound.gdhp-getfound-logo
          span.gdhp-getfound-text [@L[cds.sales/homepage/locales/en:whyus-logo-getfound]@L]
        | 
=======
        |
=======
        | 
>>>>>>> fixing biz and price span
=======
        | 
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
        | ##endif
        | ##if(countrySiteAny(www))
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/products/business-marketing.aspx"><param name="ci" value="93302" /></relative>]@T]' data-ci="93302")
          span#gdhp-why-us-getfound.gdhp-getfound-logo
          span.gdhp-getfound-text [@L[cds.sales/homepage/locales/en:whyus-logo-getfound]@L]
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> STUPID fix for what we do
        | ##endif
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<external parammode="explicit" linktype="COMMUNITYURL"><param name="ci" value="93303" /></external>]@T]' data-ci="93303")
          span#gdhp-why-us-support.gdhp-support-logo
<<<<<<< HEAD
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
=======
          span#gdhp-why-us-domains.gdhp-domains-logo.hp-sprite
=======
          span#gdhp-why-us-domains.gdhp-domains-logo
>>>>>>> STUPID fix for what we do
          span.gdhp-domains-text [@L[cds.sales/homepage/locales/en:whyus-logo-domains]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/hosting/website-builder.aspx"><param name="ci" value="93300" /></relative>]@T]' data-ci="93300")
          span#gdhp-why-us-wsb.gdhp-wsb-logo
          span.gdhp-wsb-text [@L[cds.sales/homepage/locales/en:whyus-logo-wsb]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/ecommerce/shopping-cart.aspx"><param name="ci" value="93301" /></relative>]@T]' data-ci="93301")
          span#gdhp-why-us-store.gdhp-store-logo
          span.gdhp-store-text [@L[cds.sales/homepage/locales/en:whyus-logo-onlinestore]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<relative path="/products/business-marketing.aspx"><param name="ci" value="93302" /></relative>]@T]' data-ci="93302")
          span#gdhp-why-us-getfound.gdhp-getfound-logo
          span.gdhp-getfound-text [@L[cds.sales/homepage/locales/en:whyus-logo-getfound]@L]
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<external parammode="explicit" linktype="COMMUNITYURL"><param name="ci" value="93303" /></external>]@T]' data-ci="93303")
<<<<<<< HEAD
          span#gdhp-why-us-support.gdhp-support-logo.hp-sprite
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
>>>>>>> updating to stash
=======
          span#gdhp-why-us-support.gdhp-support-logo
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
>>>>>>> STUPID fix for what we do
=======
=======
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
        | 
        | ##endif
        li.why-us-btn.js-gdhpclick(data-url!='[@T[link:<external parammode="explicit" linktype="COMMUNITYURL"><param name="ci" value="93303" /></external>]@T]' data-ci="93303")
          span#gdhp-why-us-support.gdhp-support-logo
<<<<<<< HEAD
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
>>>>>>> fixing biz and price span
=======
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
>>>>>>> fixing merge conflict
=======
          span.gdhp-support-text [@L[cds.sales/homepage/locales/en:whyus-logo-support]@L]
>>>>>>> b0971f3dc1aa14f3f806338444aba489a1b0f370
