extends ../../templates/marquees/landing-page-marquee.jade

block marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Marquee.jpg) no-repeat top center;); }

block topAlignedContent
  +productReview(5, "#")
  +productDescription("FAST, SECURE, RELIABLE HOSTING THAT GROWS WITH YOUR BUSINESS")
  +productText("Industry's leading page load times. 99.9% Uptime Guarantee*.")
  +callToAction("Get Started")

  //-
    .marquee-product-review
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      a Reviews
    h2.marquee-product-description FAST, SECURE, RELIABLE HOSTING THAT GROWS WITH YOUR BUSINESS
    .marquee-product-text Industry's leading page load times. 99.9% Uptime Guarantee*.
    a.btn.btn-primary.jump-arrow-btn Get Started
