<!-- DOC BLOCK (DO NOT REMOVE)






    IMPORTANT:
      If version control is enabled for this page all changes to this page must also go through version control.

    VERSION CONTROL:
      https://github.secureserver.net/FOS-CDS-Pages/Sales

    WEB PAGE CHAMPION:
      {{ cdsDetails.champion.name }} <{{ cdsDetails.champion.email }}>

    DRAFT DETAILS:
      Modified Date:  {{ cdsDetails.draft.modifiedDate }}
      Created By:     {{ cdsDetails.draft.user.username|safe }}
      JIRA Ticket:    {{ name || cdsDetails.draft.name }}
      Comments:       {{ comments || cdsDetails.draft.comments }}
{% if cdsDetails.draft.id %}
    CDS URL:
      http://siteadmin.dev.intranet.gdg/cds/ide#{{cdsDetails.draft.id}}
{% endif %}

{% if cdsDetails.draft.splitSide %}
    SPLIT PREVIEW URL:
      http://gui.dev-godaddy.com/splittest/splittestredirect.aspx?test={{ cdsDetails.draft.splitSide }}&dest={{ cdsDetails.draft.url }}{% if cdsDetails.draft.id %}?version={{ cdsDetails.draft.location }}|{{cdsDetails.draft.id}}{% endif %}
{% elseif cdsDetails.draft.url %}
    PREVIEW URL:
      {{ cdsDetails.draft.url }}{% if cdsDetails.draft.id %}?version={{ cdsDetails.draft.location }}|{{cdsDetails.draft.id}}{% endif %}
{% endif %}

END DOC BLOCK -->