<div class="table-top-section">
  <div class="difference-text">
    <h3>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-5-SeeTheDifferenceForYourself]@L]</h3>
    <p>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-31-WhereYouHostYourWordPressSiteMattersOur]@L]</p>
  </div>
  <div class="starter-plan-wrapper">
    <div class="plan-info">
      <p class="plan-name">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-StarterPlan]@L]</p>
      <p class="plan-price-text"><span class="starting-at">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-StartingAt]@L]</span> <span class="price">[@T[productprice:<current productid="32759" dropdecimal="false" period="monthly" negative="parentheses" symboltagname="span" symbolcssclass="currency-symbol" />]@T]<span class="monthly">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-Month]@L]</span></p>
    </div>
    <div class="purchase-button">
      <!-- <button>ADD TO CART</button> -->
      <a class="add-to-cart-table-button js-add-to-cart" data-value='{"pkgid": "wordpresspl_economy_12mo", "qty": 1, "itc": "slp_wordpress", "ci": "000000"}' href="#"></a>
    </div>
  </div>
</div>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th class="highlighted ovt-header">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-4-CheapCustomRegistrationStarter]@L]</th>
    <th class="ovt-header">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-3-WPEnginePersonal]@L]</th>
    <th class="ovt-header">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-PagelyPersonal]@L]</th>
    <th class="ovt-header">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-DreamHostDreamPress]@L]</th>
  </tr>
  <tr>
    <td colspan='7' class='table-section-header'> [@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-1-Features]@L]</td>
  </tr>
  <tr>
    <td colspan='7' class="spacer"></td>
  </tr>
  {% for ovt in oursVsTheirsTable %}
    <tr class="bordered">
      <td colspan='3' class="features-column">{{ovt.features}}</td>
      {% if ovt.ccrs == true %}
        <td><span class="check highligted-td"></span></td>
      {% elif ovt.ccrs == false %}
        <td><span class="minus highligted-td"></span></td>        
      {% else %}
        <td><span class="text highligted-td">{{ovt.ccrs}}</span></td>
      {% endif %}

      {% if ovt.wpEngine == true %}
        <td><span class="check"></span></td>
      {% elif ovt.wpEngine == false %}
        <td><span class="minus"></span></td>        
      {% else %}
        <td><span class="text">{{ovt.wpEngine}}</span></td>
      {% endif %}

      {% if ovt.pagely == true %}
        <td><span class="check"></span></td>
      {% elif ovt.pagely == false %}
        <td><span class="minus"></span></td>        
      {% else %}
        <td><span class="text">{{ovt.pagely}}</span></td>
      {% endif %}

      {% if ovt.dreamHost == true %}
        <td><span class="check"></span></td>
      {% elif ovt.dreamHost == false %}
        <td><span class="minus"></span></td>        
      {% else %}
        <td><span class="text">{{ovt.dreamHost}}</span></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
