<div class="table-top-section">
  <div class="difference-text">
    <h3>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-5-PeekUnderTheHood]@L]</h3>
    <p>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-31-IfYoureADeveloper]@L]</p>
  </div>
  <div class="starter-plan-wrapper">
    <div class="plan-info">
      <p class="plan-name">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-StarterPlan]@L]</p>
      <p class="plan-price-text"><span class="starting-at">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-StartingAt]@L]</span> <span class="price">[@T[productprice:<current productid="32759" dropdecimal="false" period="monthly" negative="parentheses" symboltagname="span" symbolcssclass="currency-symbol" />]@T]<span class="monthly">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-Month]@L]</span></p>
    </div>
    <div class="purchase-button">
      <!-- <button>ADD TO CART</button> -->
      <a class="add-to-cart-table-button js-add-to-cart" data-value='{"pkgid": "wordpresspl_economy_12mo", "qty": 1, "itc": "slp_wordpress", "ci": "94284"}' href="#"></a>
    </div>
  </div>
</div>
<table>
  {% for spec in specsSections %}
    <tr>
      <td colspan='2' class='table-section-header'>{{spec.sectionName}}</td>
    </tr>
    {% for td in spec.row %}
      <tr>
        <td class='left'>{{td.left}}</td>
        <td class='right'>{{td.right}}</td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
