---
location: sales/hosting/private-label/wordpress.aspx
id:   54469e92f778fc1834a2ac79
name: GCE-25511
comments: String Extraction/Tokenization
assetPath: false
localVars: true
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}
    {% parent %}

    <style type="text/css">
      .container{
        width: 1000px;
      }
      {% less %}
      {% include "css/styles.less" %}
      {% endless %}

    </style>

{% endblock %}

{% block body %}
<section class="banner-section">
  <div class="container">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="col-xs-6 banner-left">
          <h1> [@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-ManagedWordPress]@L]</h1>
          <p class="lead">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-7-YouCreateYourOwnDynamicSite]@L]</p>
          <p class="lead">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-8-WeManageYourSetupBackupsAndSecurity]@L]</p>
    </div>          
        </div>
        <div class="col-xs-6 banner-right">
          <div class="laptop-image">
             <img src="[@T[link:<imageroot />]@T]private-label/hosting/wordpress/img/Computer_Marquee.png">
        </div>
        <div class="header-list">
            <ul>
              <li>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-3-BlazingSpeed]@L]</li>
              <li>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-3-PowerfulDesign]@L]</li>
              <li>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-4-HassleFreeHosting]@L]</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tabbed-section">
  <div class="container">  
    <ul class="nav nav-tabs">
      <li class="active"><a class="js-tab-init" href="#plans-pricing" data-toggle="tab">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-PlansPricing]@L]</a></li>
      <li><a class="js-tab-init" href="#ours-vs-theirs" data-toggle="tab">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-3-OursVsTheirs]@L]</a></li>
      <li><a class="js-tab-init" href="#tech-specs" data-toggle="tab">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-2-TechSpecs]@L]</a></li>
      <li><a class="js-tab-init" href="#faq" data-toggle="tab">[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-1-FAQ]@L]</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="plans-pricing">
          {% include "_plans_and_pricing_tab.html" %}
        </div>
        <div class="tab-pane" id="faq">
          {% include "_faq_tab.html" %}
        </div>
        <!-- End FAQ -->
        <div class="tab-pane" id="ours-vs-theirs">
          <section id="ours-vs-theirs-section">
              {% include "_ours_vs_theirs.html" %}
          </section>
        </div>
        <!-- End Ours Vs Theirs Tab -->
        <div class="tab-pane" id="tech-specs">
          <section id="tech-specs-section">
              {% include "_tech_specs.html" %}
          </section>
        </div>
       </div>
    </div>
  </div>
</section>

<div id="disclaimer">
  <p>[@L[cds.sales/hosting/private-label/wordpress:WordPressPrivateLabel-DisclaimerSection]@L]</p>
</div>

<section id="plans-pricing-sub-section">
  <div class="container">
    {% include "_plans_and_pricing_sub_section.html" %}
  </div>
</section>

<section class="disclaimer-section">
</section>


{% endblock %}


{% block footer %}

<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    var linkText = $("#pretty-link").text();
    var splitLink = linkText.split('&');
    $("#pretty-link").text(splitLink[0]);
});

function displayDisclaimer(){
  if($('#ours-vs-theirs').is(':visible') || $('#faq').is(':visible')){
     $("#disclaimer").show(); 
  }
  else{
    $("#disclaimer").hide(); 
  }
};

function firstTabCheck(){
    if ($('#plans-pricing').is(':visible')) {
      $('#plans-pricing-sub-section').show();
    } else {
      $('#plans-pricing-sub-section').hide();
    }
}

$('.nav-tabs a.js-tab-init').each(function() {
    var $this = $(this);
    $this.click(function (e) {
        e.preventDefault();
        $this.tab('show');
        firstTabCheck();
    });
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

$('.js-add-to-cart').on('click', function(e) {
    e.preventDefault();
    var url = '[@T[link:<relative path="/api/package" parammode="explicit"/>]@T]';
    var plan = $(this).parents('form').serializeArray();
    console.log($.parseJSON(plan[0].value));
    // var planselected = $(this).attr('data-plan');
    // var cicode = $(this).attr('data-ci');
    // var mgrNumber = getParameterByName('mgrshopper');

    // url += '/add'; //action
    // ##if(isManager())
    // url += '/mgr_slp_wordpress'; //mgr itc code
    // ##else
    // url += '/slp_wordpress'; //itc code
    // ##endif
    // url += '/' + cicode; //ci code
    // url += '/1';
    // url += '/' + planselected; //Plan Name

    // ##if(isManager())
    // url += '/?mgrshopper=' +  mgrNumber;
    // ##endif

    // $.getJSON(url, function (data) {
    //     if (data.Success == true) {
    //             ##if(isManager())
    //             window.location = '[@T[link:<external linktype="MANAGERCARTURL" path="/basket.aspx" />]@T]';
    //             ##else
    //             window.location = '[@T[link:<external linktype="carturl" path="/basket.aspx" />]@T]';
    //             ##endif
    //     }
    // });
});


</script>
{% endblock %}