---
location: sales/hosting/private-label/wordpress.aspx
id:   53f3c877f778fc07b4296fc9
name: GCE-25517
comments: added styles to fix dropdown for de and ru
assetPath: false
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}

    {% parent %}

    <style type="text/css">
    {% less %}
    {% include "css/styles.less" %}
    {% endless %}
    </style>

{% endblock %}

{% block body %}

<section class="banner-section">
  <div class="container">
    <div class="banner-wrapper">
      <div class="banner">
        <div class="col-lg-6 col-md-6 col-sm-6 banner-left">
          <h1> Managed Wordpress</h1>
          <p class="lead">You create your own dynamic site.</p>
          <p class="lead">We manage your setup, backups and security.</p>          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 banner-right">
          <div class="laptop-image"></div>
          <div class="header-list">
            <ul>
              <li>Blazing speed.</li>
              <li>Powerful design.</li>
              <li>Hassle-free hosting.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="banner-button-wrapper">
        <button class="big-blue-buttoon">Get Started</button>
      </div>
    </div>
  </div>
</section>
<section class="tabbed-section">
  <div class="container">  
    <ul class="nav nav-tabs">
      <li class="active"><a href="#one" data-toggle="tab">One</a></li>
      <li><a href="#two" data-toggle="tab">Two</a></li>
      <li><a href="#twee" data-toggle="tab">Twee</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="one">One</div>
        <div class="tab-pane" id="two">Two</div>
        <div class="tab-pane" id="twee">Twee</div>
       </div>
    </div>
  </div>
</section>
<section class="disclaimer-section">
</section>


{% endblock %}


{% block footer %}

<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
<script type="text/javascript">
$('#myTab a').click(function (e) {
   e.preventDefault();
   $(this).tab('show');
});

$(function () {
$('#myTab a:last').tab('show');
})
</script>

{% endblock %}