---
location: sales/hosting/private-label/vps-hosting-config.aspx
id: 546125dbf778fc26a885ee41
name: GCE-28592
comments: Reseller /PL VPS Refresh
url: http://www.dev-secureserver.net/hosting/vps-hosting-config.aspx
assetPath: true
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}

{% parent %}

{% endblock %}

{% block body %}

<!-- Start main-banner -->
   <section class="main-banner main-banner-wp" style="background-size:cover;">
    <div class="t12 center">
        <span class="black b">Already own this product?</span>
        <a title="Manage now" class="blue-text" href="https://mya.dev-secureserver.net/default.aspx?ci=57595&amp;accid=2&amp;prog_id=hunter&amp;pl_id=1724">Manage now</a>
    </div>

</section>
  <!-- Start Config Content -->
        <section class="config-wrapper">
            <div class="container config-container-fixer">
                <div class="row">
                    <div class="col-xs-12" style="padding-left:0px;">
                        <div class="config-continue-to-cart-wrapper-top config-title-container">
                            <div class="config-title">
                                <h1>Configure your server</h1>
                            </div>
                         </div>
                    </div>
                    <div class="config-steps-wrapper">
                       <div class="config-step medium-margin-top-step backup">
                               <h2>Server Management Level</h2>
                                <p class="config-lead config-tagline">Our hosting experts with monitor and maintain your server so you (and your clients) are worry-free</p>
                                <div class="config-product-wrapper config-product-vps" >
                                    <div>
                                        <ul class="product-options" id="managedOptions">
                                        </ul> 
                                    </div>
                                </div>
                                                              
                                <!-- /End Product -->
                            </div> 
                            <div class="config-step-box-shadow backup"></div>
                            <div data-ci="" class="config-step-break move backup" data-scroll=".box2">
                                <span class="icon-down"></span>
                            </div>

                            <div class="config-step medium-margin-top-step box2">
                                <h2>Lock in your price</h2>
                                <p class="config-lead orange-text config-tagline">Choose extended terms to lock in this low price</p>
                                <div class="config-product-wrapper config-product-vps ">
                                    <div>
                                        
                                        <ul class="product-options" id="termOptions">
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                            </div>
                           
                                                     
                            <div class="config-step-box-shadow"></div>

                            <div class="config-continue-to-cart-wrapper">
                                <a data-ci="94077" id="continue-to-cart-button" class="btn btn-warning btn-lg js-addtocart box5"><span class="icon-shopping-cart"></span> Continue to cart</a>
                                <input type="hidden" id="osOption" > 
                                <input type="hidden" id="osAddonPrice">
                                <input type="hidden" id="isConfigUpdated" value="0">
                            </div> 
                    </div>
                    <!-- / End Left Column -->
                    <div class="config-cart-wrapper">
                        <div class="order-summary-wrapper">
                            <h2 >Server Configuration</h2>
                            <div class="order-total-wrapper">
                                <div class="order-item-details-wrapper">
                                    <p class="order-item-title package" id="summaryOS"></p>
                                    <p class="order-item-title" id="summaryRAM"></p>
                                    <p class="order-item-title" id="summaryStorage"></p>
                                    <p class="order-item-title" id="summaryBandwidth"></p>
                                    <p class="order-item-title" id="summaryAddon"></p>
                                    <p id="summaryTerm"></p>
                                    <div class="order-item-addons-wrapper">
                                      <span  id="summaryPrice" class="plan-price currency-amount" ></span>
                                     </div>
                                    <div class="subtotal-disclaimer">
                                       <p>Total</p>
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </section>
        <!-- /End Config Content -->
<section class="l-main-content">
    <div class="vps-faq l-main-container">
        <div class="row">
            <div class="col-xs-12" >
                <div class="plan-summary-container brpl-all-plans-include" >
                   
                    <div class="footer-header-container">
                        <div class="brpl-plan-include-header float-left">
                            All Plans Include
                        </div>
                       
                    </div>
                 
                    <div class="featuretab_bullet_div floatleft">
                            <ul class="bullets">
                                <li>World-class data centers</li>
                                <li>Best-of-Breed routers, firewalls and servers</li>
                                <li>FREE email addresses</li>
                                <li>99.9% uptime guarantee</li>
                            </ul>
                    </div>  
                    <div class="featuretab_bullet_div floatleft">
                            <ul class="bullets" style="vertical-align: top;">
                                <li>One-click install of free applications</li>
                                <li>Unlimited Monthly Bandwidth</li>
                                <li>Flexible, easy-to-use control panel with cPanel for Linux</li>
                                <li>Unlimited File Transfer</li>
                            </ul>
                    </div>
                    <div class="featuretab_bullet_div floatleft">  
                             <ul class="bullets" style="vertical-align: top;">
                                <li>1 GB storage MySQL linux databases</li>
                                <li>NO hidden fees</li>
                                <li>24/7 security monitoring and DDoS protection</li>
                             </ul>
                     </div>

                    <div class="floatleft featureTabLast">
                        <strong> Need more power?</strong> Then get one of our <span class="blueText">Virtual Private</span> or <span class="blueText">Dedicated servers</span>
                    </div>
                 </div>
                     
                </div>
                             
            </div>
        </div>
    </div>
   
</section>>
	<!-- End main-banner -->
	{% endblock %}

   	{% block footer %}

	<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
	<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
	<script src="[@T[link:<javascriptroot />]@T]fos/office365/js/currency-calc.v1.0.3.min.js" type="text/javascript"></script>
	<script>
      if(typeof currencyCalc != "undefined"){
        currencyCalc.base = "[@T[currencyprice:<price usdamount="1000000000" dropdecimal="false" dropsymbol="false" htmlsymbol="false" negative="parenthesis" />]@T]";
      }
    </script> 
	<script>
      $(document).ready(function() {
        var plan = Config.getParameterByName('plan');

        Config.loadData(plan);

         $('.js-addtocart').on('click',function (e){
          e.preventDefault();
          $(this).unbind('click');
          var $this = $(this);
          var ci = $this.attr('data-ci');
          var osOption = $('#osOption').val().split('_')[3];

          var itccode = $("#isConfigUpdated").val() === "0" 
                        ? osOption == 'linux' ? 'pro_VPS_Linux':'pro_VPS_Windows'
                        : osOption == 'linux' ? 'pro_VPS_Linux_config':'pro_VPS_Windows_config';
          var qty = 1;
          var packageId = $('input:radio[name="termOption"]').filter(':checked').val();
          var addons = Config.generateAddonsURL();
          var quantity=1;
          
                   
          var apiEndpoint = '[@T[link:<relative path="/api/package/{0}/{1}/{2}/{3}/{4}" parammode="explicit"/>]@T]'.replace('{0}','update').replace('{1}',itccode).replace('{2}',ci).replace('{3}',quantity).replace('{4}',packageId);

          apiEndpoint =apiEndpoint +addons + '&prog_id=hunter';
         
          $.ajax({
                type: 'POST',
                url: apiEndpoint,
                dataType: 'json',
                success: function (data) {
                      if (data.Success) {
                       window.location = '[@T[link:<external linktype="carturl" path="/basket.aspx" ></external>]@T]';
                      
                    }
                },
               error: function(){
                if(console != undefined)
                  {
                    console.log('package api post failure');
                  }
                success = false;
            }
          });
        });       
       

      });

      var Config = {
        loadData: function(plan){      
          
          var defaultPackageId=plan; 
          var planMonths =  plan.split('_').pop(1);
          plan = plan.replace('_'+ planMonths,'');
          var url = '[@T[link:<relative path="~/api/package/config/{0}"/>]@T]'.replace('{0}',plan);
          

          $.getJSON(url).success(function (data){
              processConfigData(data,defaultPackageId);
              Config.buildProductOrder(data);
          });
          
        },
        getParameterByName: function(name){
          name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
          var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
              results = regex.exec(location.search);
          return  decodeURIComponent(results[1].replace(/\+/g, " "));
        },
        refreshCart: function(){
          var termOption =$('input:radio[name="termOption"]').filter(':checked');
          var managedOption =$('input:radio[name="managedOption"]').filter(':checked');
          var term = termOption.data('term');
          var monthString = (term > 1) ? " months" : " month";
          var managedPrice = managedOption.data('price');
          var managedName = managedOption.data('name');

          Config.updateProductPrice(currencyCalc.stripFormat(managedPrice)); 
            
          var termPrice = termOption.attr('data-price');
          planPrice= currencyCalc.evaluate([term,"*",termPrice]);
          
          
          $('#summaryAddon').html(managedName);
          $('#summaryTerm').html(term + monthString);
          
          $('.currency-amount').html(planPrice +' per month');
          
          
          //$('#addonPrice').html(termOption.attr('data-price')+' per month');
          
        },
         refreshMangedPrices: function(){
          var selectedAddonPrice = $('input:radio[name="managedOption"]').filter(':checked').data('price');
          var selectedAddonValue = currencyCalc.stripFormat(selectedAddonPrice);
          var addonValue = 0;

          $('input:radio[name="managedOption"]').filter(':checked').parent().find('.price-container').html('<span class="orange-text"> Included </span>');

          $('input:radio[name="managedOption"]').not(':checked').each(function (){
            addonValue= currencyCalc.stripFormat($(this).data('price'));
             if (parseFloat(addonValue)>parseFloat(selectedAddonValue)){
              $(this).parent().find('.price-container').html('<span class="orange-text"> Add '+ currencyCalc.evaluate([$(this).data('price'),"-",selectedAddonPrice]) +'/mo</span>');
            }else{
              $(this).parent().find('.price-container').html('<span class="product-desc"> Subtract '+ currencyCalc.evaluate([selectedAddonPrice,"-",$(this).data('price')]) +'/mo</span>');
            }
          });

          Config.updateProductPrice(selectedAddonPrice);

        },
        updateProductPrice : function(managedAddonPrice){
          var osAddonPrice = currencyCalc.stripFormat($('#osAddonPrice').val()); 
          
          $("#termOptions").find("input[type=radio]").each(function(){
            var term = $(this);
            var totalAddonPrice  =currencyCalc.evaluate([osAddonPrice,"+",managedAddonPrice]); 
            var totalAddonPrice =getAddOnDiscount(term.data('addondiscount'),totalAddonPrice);
          
            var totalPrice = currencyCalc.evaluate([totalAddonPrice,"+",currencyCalc.stripFormat(term.data('price'))]); 
            term.attr('data-price',totalPrice);
            term.parent().find('.price').text(totalPrice + "/mo");

          });
         
         var oneMonthPrice = $("#termOptions").find("input[type=radio]").first().attr('data-price');
          $("#termOptions").find("input[type=radio]").each(function(){
            var secondaryPrice = $(this).attr('data-price');
            var percent = getPercentage(oneMonthPrice,secondaryPrice);
            if(percent > 0){
               var savingsString = " - SAVE&nbsp;" + percent + '%' ;
               var strikeString=  "<span class='product-desc'> - <strike>" + oneMonthPrice + "</strike>/mo</span>" ;
               $(this).parent().find('.price').append(savingsString + strikeString);
            }
          });
           
        },
        buildProductOrder: function(data){
         
          var planRAM = data.details.ram;
          var planStorage = data.details.storage;
          var planBandwidth = data.details.bandwidth;
          var plan = $("input:radio[name='termOption']:checked");
          var managedAddon= $("input:radio[name='managedOption']:checked");
          var monthString =  (plan.data('months') > 1) ? " months" : " month";

          $('#summaryRAM').html('<span class="server-summary">' + planRAM +'</span> RAM');
          $('#summaryStorage').html('<span class="server-summary">' + planStorage +'</span> Storage ');
          $('#summaryBandwidth').html('<span class="server-summary">' + planBandwidth +'</span> Bandwidth');
         

        },
        init: function (){
          Config.refreshCart();
         
          $('input:radio').change(function(){
            Config.refreshCart();
            $("#isConfigUpdated").val("1");
          }); 

           $('input[name=managedOption]').change(function(){
            Config.refreshMangedPrices();
            $("#isConfigUpdated").val("1");
          }); 
        
          $('.isToolTip').tooltip();
        },
        generateAddonsURL: function(){
          var addonURL='';
          var managedOption =$("input:radio[name='managedOption']:checked");
          var managedPrice = managedOption.data('price');
          var osOption =$("#osOption").val();
          addonURL+= '?addons='+osOption + "-1" ;
          if(currencyCalc.stripFormat(managedPrice) > 0)
            addonURL+= '|'+ managedOption.val() +"-1";
          return addonURL;
        }
      };

      function processConfigData(data,defaultPackageId){
        //var planDetails = Config.getParameterByName('plan').split('_');
        generateManagedOption(data.addons.managed); 
        generateTermOption(data.terms,defaultPackageId);  
        $('#osOption').val(data.addons.os.id);   
        $('#osAddonPrice').val(data.addons.os.addonprice);
        Config.init();
      }
     
      
      function generateManagedOption(managedAddOns){       
        
        var optionname= "managedOption"
        var parentid = $("#managedOptions");
        var planaddons = Config.getParameterByName("planaddons").split('|');        
        var managedDescHtml="<ul class='managed-details'><li><b>{0}</b></li> <li>{1}</li></ul>";
        var defaultAddOn = planaddons[0];
        
        parentid.empty();
        $.each(managedAddOns, function(i, item) {
            var content='';
           var checked =  item.id == defaultAddOn ? 'checked="checked"' :'';

          content += '<li><input type="radio" style="margin-right:4px;" name="'+optionname+'" value="'+item.id+'"  data-price="'+item.addonprice+'" data-name="'+ item.addonname+'" ' + checked +'/><b>'+ item.addonname+ '</b> -<div class="price-container"></div>' +  managedDescHtml.replace("{0}",item.os).replace("{1}",getIncludesText(item)) +'</li>';       
        parentid.append(content); 
        });
              
        generateManagementPrices();      
     }

      function getIncludesText(managedOption){
        var includes="";
        ##if(countrySiteAny(www))
            includes =managedOption.includes;
        ##else 
            if($.trim(managedOption.addonname.toUpperCase()) == "FULLY-MANAGED") 
                  includes= $('#osOption').val().split('_')[3] == 'linux' 
                                                                  ? "Includes: Dedicated team of server admin experts (Available in English) | cPanel® | Patching | Security | Monitoring | Backups "
                                                                  : "Includes: Dedicated team of server admin experts (Available in English) | Parallels® Plesk | Patching | Security | Monitoring | Backups"
            else
                includes =managedOption.includes; 
        ##endif

        return includes;

      }
      function generateManagementPrices(){     

         var monthString = "/mo";
         var selectedAddon = $('input:radio[name="managedOption"]').filter(':checked');
         var selectedAddonPrice = selectedAddon.data('price');
         selectedAddon.parent().find('.price-container').append('<span class="orange-text"> Included </span>');

         $('input:radio[name="managedOption"]').not(':checked').each(function (){          
            var price = $(this).data('price');            
            var selectedAddonValue = currencyCalc.stripFormat(selectedAddonPrice);
            var addonValue = currencyCalc.stripFormat(price);
            
            if (parseFloat(addonValue)>parseFloat(selectedAddonValue)){
              $(this).parent().find('.price-container').append(' <span class="orange-text"> Add '+ currencyCalc.evaluate([price,"-",selectedAddonPrice]) + monthString +'</span>');
            }
            else{
              $(this).parent().find('.price-container').append( ' <span class="product-desc"> Subtract '+ currencyCalc.evaluate([selectedAddonPrice,"-",price]) + monthString +'</span>');
            }

         });
                       
      }
      function generateTermOption(terms,defaultPackageId){
        var optionname= "termOption"
        var parentid = $("#termOptions");
        parentid.empty();
        $.each(terms,function (){
            if(this != '')
            {
                var planItem=this.split('-');
                var monthString =  (planItem[0] > 1) ? "months" : "month";
                var packageId= planItem[1];
                var price =  planItem[3];
                var addonDiscount =planItem[2];
                //var savingsString = (planItem[3] > 0) ? " - [@L[fosconfigcommon:save]@L]&nbsp;" + planItem[3] + '%' : ''; 
                //var strikeString= (planItem[3] > 0) ? "<span class='product-desc'> - <strike>" + planItem[4] + "</strike>[@L[fosconfigcommon:permonth]@L]</span>" :'';
            
                var checkedRadiobutton= (defaultPackageId ===  packageId) ?"checked='checked'" : '';
                
            }
            var content='';
            content += '<li><input type="radio" name="'+optionname+'" value="'+packageId+'"  data-addondiscount="'+ addonDiscount+'" data-term="' +  planItem[0] + '" data-price="'+price+'"'+ checkedRadiobutton + '/><span><strong> '+planItem[0] +' '+ monthString + ' - '+' </strong></span><span class="price orange-text"> '+price + ' /mo </span></li>';
            parentid.append(content);
                           
        });       

      }

     

      function getPercentage(primaryPrice, secondaryPrice){
        var difference = currencyCalc.evaluate([primaryPrice,"-",secondaryPrice]);
        var division= currencyCalc.stripFormat(difference) / currencyCalc.stripFormat(primaryPrice)
        return parseInt(Math.floor(division * 100));
      }

      function getAddOnDiscount(discountPercent,totalAddonPrice){
         var totalDiscountedAddon = currencyCalc.evaluate([discountPercent,"*",totalAddonPrice]); 
         totalDiscountedAddon = currencyCalc.stripFormat(currencyCalc.evaluate([totalDiscountedAddon,"/",100])); 
         totalAddonPrice =currencyCalc.evaluate([totalAddonPrice,"-",totalDiscountedAddon]); 

         return totalAddonPrice;
      }
     
    </script>
	{% endblock %}