extends ../_banner-small.jade

block append vars
  - dataCi = 96330;
  - containerClass = "support";
  - logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjMwIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgMzAgMzUiPjxwYXRoIGQ9Ik0yNy4zIDE4LjFMMjYuOCAyNSAyNiAyNi4zIDIyLjcgMjYuMyAyMy41IDE3IDI2LjEgMTcuMSAyNy4zIDE4LjF6TTI4LjYgMjYuN0wyNi41IDMwLjEgMTkgMzUgMTYuNCAzNSAxNSAzMi44IDE1LjYgMzAuNyAxNS44IDMwLjcgMTkuMSAzMS43IDI1LjggMjkuMSAyNy41IDI2LjcgMjguNiAxMCAyMC44IDQgOCA0LjEgMS44IDEwLjQgMi43IDIxLjggMiAyMS45IDAgOS45IDguMSAwIDIxLjUgMC4yIDMwIDkuNyAyOC42IDI2Ljd6TTMuNiAxNy4zTDYuOSAxNy4zIDcuNiAyNS44IDQuNiAyNi4yIDMuNSAyNS4yIDIuNyAxNy45IDMuNiAxNy4zeiIgZmlsbD0iIzc3QzA0MyIvPjwvc3ZnPg==";
  - logoImageFallback = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAjCAMAAAC0CkrjAAAAn1BMVEVMaXF3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEMw6YVHAAAANHRSTlMARxWg2t0Q7wPrers4nPYBzvnE5/yQqDMaBgofrCQOppUpgZlVsXJhylviP21QZ4jVi/JZraDZTwAAATZJREFUeF510uduwkAQhdHrAl5X3MCNYnovSe77P1tsFIt4Yc/P+aSRRhr80VJGVmvQmhboWVrsWQj8MzcpqfEiXL5xXnlMjoeNbqNYpeSxq3uyHqFHsxlpePIirqUKVAcGHhq5Tb+psqKmPQPKkIbAJ8fA1DF53ShbmiESU0BlZ8E1obQyUVtQGse4sYCKscWZOVS2PnRmUInvgK1B5bED4kvtuhNI7pbli2QPrBckI0ja4TnQgIvBxlzKLkmPGaAZKcmZlEOSGSsgX59IelI+PXOJxoHkVcoBGXkBWlOSe/SUJBPt1L0aHfRUJB/HA1qeRXuHnoykc3HxpA8h0TebTbHyoYYqWUJNxA6U5rcwFHgz0wGMzkbAbY530zR2HJO0f/CJzaeJjo++2EiuUCgH/DaG6PwCZdQqzgnLcf4AAAAASUVORK5CYII=";
  - titleText = "[@L[cds.tmsv2/content/homepage/customer-care/banner-small:title]@L]";
  - bodyText = "[@L[cds.tmsv2/content/homepage/customer-care/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/customer-care/banner-small:cta]@L]";
  - ctaLink = "tel:+[@T[supportphone:<technical />]@T]";

block scripts
  script.
    $('html[lang="en-gb"] .banner-small.support .promo-cta a').attr('href',$('.banner-small.support .promo-cta a').attr('href').replace(/020/i,"4420"));