extends ../_banner-medium-basic.jade

append vars
  - ciCode = '98071'
  - classes = 'ad-credits'
  - titleText = 'Free Advertising Credits.'
  - bodyText = 'Increase traffic to your site with Advertising Credits.'
  - ctaText = 'Learn More'
  - ctaLink = '[@T[link:<external linktype="myaurl" path="/payments.aspx"><param name="ci" value="' + ciCode + '"/><param name="paymentstab" value="adcredits"/></external>]@T]'