---
location: sales/ecommerce/onlinestore.aspx.rule
id: 53a09bdef778fc1f147d43b1
name: FOS-20286
---
[
  {
    'Type': 'Redirect',
    'Condition': 'mobileRedirectRequired()',
    'Data': "{ 'Type' : '302', 'Loc': '[@T[mobileRedirectLink:<data redirectKey=\"sales.productlanding.ssl\" />]@T]' }"
  },
  {
    'Type': 'Redirect',
    'Condition': 'siteContextAny(br, pl)',
    'Data': "{ 'Type' : '301', 'Loc': '[@T[link:<relative path=\"~/ssl/ssl-certificate.aspx\"><param name=\"ci\" value=\"83725\"/></relative>]@T]' }"
  },
  {
    'Type': 'Redirect',
    'Condition': 'siteContextAny(wwd)',
    'Data': "{ 'Type' : '302', 'Loc': '[@T[link:<relative path=\"~/\" />]@T]' }"
  },
  {
    'Type': 'Route',
    'Condition': 'splitTestingSideIsActive(1212, B)',
    'Data': "{ 'Loc': 'sales/ssl/ssl-certificates-b' }"
  }
]