extends ../_hero-arrow.jade

append vars
  - var classes = "ddc-1";
  - var ciCode = 95850;
  - var ctaLink = "[@T[link:<relative path='/domains/discount-domains.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  h2.font-md.black.text-white Love domains?
  p.font-lg.black.text-white Join the club.

block rightContent
  p.font-md.black Save up to [@T[productcompare:<percent primaryproductid="11601" secondaryproductid="11601" primarypricetype="8" secondarypricetype="0" showsymbol="true"/>]@T]
  p.font-lg.black every day
  a.btn.btn-md.btn-purchase(href!=ctaLink) Join Discount Domain Club