extends ../_hero-arrow.jade

append vars
  - var classes = "ddc-1";
  - var ciCode = 95850;
  - var ctaLink = "[@T[link:<relative path='/domains/discount-domains.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white LOVE DOMAINS?
  p.font-lg.black.text-white JOIN THE CLUB.

block rightContent
  p.font-md.black SAVE UP TO
  p.font-lg.black [@T[productcompare:<percent primaryproductid="11601" secondaryproductid="11601" primarypricetype="8" secondarypricetype="0" showsymbol="true"/>]@T] EVERY DAY
  a.btn.btn-md.btn-purchase JOIN DISCOUNT DOMAIN CLUB