extends ../_hero-arrow.jade

append vars
  - var classes = "wsb-free-domain-typo";
  - var ciCode = 95862;
  - var ctaLink = "[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block append styles
  style
    :less
      .hero-wrapper .wsb-free-domain-typo{
        .left-content{white-space: nowrap;display:inline-block;
            .addition{}
            .domain{width:35%;}
            .wbld{width:35%;}
          }
        }


block leftContent
  <!--[if lt IE 9]>
  img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/icn-domain-black.png").www
  <![endif]-->
  img.www.domain.svgfallback(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOCIgaGVpZ2h0PSI0MyIgdmlld0JveD0iMCAwIDM4IDQzIj48ZyBmaWxsPSIjMEEwQjA5Ij48cGF0aCBkPSJNMjMgMkwyMiAwIDE5IDEgMTkgMTMgMjQgMTMgMjMgMk0yOSA3TDI3IDQgMjUgNSAyNSAxMyAyOSAxMyAyOSA3TTExIDdMOSA4IDggMTAgNyAxMyAxMiAxMyAxMSA3TTE3IDNMMTYgMyAxNCA0IDEzIDEzIDE4IDEzIDE3IDNNMTMgMTVMMTQgMjUgMTggMjUgMTkgMjAgMjAgMjUgMjQgMjUgMjUgMTUgMjYgMjAgMjcgMTYgMjkgMTcgMjkgMTQgMjIgMTQgMjIgMjAgMjEgMTQgMTcgMTQgMTcgMjEgMTYgMTQgOSAxNCA5IDIwIDggMTQgNSAxNCA0IDIxIDMgMTQgMCAxNCAyIDI1IDYgMjUgNiAyMCA3IDI1IDExIDI1IDEzIDE1TTM1IDE0TDM0IDIwIDMzIDE0IDMwIDE0IDMwIDE3IDMyIDE4IDMyIDI1IDMyIDI1IDM2IDI1IDM4IDE0IDM1IDE0TTI4IDE4TDI1IDI1IDIwIDI3IDE4IDMyIDE3IDI2IDcgMjYgNyAzMiAxMCAzOSAxOSA0MiAyNyA0MSAzMiAzMSAzMSAxOSAyOCAxOCIvPjwvZz48L3N2Zz4=")
  p.font-md.black Domain
  span.addition.font-lg.black [@L[cds.sales/homepage/heros/got:additionSign]@L]
  <!--[if lt IE 9]>
  img.img-responsi(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/icn-website-black.png").pencil
  <![endif]-->
  img.wbld.pencil.svgfallback(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNSIgaGVpZ2h0PSIzNyIgdmlld0JveD0iMCAwIDM1IDM3Ij48ZyBmaWxsPSIjMEEwQjA5Ij48cGF0aCBkPSJNMjMgMTZMMzIgMTcgMTQgMCA4IDAgMjMgMTZNMTYgMjJMMjMgMjIgMjMgMTcgNyAwIDEgNSAxNiAyMk0xNSAyOUwxNSAyMyAwIDYgMSAxNSAxNSAyOU0zMCAyOUwzMyAyOCAzMyAxOCAyNSAxNyAyNCAyNCAxNiAyNCAxNiAzMCAyNyAzMyAzMCAyOU0zMSAzMUwyOSAzNCAzNCAzNSAzMyAzMCAzMSAzMSIvPjwvZz48L3N2Zz4=")
  p.font-md.black Website Builder
block rightContent
  p.font-md.black FREE DOMAIN</br>WHEN YOU BUY WEBSITE BUILDER
  p.font-md.black.text-purchase [@T[productprice:<current productid="7524" period="monthly" />]@T]/MONTH
  p.font-md.black THIS IS NOT A TYPO</br>AND IF IT IS, HURRY BEFORE WE FIGURE IT OUT.
  a.btn.btn-md.btn-purchase(href!=ctaLink) GET STARTED
  p.font-sm.disclaimer Free domain with annual plan only. Other restrictions apply.