body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
}
#main-wrap *,
#head-wrap *,
#body-wrap *,
#foot-wrap * { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif!important }
#head-wrap,
#body-wrap,
#foot-wrap {
    width: 1000px;
    margin: 0 auto;
    clear: both;
}
#main-wrap h1 {
    font-size: 25px;
    color: #333;
    padding: 30px 0 0 0;
    margin: 15px 0 0 0;
}
#main-wrap h2 {
    font-size: 28px;
    color: #333;
    font-weight: 300;
    padding: 25px 0 0 0;
}
#main-wrap h3 {
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
#main-wrap p {
    font-size: 16px;
    color: #333;
    clear: both;
}
#head-wrap h1 {
    font-size: 40px;
    width: 100%;
    padding: 25px 0 10px;
    line-height: 48px;
    color: #333;
}
#head-wrap h1.trademark { padding: 65px 0 30px }

#smd-file-available,
#trustee-error,
#trustee-form,
#trademark-owner,
#smd-file-available,
#eligibility-form-templates { display: none }
#eligibility-form { min-height: 200px }
#upload-smd-file {
    margin: 30px 0 -5px;
    display: none;
    width: 718px;
}
#upload-smd-file>div { height: 175px }
#current-domain-div {
    font-size: 22px;
    margin: 0;
    padding: 0 0 20px 0;
    color: #3182e6;
    border-bottom: #cfcfcf 1px solid;
    width: 1000px;
}
#current-domain-div span#extension { font-weight: bold }
div#smd-why {
    width: 700px;
    font-size: 18px;
    margin: 25px 0;
    line-height: 30px;
    color: #3182e6;
}
div#smd-info {
    width: 656px;
    border: #cfcfcf 1px solid;
    padding: 25px;
}
div#smd-info a {
    text-decoration: none;
    color: #3282e6;
}
div#smd-info a:hover { text-decoration: underline }
div#smd-info>p {
    font-size: 14px;
    padding-top: 0;
    line-height: 20px;
}
#msgError { margin: 10px 0 }
span.g-toolTip {
    background: url(../../../tlds/img/tooltip.png) no-repeat scroll 2px 2px rgba(0,0,0,0);
    content: "";
    height: 5px;
    padding: 9px;
    position: absolute;
    width: 15px;
    margin: 4px 0 0;
}
.g-toolTip {
    cursor: pointer;
    position: relative;
}
.g-toolTip span:after {
    border-bottom: 7px solid rgba(0,0,0,0);
    border-right: 12px solid #262626;
    border-top: 0 solid rgba(0,0,0,0);
    content: "";
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 999;
}
.g-toolTip span {
    background: none repeat scroll 0 0 #262626;
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
    left: 35px;
    line-height: 16px;
    padding: 8px;
    position: absolute;
    text-align: left;
    top: 11px;
    white-space: normal;
    width: 235px;
    z-index: 999;
}
.g-toolTip span { display: none }
.g-toolTip:hover span { display: block }
.spinner-area {
    min-height: 150px;
    width: inherit;
}
.action-buttons {
    text-align: right;
    padding: 20px 0;
}
.invalid { border: 1px solid red!important }
input.invalid:focus { outline: 0 }
div#tui-container>span {
    font-size: 18px;
    line-height: 30px;
}
.flt-btn-inactive-orng {
    background: none repeat scroll 0 0 #ffe3ba!important;
    border-bottom-color: #ffe3ba!important;
    cursor: default;
}
.flt-btn-inactive-grey {
    background: none repeat scroll 0 0 #e3e3e3;
    border-bottom-color: #e3e3e3;
    cursor: default;
    text-decoration: none!important;
}
#registration-cancel-btn {
    background: 0;
    border-bottom: 0;
    color: #8b8b8b;
    padding: 0;
    margin-right: 16px;
}
#registration-continue-btn {
    background:#3182E6 !important;
    border-bottom:3px solid #1D6CCD !important;
}
#registration-continue-btn:hover {
    background:#5A9BEB !important;
    border-color:#327CD7 !important;
}
#registration-continue-btn:active {
    background:#327CD7 !important;
    border-color:#327CD7 !important;
}
#registration-search-btn {
    background:#8B8B8B !important;
    border-color:#727272 !important;
}
#registration-search-btn:hover {
    background:#A2A2A2 !important;
    border-color:#838383 !important;
}
#registration-search-btn:active {
    background:#727272 !important;
    border-color:#727272 !important;
}
#registration-cancel-btn:hover { text-decoration: underline }
#eligibility-form .red { color: red }
#eligibility-form .g-toolTip { margin: 10px 0 0 5px }
form h1 {
    font-size: 22px;
    color: #333;
    margin: 0;
    padding: 10px 0 0 0;
}
form h2 {
    padding: 12px 0 0 0;
    margin: 0 0 5px 0;
    font-size: 20px;
}
form h3 {
    margin: 6px 0 0 0;
    font-weight: bold;
    font-size: 14px;
    max-width: 940px;
    display: inline-block;
}
form p {
    margin: 5px 0 0 0;
    padding: 0 0 0 32px;
    font-size: 15px;
    font-weight: 100;
}
form input {
    margin: 5px 0 0 0;
    height: 26px;
}
form input[type="text"] { width: 300px }
form div>label {
    font-weight: 700;
    font-size: 17px;
    display: block;
    margin: 15px 0 5px 0;
}
form div.radioBtnGroup>div>label {
    display: inline-block;
    margin: 0;
}
#claims-form .claims-header h3 { font-size: 20px }
#claims-form p { padding: 5px 0 }
#claims-form p.text-center { font-size: 25px }
#claims-form div.field div.disclaimer-container div {
    border: 1px solid #ccc;
    margin-top: 10px;
}
#claims-form form {
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin-top: 15px;
}
#claims-form form table { margin: 10px }
#claims-form form table .col1 { width: 50px }
#claims-form form table .col2 { padding-right: 15px }
#claims-form form strong { font-weight: bold }
form input[type="checkbox"] {
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;  
}
form div.toggle {
    background: url(//img1.wsimg.com/cart/icons/FOS-9911_payment_icons.png) no-repeat -62px -87px;
    height: 24px;
    width: 23px;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}
form div.toggle.checked { background: url(//img1.wsimg.com/cart/icons/FOS-9911_payment_icons.png) no-repeat -107px -86px }
form input[type="radio"] { 
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0; 
}
form span.radio {
    background: url(../../domain-configuration/img/DPP_sprite.png) no-repeat -157px -8px;
    vertical-align: top;
    display: inline-block;
    height: 35px;
    margin: 0 20px 0 0;
    width: 35px;
    cursor: pointer;
}
form span.radio.checked {
    background: url(../../domain-configuration/img/DPP_sprite.png) no-repeat -121px -7px;
    vertical-align: top;
    display: inline-block;
    height: 35px;
    margin: 0 20px 0 0;
    width: 35px;
    cursor: pointer;
}
#main-wrap .selectstyleui {
    position: relative;
    font-size: 14px!important;
    color: #262626;
    width: 300px;
    margin: 5px 0 0 0;
}
#main-wrap .selectstyleui>.ss-value {
    border: solid 1px #b3b3b3;
    background-color: #fff;
    height: 34px;
    line-height: 34px!important;
    position: relative;
    width: 100%;
}
#main-wrap .selectstyleui>.ss-value>.ss-content {
    display: inline-block;
    margin-left: 10px;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
#main-wrap .selectstyleui>.ss-value>.ss-after {
    background: url(//img1.wsimg.com/pc/img/1/1740_header_sprite.png) no-repeat -111px -123px;
    display: block;
    height: 7px;
    width: 12px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -3px;
}
#main-wrap .selectstyleui>.ss-options {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: solid 1px #b3b3b3;
    display: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 180px;
}
#main-wrap .selectstyleui>.ss-options>.ss-option {
    padding: 6.5px 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#main-wrap .selectstyleui>.ss-options>.ss-option:hover {
    background-color: #70ac00;
    color: #fff;
}
#main-wrap .selectstyleui>.ss-options>.ss-option>.ss-content {
    display: inline-block;
    max-width: 92%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
#main-wrap .selectstyleui>.ss-options>.selected { background-color: #eff6e3 }
#defaultOption { display: none }
#main-wrap .error {
    color: red;
    font-style: italic;
    width: 100%;
}
#main-wrap .hidden { display: none }
#uk-header{
  font-size: 40px; 
  margin: 0; 
  padding: 0 0 8px 0; 
  color: #333333; 
  border-bottom: #cfcfcf 1px solid; 
  width: 1000px;
}
#uk-alert{
  background-color: #F00000;
  color: #FFFFFF;
  font-size: 14px;
  padding: 9px 0px 8px 0px;
  margin: 10px 0 0 0;
}
#uk-alert-icon {
  background: url(//img1.wsimg.com/cart/icons/FOS-9911_payment_icons.png) no-repeat -928px -98px;
    height: 23px;
    width: 25px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  margin-left: 6px;
    margin-bottom: 2px
}
#uk-alert-text {
  display:inline-block; 
  width:935px;
}
#uk-alert-close{
  background: url(//img1.wsimg.com/fos/domains/gtld-registration/img/close_alert.png) no-repeat 0px 0px;
    vertical-align: top;
    display: inline-block;
    height: 15px;
    margin: 5px 0px 0 0;
    width: 15px;
    cursor: pointer;
}
#uk-disclaimer {
  font-size:18px; 
  margin:0; 
  padding:12px 0 0 0; 
  color: #333333
}
#uk-domains-header{
  font-size: 18px; 
  margin: 0; 
  padding:24px 0 0 0; 
  color: #333333; 
  font-weight: bold
}
#uk-domains-list{
  font-size: 18px; 
  margin: 0; 
  color: #333333;
  padding:0 0 27px 0;
}
/* NYC specific styles */
#main-wrap #eligibility-form > form.nyc_eligibility .error {font-size: 10px; font-style: normal}
b, strong {font-weight: bold !important}
#eligibility-form > form.nyc_eligibility > h1 {font-size: 40px;border-bottom: 1px solid;border-color: #b3b3b3;padding-bottom: 10px}
#eligibility-form > form.nyc_eligibility > .headingText, #eligibility-form .headingText > p  {font-size: 18px; margin: 20px 0; padding: 0; color: #333}
#eligibility-form > form.nyc_eligibility > .headingText > ul {list-style: inherit; margin-top: 20px}
#eligibility-form > form.nyc_eligibility > .headingText > ul > li {margin: 0 40px}
#eligibility-form > form.nyc_eligibility > div.field > h2 {font-size: 14px;margin: 0;padding: 20px 0 0;}
#eligibility-form > form.nyc_eligibility > div.field > h2:after {content:" *"; color: red; margin-top: -5px}
#eligibility-form > form.nyc_eligibility > div.tui-address2 > h2:after, #eligibility-form > form > div.tui-fax > h2:after, #eligibility-form > form > div.tui-companyName > h2:after {display:none}
#eligibility-form > form.nyc_eligibility > div.field > h2 >.g-toolTip {display:none}
#eligibility-form > form.nyc_eligibility input {font-size: 14px;border: 1px solid;border-color: #B3B3B3;padding: 4px 10px;width:98%}
#eligibility-form > form.nyc_eligibility #tui-firstName {margin-right:20px}
form.nyc_eligibility div.tui-firstName, form.nyc_eligibility div.tui-lastName, form.nyc_eligibility div.tui-city, form.nyc_eligibility div.tui-stateOrProvince, form.nyc_eligibility div.tui-zipCode {display: inline-block}
form.nyc_eligibility div.tui-firstName, form.nyc_eligibility div.tui-lastName {width: 48%}
form.nyc_eligibility div.tui-phone, form.nyc_eligibility div.tui-fax {width: 50%}
form.nyc_eligibility div.tui-lastName {margin-left: 30px}
#main-wrap .selectstyleui>.ss-value>.ss-content{display:inline}
form.nyc_eligibility div.tui-city {width:41%}
form.nyc_eligibility div.tui-zipCode {width:22%}
#main-wrap #eligibility-form > form.nyc_eligibility > div.tui-zipCode > .error {position: absolute}
form.nyc_eligibility div.tui-stateOrProvince {margin: 0 20px 0 33px}
#main-wrap div.tui-country > .selectstyleui {width: 100%}
#main-wrap > form.nyc_eligibility div.tui-stateOrProvince > .selectstyleui>.ss-options {z-index: 5}
#eligibility-form > form.nyc_eligibility input.inputErrors{background-color: #FFD9D9; border-color:#F00000}