block vars
  - ciCode = "";
  - classes ="";
  - ctaLink = "";

block styles
  style.
    .banner-medium.simple { display: block; text-decoration: none; min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; height: 100%; width: 100%; position: relative; }
    .banner-medium.simple:hover, .banner-medium.simple:focus { color: #fff; }
    .banner-medium.simple .content-container { line-height: 1; padding: 1em; min-height: inherit; position: relative; display: table; }
    .banner-medium.simple .content { display: table-cell; vertical-align: middle;}

    .banner-medium.simple .font-lg { font-size: 2.5em; }
    .banner-medium.simple .font-md { font-size: 1.25em; }
    .banner-medium.simple .font-sm { font-size: 1em; }
    .banner-medium.simple .black { font-family: 'Walsheim-Black', 'Arial Black', sans-serif; }
    .banner-medium.simple .bold { font-family: 'Walsheim-Bold', 'Arial Black', sans-serif; }
    .banner-medium.simple .disclaimer { font-size: 10px; }

    .banner-medium.simple .content > * { margin-top: .25em; margin-bottom: .25em;}
    .banner-medium.simple .content > *:first-child { margin-top: 0;}
    .banner-medium.simple .content > *:last-child { margin-bottom: 0;}
    .banner-medium.simple .svgfallback:not(old) { display: inline-block;}
    .banner-medium.simple .svgfallback { display: none;}

a.banner-medium.simple(href!=ctaLink data-url!=ctaLink data-ci=ciCode class=classes)
  .content-container
    .content
      block content
