block vars
  - ctaLink = "";
  - ctaText = "";
  - ciCode = "";
  - classes = "";
  - polygonFill = "transparent";

block styles
  style.
    .banner-medium { min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; height: 100%; width: 100%; color: #333; position: relative; }
    .banner-medium.split {padding: 0;background-color:#333; color: #fff; }
    .banner-medium .left-container { background-color: #{polygonFill} }
    .banner-medium .left-container, .banner-medium .right-container { width: 50%; float: left; min-height: inherit; position: relative; }
    .banner-medium .left-content, .banner-medium .right-content { position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); padding: 0 5%;}

    .banner-medium .font-lg { font-size: 2.25em; margin-top: .25em !important; margin-bottom: .25em !important; }
    .banner-medium .font-md { font-size: 1.5em; margin-top: .25em !important; margin-bottom: .25em !important; }
    .banner-medium .font-sm { font-size: 1em; margin-top: .25em !important; margin-bottom: .25em !important; }
    .banner-medium .black { font-family: 'Walsheim-Black', 'Arial Black', sans-serif; text-transform: uppercase; }
    .banner-medium .bold { font-family: 'Walsheim-Bold', 'Arial Black', sans-serif; text-transform: uppercase; }

.banner-medium.split(data-url!=ctaLink data-ci=ciCode class=classes)
  .left-container
    .left-content
      block leftContent
  .right-container
    svg(preserveAspectRatio="xMinYMid slice" style="position: absolute; height: 100%;" viewBox="0 0 10 100")
      polygon(points="0,0 10,100 0,100" style!="fill:#{polygonFill};")
    .right-content
      block rightContent

block scripts