atlantis:webstash(type="css")
  style.
    #default-marquee-view { display: inline; padding-bottom:40px; }
    #default-marquee-view .get-online-wrapper {position: relative; height: 260px;}
    #default-marquee-view .get-online-dash {position: absolute; left: 20px; top: 10px;}
    #default-marquee-view .get-online-text {font-size: 46pt; color:#333333;}
    #default-marquee-view .get-online-image {width: 275px; overflow: hidden; display: inline-block ;height: 35px;}
    #default-marquee-view .green-arrow {position: absolute; left: 0px; top: 137px;}
    #default-marquee-view .today-text {position: absolute; left: 20px; top: 55px; font-size: 104pt;margin: 0px;color:#333333;}
    #default-marquee-view .as-low-as-text {position: absolute; left: 45px; top: 170px; color: #fff;}
    #default-marquee-view .top-disclaimer-text {position: absolute; left: 45px; top: 240px; color:#00701D;font-size: 12px}
    #default-marquee-view .you-get-wrapper {position: relative; height: 260px;}
    #default-marquee-view .you-get-image {position: absolute; left: 10px; top: 70px; height: 35px;}
    #default-marquee-view .domain-text {position: absolute; left: 30px; top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .website-text {position: absolute; left: 40px; top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .email-text {position: absolute; left: 65px;  top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .powered-by-text {position: absolute; left: 55px; top: 214px; font-size: 11px; color: #333333;}


section#default-marquee-view.bg-green-official
  .container
    .row
      .col-md-6.col-sm-12
        .get-online-wrapper
          .clearfix.get-online-dash
            span.headline-secondary.get-online-text [@L[cds.sales/offers/online-business:32573-top-banner-headline]@L]
            span.get-online-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-dash.png")
          img.green-arrow(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-marker.png")
          h1.headline-primary.today-text [@L[cds.sales/offers/online-business:32573-top-banner-subheadline]@L]
          h3.as-low-as-text [@L[cds.sales/offers/online-business:32573-as-low-as]@L]
          div.top-disclaimer-text.small [@L[cds.sales/offers/online-business:32573-top-small-disclaimer-text]@L] <a>[@L[cds.sales/offers/online-business:32573-top-small-disclaimer-details-link]@L]</a>
      .col-md-6.col-sm-12
        .you-get-wrapper
          .you-get-image
            img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/you-get.png")
          .row
            .col-md-4
              p.text-center
                span.headline-secondary.domain-text [@L[cds.sales/offers/online-business:32573-top-banner-image-domain]@L]
            .col-md-4
              p.text-center
                span.headline-secondary.website-text [@L[cds.sales/offers/online-business:32573-top-banner-image-website]@L]
            .col-md-4
              p.text-center
                span.headline-secondary.email-text [@L[cds.sales/offers/online-business:32573-top-banner-image-email]@L]
                span.powered-by-text [@L[cds.sales/offers/online-business:32573-powered-by-mso365]@L]
    +domainSearchOffersInput('[@L[cds.sales/offers/online-business:32573-step-1-get-a-domain]@L]', '12345', '[@L[cds.sales/offers/online-business:32573-domain-search-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-search]@L]', '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]','[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]')
