atlantis:webstash(type="css")
  style.
    #default-marquee-view { display: inline; padding-bottom:40px; }
    #default-marquee-view .get-online-wrapper {position: relative; height: 260px;}
    #default-marquee-view .get-online-dash {position: absolute; left: 20px; top: 10px;}
    #default-marquee-view .get-online-text {font-size: 46pt; color:#333333;}
    #default-marquee-view .get-online-image {width: 275px; overflow: hidden; display: inline-block ;height: 35px;}
    #default-marquee-view .green-arrow {position: absolute; left: 0px; top: 137px;}
    #default-marquee-view .today-text {position: absolute; left: 20px; top: 55px; font-size: 104pt;margin: 0px;color:#333333;}
    #default-marquee-view .as-low-as-text {position: absolute; left: 45px; top: 170px; color: #fff;}
    #default-marquee-view .top-disclaimer-text {position: absolute; left: 45px; top: 240px; color:#00701D;font-size: 12px}
    #default-marquee-view .you-get-wrapper {position: relative; height: 260px;}
    #default-marquee-view .you-get-image {position: absolute; left: 10px; top: 70px; height: 35px;}
    #default-marquee-view .domain-text {position: absolute; left: 30px; top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .website-text {position: absolute; left: 40px; top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .email-text {position: absolute; left: 65px;  top: 185px; font-size: 25px; color: #333333;}
    #default-marquee-view .powered-by-text {position: absolute; left: 55px; top: 214px; font-size: 11px; color: #333333;}
    #default-marquee-view .MSO365-text { position: absolute; left: 34px; top: 227px; font-size: 11px; color: #333333;}
    #default-marquee-view .see-details-disclaimer-link {color:#00701D;font-size: 12px; text-decoration: none;cursor:pointer;}
    #default-marquee-view .see-details-disclaimer-link:hover {text-decoration: underline;}

    /*  speech */

    .speech-shape-upsidedown {
      line-height: 1.9em;
      font-family: 'Walsheim-Bold';
      font-size: 18px;
      padding: 5px 17px;
      color: #fff;
      display: inline-block;
      position: relative;
      margin-bottom: 20px;
      z-index: 2;
    }
    .speech-shape-upsidedown .shape-text {
      position: relative;
      z-index: 40;
    }
    .speech-shape-upsidedown:before {
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      border-bottom: 15px solid;
      border-right: 15px solid transparent;
    }
    .speech-shape-upsidedown:after {
      content: '';
      position: absolute;
      height: 100%;
      width:20px;
      right: -6px;
      top: 0;
      transform: skew(12deg, 0);
      z-index: 1;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-green {
      background-color: #008a32;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-green:before {
      border-bottom-color: #008a32;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-green:after {
      background-color: #008a32;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-orange {
      background-color: #ef6c0f;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-orange:before {
      border-bottom-color: #ef6c0f;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-orange:after {
      background-color: #ef6c0f;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-white {
      background-color: #fff;
      color: #333;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-white:before {
      border-bottom-color: #fff;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-white:after {
      background-color: #fff;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-yellow {
      background-color: #fedc45;
      color: #333;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-yellow:before {
      border-bottom-color: #fedc45;
    }
    .speech-shape-upsidedown.speech-shape-upsidedown-yellow:after {
      background-color: #fedc45;
    }

    /* (end) speech */
    
section#default-marquee-view.bg-green-official
  .container
    .row
      .col-md-6.col-sm-12
        .get-online-wrapper
          .clearfix.get-online-dash
            span.headline-secondary.get-online-text Get Online
            span.get-online-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-dash.png")
          img.green-arrow(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-marker.png")
          h1.headline-primary.today-text Today
          h3.as-low-as-text AS LOW AS $1.xx/MONTH
          div.top-disclaimer-text.small Annual purchase required. Price valid 1st year only. 
            a.see-details-disclaimer-link See details.
      .col-md-6.col-sm-12
        .you-get-wrapper
          .you-get-image
            img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/you-get.png")
          .row
            .col-md-4
              p.text-center
                span.headline-secondary.domain-text Domain
            .col-md-4
              p.text-center
                span.headline-secondary.website-text Website
            .col-md-4
              p.text-center
                span.headline-secondary.email-text Email<br>
                span.powered-by-text| Powered by<br>
                span.MSO365-text| Microsoft Office 365
    +domainSearchOffersInput('STEP 1: GET A DOMAIN', '12345', 'Enter a domain name', 'Search', 'Type your business name here (if you have one)', 'You do not meet the eligibility requirements for {0} domains, please select a different domain extension and search again.','You need to choose a valid TLD.')

#default-marquee-details-modal.sf-dialog 
  p Details for marquee
