atlantis:webstash(type="css")
  style.
    /* marquee styling */
    .main-marquee { color: #333; font-size: 12px; text-transform: uppercase;  fill: #333; }
    html[lang*="en-us"] .main-marquee .dash-em { background-size: contain; background-repeat: x; background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTAwJyBoZWlnaHQ9JzEwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48Zz48cmVjdCBpZD0nc3ZnXzEnIGZpbGw9JyMzMzMnIHg9JzAnIHk9JzM5JyB3aWR0aD0nMTAwJyBoZWlnaHQ9JzIyJy8+PC9nPjwvc3ZnPg==); }
    .main-marquee .header-text { padding-left: 5%; line-height: 0.8; padding-right: 15%; }
    .main-marquee .header-text:first-child { padding-left: 0; line-height: 0.8; padding-right: 0; margin-left: 5%; margin-right: 15%; }
    .main-marquee .header-text .get-online {  display: inline; background-color: #77c043; color: #333; font-family:Tungsten, 'Tungsten A', 'Tungsten B', Impact, sans-serif; font-size: 3em; }
    .main-marquee .header-text .today {  font-family:'Walsheim-Bold', 'Arial Black', sans-serif; font-size: 11.5em; }
    .main-marquee .header-text.as-low-as-price {  line-height: 1; padding-top: 60px; padding-bottom: 45px; margin-top: -45px; color: #fff; background-repeat: no-repeat; font-family:'Walsheim-Black', 'Arial Black', sans-serif; font-size: 2em; background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwLDAsNTUzLDEyNScgcHJlc2VydmVBc3BlY3RSYXRpbz0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cG9seWdvbiBwb2ludHM9JzAsMzggNDc5LDMxIDQ3OSwwIDU1Myw2OCA0NzksMTI1IDQ4MSw5OSAyMiwxMDEnIHN0eWxlPSdmaWxsOiMzZTk2MzU7IHN0cm9rZTojM2U5NjM1OycgLz48L3N2Zz4=);}
    #marquee .main-marquee .header-text.disclaimers { color: #00701D; font-size: 1em; line-height: 1.6em; margin-top: -14px; text-transform: none; }
    .main-marquee .header-text.disclaimers .btn-link { color: #00701D; cursor: pointer; }
    .main-marquee .logo-wrapper { margin-top: 20px; }
    .main-marquee .logo-wrapper .column { width: 25%; position: relative; float: left; text-align: center; padding-left: 20px; padding-right: 20px; font-family: Tungsten,'Tungsten A','Tungsten B',Impact,sans-serif; font-size: 2em; }
    .main-marquee .logo-wrapper .icon { min-height: 50px; background-position: center bottom; background-repeat: no-repeat; }
    .main-marquee .logo-wrapper .domain .icon { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzOCA0MyI+PHBhdGggc3R5bGU9ImZpbGw6IzMzMzsiIGQ9Ik0yMyAyTDIyIDAgMTkgMSAxOSAxMyAyNCAxMyAyMyAyTTI5IDdMMjcgNCAyNSA1IDI1IDEzIDI5IDEzIDI5IDdNMTEgN0w5IDggOCAxMCA3IDEzIDEyIDEzIDExIDdNMTcgM0wxNiAzIDE0IDQgMTMgMTMgMTggMTMgMTcgM00xMyAxNUwxNCAyNSAxOCAyNSAxOSAyMCAyMCAyNSAyNCAyNSAyNSAxNSAyNiAyMCAyNyAxNiAyOSAxNyAyOSAxNCAyMiAxNCAyMiAyMCAyMSAxNCAxNyAxNCAxNyAyMSAxNiAxNCA5IDE0IDkgMjAgOCAxNCA1IDE0IDQgMjEgMyAxNCAwIDE0IDIgMjUgNiAyNSA2IDIwIDcgMjUgMTEgMjUgMTMgMTVNMzUgMTRMMzQgMjAgMzMgMTQgMzAgMTQgMzAgMTcgMzIgMTggMzIgMjUgMzIgMjUgMzYgMjUgMzggMTQgMzUgMTRNMjggMThMMjUgMjUgMjAgMjcgMTggMzIgMTcgMjYgNyAyNiA3IDMyIDEwIDM5IDE5IDQyIDI3IDQxIDMyIDMxIDMxIDE5IDI4IDE4Ii8+PC9zdmc+); }
    .main-marquee .logo-wrapper .website .icon { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNSAzNyI+PHBhdGggc3R5bGU9ImZpbGw6IzMzMzsiIGQ9Ik0yMyAxNkwzMiAxNyAxNCAwIDggMCAyMyAxNk0xNiAyMkwyMyAyMiAyMyAxNyA3IDAgMSA1IDE2IDIyTTE1IDI5TDE1IDIzIDAgNiAxIDE1IDE1IDI5TTMwIDI5TDMzIDI4IDMzIDE4IDI1IDE3IDI0IDI0IDE2IDI0IDE2IDMwIDI3IDMzIDMwIDI5TTMxIDMxTDI5IDM0IDM0IDM1IDMzIDMwIDMxIDMxIi8+PC9zdmc+); }
    .main-marquee .logo-wrapper .email .icon { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MiAzNSI+PHBhdGggc3R5bGU9ImZpbGw6IzMzMzsiIGQ9Ik0yNCAyNkwwIDQgMSAzNSA0MCAzMiA0MiAxMSAyNCAyNk00MSA4TDEgMCAyNCAyNCA0MSA4Ii8+PC9zdmc+ICA=); }
    .main-marquee .logo-wrapper .plus { font-family: 'Walsheim-Black', 'Arial Black', sans-serif; text-align: center; width: 12.5%; font-size: 3em; position: relative; float: left; font-weight: bold; }
    .main-marquee .logo-wrapper .office-365 { line-height: 1; font-size: 0.5em; text-transform: none; display: block; font-family: 'Walsheim-Regular', Arial, sans-serif; }
    @media (min-width: 992px) { 
      .main-marquee .header-text .get-online { font-size: 5em; }
      .main-marquee .logo-wrapper  { margin-top: 42px; }
      .main-marquee .logo-wrapper .icon { min-height: 140px; }
      .main-marquee .logo-wrapper .plus { font-size: 6em; padding-top: 60px; }
      }
    }
    @media (min-width: 1200px) { 
      .main-marquee .logo-wrapper .icon { min-height: 160px; }
    }
    #marquee .search-message {display: none; text-transform: none; }

section#default-marquee-view.bg-green-official.js-marquee-section
  .container.main-marquee
    .row
      .col-md-6.col-xs-12
        .header-text.dash-em
          h1.get-online [@L[cds.sales/offers/online-business:32573-top-banner-headline]@L]
        .header-text.bigtext
          .today [@L[cds.sales/offers/online-business:32573-top-banner-subheadline]@L]
        .header-text.as-low-as-price(data-tokenize!='[@T[multipleproductprice:<current productidlist="464069|101|7524" period="monthly" promocode="24681357" />]@T]') [@L[cds.sales/offers/online-business:32573-as-low-as]@L]
        .header-text.disclaimers
          span.text-disclaimers [@L[cds.sales/offers/online-business:32573-top-small-disclaimer-text]@L] 
          button.btn-link.see-details-disclaimer-link(data-ci="dynamicJs") [@L[cds.sales/offers/online-business:32573-top-small-disclaimer-details-link]@L]
          | 
          | ##if(countrySiteAny(uk)) 
          div.text-vat-disclaimer [@L[cds.sales/offers/online-business:32573-price-does-not-include-taxes-vat]@L]
          | 
          | ##endif 
      .col-md-6.col-xs-12
        .logo-wrapper
          .column.domain
            //- IE 8 fallback img here
            <!--[if lt IE 9]><img src="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img_got_domain.png" class="icon"><![endif]-->
            .icon
            span [@L[cds.sales/offers/online-business:32573-top-banner-image-domain]@L]
          .plus +
          .column.website
            //- IE 8 fallback img here
            <!--[if lt IE 9]><img src="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img_got_website.png" class="icon"><![endif]-->
            .icon
            span [@L[cds.sales/offers/online-business:32573-top-banner-image-website]@L]
          .plus +
          .column.email
            //- IE 8 fallback img here
            <!--[if lt IE 9]><img src="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img_got_email.png" class="icon"><![endif]-->
            .icon
            span [@L[cds.sales/offers/online-business:32573-top-banner-image-email]@L]
            span.office-365 [@L[cds.sales/offers/online-business:32573-powered-by-mso365]@L]
    +domainSearchOffersInput({
        'tlds': 'got1Page.tldInfo.tlds',
        'defaultTld': 'got1Page.tldInfo.defaultTld',
        'formId': 'default-marquee-view-form',
        'title': '[@L[cds.sales/offers/online-business:32573-step-1-get-a-domain]@L]', 
        'cicode': '95738', 
        'placeholderText': '[@L[cds.sales/offers/online-business:32573-domain-search-placeholder]@L]', 
        'buttonText': '[@L[cds.sales/offers/online-business:32573-search]@L]', 
        'infoTypeHere': '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', 
        'infoErrorEligibility': '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]',
        'infoInvalidTld': '[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]'
        })
| 
|##if(productIsOffered(105)) 
| 
#default-marquee-details-modal.tokenizable-disclaimer-modal.sf-dialog(data-title!='[@L[cds.sales/offers/online-business:32573-disclaimer-modal-title]@L]')
  p(data-icann-fee="") [@L[cds.sales/offers/online-business:35463-disclaimer-modal-both-content]@L]
| 
|##else
| 
#default-marquee-details-modal-wsb-only.tokenizable-disclaimer-modal.sf-dialog(data-title!='[@L[cds.sales/offers/online-business:32573-disclaimer-modal-title]@L]')
  p(data-icann-fee="") [@L[cds.sales/offers/online-business:35463-disclaimer-modal-wsb-content]@L]
| 
|##endif
| 
