atlantis:webstash(type="css")
  style.
    #domain-available-marquee-view { display: none; }
    #domain-available-marquee-view .available-domain-name-row {margin-top: 20px; margin-bottom: 30px; }
    #domain-available-marquee-view .domain-available-heading-text  { color: #333333; }
    #domain-available-marquee-view .available-domain-name-text {text-transform: lowercase; color: #333333; background: rgba(254, 220, 69, 0.7); padding: 5px;line-height: 1.6em;word-wrap: break-word;  }
    #domain-available-marquee-view .get-it-now-btn {top: 15px; }
    #domain-available-marquee-view .purchase-btn {margin-top: 5px;}


section#domain-available-marquee-view
  .bg-green-official
    .container
      .row
        .col-md-12
          h2.domain-available-heading-text [@L[cds.sales/offers/online-business:32573-good-news-domain-available]@L]
      .row.available-domain-name-row
        .col-md-8.col-sm-12
          h2
            span.available-domain-name-text#available-domain-name
        .col-md-4.col-sm-12.get-it-now-btn
          button.btn.btn-purchase.purchase-btn [@L[cds.sales/offers/online-business:32573-get-it-now-button]@L]
  .bg-white
    .container
      +domainSearchOffersInput('[@L[cds.sales/offers/online-business:32573-or-search-for-a-new-one]@L]', '12346', '[@L[cds.sales/offers/online-business:32573-try-a-different-domain-name-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-search]@L]', '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]','[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]')
