atlantis:webstash(type="css")
  style.
    #domain-available-marquee-view .purchase-btn {
      margin: 0;
      font-size: 30px;
      padding-top: 17px;
      padding-bottom: 14px;
    }

    #domain-available-marquee-view .available-domain-name-row {
      margin: 62px 0 40px;
    }
    
    #domain-available-marquee-view h2.domain-name-displayed {
      margin: 0;
    }
    #domain-available-marquee-view .reseach-container {
      padding-top: 10px;
    }
available-domain-name

section#domain-available-marquee-view.js-marquee-section

  .bg-green-official
    .container
      .row
        .col-md-12
          h2.h0.availability-header.domain-available-heading-text [@L[cds.sales/offers/online-business:32573-good-news-domain-available]@L]
      .row.available-domain-name-row
        .col-md-8.col-sm-12
          h2.available-domain-name-text.domain-name-displayed
            span#available-domain-name available
        .col-md-4.col-sm-12.get-it-now-btn
          button.btn.btn-purchase.purchase-btn [@L[cds.sales/offers/online-business:32573-get-it-now-button]@L]

  .bg-white.reseach-container
    .container
      +domainSearchOffersInput('[@L[cds.sales/offers/online-business:32573-or-search-for-a-new-one]@L]', '95737', '[@L[cds.sales/offers/online-business:32573-try-a-different-domain-name-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-search]@L]', '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]','[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]')
