atlantis:webstash(type="css")
  style.
    #domains .disclaimer p {
      font-size: 14px;
      color: #666;
    }
    #domains .features.features-wrap {
      min-height: 360px;
    }
    #domainSection1What, #domainSection2Email {
      margin: 10px 0;
    }

section#domains

  include ./_domain-section-1-what.jade

  include ./_domain-section-2-email.jade

  .container
    .row.disclaimer
      .col-sm-12 
        p.disclaimers-text [@L[cds.sales/offers/online-business:32573-plus-inline-disclaimer]@L]
        
  include ./_domain-section-3-slim.jade

