
- var featuresId = "domainSection1What";
- var presentationTemplate = "featuresLeftText";
- var backgroundImage = null;
- var whiteText = false;
- var lazyLoad = false;
- var image = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png";
- var title = "<mark>[@L[cds.sales/offers/online-business:32573-whats-a-domain-heading]@L]</mark> [@L[cds.sales/offers/online-business:32573-whats-a-domain-text]@L]";
- var subtitle = "[@L[cds.sales/offers/online-business:32573-whats-a-domain-subtext]@L]";
- var text = '<div class="include-check-green">[@L[cds.sales/offers/online-business:32573-whats-a-domain-bullet-one]@L]</div><div class="include-check-green">[@L[cds.sales/offers/online-business:32573-whats-a-domain-bullet-two]@L]</div>';

include ../../../templates/feature-templates.jade
