atlantis:webstash(type="css")
  style.
    #domains .disclaimer p {
      font-size: 14px;
      color: #666;
    }
    #domains .features.features-wrap {
      min-height: 360px;
    }
    #domainSection1What, #domainSection2Email {
      margin: 20px 0;
    }

- var domainSectionOneText = '<div class="include-check-green">[@L[cds.sales/offers/online-business:32573-whats-a-domain-bullet-one]@L]</div>';
- domainSectionOneText += '<div class="include-check-green">[@L[cds.sales/offers/online-business:32573-whats-a-domain-bullet-two]@L]</div>';
- var domainSectionTwoText = '<div class="include-check-green">[@L[cds.sales/offers/online-business:32573-email-even-better-bullet-1]@L]</div>';
- domainSectionTwoText += '<div class="include-check-green">[@L[cds.sales/offers/online-business:32573-email-even-better-bullet-2]@L]</div>';


section#domains

  +featuresTemplates({
    presentationTemplate: "featuresLeftText", 
    featuresId: "domainSection1What", 
    additionalWrapClasses: null, 
    lazyLoad: true, 
    backgroundImage: "", 
    featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", 
    featuresImgAltText: null, 
    title: "<mark>[@L[cds.sales/offers/online-business:32573-whats-a-domain-heading]@L]</mark> [@L[cds.sales/offers/online-business:32573-whats-a-domain-text]@L]", 
    subtitle: "[@L[cds.sales/offers/online-business:32573-whats-a-domain-subtext]@L]", 
    text: domainSectionOneText, 
    buttonText: null, buttonUrl: null, buttonColor: null})

  +featuresTemplates({
    presentationTemplate: "featuresLeftText", 
    featuresId: "domainSection2Email", 
    additionalWrapClasses: null, 
    lazyLoad: true, 
    backgroundImage: "", 
    featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature2.png", 
    featuresImgAltText: null, 
    title: "[@L[cds.sales/offers/online-business:32573-email-even-better-heading]@L]", 
    subtitle: "[@L[cds.sales/offers/online-business:32573-email-even-better-text]@L]", 
    text: domainSectionTwoText, 
    buttonText: null, buttonUrl: null, buttonColor: null})

  .container
    .row.disclaimer
      .col-sm-12 
        p.disclaimers-text [@L[cds.sales/offers/online-business:32573-plus-inline-disclaimer]@L]
        

  atlantis:webstash(type="css")
    style.
      #findYourPerfectDomain .tld-images {margin-top: 0px; }
      #findYourPerfectDomain .tld-image {margin: 15px;}
      #findYourPerfectDomain.tile-section {
        padding:20px 0;
      }
      #findYourPerfectDomain.features-slim {
        min-height: 241px;
      }
      #findYourPerfectDomain {
        background-color: #F3F3F3;
      }

  +featuresTemplates({
    presentationTemplate: "featuresSlim", 
    featuresId: "findYourPerfectDomain", 
    additionalWrapClasses: null, 
    lazyLoad: true, 
    backgroundImage: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/bg-shortMod.jpg", 
    featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/you-get.png", 
    featuresImgAltText: null, 
    title: "[@L[cds.sales/offers/online-business:32573-find-your-perfect-name-heading]@L]", 
    subtitle: null, 
    text: "[@L[cds.sales/offers/online-business:32573-find-your-perfect-name-text]@L]", 
    buttonText: null, buttonUrl: null, buttonColor: null})

