
section#marquee
  style.
    #marquee {margin:0 auto; padding-top:15px;background-color: #77c043;}
    #marquee .get-a-domain-text { margin-top: 20px; }
  include ./_1_default-marquee-view.jade
  include ./_2_domain-available-marquee-view.jade
  include ./_3_domain-not-available-marquee-view.jade

append endOfPageScripts
  script(type="text/javascript").
    $(document).ready(function() {

      $('#default-marquee-view .offer-search-btn').on('click', function(){
        showDefault();
      });
      $('#domain-available-marquee-view .offer-search-btn').on('click', function(){
        showAvailable();
      });
      $('#domain-not-available-marquee-view .offer-search-btn').on('click', function(){
        showNotAvailable();
      });

      $('.offer-search-btn').on('click', function(){
        return false;
      });

    });

    function showDefault() {
      $('#domain-available-marquee-view').show();
      $('#default-marquee-view, #domain-not-available-marquee-view').hide();
    }

    function showAvailable() {
      $('#domain-not-available-marquee-view').show();
      $('#domain-available-marquee-view, #default-marquee-view').hide();
    }

    function showNotAvailable() {
      $('#default-marquee-view').show();
      $('#domain-not-available-marquee-view, #domain-available-marquee-view').hide();
    }
