atlantis:webstash(type="css")
  style.
    #marquee {margin:0 auto; padding-top:15px;background-color: #77c043;}
    #api-failure {display: none;}

section#marquee
  include ./_1_default-marquee-view.jade
  include ./_2_domain-available-marquee-view.jade
  include ./_3_domain-not-available-marquee-view.jade

atlantis:webstash(type="js")
  script(type="text/javascript", src="https://img1.wsimg.com/fos/hp/rebrand/js/bigtext.min.js")

  script(type="text/javascript")
   // $(window).load(function () {
   //    $('.bigtext').bigtext().css('visibility', 'visible');
   //      setTimeout( "$('.bigtext').bigtext().css('visibility', 'visible');",500 );
   //  });
    $(document).ready(function() {

      //- $('#default-marquee-view .offer-search-btn').on('click', function(){
      //-   animateToAvailable();
      //- });
      //- $('#domain-available-marquee-view .offer-search-btn').on('click', function(){
      //-   animateToNotAvailable();
      //- });
      //- $('#domain-not-available-marquee-view .offer-search-btn').on('click', function(){
      //-   animateToDefault();
      //- });


    });

#api-failure.sf-dialog.api-B-failure
  h2.api-error-header
    img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/WarningSign.png")
    div [@L[cds.sales/offers/online-business:32573-something-unexpected-happened]@L]
  p [@L[cds.sales/offers/online-business:32573-generic-domain-search-error]@L]
