atlantis:webstash(type="css")
  style.
    #marquee {
      margin:0 auto; 
      background-color: #77c043;
    }
    
    #default-marquee-view,
    #domain-available-marquee-view,
    #domain-not-available-marquee-view {
      padding-top:15px;
    }

    #api-failure,
    #domain-available-marquee-view,
    #domain-not-available-marquee-view,
    #step2-choose-product {display: none; }


    #marquee .domain-name-displayed {
      font-size: 60px;
      text-transform: lowercase; 
      color: #333; 
      background: #fedc45; 
      padding: 0 5px;
      line-height: 1.29em; /* to line up with the button height */
      margin: 0;
      display: inline;
      display: -ms-inline-grid;
    }


    #marquee h2.availability-header {
      color: #333333; 
      margin: 20px 0 0; 
      font-size: 40px;
      color: #333; 
    }

    h2.get-a-domain-text {
      margin: 20px 0 5px;
      font-size:24px;
    }

section#marquee
  include ./_1_default-marquee-view.jade
  include ./_2_domain-available-marquee-view.jade
  include ./_3_domain-not-available-marquee-view.jade
  include ./_4_step2-choose-product.jade


#api-failure.sf-dialog.api-B-failure
  h2.api-error-header
    img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/WarningSign.png")
    div [@L[cds.sales/offers/online-business:32573-something-unexpected-happened]@L]
  p [@L[cds.sales/offers/online-business:32573-generic-domain-search-error]@L]
