atlantis:webstash(type="css")
  style.
    .plan-tile { 
      margin-top: -145px; 
    }
    .sf-droplist-msg {
      text-align: inherit;
    }
    .bg-black {
      background-color: #333333;
    }
    .bg-gray-light {
        background-color: #d9d9d9;
    }

include ../../../templates/tabbed-carousel-mixin.jade
include ../../../templates/carousel-mixin.jade
- tabbedCarousel = tabbedCarousel || {};
- tabbedCarousel.title = "Popular apps keep your site fresh";
- tabbedCarousel.subtitle = "Easily integrate social and business apps in your site to share information and keep customers coming back.";
- tabbedCarousel.numOfTabs= 4;
- tabbedCarousel.lazyLoad = true;
- tabbedCarousel.id = "carousel-ols-stores";
- tabbedCarousel.textCenter = true;

append vars
  - title = "Simplify your bookkeeping. Get back to business.";
  - subtitle = "Spend less time on paperwork and more time with customers.";
  - numOfTabs= 4;
  - lazyLoad = true;
  - id = "carousel-ols-stores"

block tabs
  +addTab({icon:"uxicon-facebook-box",logo:"",imageAlternateText:"",text:"facebook"})
  +addTab({icon:"uxicon-twitter",logo:"",imageAlternateText:"",text:"twitter"})
  +addTab({icon:"uxicon-youtube-box",logo:"",imageAlternateText:"",text:"youtube"})
  +addTab({icon:"uxicon-yelp",logo:"",imageAlternateText:"",text:"yelp"})
+carousel(tabbedCarousel.id ,tabbedCarousel.numOfTabs,{css:true})
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-facebook-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 FACEBOOK
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-twitter-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 TWITTER
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-youtube-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 YOUTUBE
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-facebook-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 YELP
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-facebook-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 PAYPAL
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.
  +carouselItem(tabbedCarousel)
    img.img-responsive.img-center(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-apps-image-facebook-int.jpg")
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 HOMEOWNER
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
          .carousel-panel-text Share your status updates or photos.

