atlantis:webstash(type="css")
  style.

    .plan-tile { 
      margin-top: -145px; 
    }
    .sf-droplist-msg {
      text-align: inherit;
    }
    .bg-black {
      background-color: #333333;
    }
    .bg-gray-light {
      background-color: #d9d9d9;
    }
    .customer-byline {
      font-size: 15px;
      margin-bottom: 10px;
    }
    .btn-default-black {
      color: #000;
      border-color: #000;
    }
    .carousel-panel-text {
      min-height: 50px;
      margin-bottom: 0px;
    }
    .carousel-wrap {
      padding-bottom: 50px !important;
    }
    .carousel-container .carousel .carousel-indicators {
      bottom: -50px !important;
    }
    .main-heading {
      margin: 0px;
      font-size: 30px;
    }
    .subheading {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    .customer-quote {
      margin-top: 0px;
      margin-bottom: 10px;
      min-height: 90px;
    }
    .store-name {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .item-wrapper {
      padding: 20px 0 20px !important;
    }
    .img-centered {
      margin: 0 auto;
    }
atlantis:webstash(type="js")
  script.
    $(document).ready(function(){
      // autoheight the slides
      var $slides = $('#carousel-ols-stores').find('.ols-carousel-item');
      $slides.css("min-height", "100 px");
      var equalHeightSlides = function(){
        var maxHeight = 0;
        $slides.each(function(){
          maxHeight = $(this).outerHeight() > maxHeight ? $(this).outerHeight() : maxHeight;          
        });
        if( maxHeight > 0 ) $slides.css("height", maxHeight + "px").css("min-height", "auto");
      }
      $(window).on('resize', equalHeightSlides);
    });


include ../../../templates/carousel-mixin.jade
- olsCarousel = olsCarousel || {};
- olsCarousel.numOfTabs= 4;
- olsCarousel.lazyLoad = true;
- olsCarousel.id = "carousel-ols-stores";
- olsCarousel.textCenter = false;
- olsCarousel.css = true;
- olsCarousel.ci = {panelContainer:'95265',carouselIndicator:'95263',prev:'95262', next:'95264'};

block heading
  .container
    .row
      .col-sm-10.col-sm-push-1.center-block
        h1.h0.main-heading.text-center [@L[cds.sales/offers/online-business:32573-real-customers-real-sites]@L]
        h3.subheading.text-center [@L[cds.sales/offers/online-business:32573-our-customers-love-ols]@L]
  
+carousel(olsCarousel.id , olsCarousel.numOfTabs, olsCarousel)
  +carouselItem(olsCarousel)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          img.img-responsive.img-centered(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/Store_Gloss.png")
      .row
        .col-xs-12
          h2.store-name [@L[cds.sales/offers/online-business:32573-ols-customerStoreName2]@L]
      .row
        .col-xs-12
          .customer-quote [@L[cds.sales/offers/online-business:32573-ols-customerQuote2]@L]
          .customer-byline &mdash; [@L[cds.sales/offers/online-business:32573-ols-customerByLine2]@L]
          a.btn.btn-default.btn-default-black(href="http://www.glossandtoss.net",target="_blank") [@L[cds.sales/offers/online-business:32573-see-it-in-action]@L]
    
  +carouselItem(olsCarousel)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          img.img-responsive.img-centered(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/Store_Bibs.png")
      .row
        .col-xs-12
          h2.store-name [@L[cds.sales/offers/online-business:32573-ols-customerStoreName3]@L]

      .row
        .col-xs-12
          .customer-quote [@L[cds.sales/offers/online-business:32573-ols-customerQuote3]@L]
          .customer-byline &mdash; [@L[cds.sales/offers/online-business:32573-ols-customerByLine3]@L]
          a.btn.btn-default.btn-default-black(href="http://www.snap-bibs.com",target="_blank") [@L[cds.sales/offers/online-business:32573-see-it-in-action]@L]

  +carouselItem(olsCarousel)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          img.img-responsive.img-centered(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/Store_Princess.png")
      .row
        .col-xs-12
          h2.store-name [@L[cds.sales/offers/online-business:32573-ols-customerStoreName4]@L]
      .row
        .col-xs-12
          .customer-quote [@L[cds.sales/offers/online-business:32573-ols-customerQuote4]@L]
          .customer-byline &mdash; [@L[cds.sales/offers/online-business:32573-ols-customerByLine4]@L]
          a.btn.btn-default.btn-default-black(href="http://www.theprincessexpress.com",target="_blank") [@L[cds.sales/offers/online-business:32573-see-it-in-action]@L]
  
  +carouselItem(olsCarousel)
    .container-fluid.ols-carousel-item
      .row
        .col-xs-12
          img.img-responsive.img-centered(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/Store_Jones.png")
      .row
        .col-xs-12
          h2.store-name [@L[cds.sales/offers/online-business:32573-ols-customerStoreName1]@L]
          .customer-quote [@L[cds.sales/offers/online-business:32573-ols-customerQuote1]@L]
          .customer-byline &mdash; [@L[cds.sales/offers/online-business:32573-ols-customerByLine1]@L]
          a.btn.btn-default.btn-default-black(href="http://www.thejonesmarket.com",target="_blank") [@L[cds.sales/offers/online-business:32573-see-it-in-action]@L]