include ../../../templates/column-list-mixin.jade

- var productBoxOptions = {backgroundColor:'bg-gray-dark'};

section#products
  .container
    .row
      .col-sm-12
        h2.product-box-title.
          Here's what you get&hellip;
    .row
      +renderColumnList(3,productBoxOptions)
        +columnListMember
          include ./products/_domain.jade
        +columnListMember
          include ./products/_website.jade
        +columnListMember
          include ./products/_email.jade