- var productBoxOptions = {backgroundColor:'inherit'};
- var title = "[@L[cds.sales/offers/online-business:32573-heres-what-you-get]@L]"; 
- var subtitle;


atlantis:webstash(type="css")
  style.
    #products.tile-section{ padding-top: 0;padding-bottom: 0;}
    #products {padding-bottom:40px;}

section#products.bg-gray-light
  .container
    if (title)
      .row
        .col-sm-12.text-center
          h2 !{title}

    if (subtitle)
      .row
        .col-sm-12
          .key-benefits-subtitle.text-center !{subtitle}

    .row

      .col-sm-4

        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-a-domain-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-a-domain-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-domain-bullet-1]@L]
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-domain-bullet-2]@L]
      
      .col-sm-4
      
        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-a-website-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-a-website-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-website-bullet-1]@L]
          .include-check-none <strong>[@L[cds.sales/offers/online-business:32573-or]@L]</strong>
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-website-bullet-2]@L]

      .col-sm-4

        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-pro-email-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-pro-email-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-pro-email-bullet-1]@L]
          .include-check-green [@L[cds.sales/offers/online-business:32573-pro-email-bullet-2]@L]

