

atlantis:webstash(type="css")
  style.
    #products.tile-section{ padding-top: 0;padding-bottom: 0;}
    #products {padding-bottom:40px;}
    #products.key-benefits-wrap h2.products-title-text {
      color:#333;
      font-family: "Walsheim-Bold";
      font-size: 40px;
    }
    #products.key-benefits-wrap div.features-text {color:#333;}

    #products.key-benefits-wrap h3.key-benefits-title {
      color:#333;
      font-family: "Walsheim-Regular";
      font-size: 30px;
    }

    /* KEY BENEFITS */
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) {
      color: #fff;
    }
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) h2,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) h3 {
      color: #fff;
    }
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) .btn-white-outline:hover,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) a.btn-white-outline:hover,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) .btn-white-outline:focus,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) a.btn-white-outline:focus {
      color: #ef6c0f !important;
    }
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) a,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) a:visited,
    .key-benefits-wrap[class*="bg-"]:not(.bg-gray-light) a:hover {
      color: #fff;
    }
    .key-benefits-wrap h2 {
      margin: 35px 0;
      font-size: 40pt;
      color: #333;
    }
    .key-benefits-wrap h2,
    .key-benefits-wrap h3 {
      text-transform: uppercase;
    }
    .key-benefits-wrap .key-benefits-img-wrap {
      height: 100px;
      margin: 40px 0;
    }
    @media only screen and (max-width: 768px) {
      .key-benefits-wrap .key-benefits-img-wrap {
        text-align: center;
      }
    }
    .key-benefits-wrap .key-benefits-img-wrap .key-benefits-img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      max-height: 100px;
    }
    .key-benefits-wrap .key-benefits-img-wrap-lg {
      height: 250px;
      margin: 40px auto;
      text-align: center;
    }
    .key-benefits-wrap .key-benefits-img-wrap-lg .key-benefits-img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      max-height: 250px;
    }
    .key-benefits-wrap .key-benefits-subtitle {
      font-family: 'Walsheim-Bold';
      font-size: 18px;
      font-size: 1.8rem;
    }
    .key-benefits-wrap .key-benefit.col-sm-4:nth-child(4n) {
      clear: left;
    }
    .key-benefits-wrap .key-benefit .key-benefits-text {
      margin-bottom: 20px;
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 1.5;
      font-size: 16pt;
      color: #333;
    }
    .key-benefits-wrap .key-benefit h3.key-benefits-title {
      word-wrap: break-word;
      word-break: break-word;
      white-space: -moz-pre-wrap;
      margin-top: 0px;
      font-size: 30pt;
      font-weight: bold;
      color: #333;
    }
    .key-benefits-wrap .key-benefits-subtext {
      margin-top: 40px;
    }

    /* (end) KEY BENEFITS */
section#products.bg-gray-light.key-benefits-wrap
  .container
    .row
      .col-sm-12.text-center
        h2.products-title-text [@L[cds.sales/offers/online-business:32573-heres-what-you-get]@L]

    .row

      .col-sm-4.key-benefit

        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-a-domain-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-a-domain-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-domain-bullet-1]@L]
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-domain-bullet-2]@L]
      
      .col-sm-4.key-benefit
      
        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-a-website-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-a-website-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-website-bullet-1]@L]
          | 
          |##if(productIsOffered(105))
          | 
          .include-check-none <strong>[@L[cds.sales/offers/online-business:32573-or]@L]</strong>
          .include-check-green [@L[cds.sales/offers/online-business:32573-a-website-bullet-2]@L]
          |           
          |##endif
          | 


      .col-sm-4.key-benefit

        h3.key-benefits-title [@L[cds.sales/offers/online-business:32573-pro-email-heading]@L]
        .key-benefits-text [@L[cds.sales/offers/online-business:32573-pro-email-text]@L]
        .features-text
          .include-check-green [@L[cds.sales/offers/online-business:32573-pro-email-bullet-1]@L]
          .include-check-green [@L[cds.sales/offers/online-business:32573-pro-email-bullet-2]@L]

