section#site-choice
  .container

    .row
      .col-md-12
        h2 Which site's right for you?

    .row
      .col-md-6.col-sm-12
        img(src="tools.jpg")
        h3 GoDaddy Website Builder
        button.btn.btn-sm.btn-primary <i class="uxicon uxicon-play"></i> Watch video
        button.btn.btn-sm.btn-primary View designs
        h4 Get your business online
        p <mark>All of this for just $1.00/month</mark>
        ul.checkmarks-black
          li Professional Website
          li Free domain
          li Free hosting
          li Free business email
          li Customizable themes
          li 20,000+ Images
      .col-md-6.col-sm-12
        img(src="cart.jpg")
        h3 GoDaddy Online Store
        button.btn.btn-sm.btn-primary <i class="uxicon uxicon-play"></i> Watch video
        button.btn.btn-sm.btn-primary See real stories
        h4 Get online + sell your stuff
        p <mark>All of this for just $5.00/month</mark>
        ul.checkmarks-black
          li Online Store &amp; Website
          li Free domain
          li Free hosting
          li Free business email
          li Customizable themes
          li Unlimited pages &amp; PayPal<super>&reg;</super>
          li Mobile-friendly web Store
          li Facebook<super>&reg;</super> store
          li Customer ratings &amp; reviews
          li Flexible shipping rates
          li Built-in SEO features
          li Secure checkout