section#site-choice  
  .bg-green-official
      .container
        .row
          .col-md-12
            h2.text-center.got-equal-vert-30-margin Which site's right for you?
  .container
    .row
      .skinny.col-md-6.col-sm-12
        img(src="tools.jpg")
        h2.text-center GoDaddy Website Builder
        button.btn.btn-sm.btn-primary <i class="uxicon uxicon-play"></i> Watch video
        button.btn.btn-sm.btn-primary View designs
        h4.text-center Get your business online
        p.text-center 
          mark.
           All of this for just $1.00/month
           <font size=1> ticky tacky</font>

        .include-check-black Professional Website
        .include-check-black Free domain
        .include-check-black Free hosting
        .include-check-black Free business email
        .include-check-black Customizable themes
        .include-check-black 20,000+ Images
      .skinny.col-md-6.col-sm-12
        img(src="cart.jpg")
        h2.text-center GoDaddy Online Store
        button.btn.btn-sm.btn-primary <i class="uxicon uxicon-play"></i> Watch video
        button.btn.btn-sm.btn-primary See real stories
        h4.text-center Get online + sell your stuff
        p.text-center <mark>All of this for just $5.00/month</mark>        
        .include-check-black Online Store &amp; Website
        .include-check-black Free domain
        .include-check-black Free hosting
        .include-check-black Free business email
        .include-check-black Customizable themes
        .include-check-black Unlimited pages &amp; PayPal<super>&reg;</super>
        .include-check-black Mobile-friendly web Store
        .include-check-black Facebook<super>&reg;</super> store
        .include-check-black Customer ratings &amp; reviews
        .include-check-black Flexible shipping rates
        .include-check-black Built-in SEO features
        .include-check-black Secure checkout