atlantis:webstash(type="css")
  style.
    #site-choice-compare .disclaimer-mark {
      font-size: 24px;
      margin: 10px 10% 20px;
    }

    #site-choice-compare .disclaimer-mark p {
      font-size: 14px;
    }


section#site-choice
  #site-choice-title.bg-green-new  
    .container
      .row
        .col-sm-12
          h2.text-center.two-up-title [@L[cds.sales/offers/online-business:32573-which-sites-right-for-you]@L]

  #site-choice-compare.two-up-wrap-compare(style!="background-image: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/bg-WSB-Mod.jpg')")

    .container
      .row
        .col-md-5.col-sm-6.or-container.bg-green-official
          .two-up-text-wrap
            .text-center.two-up-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-wsb-icon.png")
            h2.text-center [@L[cds.sales/offers/online-business:32573-godaddy-wsb]@L]
            h3.text-center [@L[cds.sales/offers/online-business:32573-godaddy-wsb-text]@L]
            mark.text-center.disclaimer-mark [@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price]@L] <p class="disclaimer">[@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price-disclaimer]@L] <a>[@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price-disclaimer-link]@L]</a></p>
            .row.text-center
              .col-md-6
                button.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> [@L[cds.sales/offers/online-business:32573-watch-video-button]@L]
              .col-md-6
                button.btn.btn-md.btn-primary [@L[cds.sales/offers/online-business:32573-view-designs-button]@L]

            .row
              .col-sm-10
                ul.list-unstyled.check-bullets
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-1]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-2]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-3]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-4]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-5]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-6]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-7]@L]
        .col-md-5.col-sm-6.col-md-offset-2.bg-green-official-light
          .two-up-text-wrap
            .text-center.two-up-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-onlineStore.png")
            h2.text-center [@L[cds.sales/offers/online-business:32573-godaddy-ols]@L]
            h3.text-center [@L[cds.sales/offers/online-business:32573-godaddy-ols-text]@L]
            mark.text-center.disclaimer-mark [@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price]@L] <p class="disclaimer">[@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price-disclaimer]@L] <a>[@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price-disclaimer-link]@L]</a></p>
            .row.text-center
              .col-md-6
                button.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> [@L[cds.sales/offers/online-business:32573-watch-video-button]@L]
              .col-md-6
                button.btn.btn-md.btn-primary [@L[cds.sales/offers/online-business:32573-see-real-stores-button]@L]
            .row
              .col-sm-10
                ul.list-unstyled.check-bullets
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-1]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-2]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-3]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-4]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-5]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-6]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-7]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-8]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-9]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-10]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-11]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-12]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-13]@L]
                  li 
                    h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-14]@L]
