atlantis:webstash(type="css")
  style.
    #site-choice-compare .disclaimer-mark {
      font-size: 24px;
      margin: 10px 10% 20px;
    }

    #site-choice-compare .disclaimer-mark p {
      font-size: 14px;
    }


section#site-choice
  #site-choice-title.bg-green-new  
    .container
      .row
        .col-sm-12
          h2.text-center.two-up-title Which site's right for you?

  #site-choice-compare.two-up-wrap-compare(style!="background-image: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/bg-WSB-Mod.jpg')")

    .container
      .row
        .col-md-5.col-sm-6.or-container.bg-green-official
          .two-up-text-wrap
            .text-center.two-up-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-wsb-icon.png")
            h2.text-center GoDaddy Website Builder
            h3.text-center Get your business online
            mark.text-center.disclaimer-mark All of this for just $1.00/month <p class="disclaimer">Annual purchase required. Price valid 1st year only. Renews at $11.99/mo with .com. <a>See details</a></p>
            .row.text-center
              .col-md-6
                button.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> Watch video
              .col-md-6
                button.btn.btn-md.btn-primary View designs

            .row
              .col-sm-10
                ul.list-unstyled.check-bullets
                  li 
                    h5 Professional Website
                  li 
                    h5 Free domain
                  li 
                    h5 Free hosting
                  li 
                    h5 Free business email
                  li 
                    h5 Customizable themes
                  li 
                    h5 20,000+ Images
        .col-md-5.col-sm-6.col-md-offset-2.bg-green-official-light
          .two-up-text-wrap
            .text-center.two-up-image
              img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-onlineStore.png")
            h2.text-center GoDaddy Online Store
            h3.text-center Get online + sell your stuff
            mark.text-center.disclaimer-mark All of this for just $5.00/month <p class="disclaimer">Annual purchase required. Price valid 1st year only. Renews at $15.99/mo with .com. <a>See details</a></p>
            .row.text-center
              .col-md-6
                button.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> Watch video
              .col-md-6
                button.btn.btn-md.btn-primary See real stories
            .row
              .col-sm-10
                ul.list-unstyled.check-bullets
                  li 
                    h5 Online Store &amp; Website
                  li 
                    h5 Free domain
                  li 
                    h5 Free hosting
                  li 
                    h5 Free business email
                  li 
                    h5 Customizable themes
                  li 
                    h5 Unlimited pages &amp; PayPal<super>&reg;</super>
                  li 
                    h5 Mobile-friendly web Store
                  li 
                    h5 Facebook<super>&reg;</super> store
                  li 
                    h5 Customer ratings &amp; reviews
                  li 
                    h5 Flexible shipping rates
                  li 
                    h5 Built-in SEO features
                  li 
                    h5 Secure checkout