atlantis:webstash(type="css")
  style.
    #site-choice-compare .disclaimer-mark {
      font-size: 24px;
      margin: 10px 10% 20px;
    }
    #site-choice-compare .button-margin {
      margin-top:20px;
    }

    #site-choice-compare .disclaimer-mark p {
      font-size: 14px;
    }
    .two-up-wrap-compare .check-bullets li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 20px;
    }
    .two-up-wrap-compare .check-bullets li:before {
      content: '';
      background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
      background-size: 205px auto;
      background-position: 0 -700px;
      width: 25px;
      height: 27px;
      position: absolute;
      left: 0;
    }
    .two-up-wrap-compare .check-bullets li h5 {
      margin-bottom: 5px;
    }
    /* (end) TWO UP COMPARE */

section#site-choice
  +renderTwoUpCompare({ title: "[@L[cds.sales/offers/online-business:32573-which-sites-right-for-you]@L]", 
                        twoUpCompareId: "site-choice-compare", 
                        titleBackgroundColor: "bg-green-new", 
                        backgroundImage: "background-image: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/bg-WSB-Mod.jpg')"})
    +twoUpCompareColumn({ orContainer: true,
                          title: "[@L[cds.sales/offers/online-business:32573-godaddy-wsb]@L]", 
                          backgroundColor: "bg-green-official", 
                          subtitle: "[@L[cds.sales/offers/online-business:32573-godaddy-wsb-text]@L]", 
                          titleAlign: "center", 
                          subtitleAlign: "center", 
                          image: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-wsb-icon.png"})
      mark.text-center.disclaimer-mark 
        div(data-tokenize!='[@T[multipleproductprice:<current productidlist="464069|101|7524" period="monthly" promocode="24681357" />]@T]') [@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price]@L] 
        p.disclaimer(data-tokenize!='[@T[multipleproductprice:<list productidlist="464069|101|7524" period="monthly" promocode="0" />]@T]') [@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price-disclaimer]@L] 
          button.btn-link.see-wsb-disclaimer-link [@L[cds.sales/offers/online-business:32573-godaddy-wsb-text-price-disclaimer-link]@L]</a>
      .row.text-center
        .col-md-6.button-margin
          button#wsb-video-btn.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> [@L[cds.sales/offers/online-business:32573-watch-video-button]@L]
        .col-md-6.button-margin
          button#wsb-designs-btn.btn.btn-md.btn-primary [@L[cds.sales/offers/online-business:32573-view-designs-button]@L]
      .row
        .col-sm-12
          ul.list-unstyled.check-bullets
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-1]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-2]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-3]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-4]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-5]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-6]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-wsb-bullet-7]@L]
    +twoUpCompareColumn({ title: "[@L[cds.sales/offers/online-business:32573-godaddy-ols]@L]", 
                          backgroundColor: "bg-green-official-light", 
                          subtitle: "[@L[cds.sales/offers/online-business:32573-godaddy-ols-text]@L]", 
                          titleAlign: "center", 
                          subtitleAlign: "center", 
                          image: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-onlineStore.png"})
      mark.text-center.disclaimer-mark 
        div(data-tokenize!='[@T[multipleproductprice:<current productidlist="464069|101|40972" period="monthly" promocode="75315678" />]@T]') [@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price]@L] 
        p.disclaimer(data-tokenize!='[@T[multipleproductprice:<list productidlist="464069|101|40972" period="monthly" promocode="0" />]@T]') [@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price-disclaimer]@L] 
          button.btn-link.see-ols-disclaimer-link [@L[cds.sales/offers/online-business:32573-godaddy-ols-text-price-disclaimer-link]@L]
      .row.text-center
        .col-md-6.button-margin
          button#ols-video-btn.btn.btn-md.btn-primary <i class="uxicon uxicon-play"></i> [@L[cds.sales/offers/online-business:32573-watch-video-button]@L]
        .col-md-6.button-margin
          button#ols-stories-btn.btn.btn-md.btn-primary [@L[cds.sales/offers/online-business:32573-see-real-stores-button]@L]
      .row
        .col-sm-12
          ul.list-unstyled.check-bullets
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-1]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-2]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-3]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-4]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-5]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-6]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-7]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-8]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-9]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-10]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-11]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-12]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-13]@L]
            li 
              h5 [@L[cds.sales/offers/online-business:32573-godaddy-ols-bullet-14]@L]

  #site-choice-wsb-modal.tokenizable-disclaimer-modal.sf-dialog(data-title!='[@L[cds.sales/offers/online-business:32573-disclaimer-modal-title]@L]')
    p [@L[cds.sales/offers/online-business:32573-disclaimer-modal-wsb-content]@L]
  #site-choice-ols-modal.tokenizable-disclaimer-modal.sf-dialog(data-title!='[@L[cds.sales/offers/online-business:32573-disclaimer-modal-title]@L]')
    p [@L[cds.sales/offers/online-business:32573-disclaimer-modal-ols-content]@L]


  #site-choice-wsb-video-modal.sf-modal
    iframe(width="100%", height="100%",src="//www.youtube.com/embed/-HtVJyxSQmw?html5=1&rel=0&iv_load_policy=3&modestbranding=1",autoplay, scrolling="no", frameborder="0", allowfullscreen)

  #site-choice-wsb-designs-modal.sf-modal
    include ./_modal_wsb_designs.jade

  #site-choice-ols-video-modal.sf-modal
    iframe(width="100%", height="100%",src="//www.youtube.com/embed/rMF9d8-3WBA?html5=1&rel=0&iv_load_policy=3&modestbranding=1",autoplay, scrolling="no", frameborder="0", allowfullscreen)

  #site-choice-ols-stores-modal.sf-modal
    include ./_modal_ols_stores.jade