section#step2-choose-product

  .bg-green-official
    .container

      .row
        .col-sm-12
          h2 You've got your domain. Now&hellip;

  .bg-gray-light  
    .container.pro-plans

      .row
        .col-sm-12
          h4 Step 2: Choose your website

      .row
        .col-md-5.col-sm-12.plan-tile.plan-pro
          .pro-plan-wrap
            .plan-flag Website Builder
            h2 Get your business online
            h4 All this for just
            .plan-price-wrap
              span.plan-price $1.00
              span.plan-duration /mo
              .plan-inline-disclaimer Annual purchase required. Price valid 1st year only. Renews for $11.99/month. See details.
            button.btn.btn-md.btn-block.btn-purchase Select
            .include-check-green Choose from dozens of professional website designs
            .include-check-green  Customizable text and images with intuitive drag and drop tools
            .include-check-green  Create unlimited pages
            .include-check-green  Upload your own photos or choose from 20,000+ stock photos
              
        .col-md-2.col-sm-12
          p Or

        .col-md-5.col-sm-12.plan-tile.plan-pro
          .pro-plan-wrap
            .plan-flag Online Store &amp; Website
            h2 Get online + Sell your products
            h4 All this for just
            .plan-price-wrap
              span.plan-price $5.00
              span.plan-duration /mo
              .plan-inline-disclaimer Annual purchase required. Price valid 1st year only. Renews for $29.99/month. See details.
            button.btn.btn-md.btn-block.btn-purchase Select
            .include-check-green  Includes Online Store with Website
            .include-check-green  Offer unlimited products
            .include-check-green  Accept credit cards and PayPal<super>&reg;</super> with secure checkout
            .include-check-green  Choose from professional store designs
            .include-check-green  Optimized for social media and mobile devices
