section#step2-choose-product
  .container

    .row.bg-green
      .col-sm-12
        h2 You've got your domain. Now&hellip;
    
    .row
      .col-sm-12
        h5 Step 2: Choose your website

    .row
      .col-md-5.col-sm-12
        .pro-plan-wrap
          .plan-flag Website Builder
          h2.plan-title Get your business online
          h5.plan-subtitle All this for just
          .plan-price-wrap $1.00/mo
          .plan-inline-disclaimer Annual purchase required. Price valid 1st year only. Renews for $11.99/month. See details.
          button.btn.btn-sm.btn-warning Select
          ul
            li.include-check Choose from dozens of professional website designs
            li.include-check Customizable text and images with intuitive drag and drop tools
            li.include-check Create unlimited pages
            li.include-check Upload your own photos or choose from 20,000+ stock photos
            
      .col-md-2.col-sm-12
        p Or

      .col-md-5.col-sm-12
        .pro-plan-wrap
          .plan-flag Online Store &amp; Website
          h2.plan-title Get online + Sell your products
          h5.plan-subtitle All this for just
          .plan-price-wrap $5.00/mo
          .plan-inline-disclaimer Annual purchase required. Price valid 1st year only. Renews for $29.99/month. See details.
          button.btn.btn-sm.btn-warning Select
          ul
            li.include-check Includes Online Store with Website
            li.include-check Offer unlimited products
            li.include-check Accept credit cards and PayPal<super>&reg;</super> with secure checkout
            li.include-check Choose from professional store designs
            li.include-check Optimized for social media and mobile devices
