section.domain-section
  div.section
    div.row.whats-a-domain
      div.col-md-6.col-sm-12
      div.col-md-6.col-sm-12
    div.row.domain-email
      div.col-md-6.col-sm-12
      div.col-md-6.col-sm-12