section.domains
  .container.bg-white

    .row
      .col-md-6.col-sm-12
        h2 What's a domain? It's that name up in the address bar.
        h4 And your online business needs one. Just make sure it:
        .include-check Fits your business or products
        .include-check Is easy to spell and remember
      .col-md-6.col-sm-12.domain-image
        img(src="laptop.jpg")

    .row
      .col-md-6.col-sm-12
        h2 Having your own domain makes your email even better
        h4 It changes timscoolstuff1973@gmail.com to tim@coolexample.com. Plus, it:
        .include-check Promotes your website with every message
        .include-check Makes customers 9x more likely to choose your business+
      .col-md-6.col-sm-12.domain-image
        img(src="globe.jpg")

    .row.disclaimer
      .col-sm-12 + Small business owner and customer surveys. February 2014

  .container.bg-gray-light
