- productBoxOptions = {};

section#products
  h2.product-box-title.
    Here's Everything you get
  +renderProductTiles(3,productBoxOptions)
    +renderProductTile
      include ./product-box-domain.jade
    +renderProductTile
      include ./product-box-website.jade
    +renderProductTile
      include ./product-box-email.jade