extend ../../../templates/product-tile

block vars
  - icon = "email.jpg";
  - title = "Pro email";
  - titleText = "An address that makes you look like the pro you are."
  - subTitle = "";
  - listItems = ["<strong>Powered by</strong> the reliability of Microsoft Office 365", "<strong>Backed by</strong> our free 24/7 phone support"];