extend ../../../templates/product-tile

block vars
  - icon = "website.jpg";
  - title = "Get a website";
  - titleText = "tulip glass malt, hefe brew beer length draft (draught. amber secondary fermentation gravity tulip glass bottom fermenting yeast bock? oxidized, priming autolysis priming ale. autolysis bright beer ibu attenuation brew; "
  - subTitle = "Website Options";
  - listItems = ["eCommerce sites with GoDaddy Online Store", "Do-It-Yourself Website wit GoDaddy Website Builder"];