- var productBoxOptions = {backgroundColor:'bg-gray-dark'};

section#products
  .container
    .row
      h2.product-box-title.
        Here's what you get...
    .row
      +renderPlanTiles(3,productBoxOptions)
        +planTile
          include ./product-box-domain.jade
        +planTile
          include ./product-box-website.jade
        +planTile
          include ./product-box-email.jade