extend ../../../templates/product-tile

block vars
  - icon = "domain.jpg";
  - title = "Get a domain";
  - titleText = "tulip glass malt, hefe brew beer length draft (draught. amber secondary fermentation gravity tulip glass bottom fermenting yeast bock? oxidized, priming autolysis priming ale. autolysis bright beer ibu attenuation brew; "
  - subTitle = "Lorem ipsum";
  - listItems = ["Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum", "Lorem ipsum2 Lorem ipsum2 Lorem ipsum2 Lorem ipsum2 Lorem ipsum2 "];