extend ../../../templates/product-tile

block vars
  - icon = "email.jpg";
  - title = "Get email";
  - titleText = "tulip glass malt, hefe brew beer length draft (draught. amber secondary fermentation gravity tulip glass bottom fermenting yeast bock? oxidized, priming autolysis priming ale. autolysis bright beer ibu attenuation brew; "
  - subTitle = "Better with GoDaddy";
  - listItems = ["Reliable email Powered By Microsoft Office 365", "24/7 Expert support from GoDaddy"];