extend ../../../templates/product-tile

block vars
  - icon = "domain.jpg";
  - title = "A domain";
  - titleText = "Your own unique address on the web, like GoDaddy.com"
  - subTitle = "or";
  - listItems = ["<strong>Choose from</strong> .com, .net, .org, or even .co domains.", "<strong>Trust the world leader</strong> with over 58 million domains under management"];