extend ../../../templates/product-tile

block vars
  - icon = "website.jpg";
  - title = "Your website";
  - titleText = "A place to promote your business or sell your stuff on the web."
  - subTitle = "";
  - listItems = ["<strong>Get your business online</strong> with Website Builder", "<strong>Sell products</strong> with your own Online Store (website included)"];