---
location: sales/offers/online-business.aspx.rule
id: 53f783aef778fc1008446c5d
name: GCE-27089
---
[
  { 
    'Type': 'Redirect',
    'Condition': 'siteContextAny(wwd,br,pl)',
    'Data': "{ 'Type' : '301', 'Loc': '[@T[link:<relative path=\"~/\" />]@T]' }"
  },
  { 
    'Type': 'Redirect',
    'Condition': '!countrySiteAny(www)',
    'Data': "{ 'Type' : '302', 'Loc': '[@T[link:<relative path=\"~/\" />]@T]' }"
  }
]