
.bg-gray-light {
  background-color: #d9d9d9;
}

.bg-green-new {
  background-color: #5caf2b;
}

.include-check-black, .include-check-green, .include-check-none {
  padding-left: 33px;
  position: relative;
  margin-top: 20px;
}
.include-check-black:before {
  content: "";
  background-image: url(//img1.wsimg-com.ide/fos/hp/sahara-rebrand-sprite-20141114.png);
  background-position: 0 -700px;
  background-size: 205px auto;
  width: 25px;
  height: 27px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: -6px;
}
.include-check-green:before {
  content: "";
  background-image: url(//img1.wsimg-com.ide/fos/hp/sahara-rebrand-sprite-20141114.png);
  background-position: 0 -668px;
  background-size: 205px auto;
  width: 25px;
  height: 27px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

*[data-tokenize] {visibility: hidden;}

.tlds-br,
.tlds-ca,
.tlds-uk,
.tlds-in,
.tlds-rocks,
.tlds-club { display: none;}
