extends ../../templates/pages/landing-page

block pageStyles
  style.
    .plan-tile { margin-top: -240px; }

block domainSearch
  //- remove domain search from top of hosting page

block marquee
  section#marquee
    include ./web-hosting/marquee.jade

block plans
  section#plans
    +renderPlanTiles(3)
      +planTile
        include ./web-hosting/plans/plan-hosting-economy.jade
      +planTile
        include ./web-hosting/plans/plan-hosting-deluxe.jade
      +planTile
        include ./web-hosting/plans/plan-hosting-ultimate.jade
        
      +renderCartLogic("[@T[link:<relative path=\"/hosting/web-hosting-config-new.aspx\" parammode=\"common\" />]@T]", "slp_hosting_4GH" )

      .container
        .row
          .col-sm-12
            h3.text-center All Plans Include
        .row
          .col-md-4.col-sm-6
            .include-check Free domain with annual plan
            .include-check Free Email Addresses
            .include-check One-click install of 200+ Free Applications
          .col-md-4.col-sm-6
            .include-check 1 GB storage MySQL Linux and 200 MB storage Windows SQL Databases
            .include-check Flexible, easy-to-use control panel
            .include-check 24/7 security monitoring and DDoS protection
          .col-md-4.col-sm-6
            .include-check Compatible with all major browsers
            .include-check One certificate covers unlimited servers
            .include-check One-click installation for GoDaddy hosted accounts