extends ../../templates/pages/landing-page

append pageStyles
  style
    include ./website-builder/styles.css
 
block domainSearch
  //- remove domain search from top of hosting page

block marquee
  section#marquee 
    include ./website-builder/_marquee.jade

block plans
  section#plans
    +renderPlanTiles(3) 
      | 
      |##if(countrySiteAny(uk))
      | 
      +planTile("plan-A")
        include ./website-builder/plans/_plan-website-builder-personal-uk.jade
      | 
      |##else
      | 
      +planTile("plan-A")
        include ./website-builder/plans/_plan-website-builder-personal.jade
      | 
      |##endif
      | 
      +planTile
        include ./website-builder/plans/_plan-website-builder-business.jade
      +planTile
        include ./website-builder/plans/_plan-website-builder-unlimited.jade
        
      +renderCartLogic("[@T[link:<relative path='~/hosting/website-builder-config.aspx' />]@T]", "slp_wst_3" )
  
block sections  
  +renderMidPageNav
    +priceBlock('[@T[productprice:<current productid="7524" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]', "[@L[cds.sales/_common:month]@L]", "#plan-A")

  section#templates.tile-section
    |view templates 

  include ./website-builder/_fullVideo.jade

  section#features(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_1]@L]")
    include ./website-builder/_tabbed-carousel.jade
    .bg-pro-gray
      include ./website-builder/_business-exclusives.jade
    .bg-black
        .container
          .row
            .col-sm-8
              h3.text-center.text-muted [@L[cds.sales/gd/hosting/website-builder:sb_bpp_starting_at]@L] [@T[productprice:<current productid="7514" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/_common:mo]@L]
            .col-sm-4
              .right(data-center-element='{"vertical":{"target":{"method":"parents","selector":".bg-black"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
                button.btn.btn-purchase.btn-plan.btn-sm(data-tcode='', data-plan='wsb_businessplus_12month') [@L[cds.sales/_common:add-to-cart-cap]@L]

  section#reviews(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_2]@L]")
    .container
      .row
        .col-sm-12
          div#BVRRContainer
            p.bv-loading Loading...
          div [@P[userControl:<Data location="~/Shared/Tabs/controls/BVReviewsNoJS.ascx"><Parameters><Parameter key="ProductId" value="web_hosting" /><Parameter key="ReviewNumber" value="1" /></Parameters></Data>]@P]

  section#faq(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_3]@L]")
    +renderAccordion({id: "test-faq", buttonID: "test-button", buttonText: "[@L[cds.sales/gd/hosting/website-builder:sb_faq_see]@L]"})
      h2 [@L[cds.sales/gd/hosting/website-builder:rb_your_question]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-first-slide-title]@L]")
        [@L[cds.sales/gd/hosting/website-builder:faq-first-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-second-slide-title]@L]")
        [@L[cds.sales/gd/hosting/website-builder:faq-second-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-third-slide-title]@L]")
        [@L[cds.sales/gd/hosting/website-builder:faq-third-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-fourth-slide-title]@L]")
        [@L[cds.sales/gd/hosting/website-builder:faq-fourth-slide-content]@L]
  section#other-products
    +renderTwoUpCompare({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_title]@L]", twoUpCompareId: "two-up", titleBackgroundColor: "bg-white", backgroundColor: "bg-green-official", backgroundImage: "background-image: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/two-up-bg-wsb.jpg')", style: "min-height: 100%"})
      +twoUpCompareColumn({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_1]@L]", backgroundColor: "gb-green-official-light", shapeText: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp]@L]", shapeColor: "orange"})
        p [@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_2]@L]
        a.btn.btn-default-dark [@L[cds.sales/gd/hosting/website-builder:learn-more]@L]
      +twoUpCompareColumn({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs_1]@L]", backgroundColor: "bg-gray-darkest", shapeText: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs]@L]", shapeColor: "orange", whiteText: "white-text"})
        p Perfect for: [@L[cds.sales/gd/hosting/website-builder:sb_qs_2]@L]
        a.btn.btn-default-light [@L[cds.sales/gd/hosting/website-builder:learn-more]@L]

  section#disclaimers
    a(onClick="disclaimersModal()") disclaimers link
    #disclaimersModal(data-title="Modal",style="display:none")
      p hello
      p hide

prepend endOfPageScripts
  script.
    function disclaimersModal() {
      $('#disclaimersModal').sfDialog();
    }
    ##if(activeLanguageAny([en-us]))
      var loadReviews = function(){
        if (typeof $BV != "undefined") {
          $BV.configure("global", {
            allowSamePageSubmission: true,
            userToken: "[@P[userControl:<Data location="~/Shared/BazaarVoice/SessionUserToken.ascx"></Data>]@P]",
            doLogin: function(successCallback, successUrl) {
              $('#login-modal').modal();
            },
            doScrollSubmission: function () {
              return false;
            }
          });
          $BV.ui("rr", "show_reviews", {
            productId: "web_hosting",
            num: 1,
            doShowContent: function() {
              $('.bv-loading').hide();
            }
          });
        }
      };
      $(window).load(function() {
        if (!document.getElementById('bvapi')) {
          var bv = document.createElement('script');
          bv.type = 'text/javascript';
          bv.id = 'bvapi';
          bv.async = true;
          bv.src = '[@P[userControl:<Data location="~/Scripts/BVScriptUrlOnly.ascx"></Data>]@P]';
          bv.onload = loadReviews;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bv);
        }
      });
    ##endif