extends ../../templates/pages/landing-page

append pageStyles
  style
    include ./website-builder/styles.css

block domainSearch
  //- remove domain search from top of hosting page

block marquee
  section#marquee 
    include ./website-builder/_marquee.jade

block plans
  section#plans
    +renderPlanTiles(3) 
      +planTile
        include ./website-builder/plans/_plan-website-builder-personal.jade
      +planTile
        include ./website-builder/plans/_plan-website-builder-business.jade
      +planTile
        include ./website-builder/plans/_plan-website-builder-unlimited.jade
        
      +renderCartLogic("[@T[link:<relative path='~/hosting/website-builder-config.aspx' />]@T]", "slp_wst_3" )
  
block sections  
  +renderMidPageNav
    +priceBlock("$69.99", "year", "#marquee")

  section#templates.tile-section
    |view templates 

  include ./website-builder/_fullVideo.jade

  section#social-media(data-mid-nav-title="Features")
    include ./website-builder/_tabbed-carousel.jade

  section#business-exclusives.bg-pro-gray
    include ./website-builder/_business-exclusives.jade


  section#testimonials(data-mid-nav-title="Testimonials")
    +carousel("carousel-testimonials",3,{css:false})
      +carouselItem({textCenter:true})
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            h2 Quote
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            .carousel-panel-text GoDaddy is Awesome.
      +carouselItem({textCenter:true})
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            h2 Quote
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            .carousel-panel-text GoDaddy is Awesome.
      +carouselItem({textCenter:true})
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            h2 Quote
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12
            .carousel-panel-text GoDaddy is Awesome.

  section#faq(data-mid-nav-title="FAQ")
  +renderAccordion({id: "test-faq", buttonID: "test-button", buttonText: "hey you"})
    h2 FAQ!
    +accordionTab("Where am I?")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum, nisl a lacinia gravida, velit elit convallis ex, ac fringilla ante erat eu ante. Duis pellentesque, dolor et laoreet feugiat, ligula lacus tincidunt ante, id malesuada purus nulla vel erat. Vivamus viverra velit vel imperdiet imperdiet. Morbi fermentum et justo id convallis. Fusce fringilla neque ut vestibulum ornare. Maecenas eleifend diam sit amet cursus finibus. Donec tellus massa, sollicitudin vitae lacus in, posuere suscipit leo. Donec vel dolor sapien. Pellentesque sit amet eleifend justo. Curabitur sed neque ligula. Phasellus vestibulum malesuada erat id elementum. Sed cursus neque et congue accumsan. 
      p Cras varius, tellus eu tristique ultrices, sapien enim ullamcorper odio, nec euismod metus massa vel leo. Praesent finibus lacus purus, in ultrices metus rutrum sed. Vestibulum purus mauris, efficitur id quam vel, consequat malesuada nisi. Duis eu mauris vitae mauris pulvinar maximus eu ac odio. Pellentesque et purus sed lectus dictum auctor non et ligula. Sed pellentesque a urna nec sodales. Vestibulum dignissim iaculis tincidunt. Pellentesque facilisis nec lorem in venenatis. Cras scelerisque aliquet libero, a viverra enim pulvinar id. Maecenas pharetra tortor id quam imperdiet, id accumsan velit dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur euismod vulputate enim ac scelerisque. Nunc blandit lectus mattis velit ornare, quis malesuada ex sollicitudin. Phasellus auctor risus et nisl dignissim faucibus vel sit amet ex. Nulla tempor eros et pellentesque maximus. Aliquam finibus auctor justo, quis porta ex vulputate sit amet. 
      p Fusce viverra eget massa ac posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Cras vel ligula venenatis, fringilla purus sit amet, semper ante. Vivamus bibendum maximus dui et finibus. Integer in dignissim dolor, in malesuada massa. Nam accumsan feugiat tortor, eu tincidunt mauris laoreet a. Fusce fermentum dolor eu odio volutpat varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sed augue pretium, ultrices nisi non, maximus tortor. Praesent auctor euismod fringilla.
    +accordionTab("What's the purpose of life?")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum, nisl a lacinia gravida, velit elit convallis ex, ac fringilla ante erat eu ante. Duis pellentesque, dolor et laoreet feugiat, ligula lacus tincidunt ante, id malesuada purus nulla vel erat. Vivamus viverra velit vel imperdiet imperdiet. Morbi fermentum et justo id convallis. Fusce fringilla neque ut vestibulum ornare. Maecenas eleifend diam sit amet cursus finibus. Donec tellus massa, sollicitudin vitae lacus in, posuere suscipit leo. Donec vel dolor sapien. Pellentesque sit amet eleifend justo. Curabitur sed neque ligula. Phasellus vestibulum malesuada erat id elementum. Sed cursus neque et congue accumsan. 
      p Cras varius, tellus eu tristique ultrices, sapien enim ullamcorper odio, nec euismod metus massa vel leo. Praesent finibus lacus purus, in ultrices metus rutrum sed. Vestibulum purus mauris, efficitur id quam vel, consequat malesuada nisi. Duis eu mauris vitae mauris pulvinar maximus eu ac odio. Pellentesque et purus sed lectus dictum auctor non et ligula. Sed pellentesque a urna nec sodales. Vestibulum dignissim iaculis tincidunt. Pellentesque facilisis nec lorem in venenatis. Cras scelerisque aliquet libero, a viverra enim pulvinar id. Maecenas pharetra tortor id quam imperdiet, id accumsan velit dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur euismod vulputate enim ac scelerisque. Nunc blandit lectus mattis velit ornare, quis malesuada ex sollicitudin. Phasellus auctor risus et nisl dignissim faucibus vel sit amet ex. Nulla tempor eros et pellentesque maximus. Aliquam finibus auctor justo, quis porta ex vulputate sit amet. 
      p Fusce viverra eget massa ac posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Cras vel ligula venenatis, fringilla purus sit amet, semper ante. Vivamus bibendum maximus dui et finibus. Integer in dignissim dolor, in malesuada massa. Nam accumsan feugiat tortor, eu tincidunt mauris laoreet a. Fusce fermentum dolor eu odio volutpat varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sed augue pretium, ultrices nisi non, maximus tortor. Praesent auctor euismod fringilla.
  
  section#other-products
    +renderTwoUpCompare({title: "Not finding what you need?", twoUpCompareId: "two-up", titleBackgroundColor: "bg-white", backgroundColor: "bg-green-official", backgroundImage: "background-image: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/two-up-bg-wsb.jpg')", style: "min-height: 100%"})
      +twoUpCompareColumn({title: "Get the power of Wordpress with the ease of Fully-Managed Hosting and Security", backgroundColor: "gb-green-official-light", shapeText: "Managed Wordpress", shapeColor: "orange"})
        p Perfect for: Bloggers, start-ups, small businesses, and designers
        a.btn.btn-default-dark LEARN MORE
      +twoUpCompareColumn({title: "Everything you need to open your own online store - no technical skills required.", backgroundColor: "bg-gray-darkest", shapeText: "Quick Shopping Cart", shapeColor: "orange", whiteText: "white-text"})
        p Perfect for: eCommerce businesses and those looking to add online sales to their site
        a.btn.btn-default-light LEARN MORE
