extends ../shared/_landing-page

append vars
  - page.title = "[@L[cds.sales/gd/hosting/website-builder:page-title]@L]";
  - page.description = "[@L[cds.sales/gd/hosting/website-builder:meta-description]@L]";
  - page.keywords = "[@L[cds.sales/gd/hosting/website-builder:meta-keywords]@L]"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/hosting/website-builder.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "[@L[cds.sales/gd/hosting/website-builder:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/gd/hosting/website-builder:og-description]@L]";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/201401/hosting/website-builder/img/og.png";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

append pageStyles
  style
    include ./website-builder/styles.css
  style.
    html[lang="fi-fi"] .pro-plans .pro-plan-wrap .plan-title {
    font-size: 26px;
    font-size: 2.6rem;
    }
    html[lang="it-it"] .pro-plans .pro-plan-wrap .plan-flag {
      font-size: 24px;
      font-size: 2.4rem;
    }

    #social-media, #reviews, #faq, #disclaimers { background: #fff; }
    #social-media { padding-bottom: 0; }
    #features, #faq, #other-products, #renderMidPageNavBottom, #modals { padding-top: 0; padding-bottom: 0; }

    /* TODO: can this styling be abstracted into landing-page.jade? */
    body { background-color: #d9d9d9; }
    #marquee { 
      background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/BACKUP_image_sb15_wsb_marquee.jpg) no-repeat top center; 
      padding-bottom: 120px;
      margin-bottom: 0;
      background-size: cover;
    }

    /* latam */
    html[lang="es-ar"] #marquee,
    html[lang="pt-br"] #marquee,
    html[lang="es-cl"] #marquee,
    html[lang="es-co"] #marquee,
    html[lang="es-mx"] #marquee,
    html[lang="es-pe"] #marquee,
    html[lang="es-ve"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img_bgrnd_sb15_marquee_lam_wsb.jpg);
    }

    /* general */
    html[lang="en-us"] #marquee,
    html[lang="es-us"] #marquee,
    html[lang="en-au"] #marquee,
    html[lang="en-ca"] #marquee,
    html[lang="en-nz"] #marquee,
    html[lang="fr-be"] #marquee,
    html[lang="fr-ca"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/BACKUP_image_sb15_wsb_marquee.jpg);
    }

    /* asia */
    html[lang="en-my"] #marquee,
    html[lang="en-ph"] #marquee,
    html[lang="en-sg"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/SB15_Marquee_Website-Builder_Asia.jpg);
    }

    /* in-pk */
    html[lang="en-in"] #marquee,
    html[lang="en-pk"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img_bgrnd_sb15_marquee_in-pk_wsb.jpg);
    }

    /* emea */
    html[lang="nl-be"] #marquee,
    html[lang="da-dk"] #marquee,
    html[lang="de-de"] #marquee,
    html[lang="es-es"] #marquee,
    html[lang="fr-fr"] #marquee,
    html[lang="en-ie"] #marquee,
    html[lang="it-it"] #marquee,
    html[lang="nb-no"] #marquee,
    html[lang="nl-nl"] #marquee,
    html[lang="de-at"] #marquee,
    html[lang="pl-pl"] #marquee,
    html[lang="pt-pt"] #marquee,
    html[lang="fr-ch"] #marquee,
    html[lang="it-ch"] #marquee,
    html[lang="de-ch"] #marquee,
    html[lang="en-za"] #marquee,
    html[lang="fi-fi"] #marquee,
    html[lang="sv-se"] #marquee,
    html[lang="tr-tr"] #marquee,
    html[lang="en-gb"] #marquee,
    html[lang="el-gr"] #marquee,
    html[lang="ru-ru"] #marquee,
    html[lang="uk-ua"] #marquee {
      background-image: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/SB15_Marquee_Website-Builder_EMEA.jpg);
    }

    .plan-tile { 
      margin-top: 0; 
      margin-bottom: 0; 
    }
    .pro-plans { 
      margin-top: -120px; 
      padding-bottom: 20px; 
      padding-top: 0; 
    }
    .marquee ul { padding: 0; }

block domainSearch
  //- remove domain search from top of hosting page

block marqueeContent
  h1.marquee-product-name [@L[cds.sales/gd/hosting/website-builder:main-banner-subtitle]@L]
  h2.marquee-product-description [@L[cds.sales/gd/hosting/website-builder:header_subtitle_1]@L]</br>[@L[cds.sales/gd/hosting/website-builder:header_subtitle_2]@L]
  ul.green-check
    | 
    |##if(countrySiteAny(www))
    | 
    li [@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-1-35874]@L]
    | 
    |##else
    | 
    li [@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-1]@L]
    | 
    |##endif
    | 
    li [@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-2]@L]
    li [@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-3]@L]
  button.btn.btn-default-light.btn-plan(data-plan="wsb_personal_12month",data-ci="87757") [@L[cds.sales/gd/hosting/website-builder:get-started-btn-general]@L]

block plans
  section#plans
    +renderPlanTiles(3) 
      | 
      |##if(countrySiteAny(uk))
      | 
      +planTile("plan-A")
        include ./website-builder/plans/_plan-website-builder-personal-uk.jade
      | 
      |##else
      | 
      +planTile("plan-A")
        include ./website-builder/plans/_plan-website-builder-personal.jade
      | 
      |##endif
      | 
      +planTile
        include ./website-builder/plans/_plan-website-builder-business.jade
      +planTile
        include ./website-builder/plans/_plan-website-builder-unlimited.jade
        
      +renderCartLogic("[@T[link:<relative path='~/hosting/website-builder-config.aspx'><param name='ci' value='{0}' /></relative>]@T]", "slp_wst_3" )
  
block sections  
  +renderMidPageNav
    +priceBlock('[@T[productprice:<current productid="7524" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]', "[@L[cds.sales/_common:month]@L]", "#plan-A", {"ci":"95885"})

  section#features(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_1]@L]",data-ciCode="87758")
    .templates-chart.bg-gray-light
      .container.templates-container
        .header-section.text-center
          img(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-tools.png",style="padding-bottom:25px")
          | 
          | ##if(countrySiteAny(www))
          | 
          .h0.text-right
            | [@L[cds.sales/gd/hosting/website-builder:templates-desription]@L]
            br
            | [@L[cds.sales/gd/hosting/website-builder:sb_templates_title_2]@L]
          | 
          | ##else
          | 
          .h1
            | [@L[cds.sales/gd/hosting/website-builder:templates-desription]@L]
            br
            | [@L[cds.sales/gd/hosting/website-builder:sb_templates_title_2]@L]
          | 
          | ##endif
          | 
          .headline-primary [@L[cds.sales/gd/hosting/website-builder:sb_templates_text]@L]
          button.btn.btn-default-dark.view-all.btn-md(data-toggle='modal', data-target='#g-modal',data-ci="84003") [@L[cds.sales/gd/hosting/website-builder:sb_view_templates]@L]
        .templates-image-container  

    include ../shared/wsb-templates.html
    |##if(activeLanguageAny(en))
    | 
    +fullVideoModule({"ci":"87762","backgroundImage":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/bg-video-international.jpg","playButton":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png","tagline":"[@L[cds.sales/gd/hosting/website-builder:testimony-title]@L]","lazyLoad":true,"cta":"[@L[cds.sales/gd/hosting/website-builder:testimony-description]@L]","youtubeId":"-HtVJyxSQmw","tileName":"wsbVideo"})
    | 
    |##elseif(activeLanguageAny(es))
    | 
    +fullVideoModule({"ci":"87762","backgroundImage":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/bg-video-international.jpg","playButton":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png","tagline":"[@L[cds.sales/gd/hosting/website-builder:testimony-title]@L]","lazyLoad":true,"cta":"[@L[cds.sales/gd/hosting/website-builder:testimony-description]@L]","youtubeId":"wXlQyXhIsH8","tileName":"wsbVideo"})
    | 
    |##else
    | 
    style.
      .video-marquee {
        background-position: top center;
      }
      .video-marquee {
        background-size: cover;
        position: relative;
        background-position: bottom center;
        background-color: #fff;
      }
      .video-marquee.video-marquee-white {
        color: #fff;
      }
      .video-marquee.full-video {
        height: 535px;
        padding-top: 1px;
      }
      .video-marquee.full-video .video-info {
        margin-top: 150px;
      }
      .video-marquee .relative-position {
        position: relative;
      }
      .video-marquee .video-marquee-all-centered {
        text-align: center;
      }
      .video-marquee.video-marquee-white h1, .video-marquee.video-marquee-white h2, .video-marquee.video-marquee-white h3, .video-marquee.video-marquee-white h4, .video-marquee.video-marquee-white h5, .video-marquee.video-marquee-white h6 {
        color: #fff;
      }
      .video-marquee.full-video .video-info .cta {
        font-family: 'Walsheim-Black';
        text-transform: uppercase;
      }
    .lazyload.video-marquee.video-marquee-white.full-video(style='', data-lazyload-source!='[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/bg-video-international.jpg', data-ci='87762', data-tile='wsbVideo', data-youtube-id='-HtVJyxSQmw')
      .container.relative-position.video-info
        .row
          .col-sm-10.col-sm-offset-1.col-xs-12.video-marquee-all-centered
            h3.h1 [@L[cds.sales/gd/hosting/website-builder:testimony-title]@L]
            span.cta [@L[cds.sales/gd/hosting/website-builder:testimony-description]@L]
    | 
    |##endif
    | 

  section#social-media
    | 
    |##if(countrySiteAny(www))
    | 
    include ./website-builder/_tabbed-carousel.jade
    | 
    |##else
    | 
    include ./website-builder/_tabbed-carousel-nonUS.jade
    | 
    |##endif
    | 

    .bg-gray-light
      include ./website-builder/_business-exclusives.jade
    .bg-black
        .container
          .row
            .col-sm-9
              h2.text-center.h3(style="color:#FFF;margin-top:40px;") [@L[cds.sales/gd/hosting/website-builder:sb_bpp_starting_at]@L] [@T[productprice:<current productid="7514" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/_common:mo]@L]
            .col-sm-3
              .right(data-center-element='{"vertical":{"target":{"method":"parents","selector":".bg-black"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
                button.btn.btn-purchase.btn-plan.btn-md.btn-block(data-ci='91392', data-plan='wsb_businessplus_12month') [@L[cds.sales/_common:add-to-cart-cap]@L]

  | 
  |##if(activeLanguageAny([en-us]))
  | 
  section#reviews(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_2]@L]",data-ciCode="87151")
    .container
      .row
        .col-sm-12
          div#BVRRContainer
            p.bv-loading [@L[cds.sales/_common:loading]@L]
          div [@P[userControl:<Data location="~/Shared/Tabs/controls/BVReviewsNoJS.ascx"><Parameters><Parameter key="ProductId" value="website_builder" /><Parameter key="ReviewNumber" value="1" /></Parameters></Data>]@P]
  | 
  |##endif
  | 

  section#faq(data-mid-nav-title="[@L[cds.sales/gd/hosting/website-builder:sb_nav_3]@L]",data-ciCode="87759")
    +renderAccordion({ci: "95882", id: "faq-accordion", buttonID: "faq-button", buttonText: "[@L[cds.sales/hosting/web-hosting-rebrand:seeAllQuestions]@L]"})
      h2.h1 [@L[cds.sales/gd/hosting/website-builder:rb_your_question]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-first-slide-title]@L]")
        | [@L[cds.sales/gd/hosting/website-builder:faq-first-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-second-slide-title]@L]")
        | [@L[cds.sales/gd/hosting/website-builder:faq-second-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-third-slide-title]@L]")
        | [@L[cds.sales/gd/hosting/website-builder:faq-third-slide-content]@L]
      +accordionTab("[@L[cds.sales/gd/hosting/website-builder:faq-fourth-slide-title]@L]")
        | 
        |##if(activeLanguageAny([fr-CA],[en-IN],[en-PK],[es-AR],[es-CL],[es-CO],[es-MX],[es-PE],[es-VE],[pt-BR]) || countrySiteAny(at,be,ch,dk,da,de,es,fi,fr,gr,it,nb,nl,no,pl,pt,ru,se,tr,ua))
        | 
        | [@L[cds.sales/gd/hosting/website-builder:faq-fourth-slide-content-non-ols]@L]
        | 
        |##else
        | 
        | [@L[cds.sales/gd/hosting/website-builder:faq-fourth-slide-content]@L]
        | 
        |##endif
        | 

  | 
  |##if(activeLanguageAny([fr-CA],[en-IN],[en-PK],[es-AR],[es-CL],[es-CO],[es-MX],[es-PE],[es-VE],[pt-BR]) || countrySiteAny(at,be,ch,dk,da,de,es,fi,fr,gr,it,nb,nl,no,pl,pt,ru,se,tr,ua))
  | 
  section#other-products
    .container
        .row
          .col-sm-12
            h2.text-center.h1(style="padding-top:30px;") [@L[cds.sales/gd/hosting/website-builder:sb_xsell_title]@L]
    +featuresTemplates({
      presentationTemplate: "featuresRightText", 
      featuresId: "wordpress", 
      additionalWrapClasses: null, 
      lazyLoad: true, 
      backgroundImage: null, 
      featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-wordpress-icon.png", 
      featuresImgAltText: null, 
      title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp]@L]", 
      subtitle: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_1]@L]", 
      text: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_2]@L]", 
      buttonText: '[@L[cds.sales/gd/hosting/website-builder:learn-more]@L]', 
      buttonUrl: '[@T[link:<relative path="~/hosting/wordpress-hosting.aspx"><param name="ci" value="88753" /></relative>]@T]', 
      buttonColor: 'btn-default-dark'})
  | 
  |##else
  | 
  section#other-products
    +renderTwoUpCompare({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_title]@L]", twoUpCompareId: "two-up", titleBackgroundColor: "bg-white", backgroundColor: "bg-green-official", backgroundImage: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/two-up-bg-wsb.jpg", style: "min-height: 100%"})
      +twoUpCompareColumn({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_1]@L]", backgroundColor: "gb-green-official-light", shapeText: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp]@L]", shapeColor: "orange"})
        p [@L[cds.sales/gd/hosting/website-builder:sb_xsell_wp_2]@L]
        a.btn.btn-default-dark(href!='[@T[link:<relative path="~/hosting/wordpress-hosting.aspx"><param name="ci" value="88753" /></relative>]@T]') [@L[cds.sales/gd/hosting/website-builder:learn-more]@L]
        | 
        |##if(activeLanguageAny([en-MY]) || activeLanguageAny([en-ZA]) || activeLanguageAny([es-us]))
        | 
      +twoUpCompareColumn({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs_1]@L]", backgroundColor: "bg-gray-darkest", shapeText: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs_qsc]@L]", shapeColor: "orange", whiteText: "white-text"})
        | 
        |##else
        | 
      +twoUpCompareColumn({title: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs_1]@L]", backgroundColor: "bg-gray-darkest", shapeText: "[@L[cds.sales/gd/hosting/website-builder:sb_xsell_qs]@L]", shapeColor: "orange", whiteText: "white-text"})
        | 
        |##endif
        | 
        p [@L[cds.sales/gd/hosting/website-builder:sb_qs_2]@L]
        a.btn.btn-default-light(href!='[@T[link:<relative path="~/ecommerce/shopping-cart.aspx"><param name="ci" value="88754" /></relative>]@T]') [@L[cds.sales/gd/hosting/website-builder:learn-more]@L]
  | 
  |##endif
  | 
  section#disclaimers.disclaimers-section
    .container
      div
        p.h5
          | 
          |##if(splitTestingSideIsActive(1349, B))
          | 
          |<sup>4</sup>
          | 
          |##endif
          | 
          | [@L[cds.sales/gd/hosting/website-builder:rb_disclaimers]@L] 
          a(onClick="disclaimersModal()", data-ci="87766") [@L[cds.sales/gd/hosting/website-builder:rb_disclaimers_view]@L]
        #disclaimersModal(data-title="[@L[cds.sales/gd/hosting/website-builder:disclaimer-modal-header]@L]",style="display:none")
          p [@L[cds.sales/gd/hosting/website-builder:restristions-apply-tooltip]@L]
          p [@L[cds.sales/gd/hosting/website-builder:modal-disclaimer-5]@L]
          | 
          |##if(splitTestingSideIsActive(1349, B))
          | 
          p [@L[cds.sales/gd/hosting/website-builder:renewal-disclaimer]@L]
          | 
          |##endif
          | 
        p.h5 [@L[cds.sales/gd/hosting/website-builder:rb_disclaimers_3p]@L]

  | 
  |##if(activeLanguageAny([en-US]))
  | 
  section#modals
    div#login-modal.modal.fade
      div.modal-dialog
        div.modal-content
          form(method="POST" id="g-modal-loginAcct-form" action!="[@T[link:<external parammode='explicit' linktype='SSOURL' secure='true' />]@T]/login.aspx?spkey=[@T[sso:spkey]@T]&target=[@T[link:<external linktype='siteurl' path='/hosting/website-builder.aspx' parammode='explicit'/>]@T]")
            input(type="hidden" value="LOGIN" name="LOGIN")
            input(type="hidden" value="1" name="verifyShopper")
            div.modal-header
              button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              h4.modal-title Please login to access your account
            div.modal-body
              input(type="text" id="loginName" name="loginName" autocomplete="off" placeholder!="[@L[cds.presentationcentral/standardheaderfooter/1/2014v1:Headers.UtilityBar.Username]@L]")
              input(type="password" id="password" name="password" autocomplete="off" placeholder!="[@L[cds.presentationcentral/standardheaderfooter/1/2014v1:Headers.UtilityBar.Password]@L]")
              a(href!="[@T[link:<external linktype='SSOURL' path='/account/accountRetrieval.aspx' secure='true'/>]@T]" class="forgot-pass")</br> [@L[cds.presentationcentral/standardheaderfooter/1/2014v1:Headers.UtilityBar.ForgotPassword]@L]
            div.modal-footer
              button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
              input(class="btn btn-primary" type="submit" value!="[@L[cds.presentationcentral/standardheaderfooter/1/2014v1:Headers.UtilityBar.SignIn]@L]")
  | 
  |##endif
  | 
  +renderMidPageNavBottom
prepend endOfPageScripts
  script.
   if (typeof FastballEvent_MouseClick === 'function' && typeof fbiLibCheckQueue === 'function') {
      $('[data-ci]').click(function(e){
          $this = $(this);
          FastballEvent_MouseClick(e,$this.attr('data-ci'),$(this)[0],'a');
          fbiLibCheckQueue();
      });
    }
    var wsb = {
     tldInfo: {
        tlds: []
      }
    };
    ##if(countrySiteAny(ca) || isManager())  
        wsb.tldInfo.tlds.push('ca');
    ##endif
    ##if(countrySiteAny(br) || isManager())
        wsb.tldInfo.tlds.push('br');
    ##endif
    ##if(countrySiteAny(in) || isManager())
        wsb.tldInfo.tlds.push('in');
    ##endif
    ##if(countrySiteAny(uk) || isManager())
        wsb.tldInfo.tlds.push('uk');
    ##endif

    $(document).ready(function(){
      showTldsInList('#disclaimers');
      var recommendedThemes = [[@T[wsbthemes:]@T]];
  
      if(typeof recommendedThemes[0] != 'undefined' && recommendedThemes[0].length >= 1){
        recommendedThemes = recommendedThemes[0].slice(0,9);
        // populate images
        var column = 0;
        var $row;
        var recommendedImagesTemplates = _.template('<div class="col-md-4 text-center"><div class="templates-image"><img src="<%= url %>" data-lazyload-source="<%= url %>" data-lazyload-watch="" data-lazyload-callback="undefined" data-lazyload-callbackAfter="undefined" alt="" class="lazyload img-responsive"/></div><div class="templates-image-name"><%= name %></div></div>');
        $.each(recommendedThemes,function(index){
          if(column == 0)
            $row = $("<div>", {class: "row"});
          column++;
          var itemData = {url:recommendedThemes[index]['URL'], name:recommendedThemes[index]['NAME']};
          var itemElement = recommendedImagesTemplates(itemData);
          $row.append(itemElement)
          if(column == 3 ){
            $('.templates-image-container').append($row);
            column = 0;
          }
        });
      }
    });

    function showTldsInList(selector) {
      var $this = $(selector),
      formatTldSelector = function(tld) { return '.tlds-' + tld.replace('.','-')},
      tldList = wsb.tldInfo.tlds,
      removedSpansArr = [];

      //- remove all dynamic tlds from this
      $.each(tldList, function(idx, tld){
        var $tldItem = $this.find(formatTldSelector(tld));
        removedSpansArr.push($tldItem);
      });
      $.each(removedSpansArr, function(idx, tldSpan) {
          //- show  list
        $(tldSpan.selector).show();
      });
    }
    ##if(activeLanguageAny([en-au],[en-ca],[en-gb],[en-in],[en-us]))
    $(document).ready(function(){
      $("a[href='http://support.godaddy.com/help/article/5107']").text("How Do I Build a Website?");
      $("a[href='http://support.godaddy.com/help/article/5107']").attr('data-ci','94986');
      $("a[href='http://support.godaddy.com/help/article/5107']").attr('href','[@T[link:<relative path='~/hosting/website-builder/how-to-build-a-website' secure='true' />]@T]');

      $("a[href='http://support.godaddy.com/help/article/4026']").text("What are Website Templates?");
      $("a[href='http://support.godaddy.com/help/article/4026']").attr('data-ci','94987');
      $("a[href='http://support.godaddy.com/help/article/4026']").attr('href','[@T[link:<relative path='~/hosting/website-builder/website-template' secure='true' />]@T]');

      $("a[href='http://support.godaddy.com/help/article/3503?ci=75947']").text("Tips to Build a Website.");
      $("a[href='http://support.godaddy.com/help/article/3503?ci=75947']").attr("data-ci","95153");
      $("a[href='http://support.godaddy.com/help/article/3503?ci=75947']").attr("href","[@T[link:<relative path='~/hosting/website-builder/build-a-website' secure='true' />]@T]");

      $(".ep-wsb-how-to-publish-a-website-faq").html(
        "Want to see how easy it is to get a website online? Check out <a href=\"[@T[link:<relative path='~/hosting/website-builder/how-to-publish-a-website' secure='true'><param name='ci' value='95087' /></relative>]@T]\">How to Publish a Website</a>."
      );    
    });
    ##endif  
    function disclaimersModal() {
      $('#disclaimersModal').sfDialog({buttons: [{text: 'OK', onClick: function($sfDialog) { $sfDialog.sfDialog('close'); } }] });
    }
    ##if(activeLanguageAny([en-us]))
      var loadReviews = function(){
        if (typeof $BV != "undefined") {
          $BV.configure("global", {
            allowSamePageSubmission: true,
            userToken: "[@P[userControl:<Data location="~/Shared/BazaarVoice/SessionUserToken.ascx"></Data>]@P]",
            doLogin: function(successCallback, successUrl) {
              $('#login-modal').modal();
            },
            doScrollSubmission: function () {
              return false;
            }
          });
          $BV.ui("rr", "show_reviews", {
            productId: "website_builder",
            num: 1,
            doShowContent: function() {
              $('.bv-loading').hide();
            }
          });
        }
      };
      $(window).load(function() {
        if (!document.getElementById('bvapi')) {
          var bv = document.createElement('script');
          bv.type = 'text/javascript';
          bv.id = 'bvapi';
          bv.async = true;
          bv.src = '[@P[userControl:<Data location="~/Scripts/BVScriptUrlOnly.ascx"></Data>]@P]';
          bv.onreadystatechange = loadReviews; //Legacy IE
          bv.onload = loadReviews;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bv);
        }
      });
    ##endif