extends ../../templates/pages/config-page

append vars
  - page.title = "[@L[cds.sales/gd/hosting/website-builder:page-title]@L]";
  - page.description = "[@L[cds.sales/gd/hosting/website-builder:meta-description]@L]";
  - page.keywords = "[@L[cds.sales/gd/hosting/website-builder:meta-keywords]@L]"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/hosting/website-builder.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "[@L[cds.sales/gd/hosting/website-builder:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/gd/hosting/website-builder:og-description]@L]";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/201401/hosting/website-builder/img/og.png";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

append pageStyles
  style
    include ./website-builder-config/styles.css


block addons
  +configStep
  br
  br 
  +configStep
  br
  br
  +configStep
  br
  br 
  .col-sm-11
    .row
      .col-sm-11.config-step
        span.flag.blue
          span.step-number-text Step 2 | Choose your plan term
        .row
          h2 Extend and save
        p.lead Lock in your savings and avoid annual renewals with a multi-year term.



prepend endOfPageScripts
