extend ./productTile

block vars
  - title = "Economy";
  - description = "Perfect to get started with a basic site."
  - features = ["1 Website","100 GB Storage","Unlimited bandwidth","100 Email Addresses","Free Domain with annual plan"];
  - price = "$3.49";

block price
  if (price)
    .plan-price-wrap <strong>Starting at</strong><br><span class="plan-price text-warning">!{price}</span><span class="plan-duration text-warning">/mo</span><br><strong>was <strike>10.99</strike> <span class="text-primary">Save 70%</span></strong>
