extend ./productTile

block vars
  - title = "Deluxe";
  - description = "Ideal for building and managing multiple sites."
  - features = ["Unlimited Websites","Unlimited Storage <span class='sf-tip sf-tipper-target' data-style='qt' data-content='Our Web Hosting plans are designed to host most personal, small business and organization websites. We do not limit the amount of storage and bandwidth your site can use as long as it complies with our Hosting Agreement. Should your website bandwidth or storage usage present a risk to the stability, performance or uptime of our servers, we will notify you via email and you may be required to upgrade to a Virtual Private Server or Dedicated (Private) Server, or we may restrict the resources your website is using. It’s very rare that a website violates our Hosting Agreement and is typically only seen in sites that use hosting for file sharing or storage.'></span>","Unlimited bandwidth","500 Email Addresses","Free Domain with annual plan"];
  - price = "$4.49";
