---
location: sales/hosting/vps-hosting-config.aspx
id: 53615dcbf778fc1808589235
name: FOS-1310
---
{% extends 'config-base.html' %}

{% block steps %}
                        <form action="" >
                            <div class="config-step medium-margin-top-step">
                                <span class="step-ribbon blue-step-ribbon step-number-text">[@L[cds.sales/gd/hosting/vps-hosting-config:batch0]@L]</span>
                                <h2>[@L[cds.sales/gd/hosting/vps-hosting-config:title0]@L]</h2>
                                <p class="config-lead orange-text">[@L[cds.sales/gd/hosting/vps-hosting-config:subtitle0]@L]</p>
                                <div class="config-product-wrapper config-product-vps" data-planLevel="Economy">
                                    <div>
                                        <h3 class="product-name">[@L[cds.sales/gd/hosting/vps-hosting-config:list0title0]@L]</h3>
                                        <ul class="product-options">
                                            <li>
                                                <input type="radio" class="defselindx" id="nobackup" name="backup" checked="checked" value="" onclick="vdedserver_cust_js.bkClick(this);" data-ci="90196">
                                                <label for="nobackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list0NoFTP]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bkitem priceitem" id="15gbbackup" name="backup" value="399|3070|1" onclick="vdedserver_cust_js.bkClick(this);" data-ci="90197">
                                                <label for="15gbbackup">15 [@L[cds.sales/gd/hosting/vps-hosting-config:list0GBFTP]@L] $3.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bkitem priceitem" id="30gbbackup" name="backup" value="799|133|1" onclick="vdedserver_cust_js.bkClick(this);" data-ci="90198">
                                                <label for="30gbbackup">30 [@L[cds.sales/gd/hosting/vps-hosting-config:list0GBFTP]@L] $7.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bkitem priceitem" id="60gbbackup" name="backup" value="1299|3071|1" onclick="vdedserver_cust_js.bkClick(this);" data-ci="90199">
                                                <label for="60gbbackup">60 [@L[cds.sales/gd/hosting/vps-hosting-config:list0GBFTP]@L] $12.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bkitem priceitem" id="120gbbackup" name="backup" value="1999|3072|1" onclick="vdedserver_cust_js.bkClick(this);" data-ci="90200">
                                                <label for="120gbbackup">120 [@L[cds.sales/gd/hosting/vps-hosting-config:list0GBFTP]@L] $19.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                                <div class="config-product-wrapper config-product-last config-product-vps" data-planLevel="Premium">
                                    <div>
                                        <h3 class="product-name">[@L[cds.sales/gd/hosting/vps-hosting-config:list1title0]@L]</h3>
                                        <ul class="product-options">
                                            <li>
                                                <input type="radio" class="defselindx" id="nomngbackup" name="mngbackup" checked="checked" value="" onclick="vdedserver_cust_js.mbkClick(this);" data-ci="90201">
                                                <label for="nomngbackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list1NoManaged]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="mkitem priceitem" id="7daybackup" name="mngbackup" value="1998|1368|1" onclick="vdedserver_cust_js.mbkClick(this);" data-ci="90202">
                                                <label for="7daybackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list1DailyManaged]@L] 7[@L[cds.sales/gd/hosting/vps-hosting-config:list1DayRetention]@L] $19.98[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="mkitem priceitem" id="30daybackup" name="mngbackup" value="3999|1362|1" onclick="vdedserver_cust_js.mbkClick(this);" data-ci="90203">
                                                <label for="30daybackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list1DailyManaged]@L] 30[@L[cds.sales/gd/hosting/vps-hosting-config:list1DayRetention]@L] $39.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="mkitem priceitem" id="4weekbackup" name="mngbackup" value="2999|1363|1" onclick="vdedserver_cust_js.mbkClick(this);" data-ci="90204">
                                                <label for="4weekbackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list1WeeklyManaged]@L] 4[@L[cds.sales/gd/hosting/vps-hosting-config:list1weekRetention]@L] $29.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="mkitem priceitem" id="12weekbackup" name="mngbackup" value="4999|1364|1" onclick="vdedserver_cust_js.mbkClick(this);" data-ci="90205">
                                                <label for="12weekbackup">[@L[cds.sales/gd/hosting/vps-hosting-config:list1WeeklyManaged]@L] 12[@L[cds.sales/gd/hosting/vps-hosting-config:list1weekRetention]@L] $49.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                            </div>
                            <div class="config-step-box-shadow"></div>
                            <!-- / End Step 1 -->
                            <div data-ci="90224" class="config-step-break move" data-scroll=".box2">
                                <span class="icon-down"></span>
                            </div>

                            <div class="config-step medium-margin-top-step box2">
                                <span class="step-ribbon orange-step-ribbon js-step2 step-number-text">[@L[cds.sales/gd/hosting/vps-hosting-config:batch1]@L]</span>
                                <h2>[@L[cds.sales/gd/hosting/vps-hosting-config:title1]@L]</h2>
                                <p class="config-lead orange-text">[@L[cds.sales/gd/hosting/vps-hosting-config:subtitle1]@L]</p>
                                <div class="config-product-wrapper config-product-vps" data-planLevel="Economy">
                                    <div>
                                        <h3 class="product-name">[@L[cds.sales/gd/hosting/vps-hosting-config:list2title0]@L]</h3>
                                        <ul class="product-options">
                                            <li>
                                                <input type="radio" class="defselindx" id="nobndwdth" name="bandwidth" checked="checked" value="" onclick="vdedserver_cust_js.bwClick(this);" data-ci="90206">
                                                <label for="nobndwdth">[@L[cds.sales/gd/hosting/vps-hosting-config:list2NoAdditionalBand]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bwitem priceitem" id="5bndwdth" name="bandwidth" value="1499|1225|1" onclick="vdedserver_cust_js.bwClick(this);" data-ci="90207">
                                                <label for="5bndwdth">[@L[cds.sales/gd/hosting/vps-hosting-config:list2Add]@L] 500 [@L[cds.sales/gd/hosting/vps-hosting-config:list2GBmo]@L] $14.99[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bwitem priceitem" id="10bndwdth" name="bandwidth" value="2998|1225|2" onclick="vdedserver_cust_js.bwClick(this);" data-ci="90208">
                                                <label for="10bndwdth">[@L[cds.sales/gd/hosting/vps-hosting-config:list2Add]@L] 1,000 [@L[cds.sales/gd/hosting/vps-hosting-config:list2GBmo]@L] $29.98[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bwitem priceitem" id="15bndwdth" name="bandwidth" value="4497|1225|3" onclick="vdedserver_cust_js.bwClick(this);" data-ci="90209">
                                                <label for="15bndwdth">[@L[cds.sales/gd/hosting/vps-hosting-config:list2Add]@L] 1,500 [@L[cds.sales/gd/hosting/vps-hosting-config:list2GBmo]@L] $44.97[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" class="bwitem priceitem" id="20bndwdth" name="bandwidth" value="5996|1225|4" onclick="vdedserver_cust_js.bwClick(this);" data-ci="90210">
                                                <label for="20bndwdth">[@L[cds.sales/gd/hosting/vps-hosting-config:list2Add]@L] 2,000 [@L[cds.sales/gd/hosting/vps-hosting-config:list2GBmo]@L] $59.96[@L[cds.sales/gd/hosting/vps-hosting-config:mo]@L]</label>
                                            </li>
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                            </div>
                            <div class="config-step-box-shadow"></div>
                            <!-- / End Step 1 -->
                            <div data-ci="90224" class="config-step-break move" data-scroll=".box3">
                                <span class="icon-down"></span>
                            </div>



                            <div class="config-step large-margin-top-step box3">
                                <span class="step-ribbon blue-step-ribbon step-number-text">[@L[cds.sales/gd/hosting/vps-hosting-config:batch2]@L]</span>
                                <h2>[@L[cds.sales/gd/hosting/vps-hosting-config:title2]@L]</h2>
                                <p class="config-lead orange-text">[@L[cds.sales/gd/hosting/vps-hosting-config:subtitle2]@L]</p>
                                <div class="config-product-wrapper config-product-vps" data-planLevel="Economy">
                                    <div>
                                        <h3 class="product-name">[@L[cds.sales/gd/hosting/vps-hosting-config:list3title0]@L]</h3>
                                        <p class="note">[@L[cds.sales/gd/hosting/vps-hosting-config:list3title1]@L]</p>
                                        <ul class="product-options product-options-vps">
                                            <li>
                                                <input type="radio" value="" onclick="vdedserver_cust_js.aspClick(this);" checked="checked" name="assitsvc" id="noassitsvc" class="defselindx" data-ci="90212">
                                                <label for="noassitsvc">[@L[cds.sales/gd/hosting/vps-hosting-config:list3item0]@L]</label>
                                            </li>
                                            <li>
                                                <input type="radio" value="12999|1264|3" onclick="vdedserver_cust_js.aspClick(this);" name="assitsvc" id="yesassitsvc" class="spitem priceitem" data-ci="90213">
                                                <label for="yesassitsvc">[@L[cds.sales/gd/hosting/vps-hosting-config:list3item1]@L]</label>
                                            </li>
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                            </div>
                            <div class="config-step-box-shadow"></div>
                            <!-- / End Step 1 -->
                            <div data-ci="90224" class="config-step-break move" data-scroll=".box4">
                                <span class="icon-down"></span>
                            </div>


                            <div class="config-step large-margin-top-step box4">
                                <span class="step-ribbon red-step-ribbon step-number-text">[@L[cds.sales/gd/hosting/vps-hosting-config:batch3]@L]</span>
                                <h2>[@L[cds.sales/gd/hosting/vps-hosting-config:title4]@L]</h2>
                                <p class="config-lead orange-text">[@L[cds.sales/gd/hosting/vps-hosting-config:subtitle4]@L]</p>
                                <div class="config-product-wrapper config-product-vps" data-planLevel="Economy">
                                    <div>
                                        <h3 class="product-name">[@L[cds.sales/gd/hosting/vps-hosting-config:list4title0]@L]</h3>
                                        <ul class="product-options product-options-vps">
                                            <li class="disableable" data-ci="90216">
                                                <input type="radio" onclick="vdedserver_cust_js.cpClick(this);" checked="checked" name="controlpanel" id="nocpanel">
                                                <label for="nocpanel" id="fornocpanel">[@L[cds.sales/gd/hosting/vps-hosting-config:list4item0]@L]</label>
                                            </li>
                                            <li data-ci="90217">
                                                <input type="radio" value="499|1222|1" onclick="vdedserver_cust_js.plk30Click(this);" name="controlpanel" id="plx30cpanel" class="cpitem priceitem children-show" data-child=".child1" >
                                                <label for="plx30cpanel">[@L[cds.sales/gd/hosting/vps-hosting-config:list4item1]@L]</label>

                                                <div id="plx30Sftwr" class="defhide children-hide child1 sub-radio-option">
                                                    <input type="radio" value="" onclick="vdedserver_cust_js.plk30Click(this);" checked="checked" name="plesk30" id="plx30noaddl" class="defselindx">
                                                    <label for="plx30noaddl">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem0]@L]</label>
                                                    <br>
                                                    <input type="radio" value="699|2751|1" onclick="vdedserver_cust_js.plk30Click(this);" name="plesk30" id="plx30pro" class="switem priceitem">
                                                    <label for="plx30pro">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem1]@L]</label>
                                                </div>

                                            </li>
                                            <li data-ci="90219">
                                                <input type="radio" value="699|1223|1" onclick="vdedserver_cust_js.plk100Click(this);" name="controlpanel" id="plx100cpanel" class="cpitem priceitem children-show" data-child=".child2">
                                                <label for="plx100cpanel">[@L[cds.sales/gd/hosting/vps-hosting-config:list4item2]@L]</label>

                                                <div id="plx100Sftwr" class="defhide children-hide child2 sub-radio-option">
                                                    <input type="radio" value="" onclick="vdedserver_cust_js.plk100Click(this);" checked="checked" name="plesk100" id="plx100noaddl" class="defselindx">
                                                    <label for="plx100noaddl">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem0]@L]</label>
                                                    <br>
                                                    <input type="radio" value="699|2751|1" onclick="vdedserver_cust_js.plk100Click(this);" name="plesk100" id="plx100pro" class="switem priceitem">
                                                    <label for="plx100pro">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem1]@L]</label>
                                                </div>

                                            </li>
                                            <li data-ci="90221">
                                                <input type="radio" value="999|1224|1" onclick="vdedserver_cust_js.plkunlClick(this);" name="controlpanel" id="plxunlcpanel" class="cpitem priceitem children-show" data-child=".child3">
                                                <label for="plxunlcpanel">[@L[cds.sales/gd/hosting/vps-hosting-config:list4item3]@L]</label>
                                        
                                                <div id="plxunlSftwr" class="defhide children-hide child3 sub-radio-option">
                                                    <input type="radio" value="" onclick="vdedserver_cust_js.plkunlClick(this);" checked="checked" name="pleskunl" id="plxunlnoaddl" class="defselindx">
                                                    <label for="plxunlnoaddl">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem0]@L]</label>
                                                    <br>
                                                    <input type="radio" value="699|2751|1" onclick="vdedserver_cust_js.plkunlClick(this);" name="pleskunl" id="plxunlpro" class="switem priceitem">
                                                    <label for="plxunlpro">[@L[cds.sales/gd/hosting/vps-hosting-config:list4subItem1]@L]</label>
                                                </div>

                                            </li>
                                            <li class="disableable">
                                                <input id="cpanelunl" class="cpitem priceitem" type="radio" value="999|1240|1" onclick="vdedserver_cust_js.cpClick(this);" name="controlpanel" data-ci="90222">
                                                <label id="forcpanelunl" for="cpanelunl" >[@L[cds.sales/gd/hosting/vps-hosting-config:list4item4]@L]</label>
                                            </li>
                                            
                                        </ul> 
                                    </div>
                                </div>
                                <!-- /End Product -->
                            </div>
                            <div class="config-step-box-shadow"></div>
                            <!-- / End Step 1 -->

                            <div class="config-continue-to-cart-wrapper">
                                <a data-ci="90223" class="btn btn-warning btn-lg js-addtocart box5"><span class="icon-shopping-cart"></span> [@L[cds.sales/gd/hosting/vps-hosting-config:configTitleContinueToCart]@L]</a>
                                <form action="http://cart.godaddy.com/basket.aspx" method="get" data-addtocart="http://www.godaddy.com/api/package"></form>
                            </div> 
                        </form> 
{% endblock %} 

{% block footer %}
    <script>
        $(function () {
            $('.isToolTip').tooltip();
            $('.move').scrollToSection();
            var $disableableControl = $('input:radio[name="assitsvc"]'),
            $disableableInput = $('.disableable > input'),
            $disableableLabel = $('.disableable > label'),
            $yesassitsvc = $('#yesassitsvc'),
            $noassitsvc = $('#noassitsvc');

            $disableableControl.on('click', function() {

                if ($disableableControl.filter($yesassitsvc).is(':checked')) {
                    $disableableInput.prop('disabled', true);
                    $disableableInput.prop('checked', false);
                    $('#plx30cpanel').prop('checked', true);
                    $disableableLabel.addClass('product-desc');
                }
                else if ($disableableControl.filter($noassitsvc).is(':checked')) {
                    $disableableInput.removeAttr('disabled');
                    $disableableLabel.removeClass('product-desc');  
                }
            });

            $('[name="controlpanel"]').on('click', function() {
                $('.children-hide').css('display','none');
                $($(this).attr('data-child')).css('display','block');
            });
        });

        function changePlan(){
            window.location.href = '[@T[link:<relative path="~/hosting/vps-hosting.aspx" />]@T]';
        }    
    </script>
{% endblock %}
