---
location: sales/hosting/private-label/vps-hosting.aspx
id: 5437150af778fc2c9c0805c1
name: GCE-28592
comments: Reseller /PL VPS Refresh
url: http://www.dev-secureserver.net/hosting/vps-hosting.aspx
assetPath: true
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}

    {% parent %}

{% endblock %}

{% block body %}

<!-- Start main-banner -->
<div>
<section class="main-banner main-banner-wp"  style="background-size:cover;">  
    <div class="t12 center">
	     <span class="black b">Already own this product?</span> 
	     <a title="Manage now" class="blue-text" href="https://mya.dev-secureserver.net/default.aspx?ci=57595&amp;accid=2&amp;prog_id=hunter&amp;pl_id=1724">Manage now</a>
     </div>

    <div class="l-main-container container main-banner-content vps-banner" >
       <div class="hdrHeader g-rnd-10">
			<div class="vpsHdrSprt notInTheCloud">&nbsp;</div>
			<div class="hdrUptime">
			<div class="hdrUptimePct">99.9%</div>
			<div class="hdrUptimeText">UPTIME GUARANTEE<br>on network</div>
			</div>
			<div class="hdrOs">&nbsp;</div>
			<div class="hdrBanHeadline">Choose the Operating System<br>that's right for you!</div>
			<div class="hdrCentOS">CentOS<sup style="font-size: 10px;">&reg;</sup></div>
			<div class="hdrFedora">Fedora<sup style="font-size: 10px;">&reg;</sup></div>
			<div class="hdrWindows">Windows<sup style="font-size: 10px;">&reg;</sup></div>
			<div class="hdrPoweredBy">Powered By Linux<sup style="font-size:8px;">&reg;</sup></div>
			<table class="headerTable">
			<tbody><tr>
				<td class="headerRow headerText">
				<div class="hdrHeadline OneLinkNoTx">Virtual Private Servers</div>
				</td>
			</tr>
			<tr>
				<td class="headerRowDetail headerTextDetail">
				<div class="hdrSubLine">Now everyone can afford the reliability, security and scalability of the Cloud.</div>
				</td>
			</tr>
			</tbody></table>
			<div class="floatend"> </div>
			<div class="hdrBottomBtns">
				<div class="floatend">&nbsp;</div>
			</div>
		</div>
		<div style="color:#000; font-weight:bold; font-size: 16px; margin:0px 0px 15px 10px;">Our VPS Hosting is made to grow as your needs grow.</div>
		</div>
  </div>
</section>
</div>
<!-- End main-banner -->

{% endblock %}


{% block footer %}

<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
<script type="text/javascript">
$('#myTab a').click(function (e) {
   e.preventDefault();
   $(this).tab('show');
});

$(function () {
$('#myTab a:last').tab('show');
})
</script>
{% endblock %}