---
location: sales/hosting/private-label/vps-hosting.aspx
id: 5458007cf778fc21f0951492
name: GCE-28592
comments: Reseller /PL VPS Refresh
url: http://www.dev-secureserver.net/hosting/vps-hosting.aspx
assetPath: true
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}

{% parent %}

{% endblock %}

{% block body %}
<!-- Start main-banner -->
   <section class="main-banner main-banner-wp" style="background-size:cover;">
    <div class="t12 center">
        <span class="black b">Already own this product?</span>
        <a title="Manage now" class="blue-text" href="https://mya.dev-secureserver.net/default.aspx?ci=57595&amp;accid=2&amp;prog_id=hunter&amp;pl_id=1724">Manage now</a>
    </div>

    <div class="vps-main-banner">
        <div class="hdrHeader g-rnd-10">
            <div class="vpsHdrSprt notInTheCloud">&nbsp;</div>
            <div class="hdrUptime">
                <div class="hdrUptimePct">99.9%</div>
                <div class="hdrUptimeText">UPTIME GUARANTEE<br>on network</div>
            </div>
            <div class="hdrOs">&nbsp;</div>
            <div class="hdrBanHeadline">Choose the Operating System<br>that's right for you!</div>
            <div class="hdrCentOS">CentOS<sup style="font-size: 10px;">&reg;</sup></div>
            <div class="hdrFedora">Fedora<sup style="font-size: 10px;">&reg;</sup></div>
            <div class="hdrWindows">Windows<sup style="font-size: 10px;">&reg;</sup></div>
            <div class="hdrPoweredBy">Powered By Linux<sup style="font-size:8px;">&reg;</sup></div>
            <table class="headerTable">
                <tbody>
                    <tr>
                        <td class="headerRow headerText">
                            <div class="hdrHeadline OneLinkNoTx">Virtual Private Servers</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="headerRowDetail headerTextDetail">
                            <div class="hdrSubLine">Now everyone can afford the reliability, security and scalability of the Cloud.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="floatend"> </div>
            <div class="hdrBottomBtns">
                <div class="floatend">&nbsp;</div>
            </div>
        </div>
        <div style="color:#000; font-weight:bold; font-size: 16px; margin:0px 0px 15px 10px;">Our VPS Hosting is made to grow as your needs grow.</div>
        <div style="font-size:12px; margin:0px 10px 20px 10px;">
            Get all the power and control of your own Virtual Server for less! With a Hunter's, New Show VPS, your RAM and storage are
            guaranteed - we never overload. Plus, you can add more capacity anytime with just a few clicks*. Not sure how to set it up? Our experts will help get your server up and running
            fast! Just choose the plan that's right for you, customize your bandwidth, control panel (Parallels® Plesk Panel or cPanel®) and backup options and leave the rest to us. Call <b>
                (480) 624-2500
            </b> to get started now.
        </div>
        <div class="switch-os switch-toggle">
            <input id="linux" name="os" type="radio" checked="checked">
            <label for="linux" onclick="">Linux</label>

            <input id="windows" name="os" type="radio">
            <label for="windows" onclick="">Windows</label>

            <a></a>
        </div>
        <input type="hidden" id="osaddon">
        <div class="row brpl-row" style="margin-top:30px;">       
            <div class="col-xs-4">
                <div class="plan brpl-plan set-active-col">
                    <div id="t1" class="inner-grid-container">
                        <div class="top-plan-info active-column">
                            <h2 class="ram"></h2>
                            <p class="brpl-price-mo">Starting at <span class="brpl-price"></span><span class="slash-month">/mo</span></p>
                        </div>
                        <div class="bottom-plan-info">
                          <p class="font-16-brpl">An affordable way to have your own server</p>
                          <ul class="plan-pricing-list  brpl-ul">
							<li  id="storage"></li>
							<li id="bandwidth"></li>
						  </ul>
						  <p class="no-margin-bottom center-btn">
						  <button type="button" data-plan=""  class="btn btn-vps js-addtocart-btn btn--push-down btn-default add-to-cart-btn">Add To Cart</button>
						  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="plan brpl-plan set-active-col">
                    <div id="t2" class="inner-grid-container">
                        <div class="top-plan-info active-column">
                            <h2 class="ram"></h2>
                            <p class="brpl-price-mo">Starting at <span class="brpl-price"></span><span class="slash-month">/mo</span></p>
                        </div>
                        <div class="bottom-plan-info">
                           <p class="font-16-brpl">Powerful hardware for big requirements on a small budget.</p>
                           <ul class="plan-pricing-list  brpl-ul">
							<li  id="storage"></li>
							<li id="bandwidth"></li>
						  </ul>
						  <p class="no-margin-bottom center-btn">
						  <button type="button" data-plan=""  class="btn btn-vps js-addtocart-btn btn--push-down btn-default add-to-cart-btn">Add To Cart</button>
						  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="plan brpl-plan set-active-col">
                    <div id="t3" class="inner-grid-container">
                        <div class="top-plan-info active-column">
                            <h2 class="ram"></h2>
                            <p class="brpl-price-mo">Starting at <span class="brpl-price"></span><span class="slash-month">/mo</span></p>
                        </div>
                        <div class="bottom-plan-info">
                          <p class="font-16-brpl">Top-of-the-line performance,storage and bandwidth</p>
                          <ul class="plan-pricing-list  brpl-ul">
							<li  id="storage"></li>
							<li id="bandwidth"></li>
						  </ul>
						  <p class="no-margin-bottom center-btn">
						  <button type="button" data-plan=""  class="btn btn-vps js-addtocart-btn btn--push-down btn-default add-to-cart-btn">Add To Cart</button>
						  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row brpl-row" style="margin-top:20px;">
            <div class="col-xs-4">
                <div class="plan brpl-plan set-active-col">
                    <div id="t4" class="inner-grid-container">
                        <div class="top-plan-info active-column">
                            <h2 class="ram"></h2>
                            <p class="brpl-price-mo">Starting at <span class="brpl-price"></span><span class="slash-month">/mo</span></p>
                        </div>
                        <div class="bottom-plan-info">
                           <p class="font-16-brpl">Move up from entry-level for just a little extra and get more bang for your buck!</p>
                           <ul class="plan-pricing-list  brpl-ul">
							<li  id="storage"></li>
							<li id="bandwidth"></li>
						  </ul>
						  <p class="no-margin-bottom center-btn">
						  <button type="button" data-plan=""  class="btn btn-vps js-addtocart-btn btn--push-down btn-default add-to-cart-btn">Add To Cart</button>
						  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="plan brpl-plan set-active-col">
                    <div id="t5" class="inner-grid-container">
                        <div class="top-plan-info active-column">
                            <h2 class="ram"></h2>
                            <p class="brpl-price-mo">Starting at <span class="brpl-price"></span><span class="slash-month">/mo</span></p>
                        </div>
                        <div class="bottom-plan-info">
                            <p class="font-16-brpl">Handle demanding applications with our fastest processor & 6 GB of memory</p>
                            <ul class="plan-pricing-list  brpl-ul">
							<li  id="storage"></li>
							<li id="bandwidth"></li>
						  </ul>
						  <p class="no-margin-bottom center-btn">
						  <button type="button" data-plan="" class="btn btn-vps js-addtocart-btn btn--push-down btn-default add-to-cart-btn">Add To Cart</button>
						  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width:1000px;text-align:center;">
        <div class="row">
            <div class="col-sm-12 text-center featuresHeader"><h2>All these features, all to yourself.</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img1 key-benefits-img "></div></div>
                <h3 class="key-benefits-title">Feel at home with cPanel<sup>®</sup>.</h3>
                <div class="key-benefits-text">
                    Hit the ground running with the
                    industry-standard control panel
                    you already know and love.
                </div>
            </div><div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img2 key-benefits-img"></div></div>
            <h3 class="key-benefits-title">Build to grow with your clients.</h3><div class="key-benefits-text">
                    We take care of patching, security
                    monitoring, backups and more so
                    you can focus on your business.
                </div>
            </div><div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img3 key-benefits-img"></div></div><h3 class="key-benefits-title">Think fast.</h3><div class="key-benefits-text">
                    Some places take hours to get your
                    server online. We’ll have you up and
                    running in minutes.
                </div>
            </div><div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img4 key-benefits-img"></div></div><h3 class="key-benefits-title">Provisioning that's ready to go now.</h3><div class="key-benefits-text">
                    You’re in charge with root (administrative)
                    access to install PHP, modules, server
                    level proxy, and much more.
                </div>
            </div><div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img5 key-benefits-img"></div></div><h3 class="key-benefits-title">Access that makes you feel like a VIP.</h3><div class="key-benefits-text">
                    Our servers are amped up and ready to
                    go with the latest-gen Intel<sup>®</sup>
                    processors.
                </div>
            </div><div class="col-sm-4 text-center key-benefit">
                <div class="key-benefits-img-wrap"><div class="img6 key-benefits-img"></div></div><h3 class="key-benefits-title">Keep your data looking good with disc mirroring</h3><div class="key-benefits-text">
                    We won’t put your success on
                    hold. Upgrade your plan anytime
                    without having to re-provision.
                </div>
            </div>
        </div>
    </div>

   <div class="compare-chart-pro" >  
    <div class="container" style="width:1000px;padding:0px;">
        <table>
            <thead>
                <tr>
                    <th class="compare-chart-title"><div><h1>Levels of Management</h1></div></th>
                    <th class="compare-chart-header">
                        <div>
                            <strong>Self-Managed</strong><span data-content="You don’t need anyone’s help -- you’ve got this covered. When standing up new environments, you’d rather control your updates, if you make any at all. Our Self-Managed plans give you the freedom to flex your tech skills." data-style="qt" class="sf-tip sf-tipper-target"></span>
                        </div>
                    </th>
                    <th class="compare-chart-header"><div><strong>Managed</strong><span data-content="You just need simple backups and patching, updates you don’t have to think about and the power of cPanel. We include it all at no additional cost, giving you the tools to handle everything else." data-style="qt" class="sf-tip sf-tipper-target"></span></div></th>
                    <th class="compare-chart-header"><div><strong>Fully Managed</strong><span data-content="You don’t have the time to be a SysAdmin. Our dedicated Advanced Hosting Support team can do that job for you, so you can focus on your clients." data-style="qt" class="sf-tip sf-tipper-target"></span></div></th>
                </tr>
            </thead>
            <tbody>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header">
                        <div>OS Distributions</div>
                    </td>
                    <td class="compare-chart-entry">
                        <div>CentOS 6, CentOS 7, Fedora, Ubuntu, Windows</div>
                    </td>
                    <td class="compare-chart-entry"><div>CentOS 6, Windows</div></td>
                    <td class="compare-chart-entry"><div>CentOS 6, Windows</div></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Control Panel</div></td>
                    <td class="compare-chart-entry"><div>&mdash;</div></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header">
                        <div>
                            Root Access<span data-content="For Managed &amp; Fully-Managed with Control Panel: Disabled with opt-in; Without Control Panel: Enabled" data-style="qt" class="sf-tip sf-tipper-target"></span>
                        </div>
                    </td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Auto Updates &amp; Patching<span data-content="Without Root: Auto Updates" data-style="qt" class="sf-tip sf-tipper-target"></span></div></td>
                    <td class="compare-chart-entry"><div>&mdash;</div></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Migration</div></td>
                    <td class="compare-chart-entry"><div>&mdash;</div></td>
                    <td class="compare-chart-entry"><div>Discounted</div></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                </tr>
                <tr class="compare-chart-row" style=""><td class="compare-chart-header"><div>Security</div></td><td class="compare-chart-entry"><div>DDoS</div></td><td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td><td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td></tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Monitoring</div></td>
                    <td class="compare-chart-entry"><div>Basic</div></td>
                    <td class="compare-chart-entry"><div>Intermediate</div></td>
                    <td class="compare-chart-entry"><div>Advanced</div></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Backups</div></td>
                    <td class="compare-chart-entry"><div>&mdash;</div></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                    <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>IP Address</div></td>
                    <td class="compare-chart-entry"><div>1</div></td>
                    <td class="compare-chart-entry"><div>3</div></td>
                    <td class="compare-chart-entry"><div>3</div></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Server Admin Services</div></td>
                    <td class="compare-chart-entry"><div>$</div></td>
                    <td class="compare-chart-entry"><div>$</div></td>
                    <td class="compare-chart-entry"><div>Free</div></td>
                </tr>
                <tr class="compare-chart-row" style="">
                    <td class="compare-chart-header"><div>Support</div></td>
                    <td class="compare-chart-entry"><div>Standard</div></td>
                    <td class="compare-chart-entry"><div>Standard</div></td>
                    <td class="compare-chart-entry">
                        <div>Dedicated Team with Unlimited Server Admin Services</div>
                    </td>
                </tr>
            </tbody>
        </table><div class="compare-chart-footer"></div>
    </div>
    </div>
</section>
<section class="l-main-content">
    <div class="vps-faq l-main-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="plan-summary-container brpl-all-plans-include" >
                   
                    <div class="footer-header-container">
                        <div class="brpl-plan-include-header float-left">
                            All Plans Include
                        </div>
                       
                    </div>
                 
                    <div class="featuretab_bullet_div floatleft">
                            <ul class="bullets">
                                <li>World-class data centers</li>
                                <li>Best-of-Breed routers, firewalls and servers</li>
                                <li>FREE email addresses</li>
                                <li>99.9% uptime guarantee</li>
                            </ul>
                    </div>  
                    <div class="featuretab_bullet_div floatleft">
                            <ul class="bullets" style="vertical-align: top;">
                                <li>One-click install of free applications</li>
                                <li>Unlimited Monthly Bandwidth</li>
                                <li>Flexible, easy-to-use control panel with cPanel for Linux</li>
                                <li>Unlimited File Transfer</li>
                            </ul>
                    </div>
                    <div class="featuretab_bullet_div floatleft">  
                             <ul class="bullets" style="vertical-align: top;">
                                <li>1 GB storage MySQL linux databases</li>
                                <li>NO hidden fees</li>
                                <li>24/7 security monitoring and DDoS protection</li>
                             </ul>
                     </div>  

                     <div class="floatleft featureTabLast">
                      <strong> Need more power?</strong> Then get one of our <span class="blueText">Virtual Private</span> or <span class="blueText">Dedicated servers</span>
                     </div>
                 </div>
                     
                </div>
                             
            </div>
        </div>
    </div>
   
</section>>
	<!-- End main-banner -->
	{% endblock %}

   	{% block footer %}

	<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
	<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
	<script src="[@T[link:<javascriptroot />]@T]fos/office365/js/currency-calc.v1.0.3.min.js" type="text/javascript"></script>
	<script>
      if(typeof currencyCalc != "undefined"){
        currencyCalc.base = "[@T[currencyprice:<price usdamount="1000000000" dropdecimal="false" dropsymbol="false" htmlsymbol="false" negative="parenthesis" />]@T]";
      }
    </script> 
	<script type="text/javascript">
	    
	    $(document).ready(function() {
	    	getData();
            $('input:radio[name=os]').click(function(){
            	getData();
            });

            $('.js-addtocart-btn').click(function(){
            	var plan = $(this).data('plan');
            	var osOption = $('#osaddon').val().split('_')[3];
                var itccode =  osOption == 'linux' ? 'pro_VPS_Linux':'pro_VPS_Windows';

                var qty = 1;
          		var addons = generateAddonsURL();
          		var quantity=1;
                var ci = 94077 //$(this).attr('data-ci');
            	var apiEndpoint = '[@T[link:<relative path="/api/package/{0}/{1}/{2}/{3}/{4}" parammode="explicit"/>]@T]'.replace('{0}','add').replace('{1}',itccode).replace('{2}',ci).replace('{3}',quantity).replace('{4}',plan);

                apiEndpoint =apiEndpoint + addons;
                apiEndpoint =apiEndpoint + '&prog_id=hunter';

            	$.ajax({
                type: 'POST',
                url: apiEndpoint,
                dataType: 'json',
                success: function (data) {
                      if (data.Success) {
                           var configUrl= '[@T[link:<relative path="hosting/vps-hosting-config.aspx" />]@T]';
                           configUrl =configUrl+ '&plan='+ plan +'&planaddons=pro_vps_managed';
                           window.location = configUrl;
                    }
                },
               error: function(){
                if(console != undefined)
                  {
                    console.log('package api post failure');
                  }
                success = false;
            }
          });

            });
	    });			

        function getData(){
           var url = '[@T[link:<relative path="~/api/package/config/vpsprodata" />]@T]';

		    $.getJSON(url, function(data) {
		        if (data != 'fail') {
		            processVPSData(data);
		        }
		    });            

        }

        function processVPSData(data){
        	var os  = $('input:radio[name=os]:checked').attr('id');
        	var plans = data[os];
        	$("#osaddon").val(plans.t1.osaddon);
        	$.each(plans, function(i, item){
                  var tier =  $("#" + i +"");
                  tier.find('.ram').text(item.plandetail.ram + ' RAM');
                  tier.find('.brpl-price').text(currencyCalc.evaluate([item.productprice,"+",item.managedaddonprice]));
                  tier.find('#storage').html("<strong>" + item.plandetail.storage + "</strong> Storage");
                  tier.find('#bandwidth').html("<strong>" +item.plandetail.bandwidth  + "</strong> /mo Bandwidth");
                  tier.find('.js-addtocart-btn').attr('data-plan' , item.id);
                  
        	 });
        }

        function generateAddonsURL(){                
          var addonURL='';
          var osOption =$("#osaddon").val();
          addonURL+= '?addons='+osOption + "-1" ;
          addonURL+= '|pro_vps_managed-1';
          return addonURL;
        }
	</script>
	{% endblock %}