extends ../_hero-arrow.jade

append vars
  - var classes = "abndcart";
  - var ciCode = 95851;
  - var ctaLink = "[@T[link:<external linktype='carturl' path='/basket.aspx'><param name='ci' value='"+ciCode+"'/></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white You did the research.<br/>You shopped smart.

block rightContent
  p.font-md.black Now you just need to...
  a.btn.btn-md.btn-purchase(href!=ctaLink) Go to cart