##if(targetMessageTagAny(sales_hp,sales_hp_marquee_2014jun_dbp))
  [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>sales_hp_marquee_2014jun_dbp</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_1))
  [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_1</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_2))
  [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_2</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp,fos21247_63offwddc_1))
  [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos21247_63offwddc_1</MessageTag></MessageTags></data>]@P]
##else
  ##if(targetMessageTagAny(sales_hp_default,fos21197_office365_1_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_1_x</MessageTag></MessageTags></data>]@P]
  ##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_2_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_2_x</MessageTag></MessageTags></data>]@P]
  ##elseif(targetMessageTagAny(sales_hp,fos21247_63offwddc_1_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos21247_63offwddc_1_x</MessageTag></MessageTags></data>]@P]
  ##elseif(targetMessageTagAny(sales_hp_default_en_us,hpnewcustomertest_1) && splitTestingSideIsActive(1278, A))
    {% include "marquee_builds/en/_en_us_299com.html" %}
  ##elseif(targetMessageTagAny(sales_hp_default_en_us,hpnewcustomertest_1))
    {% include "marquee_builds/en/_en-us_danica-tony.html" %}
  ##elseif(splitTestingSideIsActive(1279, A))
    {% include "marquee_builds/en/_en-us_orangeIpad.html" %}
  ##else
    {% include "marquee_builds/en/_en-us_danica-tony.html" %}
  ##endif  
##endif