##if(targetMessageTagAny(sales_hp,fos22046_nyc_1))
  ##if(splitTestingSideIsActive(1327, B))
    [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos22046_nyc_1</MessageTag></MessageTags></data>]@P]
  ##else
    {% include "marquee_builds/en/_en-us_orangeIpad.html" %}
  ##endif
##elseif(targetMessageTagAny(sales_hp,fos25096_multiemail))
  [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos25096_multiemail</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp_default,fos23002_abndcart))
  ##if(splitTestingSideIsActive(1325, B))
    [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos23002_abndcart</MessageTag></MessageTags></data>]@P]
  ##else
    {% include "marquee_builds/en/_en-us_orangeIpad.html" %}
  ##endif  
##elseif(targetMessageTagAny(sales_hp,sales_hp_marquee_2014jun_dbp))
  [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>sales_hp_marquee_2014jun_dbp</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_1))
  [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_1</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_2))
  [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_2</MessageTag></MessageTags></data>]@P]
##elseif(targetMessageTagAny(sales_hp,fos21247_63offwddc_1))
  [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos21247_63offwddc_1</MessageTag></MessageTags></data>]@P]
##else
  ##if(targetMessageTagAny(sales_hp_default,fos21197_office365_1_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_1_x</MessageTag></MessageTags></data>]@P]
  ##elseif(targetMessageTagAny(sales_hp_default,fos21197_office365_2_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp_default"><MessageTags><MessageTag>fos21197_office365_2_x</MessageTag></MessageTags></data>]@P]
  ##elseif(targetMessageTagAny(sales_hp,fos21247_63offwddc_1_x))
    [@P[tmsdocument:<data interactionpoint="sales_hp"><MessageTags><MessageTag>fos21247_63offwddc_1_x</MessageTag></MessageTags></data>]@P]
  ##endif
  ##if(!targetMessageTagAny(sales_hp_default,hp_existing_customer) && splitTestingSideIsActive(1278, A))
    {% include "marquee_builds/en/_en_us_299com.html" %}
  ##elseif(!targetMessageTagAny(sales_hp_default,hp_existing_customer))
    {% include "marquee_builds/en/_en-us_danica-tony.html" %}
  ##elseif(splitTestingSideIsActive(1279, A))
    {% include "marquee_builds/en/_en-us_orangeIpad.html" %}
  ##else
    {% include "marquee_builds/en/_en-us_danica-tony.html" %}
  ##endif  
##endif