---
location: sales/tlds/gtld.aspx
id: 53eb8c55f778fc2e447b92ad
name: FOS-25357
---
{% extends 'layouts/base.html' %}

{% block metahead %}
{% parent %}
##if(countrySiteAny(in,pk))
    <!-- International Background Images -->
    <style type="text/css">
    .why-godaddy-grid-column {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-tab-content-why-godaddy_IN.jpg");
    }
    </style>
##endif
        
##if(activeLanguageAny([en-gb]))
    <!-- International Background Images -->
    <style type="text/css">
      /*.bg-images > .bg-slide4 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-london.jpg") !important;
      }*/
    </style>
 ##elseif(activeLanguageAny([es-ve], [es-pe], [es-mx], [es-us], [es-es], [es-co], [es-cl], [es-ar]))
        <!-- International Background Images -->
    <style type="text/css">
      /*.bg-images > .bg-slide4 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-uno.jpg") !important;
      }*/
    </style>
##endif
        
##if(countrySiteAny(www,ca))
    <!-- International Background Images -->
    <style type="text/css">
      .bg-images > .bg-slide3 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-club.jpg") !important;
      }
    </style>
##endif

##if(activeLanguageAny([en-gb]))
    <!-- International Background Images -->
    <style type="text/css">
      .bg-images > .bg-slide2 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-london.jpg") !important;
      }
    </style>
 ##elseif(activeLanguageAny([es-ve], [es-pe], [es-mx], [es-es], [es-co], [es-cl], [es-ar]))
        <!-- International Background Images -->
    <style type="text/css">
      .bg-images > .bg-slide2 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-email.jpg") !important;
      }
    </style>
##endif

##if(countrySiteAny(www,ca))
    <!-- International Background Images -->
    <style type="text/css">
      .bg-images > .bg-slide4 {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-main-banner-club.jpg") !important;
      }
    </style>
##endif

##if(countrySiteAny(my, ph, sg))
    <!-- International Background Images -->
    <style type="text/css">
    .why-godaddy-grid-column {
      background-image: url("[@T[link:<cssroot />]@T]/fos/201401/tlds/gtld/img/bg-tab-content-why-godaddy_ASIA.jpg");
    }
    </style>
##endif
    <style type="text/css">
      .bg-images{height:100%;}
      .bg-images > .bg-slide {height:100%;}
    </style>

{% endblock metahead %}



   {% block body %}   
<!-- Start main-banner -->
<section class="main-banner main-banner-gtld">
<div class="bg-images">
<div class="bg-slide bg-slide1 bg-active"></div>
<div class="bg-slide bg-slide2"></div>
<div class="bg-slide bg-slide3"></div>
<div class="bg-slide bg-slide4"></div>
</div>
<div class="l-main-container container main-banner-content">
<h1 class="main-banner-title">[@L[cds.sales/gd/tlds/gtld:MainTitle]@L]</h1> 
<h2 class="main-banner-subtitle">[@L[cds.sales/gd/tlds/gtld:MainSubTitle1]@L]</h2>
<div class="row tab-content no-margin-bottom">
  <div class="col-xs-12">
    <div class="grid-column tab-content-column tab-content-column-main text-left">
      <div class="tab-content-column-gtld">
        <h3>[@L[cds.sales/gd/tlds/gtld:MainSubTitle2]@L]</h3>
        <ul class="no-margin-bottom">
          <li>[@L[cds.sales/gd/tlds/gtld:MainText1]@L]</li>
          <li>[@L[cds.sales/gd/tlds/gtld:MainText2]@L]</li>
          <li>[@L[cds.sales/gd/tlds/gtld:MainText3]@L]</li>
        </ul>
      </div>
      <div class="tab-content-column-gtld">
        <span class="badge badge-important badge-upper-right">[@L[cds.sales/gd/tlds/gtld:MainBadgeNew]@L]</span>
        <section class="carousel-container main-banner-carousel">
          <div class="container">
            <div data-ride="carousel" class="carousel slide " id="carousel-init">
            <!-- Wrapper for slides -->
              <div class="carousel-content-container carousel-content-container-gtld">
                  <div class="carousel-inner carousel-inner-container">
                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-1 active">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.guru</strong></p>
                        <p>[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlide4Text2]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="89138" href="[@T[link:<relative path="~/tlds/guru"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div>
                    ##if(activeLanguageAny([en-gb]))
                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-2">
                    <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                      <p class="domain no-margin-bottom"><strong>.london</strong></p>
                      <p>[@L[cds.sales/gd/tlds/gtld:MarketingTagLineLondon]@L]</p>
                      <p class="no-margin-bottom"><a class="underlined" data-ci="90057" href="[@T[link:<relative path="~/tlds/london"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MainPreRegister]@L]</a></p>
                    </div>
                    </div>
                    ##elseif(activeLanguageAny([es-ve], [es-pe], [es-mx], [es-es], [es-co], [es-cl], [es-ar]))
                     <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-2">
                    <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                      <p class="domain no-margin-bottom"><strong>.email</strong></p>
                      <p>[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlide3TextEmail]@L]</p>
                      <p class="no-margin-bottom"><a class="underlined" data-ci="92569" href="[@T[link:<relative path="~/tlds/email"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                    </div>
                    </div>
                    ##else
                     <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-2">
                    <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                      <p class="domain no-margin-bottom"><strong>.nyc</strong></p>
                      <p>[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlideTextNyc]@L]</p>
                      <p class="no-margin-bottom"><a class="underlined" data-ci="92204" href="[@T[link:<relative path="~/tlds/nyc"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MainPreRegister]@L]</a></p>
                    </div>
                    </div>
                    ##endif
                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-3">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.xyz</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MarketingTagLineXyz]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="92570" href="[@T[link:<relative path="~/tlds/xyz"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div>                     
                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-4">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.club</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlideTextClub]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="89140" href="[@T[link:<relative path="~/tlds/club"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div>    
<!--               COMMENTED OUT CODE IS REMOVED FROM CDS BUT KEPT IN GITHUB FOR EASY ACCESS TO ADD BACK IN      

                   ##if(ActivelanguageAny([en-gb]))               
                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-4">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.london</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MarketingTagLineLondon]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="90057" href="[@T[link:<relative path="~/tlds/london"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MainPreRegister]@L]</a></p>
                      </div>
                    </div> 
                   ##elseif(ActivelanguageAny([es-ve], [es-pe], [es-mx], [es-us], [es-es], [es-co], [es-cl], [es-ar]))
                   <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-4">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.uno</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlideTextUno]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="90305" href="[@T[link:<relative path="~/tlds/uno"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div>   
                    ##else
                      <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-4">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.ninja</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MainBannerCarouselSlide2TextNinja]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="89639" href="[@T[link:<relative path="~/tlds/ninja"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div>                    
                   ##endif -->

                    <div class="item carousel-inner-item carousel-inner-item-gtld carousel-inner-item-gtld-4">
                      <div class="carousel-inner-text-container carousel-inner-text-cointainer-gtld">
                        <p class="domain no-margin-bottom"><strong>.company</strong></p>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:MarketingTagLineCompany]@L]</p>
                        <p class="no-margin-bottom"><a class="underlined" data-ci="90067" href="[@T[link:<relative path="~/tlds/company"/>]@T]">[@L[cds.sales/gd/tlds/gtld:MarketingSlideLinkText]@L]</a></p>
                      </div>
                    </div> 

                  </div>
                <!-- Controls -->
                <a data-slide="prev" data-ci="89137" href="#carousel-init" class="left carousel-control-btn ico ico-carousel-arrow-left"></a>
                <a data-slide="next" data-ci="89138" href="#carousel-init" class="right carousel-control-btn ico ico-carousel-arrow-right"></a>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators carousel-indicators-list carousel-indicators-gtld">
                <li class="carousel-indicators-obj active"><a href="#" data-ci="89147" data-slide-to="0" data-target="#carousel-init"></a></li>
                <li class="carousel-indicators-obj"><a href="#" data-ci="89148" data-slide-to="1" data-target="#carousel-init"></a></li>
                <li class="carousel-indicators-obj"><a href="#" data-ci="89149"  data-slide-to="2" data-target="#carousel-init"></a></li>
                <li class="carousel-indicators-obj"><a href="#" data-ci="89150" data-slide-to="3" data-target="#carousel-init"></a></li>
              </ol>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- End main-banner -->

<!-- Start main-tabs -->
<section class="main-tabs">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-tabs-item active"><a class="nav-tabs-link" data-ci="89141" href="#discover-new-domains" data-toggle="tab">[@L[cds.sales/gd/tlds/gtld:LabelDiscoverNewDomains]@L]</a><i class="ico ico-arrow-down-border-bottom"></i></li>
      <li class="nav-tabs-item"><a class="nav-tabs-link" data-ci="89142" href="#how-it-works" data-toggle="tab">[@L[cds.sales/gd/tlds/gtld:LabelHowItWorks]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
      <li class="nav-tabs-item"><a class="nav-tabs-link" data-ci="89139" href="#faq" data-toggle="tab">[@L[cds.sales/gd/tlds/gtld:LabelFAQ]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
  </ul>
</div>
</section>
<!-- End main-tabs -->

<!-- Start main-tabs panes -->
<div class="tab-content no-margin-top">
  <div class="tab-pane active tab-content-discover-domains-bg-gtld" id="discover-new-domains">
    <!--Start content -->
    <section class="l-main-container container tab-content-discover-domains">
        <div class="row">
            <div class="col-xs-12">
                <div class="no-padding-bottom">
                [@P[userControl:<Data location="~/tlds/eoi/controls/allextensions.ascx" />]@P]
                </div>
            </div>
        </div>

        <a class="btn btn-primary btn-lg btn-block" data-ci="89143" href="[@T[link:<relative path='/domains/what-is-a-gtld.aspx' secure='false' parammode='explicit'><param name='isc' value='gtnila43' /></relative> ]@T]"><i class="ico ico-gt"></i>[@L[cds.sales/gd/tlds/gtld:DiscoverNewDomainsLearnMoreBtn]@L]</a>


    </section>
    <!-- End content-->
</div>
<div class="tab-pane" id="how-it-works">
    <!--  Start content -->
    <section class="l-main-container container tab-content-top-spacing">
        <div class="row tab-content">
            <div class="col-xs-12">
                <div class="grid-column preregister-grid-column">
                    <h3>[@L[cds.sales/gd/tlds/gtld:PreRegisterStepsTitle]@L]</h3>
                    <div class="row preregister-columns">
                        <div class="col-xs-4 preregister-column-item">
                            <i class="ico ico-follow"></i>
                            <h4>[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn1Title]@L]</h4>
                            <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn1Text]@L]</p>
                        </div>
                        <div class="col-xs-4 preregister-column-item">
                            <i class="ico ico-preregister"></i>
                            <h4>[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn2Title]@L]</h4>
                            <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn2Text]@L]</p>
                        </div>
                        <div class="col-xs-4 preregister-column-item">
                            <i class="ico ico-go"></i>
                            <h4>[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn3Title]@L]</h4>
                            <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:PreRegisterColumn3Text]@L]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tab-content grid-column tab-content-get-domains">
            <div class="col-xs-6 get-domains-column">
                <h3>[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsTitle]@L]</h3>
                <p>[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsText1]@L]</p>
                <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsText2]@L]</p>
            </div>
            <div class="col-xs-6 get-domains-column">
                <h4>[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle1]@L]</h4>
                <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle1Text]@L]</p>
                <hr/>
                <h4>[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle2]@L]</h4>
                <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle2Text]@L]</p>
                <hr/>
                <h4>[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle3]@L]</h4>
                <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhenCanIGetDomainsSubTitle3Text]@L]</p>
            </div>
        </div>
        <div class="row tab-content">
            <div class="col-xs-12">
                <div class="grid-column why-godaddy-grid-column">
                    <h3>[@L[cds.sales/gd/tlds/gtld:WhyChooseTitle]@L]</h3>
                    <p>[@L[cds.sales/gd/tlds/gtld:WhyChooseText1]@L]</p>
                    <h4 class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle1]@L]</h4>
                    <p>[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle1Text]@L]</p>
                    <h4 class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle2]@L]</h4>
                    <p>[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle2Text]@L]</p>
                    <h4 class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle3]@L]</h4>
                    <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:WhyChooseSubTitle3Text]@L]</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End content -->
</div>
<div class="tab-pane" id="faq">
    <section class="tab-content-top-spacing">
        <div class="container l-main-container">
            <div class="row tab-content">
                <div class="col-xs-12">
                    <div class="grid-column tab-content-column-alternate tab-content-faq">
                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList1Title]@L]</h2>
                        <p>[@L[cds.sales/gd/tlds/gtld:FaqList1Item1]@L]</p>

                        <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList2Title]@L]</h2>
                        <p>[@L[cds.sales/gd/tlds/gtld:FaqList2Item1]@L]</p>

                        <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList3Title]@L]</h2>
                        <p>[@L[cds.sales/gd/tlds/gtld:FaqList3Item1]@L]</p>

                        <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList4Title]@L]</h2>
                        <p>[@L[cds.sales/gd/tlds/gtld:FaqList4Item1]@L]</p>

                        <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList5Title]@L]</h2>
                        <p>[@L[cds.sales/gd/tlds/gtld:FaqList5Item1]@L]</p>

                        <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList6Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList6Item1]@L]</p>

                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList7Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList7Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList8Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList8Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList9Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList9Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList10Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList10Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList11Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList11Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList12Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList12Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList13Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList13Item1]@L]</p>
                      
                      <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList14Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList14Item1]@L]</p>
                      
                       <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList15Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList15Item1]@L]</p>
                      
                       <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList16Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList16Item1]@L]</p>
                      
                       <hr/>

                        <h2 class="h2-alternate">[@L[cds.sales/gd/tlds/gtld:FaqList17Title]@L]</h2>
                        <p class="no-margin-bottom">[@L[cds.sales/gd/tlds/gtld:FaqList17Item1]@L]</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</div>
<!-- End main-tabs panes -->


{% endblock body %}

{% block footer %}
<script>
  $(function () {
    var bgpos       = 0,
        bgimages    = $('.main-banner-gtld > .bg-images > .bg-slide'),
        bglength    = bgimages.length,
        is_forward  = true,
        slideTo     = -1,
        isIE        = false;

    if ($.browser.msie && parseInt($.browser.version, 10) < 10) {
      $('html').addClass('lt-ie10');

      isIE = true;
    }

    $('#carousel-init').on('slide.bs.carousel', function (event) {
      var $this = $(this);

      $this.find('.carousel-inner-container').addClass('carousel-mask');

      if (slideTo > -1) {
        bgpos   = slideTo;
        slideTo = -1;
      } else {
        if (is_forward) {
          bgpos = ((bgpos + 1) < bglength) ? (bgpos + 1) : 0;
        } else {
          bgpos = ((bgpos - 1) < 0) ? (bglength - 1) : (bgpos - 1);
        }
      }

      if (isIE) {
        bgimages.eq(bgpos).addClass('bg-next bg-active').animate({
            opacity: 1
          }, {
            duration: 1500,
            queue: false
        }).siblings('.bg-active').removeClass('bg-active').animate({
            opacity: 0
          },  {
            duration: 3000,
            queue: false
        });
      } else {
        bgimages.eq(bgpos).addClass('bg-next bg-active').siblings('.bg-active').removeClass('bg-active');
      }
    }).on('slid.bs.carousel', function (event) {
      var $this = $(this);

      $this.find('.carousel-inner-container').removeClass('carousel-mask');
      bgimages.filter('.bg-next').removeClass('bg-next');

      if (is_forward) {
      } else {
        is_forward = true;
      }
    }).on('click', '.carousel-control-btn.left', function (event) {
      is_forward = false;
    }).on('click', '[data-slide-to]', function (event) {
      slideTo = parseInt($(this).data('slide-to'), 10);

      if (bgpos != slideTo) {
        if (bgpos > slideTo) {
          is_forward = false;
        }
      }
    });
  });
</script>

<script>

  function RecordClick(c, a, b) {
    if (typeof(FastballEvent_MouseClick) !== "undefined") {
      FastballEvent_MouseClick(c, a, b, "a");
    }
  }
  $(function () {
    $('.equal-height').setColumnsEqualHeight();
    $('.select-box').setSelectBox();
    $('.isToolTip').tooltip();
      // CI code click tracker
    if (typeof FastballEvent_MouseClick === 'function' && typeof fbiLibCheckQueue === 'function') {
        $('[data-ci]').click(function(e){
          $this = $(this);
          FastballEvent_MouseClick(e,$this.attr('data-ci'),$(this)[0],'a');
          fbiLibCheckQueue();
        });
    }
    $(document).ready(function(){
      var checkInterval = setInterval(function(){
        var $noButton = $('.noButton');
        if($noButton.length >= 1){
          // add click event
          $noButton.on('click',function(event){
            setTimeout(function(){
              $(window).trigger('resize.idpModal');
            },500);
          });
          // remove interval
          window.clearInterval(checkInterval);
        }
      },500);
    });
  });
</script>


{% endblock footer %}
