---
location: sales/homepage/marquee/abandoned_cart/default_template
id: false
locale: en-us
comments: canonical link should match page http or https
name: GCE-2664
---
include ../../../../layouts/homepage/_marquee_base_left.jade