extends ../_banner-small.jade

block append vars
  - dataCi = 99078;
  - containerClass = "tld-club";
  - logoImage = "[@T[link:<imageroot />]@T]fos/tmsv2/content/tld-club/banner-small/club-bday.png";
  - logoImageFallback = "[@T[link:<imageroot />]@T]fos/tmsv2/content/tld-club/banner-small/club-bday.png";
  - titleText = "";
  - bodyText = "Today only! Celebrate 1 year of .club. Get your own for just [@T[productprice:<current productid='172137' period='yearly' />]@T].";
  - ctaText = "Search now";
  - ctaLink = "[@T[link:<relative path='/tlds/club'><param name='ci' value='99078' /></relative>]@T]";