extends ../_banner-medium-simple.jade

append vars
  - ctaLink = "[@T[link:<relative path='offers/online-business.aspx'><param name='ci' value='95726' /></relative>]@T]";
  - ciCode = 95726;
  - classes ="got";

append styles
  style.
    .banner-medium.got { background-color: #333; color: #fff; }
    .banner-medium.got .price { color: #ef6c0f; font-size:1.5em; display: block; line-height: 1; margin-top: .25em; }

block content
  .font-md.black.text-primary-o [@L[cds.tmsv2/content/homepage/got/marquee-tile:products]@L]
  .font-md.black [@L[cds.tmsv2/content/homepage/got/marquee-tile:cta]@L]
