- heroParams = heroParams || {};
- heroParams.ci = "95658";
//start got hero
atlantis:webstash(type="css")
  style
    :less
      #marquee{background-color: #ecedee;}
      .hero.got{
        font-size:16px;
        width:100%;position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);
        .products{text-align:center;}
        .product{max-width:50%;margin:auto}
        img.www{width:100%}
        img.pencil{padding: 4%;width:107%}
        img.envelope{padding: 8% 0;width:115%}
        .addition{position: absolute;top: 50%;-webkit-transform: translateY(-33%);-ms-transform: translateY(-33%);transform: translateY(-33%)}
        .addition-wrapper{height:3em; width:12% }
        .pricing {font-size:150%}
        .price-wrapper{width:30%;display:inline-block}
        .disclaimer{font-size:55%;padding: 1% 0}
      }
      @media only screen and (min-width: 768px){
        #marquee{ 
          .product div {font-size:1.5em}
        }
      }
div(class="hero got", data-url!="[@T[link:<relative path='/offers/online-business.aspx'><param name='ci' value='"+heroParams.ci+"'/></relative>]@T]", data-ci=heroParams.ci)
  .products.walsheim-black
    .product.col-xs-2
      <!--[if lt IE 9]>
      img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/icn-domain.png").www
      <![endif]-->
      img.www.svgfallback(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOCIgaGVpZ2h0PSI0MyIgdmlld0JveD0iMCAwIDM4IDQzIj48ZyBmaWxsPSIjNzliZjRhIj48cGF0aCBkPSJNMjMgMkwyMiAwIDE5IDEgMTkgMTMgMjQgMTMgMjMgMk0yOSA3TDI3IDQgMjUgNSAyNSAxMyAyOSAxMyAyOSA3TTExIDdMOSA4IDggMTAgNyAxMyAxMiAxMyAxMSA3TTE3IDNMMTYgMyAxNCA0IDEzIDEzIDE4IDEzIDE3IDNNMTMgMTVMMTQgMjUgMTggMjUgMTkgMjAgMjAgMjUgMjQgMjUgMjUgMTUgMjYgMjAgMjcgMTYgMjkgMTcgMjkgMTQgMjIgMTQgMjIgMjAgMjEgMTQgMTcgMTQgMTcgMjEgMTYgMTQgOSAxNCA5IDIwIDggMTQgNSAxNCA0IDIxIDMgMTQgMCAxNCAyIDI1IDYgMjUgNiAyMCA3IDI1IDExIDI1IDEzIDE1TTM1IDE0TDM0IDIwIDMzIDE0IDMwIDE0IDMwIDE3IDMyIDE4IDMyIDI1IDMyIDI1IDM2IDI1IDM4IDE0IDM1IDE0TTI4IDE4TDI1IDI1IDIwIDI3IDE4IDMyIDE3IDI2IDcgMjYgNyAzMiAxMCAzOSAxOSA0MiAyNyA0MSAzMiAzMSAzMSAxOSAyOCAxOCIvPjwvZz48L3N2Zz4=")
      .domain [@L[cds.sales/homepage/heros/got:domain]@L]
    .addition-wrapper.col-xs-2.bigtext
      .addition [@L[cds.sales/homepage/heros/got:additionSign]@L]
    .product.col-xs-2
      <!--[if lt IE 9]>
      img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/icn-website.png").pencil
      <![endif]-->
      img.pencil.svgfallback(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNSIgaGVpZ2h0PSIzNyIgdmlld0JveD0iMCAwIDM1IDM3Ij48ZyBmaWxsPSIjNzliZjRhIj48cGF0aCBkPSJNMjMgMTZMMzIgMTcgMTQgMCA4IDAgMjMgMTZNMTYgMjJMMjMgMjIgMjMgMTcgNyAwIDEgNSAxNiAyMk0xNSAyOUwxNSAyMyAwIDYgMSAxNSAxNSAyOU0zMCAyOUwzMyAyOCAzMyAxOCAyNSAxNyAyNCAyNCAxNiAyNCAxNiAzMCAyNyAzMyAzMCAyOU0zMSAzMUwyOSAzNCAzNCAzNSAzMyAzMCAzMSAzMSIvPjwvZz48L3N2Zz4=")
      .website [@L[cds.sales/homepage/heros/got:website]@L]
    .addition-wrapper.col-xs-2.bigtext
      .addition [@L[cds.sales/homepage/heros/got:additionSign]@L]
    .product.col-xs-2
      <!--[if lt IE 9]>
      img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/icn-email.png").envelope
      <![endif]-->
      img.envelope.svgfallback(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSIzNSIgdmlld0JveD0iMCAwIDQyIDM1IiB2ZXJzaW9uPSIxIj48dGl0bGU+aWNuX2VtYWlsPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjNzliZjRhIj48cGF0aCBkPSJNMjQgMjZMMCA0IDEgMzUgNDAgMzIgNDIgMTEgMjQgMjZNNDEgOEwxIDAgMjQgMjQgNDEgOCIvPjwvZz48L2c+PC9zdmc+")
      .email [@L[cds.sales/homepage/heros/got:email]@L]
  .pricing.walsheim-black
    .col-xs-11
      .priceText.bigtext [@L[cds.sales/homepage/heros/got:priceText]@L]
  .cta
      .col-xs-11
        a.btn.btn-md.btn-purchase [@L[cds.sales/homepage/heros/got:cta]@L]
        .disclaimer [@L[cds.sales/homepage/heros/got:disclaimer-new]@L]
//end got hero