extends ../../../../sales/homepage/_tile.jade

append vars
  - ctaLink = "[@T[link:<relative path='offers/online-business.aspx'><param name='ci' value='95726' /></relative>]@T]";
  - dataCi = 95726;
  - containerClass = "marquee-tile got";

block append tileStyles
  style
    :less
      .marquee-tile.got {
        background-color:#333; font-size:14px;
        .tile-content-wrapper {padding:15px 0 0 10px;}
        .products {font-size: 1.5em;color:#77c043;margin:0;text-transform:uppercase;}
        .price-text {font-size: 1.5em;color:#fff;margin:-3px 0 0;text-transform:uppercase;}
        .price {font-size:1.5em;margin:-10px 0 0;}
        .disclaimer {font-size:10px;color:#fff;margin:5px 0 0;}
        @media only screen and (min-width:480px){
          font-size:18px;
        }
        @media only screen and (min-width:768px){
          font-size:15px;
        }
        @media only screen and (min-width:992px){
          font-size:13px;
        }
        @media only screen and (min-width:1200px){
          font-size:16px;
        }
      }

block tileContent
  .walsheim-black
    .products [@L[cds.tmsv2/content/homepage/got/marquee-tile:products]@L]
    .price-text [@L[cds.tmsv2/content/homepage/got/marquee-tile:cta]@L]
  .disclaimer [@L[cds.tmsv2/content/homepage/got/marquee-tile:disclaimer]@L]