---
location: sales/offers/online-business.aspx
id: 54b06a5ef778fc234c60ae8b
name: GCE-32414-dom2
comments: GOT rebrand 2015 SuperBowl
url: http://www.dev-godaddy.com/offers/online-business.aspx
assetPath: false
---

extends ../../templates/pages/landing-page

append vars
  - page.meta.title = "HELLO WORLD!"

append endOfPageScripts
  script.
    $(document).ready(function() {
      var tokenizePrice = function(priceSelector, price) {
        $(priceSelector).each(function(){
          $(this)
            .html(price)
            .closest('.price-hide')
            .removeClass("price-hide");
        });
      };
      tokenizePrice(".discount-price-mo", "1.00" /*got2Page.pricing.mo.o365promo*/ );


      $('[data-tokenize]').each(function(){
        var $this = $(this),
          html = $this.html(),
          val = $this.data('tokenize'),
            tokenizedHtml = html.replace(/\{0\}/gi, val);
        $this
          .html(tokenizedHtml)
          .closest('.price-hide')
          .removeClass("price-hide");
      });



      // set up domain search buttons to do a domain search
      $('#marquee').on('click', '.domain-search-action-button', domainSearchFormSubmit);     

      // set up verify buttons on spin results to do validation before sending to DPP
      $('#marquee').on('click', '.spin-domain-action-button', verifyDomainIsStillAvailable);


      // track ci codes
      $('[data-ci]').click(function (e) {
          var $this = $(this);
          var ci = $this.attr('data-ci');
          FastballEvent_MouseClick(e, ci, $(this)[0], 'a');
          fbiLibCheckQueue();
      });



    });


    function domainSearchFormSubmit(e) {

      var domain = '', 
        sucessful = false;

      // TODO: perform AJAX call to 
      if(sucessful) {
        showSuccessfulSearch(domain);
      } else {
        showSearchSpins(domain)
      }


    }

    function verifyDomainIsStillAvailable(e) {

    }

    function showChoicesScreen(e){

    }
    
    function goToDppCheckoutPage(e) {

    }


    function showSuccessfulSearch(domain){
      // TODO!
    }

    function showSearchSpins(domain){
      // TODO!
    }

    function showApi1SearchError(e,domain){
      // TODO!
    }

    function showApi2SearchError(e,domain){
      // TODO!
    }

    function showApi3SearchError(e,domain){
      // TODO!
    }

append pageStyles
  style.
    include:css ./online-business/styles.css    
    



block domainSearch
  // none


//- top marquee
block marquee
  include ./online-business/_marquee.jade

//- side by side plan comparisons go here
block plans
  include ./online-business/_product-boxes.jade

//- horizontal nav with jumps to anchor tags (that affixes to top)
block sections
  include ./online-business/_domain-section.jade

//- suggested alternative products
block alternatives
  include ./online-business/_site-choice.jade
  include ./online-business/_step2-choose-product.jade

//- there's always a catch... show it here.
block disclaimers
  section#disclaimers 
    p Disclaimers goes here
