

extends ../../templates/pages/landing-page

append vars
  - page.meta.title = "HELLO WORLD!121f3"
  - page.meta.title = page.meta.title || "[@L[cds.sales/offers/online-business:page-title]@L]";
  - page.meta.description = page.meta.description || "[@L[cds.sales/offers/online-business:meta-description]@L]";
  - page.meta.keywords = page.meta.keywords || "[@L[cds.sales/offers/online-business:meta-keywords]@L]";
  
  - page.openGraph.title = page.openGraph.title || "[@L[cds.sales/offers/online-business:og-title]@L]";
  - page.openGraph.description = page.openGraph.description || "[@L[cds.sales/offers/online-business:og-description]@L]";
  - page.openGraph.image = page.openGraph.image || "[@T[link:<imageroot />]@T]fos/sales/themes/scotty/offers/online-business/img/og_got_1200x630.jpg";

  - page.links = page.links || {};
  - page.links.canonical = page.links.canonical || "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = page.links.favicon || "[@T[link:<imageroot />]@T]assets/godaddy.ico";

append head
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="[@L[cds.sales/offers/online-business:twitter-site]@L]")
  meta(name="twitter:title" content="[@L[cds.sales/offers/online-business:twitter-title]@L]")
  meta(name="twitter:description" content="[@L[cds.sales/offers/online-business:twitter-description]@L]")
  meta(name="twitter:image:src" content!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/offers/online-business/img/og_got_1200x630.jpg")

prepend endOfPageScripts
  script.
    $(document).ready(function() {
      
    });

block domainSearch
  // 

append pageStyles
  style
    include:css ./online-business/styles.css

//- top marquee
block marquee
  include ./online-business/_marquee.jade

//- side by side plan comparisons go here
block plans
  include ./online-business/_product-boxes.jade

//- horizontal nav with jumps to anchor tags (that affixes to top)
block sections
  include ./online-business/_domain-section.jade

//- suggested alternative products
block alternatives
  include ./online-business/_site-choice.jade
  include ./online-business/_step2-choose-product.jade

//- there's always a catch... show it here.
block disclaimers
  section#disclaimers 
    p Disclaimers goes here
