---
location: sales/homepage/locales/en-au.html
id:
locale: en-au
---

{% set include_topmarq =  "top_marquees/_" + locale + ".html" %}
{% set include_domainbugs =  "domain_bugs/_en.html" %}
{% set include_pod =  "pods/_" + locale + ".html" %}
{% set include_lowermarq =  "lower_marquees/_" + locale + ".html" %}
{% set styles =  "css/" + locale + ".less" %}

{% extends 'layouts/homepage.html' %}

{% block customcss %}

{% endblock %}

{% block body %}
  {% include include_topmarq %}
  {% include include_domainbugs %}
  {% include include_pod %}
  {% include include_lowermarq %}

{% endblock %}