include ./_home-page-mixins.jade
include ../shared/_domain-search.jade
include ../shared/_two-up-compare.jade
include ../shared/_full-width-video.jade
include ../shared/_helpers.jade

extends ../shared/_page


block append vars
  - page = page || {};
  - page.title = "[@L[cds.sales/homepage:page-title]@L]";
  - page.description = "[@L[cds.sales/homepage:meta-description]@L]";
  - page.keywords = "[@L[cds.sales/homepage:meta-keywords]@L]";
  - page.canonical =  "[@T[link:<relative parammode='explicit' />]@T]";
  - page.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";
  - page.openGraph.title = "[@L[cds.sales/homepage:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/homepage:og-content]@L]";
  - page.openGraph.type = "website";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/gd_rebrand_og.png";
  - page.openGraph.siteName = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.config.version = "0.7.0";
  - page.config.uxcoreVersion = "dev-brand";

block append pageStyles
  // home page styling
  style
    :less
      @light-gray:#f5f5f5;
      @med-gray:#f3f3f4;
      @dark-gray:#dedede;
      @shadow:rgba(0,0,0,0.1);
      @dark-green:#008a30;
      @gd-orange:#ff8a00;
      @desktop: ~"only screen and (min-width:991px)";
      @desktop-lg: ~"only screen and (min-width:1200px)";
      @desktop-sm: ~"only screen and (min-width:768px)";
      .text-white{color:#fff}
      .bg-green-official{background-color:#77c043;}
      .walsheim-regular{font-family:'Walsheim-Regular', Arial, sans-serif;}
      .walsheim-medium{font-family:'Walsheim-Medium', Arial, sans-serif;}
      .walsheim-bold{font-family:'Walsheim-Bold', 'Arial Black', sans-serif;}
      .walsheim-black{font-family:'Walsheim-Black', 'Arial Black', sans-serif;}
      .tungsten{font-family:Tungsten, 'Tungsten A', 'Tungsten B', Impact, sans-serif;}
      #marquee{position:relative;
        .tile-wrapper{margin-top:6.5px;}
        .tile-wrapper:last-child{margin-bottom:6.5px;}
        .tile{min-height:140px;}
      }
      .hero-wrapper{min-height:300px;cursor:pointer}
      .tile{cursor:pointer}
      .top-banner-lower-content{min-height:40px;}
      #limitations-social{padding:20px 0;font-size:1.2rem;
        p{margin:0;}
        a{cursor:pointer}
      }
      .gdhp-share{position:relative;float:right;margin-top:5px;}
      .fosfbbox{height:25px !important;}
      #bugbar{margin:10px 0;}
      #domain-search{margin-top: 10px;}
      #domain-name-input{text-transform:inherit}
      .price,.icann-disclaimer{color:@gd-orange}
      #merchandising{background-color:#fff;padding:10px 0;font-size:16px;
        .tile-wrapper{min-height:140px;margin:5px 0}
      }
      section { padding-top: 0; padding-bottom: 0;}
      #why-godaddy { padding-bottom: 50px; }

      #domain-name-input::-webkit-input-placeholder { color: #008a32; }
      #domain-name-input:-moz-placeholder { color: #008a32; opacity: 1;  }
      #domain-name-input::-moz-placeholder { color: #008a32; opacity: 1;  }
      #domain-name-input:-ms-input-placeholder { color: #008a32; }

block endOfPageScripts

  script(type="text/javascript").
    $('body').on('click','[data-url]',function(event){
      var $clickedElement = $(event.currentTarget);
      var $clickedUrl = $clickedElement.attr('data-url'); 
      event.stopPropagation();
      window.location.href=$clickedUrl;
    });
    function limitationsModal() {$('#limitationsModal').sfDialog({buttons: [{text: 'OK', onClick: function($sfDialog) { $sfDialog.sfDialog('close'); } }] });}
    var reSizeTiles = function(){
      var maxTitleHeight = 0;
        $("#merchandising .tile-wrapper").each(function(index, title) {
          maxTitleHeight = $(title).height() > maxTitleHeight ? $(title).height() : maxTitleHeight;
        }).css("min-height", maxTitleHeight + 10);

        var maxHeroHeight = 0;
        $("#marquee .tile").each(function(index, title) {maxHeroHeight += $(title).outerHeight();});
        $("#marquee .hero-wrapper").css("min-height", maxHeroHeight + 26);
    }
    function tokenizeTheDataTokenizeAttribute() {
      $('[data-tokenize]').each(function(){
        var $this = $(this),
          html = $this.html(),
          val = $this.data('tokenize'),
            tokenizedHtml = html.replace(/\{0\}/gi, val);
        $this
          .html(tokenizedHtml)
          .removeAttr('data-tokenize');
      });
    }
    $(window).load(function () {
      reSizeTiles();
      $('.bigtext').bigtext().css('visibility', 'visible');
        setTimeout( "$('.bigtext').bigtext().css('visibility', 'visible');",500 );
    });
  script(src!="[@T[link:<javascriptroot />]@T]fos/hp/rebrand/js/bigtext.min.js")
  script(src!="[@T[link:<javascriptroot />]@T]starfield/fos.share/v1.3/fos.share-20140505.min.js" id="fosShareScript")
  
  script(type="text/javascript").
    var ignoreLivePerson = true;
    $(document).ready(function() {
      tokenizeTheDataTokenizeAttribute();
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'),
                   qs = [],
                   date = new Date();
      for(var i = 0; i < hashes.length; i++) {
        var hash = hashes[i].split('=');
        qs.push(hash[0]);
        qs[hash[0]] = hash[1];
      }

      window.setTimeout(function() {
        $('#shareme').fosShare({});
      }, 2000);
    });

block content
  
  //- domain search section
  block domainSearch
    section#domain-search
      .container
        .row
          .col-xs-12
            +domainSearchInput({"placeholderText":"Find your perfect domain name","cicode":"54814","formSize":"normal"})

  //- Bugbar
  
  section#bugbar
    .container
      .row
        .col-sm-12
          block bugBar
            +tldBugs(["net","co","reviews","biz"])

  //-  Marquee Section
  block marquee
    section#marquee
      .container
        .row
          .col-md-8.col-sm-12
            .hero-wrapper
              block hero  
          .col-md-4.col-sm-12
            .container
              .row
                .col-md-12.col-sm-6
                  .tile-wrapper
                    block marquee-tile1
                .col-md-12.col-sm-6  
                  .tile-wrapper
                    block marquee-tile2
  //- Secondary Tile Section
  block merchandisingTiles
    section#merchandising
      .container
        .row
          .col-md-3.col-sm-6.col-xs-6
            .tile-wrapper 
              block merch-tile1
          .col-md-3.col-sm-6.col-xs-6
            .tile-wrapper
              block merch-tile2
          .col-md-3.col-sm-6.col-xs-6
            .tile-wrapper
              block merch-tile3
          .col-md-3.col-sm-6.col-xs-6
            .tile-wrapper
              block merch-tile4
  block sections

  block limitations
    section#limitations-social
      .container
        .row
          .col-md-8.col-sm.12
            p ‡, *, ‡‡, ºº, †† Product limitations and legal policies, 
              a(onClick="limitationsModal()") View
             #limitationsModal(data-title="Limitations",style="display:none")
                p One FREE .COM,<span class="tlds-all tlds-mx"> .COM.MX,</span><span class="tlds-all tlds-br"> .COM.BR,</span><span class="tlds-all tlds-ca"> .CA,</span><span class="tlds-all tlds-uk"> .UK., .CO.UK,</span> .CO, .NET, or .ORG with purchase of a new 12-, 24- or 36-month plan. Plus ICANN fee of [@T[currencyprice:<price usdamount="18" dropdecimal="false" />]@T] per domain name per year. You must add the domain name into your cart before purchase, and you must select a domain term length equal to or less than the term length of your plan to qualify for the free domain offer. If you purchase a domain name for a term longer than the term of the plan, you will be charged for the additional registration term at the then-current rate. Cannot be used in conjunction with any other offer, sale, discount or promotion. Free domain offer applies only to the initial purchase term. After the initial purchase term, domains purchased through this offer will renew at the then-current renewal price.
            span Third-party logos and marks are registered trademarks of their respective owners. All rights reserved.
          .col-md-4.col-sm.12
            .gdhp-share
              block share
                .fosshare(data-twshareurl!="[@T[link:<relative path=''></relative>]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")
