extend ./_tile.jade

block append vars
  - logoImage = logoImage || "";
  - logoImageFallback = logoImageFallback || "";
  - logoText = logoText || "";
  - promoText = promoText || "";


block tileContent
  .promo-logo-wrapper
    <!--[if lt IE 9]>
    img.promo-logo(src!=logoImageFallback)
    <![endif]-->
    img.promo-logo.svgfallback(src!=logoImage)
    if (logoText)
      .promo-logo-text #{logoText}
  .promo-text.walsheim-black #{promoText}
  .promo-cta
    a.walsheim-black(href!=ctaLink) #{ctaText} 