extend ./_tile.jade

block append vars
  - logoImage = logoImage || "";
  - logoImageFallback = logoImageFallback || "";
  - logoText = logoText || "";
  - promoText = promoText || "";


block tileContent
  .promo-logo-wrapper
    +svgFallback({elementClass:"promo-logo",backgroundImage:logoImage,fallbackImage:logoImageFallback})
    if (logoText)
      .promo-logo-text #{logoText}
  .promo-text.walsheim-black #{promoText}
  .promo-cta
    a.walsheim-black(href!=ctaLink) #{ctaText} 