block vars
  - ctaLink = ctaLink || "";
  - ctaText = ctaText || "";
  - dataCi = dataCi || "";
  - containerClass = containerClass || "";

block tileStyles

.tile(data-url!=ctaLink data-ci=dataCi class=containerClass)
  .tile-content-wrapper
    block tileContent