block vars
  - ctaLink = ctaLink || "";
  - ctaText = ctaText || "";
  - dataCi = dataCi || "";
  - containerClass = containerClass || "";
  - logoImageFallback = logoImageFallback || "";

block tileStyles

.tile(data-url!=ctaLink data-ci=dataCi class=containerClass data-svg-fallback!=logoImageFallback)
  .tile-content-wrapper
    block tileContent