---
location: sales/homepage/default.nb-no
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/nb-no_homepage_20140805.css" rel="stylesheet" type="text/css")

block share
  .fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block pods
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/locals/nb-no/pods" /> ]@P]