---
location: sales/homepage/default.en-sg
id: false
name: BigTextFix
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage20141208.css" rel="stylesheet" type="text/css")

block marquee
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]
  |  ##endif

block primaryTile
  //- include ../../sales/homepage/tiles/hosting.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  |  ##endif

block bugBar
  +gtldBug("co")
  +gtldBug("club")
  +gtldBug("org")

block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
