---
location: sales/homepage/default.en-pk
id: false
name: GCE-33226
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage.css" rel="stylesheet" type="text/css")

block marquee
  | 
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]

block primaryTile
  //- include ../../sales/homepage/tiles/got.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  //- include ../../sales/homepage/tiles/30-percent-gtld.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]

block bugBar
  +gtldBug("co")
  +gtldBug("club")
  +gtldBug("org")

block share
  .fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
