extends ../../layouts/homepage/default_base

block styles
  style.
    .top-banner-lower-content{height:45px;background-color:#fff;width:100%}
    .top-lower-content{margin:0 auto;position:relative;width:1000px;padding-top:13px}
    .gdhp-share{position:relative;float:right;}
    #pcf .pc-support-wrapper{margin-top:0px !important;}
    body {font-family:'Walsheim-Regular'; background-color:#ededed;}
    body .gdhp-tile-wrap{background-color:#ededed;}
    .atn-btn-wrap{padding-top:20px;width:450px;height:54px;}
    .atn-btn-wrap>span {visibility: visible;margin-right: 20px;float: left;}
    .b {font-family: 'Walsheim-Bold'}
    
block domainSearch
  include ./sections/domain-search.jade

block marquee
  #marquee-container-orig [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  #marquee-container-isc(style="display:none") [@P[cdsDocument:<data app="sales" location="homepage/marquee/got-enterprise-nation/default_template" /> ]@P]

block bugBar
    +tldBugs(["com","co","uk","wales"])
