---
location: sales/homepage/default.fr-be
id: 546e4c51f778fc18bc8c3c89
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/fr-be_homepage_20140805.css" rel="stylesheet" type="text/css")
