extends ../../layouts/homepage/default_base

block marquee
  | [@P[cdsDocument:<data app="sales" location="homepage/marquee/com-anniversary/default_template" /> ]@P]

block primaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  | 
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  | 

block bugBar
  +tldBugs(["com","co","pe","club"])

block cookieWarning
