---
location: sales/homepage/default.pt-br
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/pt-br_homepage_20141021.css" rel="stylesheet" type="text/css")
	style.
		.walsheim-reg{font-family:'Walsheim-Regular';}
		.walsheim-med{font-family:'Walsheim-Medium';}
		.gybo-btn-wrapper>.btn-wrap>.btn{font-family:'Walsheim-Medium';font-size:17px;}

block marquee
	| ##if(!targetMessageTagAny(sales_hp_default,hp_existing_customer))
	|   ##if(splitTestingSideIsActive(1404, B))
	|     [@P[cdsDocument:<data app="sales" location="homepage/marquee/299com-br/default_template" /> ]@P]
	|   ##else
	|     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
	|   ##endif
	| ##else
	|   ##if(splitTestingSideIsActive(1405, B))
	|     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
	|   ##else
	|     [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
	|   ##endif
	| ##endif

block bugBar
	+gtldBug("co")
	+gtldBug("br")
	+gtldBug("org")

block share
	.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block pods
	| 
	| [@P[cdsDocument:<data app="sales" location="homepage/locals/pt-br/pods" /> ]@P]
