extends ./_home-page.jade

block marquee
  section#marquee
    .container
      .row
        .col-xs-12.col-md-8
          .hero-wrapper
            include ./heros/got-puppy.jade
        .col-xs-12.col-md-4
          .tile-wrapper
            include ./tiles/marquee-tile-p4p.jade

block merch-tile1
  include ./tiles/get-found.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ./tiles/gdpro-tile.jade
block merch-tile4
  include ./tiles/online-store-tile.jade