---
location: sales/homepage/default.en-au
id: false
name: GCEMO-636
---
extends ../../layouts/homepage/default_base
append styles
  style.
    .gdhp-search-box input,.gdhp-search-box .searchInput{width:780px;max-width:780px}

block marquee
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-domain-typo/default_template" /> ]@P]
  |  ##endif

block primaryTile
  //- include ../../sales/homepage/tiles/hosting.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/why-wsb/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  |  ##endif
  
block bugBar
  +tldBugs(["club","org"])

block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
