---
location: sales/homepage/default.tr-tr
id: false
name: GCEMO-700
---
extends ../../layouts/homepage/default_base

block marquee
  | [@P[cdsDocument:<data app="sales" location="homepage/marquee/com-anniversary/default_template" /> ]@P]

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]

block cookieWarning