---
location: sales/homepage/default.en-za
id: false
name: GCE-33226
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage.css" rel="stylesheet" type="text/css")

block primaryTile
  //- include ../../sales/homepage/tiles/hosting.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block bugBar
  +gtldBug("co")
  +gtldBug("club")
  +gtldBug("org")

block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
