extends ../../layouts/homepage/default_base
append styles
  style.
    .gdhp-search-box .domainSearchBox{width:780px;}
  
block marquee
  |  ##if(splitTestingSideIsActive(1463, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/mwp-flash-jazzy/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/locals/es-mx/topmarquee" /> ]@P]
  |  ##endif

block bugBar
  +tldBugs(["net","club","com-mx","co","design"])

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | ##if(splitTestingSideIsActive(1462, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  | ##elseif(splitTestingSideIsActive(1462, C))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  | ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]
  | ##endif

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/email-essentials/default_template" /> ]@P]

block cookieWarning

