extends ./_home-page.jade

block bugBar
  +tldBugs(["com","co","ca","social"])
block hero
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" rank="0" />]@P]
block marquee-tile1
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="marquee-tile" rank="1" />]@P]
block marquee-tile2
  include ../../tmsv2/content/homepage/tld-ca/marquee-tile.jade
block merch-tile1
  include ../../tmsv2/content/homepage/gdpro/merch-tile.jade
block merch-tile2
  include ../../tmsv2/content/homepage/o365-biz-email/merch-tile.jade
block merch-tile3
  include ../../tmsv2/content/homepage/web-hosting-price/merch-tile.jade
block merch-tile4
  include ../../tmsv2/content/homepage/online-store/merch-tile.jade