extends ./_home-page.jade

block hero  
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" />]@P]
block marquee-tile1
  include ./tiles/marquee-com-tld-sale-tile.jade
block marquee-tile2
  include ./tiles/marquee-tile-gtld.jade
block merch-tile1
  include ./tiles/get-found.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ./tiles/merch-tile-web-hosting.jade
block merch-tile4
  include ./tiles/online-store-tile.jade
block prepend sections
  include ./sections/_domain-promo.jade
  include ./sections/_why-godaddy.jade
  include ./sections/_website-promo.jade
  include ./sections/_o365-promo.jade
  include ./sections/_new-customers-promo.jade
  include ./sections/_support-promo.jade
  include ./sections/_puppy-nascar-promo.jade