---
location: sales/homepage/default.en-au
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-au_homepage_20140731.css" rel="stylesheet" type="text/css")

block bugBar
	+gtldBug("co")
	+gtldBug("club")
	+gtldBug("org")

block share
	.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/gdAustrali' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block cookieWarning
	script(type="text/javascript").
		var ignoreLivePerson = true;
