---
location: sales/homepage/default.en-us
id: 54ac8049f778fc2e5c591944
name: Superbowl
---
extends ./_home-page.jade

block hero  
  Some awesome text here
block marquee-tile1 
  include ./tiles/marquee-tile-got.jade
block marquee-tile2
  include ./tiles/marquee-tile-gtld.jade
block merch-tile1
  include ./tiles/get-found.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ./tiles/gdpro-tile.jade
block merch-tile4
  include ./tiles/online-store-tile.jade