extends ./_home-page.jade
block append seo
  meta(name="p:domain_verify" content="dab477e14df859062b884b18aa901346")
block bugBar
  +tldBugs(["net","club","us","co","design"])
block hero
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" rank="0" />]@P]
block marquee-tile-1
  include ../../tmsv2/content/homepage/p4p/banner-medium.jade
block marquee-tile-2
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="banner-medium" rank="1" />]@P]
  .default-content(style="display:none;min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; height: 100%; width: 100%; position: relative;")
    include ../../tmsv2/content/homepage/gtld/banner-medium.jade
  script.
    var tmsDefault = document.querySelectorAll("#marquee-tile-2 .tms-default");
    if (tmsDefault.length) {
      document.querySelectorAll("#marquee-tile-2 [data-tms-template]")[0].style.display = "none";
      document.querySelectorAll(".default-content")[0].style.display = "block";
    }
block banner-small-1
  include ../../tmsv2/content/homepage/o365-biz-email/banner-small.jade
block banner-small-2
  include ../../tmsv2/content/homepage/web-hosting-price/banner-small.jade
block banner-small-3
  include ../../tmsv2/content/homepage/gdpro/banner-small.jade
block banner-small-4
  include ../../tmsv2/content/homepage/gem/banner-small.jade

