---
location: sales/homepage/default.fr-ca
id: false
name: GCEMO-636
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage20141208.css" rel="stylesheet" type="text/css")
  style.
    .gdhp-search-box .domainSearchBox{width:780px;}

block marquee
  |      [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]

block tiles
  atlantis:webstash(type="css")
    style.
      .gdhp-tile-wrap{height:580px;width:100%;background-color:#d4d4d4}
      .gdhp-tile-area{width:1000px;margin:0 auto}
      .gdhp-tile{width:480px;height:480px;background-color:#fff;float:left;margin:40px 10px 0;cursor:pointer;}
      .gdhp-tile span{display:block;}
      .gdhp-tile .btn-lrg{font-size:24px;padding:14px 12px;box-sizing:border-box;height:60px;width:240px;}
      .gdhp-tile .btn-orange{color:#fff;background-color:#f5811f;border-bottom:4px solid #b25e18;}
      .gdhp-tile .btn-orange:hover{background-color:#ff9b39;border-color:#cc7832}
      .tile-sprite{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_tile_sprite_20141205.png) scroll no-repeat;}
  .gdhp-tile-wrap
    .gdhp-tile-area
      block primaryTile
        | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]
      block secondaryTile
        |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]

block bugBar
    +tldBugs(["com", "club", "quebec"])
block cookieWarning