---
location: sales/homepage/default.uk-ua
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/uk-ua_homepage_20140805.css" rel="stylesheet" type="text/css")
	style.
		#co-price {padding-left:26px;}
		#co-icon { width: inherit; position: absolute; margin-top: 12px; }

block marquee
	|  ##if(!targetMessageTagAny(sales_hp_default,hp_existing_customer))
	|    ##if(splitTestingSideIsActive(1309, B) && !hasISC())
	|      [@P[cdsDocument:<data app="sales" location="homepage/locals/uk-ua/topmarquee" /> ]@P]
	|    ##else
	|      [@P[cdsDocument:<data app="sales" location="homepage/locals/uk-ua/split/topmarquee" /> ]@P]
	|    ##endif
	|  ##else
	|    [@P[cdsDocument:<data app="sales" location="homepage/locals/uk-ua/split/topmarquee" /> ]@P]
	|  ##endif

block bugBar
	a(href!="[@T[link:<relative path='/tlds/co-domain.aspx'><param name='ci' value='83052' /><param name='tld' value='CO' /></relative>]@T]")
		span#co-icon
		span#co-price [@T[productprice:<current productid="56401" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]
	a(href!="[@T[link:<relative path='/tlds/org.aspx'><param name='ci' value='93297' /><param name='tld' value='ORG' /></relative>]@T]")
		span#org-icon.tld-icon
		span#org-price [@T[productprice:<current productid="12101" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]*

block share
	.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block pods
	| 
	| [@P[cdsDocument:<data app="sales" location="homepage/locals/uk-ua/pods" /> ]@P]
