---
location: sales/homepage/default.da-dk
id: false
name: BigTextFix
---
extends ../../layouts/homepage/default_base

block marquee
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  |  ##else
  |    ##if(splitTestingSideIsActive(1419,b))
  |      [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  |    ##else
  |      [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]
  |    ##endif
  |  ##endif

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  #tile-container-why-wsb
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/why-wsb/default_template" /> ]@P]
  
  #tile-container-got(style="display:none")
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]

  #tile-container-30-percent-gtld(style="display:none")
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]

  script(type="text/javascript").
    if ($('#com499').length || $('#gybo').length) {
      $('#tile-container-why-wsb').hide();
      if($('#com499').length) {
        $('#tile-container-got').show();
      } 
      else {
        $('#tile-container-30-percent-gtld').show();
      }
    }