---
location: sales/homepage/default.el-gr
id: 546e4c4ff778fc18bc8c3c7b
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/el-gr_homepage_20140805.css" rel="stylesheet" type="text/css")
