extends ../../layouts/homepage/default_base

block marquee
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/web-hosting/default_template" /> ]@P]

block bugBar
  +tldBugs(["com","co","ch","eu"])

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/ch-free-transfer/default_template" /> ]@P]
