extends ../../layouts/homepage/default_base

block marquee
  | [@P[cdsDocument:<data app="sales" location="homepage/marquee/com-anniversary/default_template" /> ]@P]

block primaryTile
  //- include ../../sales/homepage/tiles/hosting.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]


block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
