---
location: sales/homepage/default.fr-fr
id: false
name: GCE-33226
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage.css" rel="stylesheet" type="text/css")
  style.
    .gdhp-search-box2 input,#searchDomainName2-label{width:550px;}
