extends ./_home-page.jade

block bugBar
  +tldBugs(["net","club","ca","co","design"])
block hero
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" rank="0" />]@P]
block marquee-tile-1
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="banner-medium" rank="1" />]@P]
  .default-content(style="display:none;min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; height: 100%; width: 100%; position: relative;")
    include ../../tmsv2/content/homepage/gtld/banner-medium.jade
  script.
    $(document).ready(function(){
      if ($('#marquee-tile-1 .tms-default').length) {
      	$('#marquee-tile-1 [data-tms-template]').hide();
        $('.default-content').show();
      }
    });
block marquee-tile-2
  include ../../tmsv2/content/homepage/tld-ca/banner-medium.jade
block banner-small-1
  include ../../tmsv2/content/homepage/gdpro/banner-small.jade
block banner-small-2
  include ../../tmsv2/content/homepage/o365-biz-email/banner-small.jade
block banner-small-3
  include ../../tmsv2/content/homepage/web-hosting-price/banner-small.jade
block banner-small-4
  include ../../tmsv2/content/homepage/online-store/banner-small.jade
