extends ../../layouts/homepage/default_base

block marquee
  | ##if(splitTestingSideIsActive(1467, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/hosting-flash-jazzy/default_template" /> ]@P]
  | ##elseif(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  | ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  | ##endif

block bugBar
  +tldBugs(["com","co","net","video"])

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  |  ##if(splitTestingSideIsActive(1467, B))
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  | ##else
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]
  | ##endif

block secondaryTile
  |  ##if(splitTestingSideIsActive(1467, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  |  ##else
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  |  ##endif
  |  ##endif