---
location: sales/homepage/default.pt-br
id: false
name: GCEMO-636
---
extends ../../layouts/homepage/default_base
append styles
  style.
    .walsheim-reg{font-family:'Walsheim-Regular';}
    .walsheim-med{font-family:'Walsheim-Medium';}
    .gybo-btn-wrapper>.btn-wrap>.btn{font-family:'Walsheim-Medium';font-size:17px;}

block marquee
  | ##if(!targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   ##if(splitTestingSideIsActive(1404, B))
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/299com-br/default_template" /> ]@P]
  |   ##else
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
  |   ##endif
  | ##else
  |   ##if(splitTestingSideIsActive(1405, B))
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
  |   ##else
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  |   ##endif
  | ##endif

block bugBar
  +tldBugs(["br","org"])

block primaryTile
  #tile-container-hosting
    //- include ../../sales/homepage/tiles/hosting-old-brand.jade
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  #tile-container-got
    //- include ../../sales/homepage/tiles/got.jade
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  #tile-container-gtld(style="display:none;")
    //- include ../../sales/homepage/tiles/hosting.jade
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/gtld/default_template" /> ]@P]
  script(type="text/javascript").
    if ($('#gybo').length) {
      $('#tile-container-got').hide();
      $('#tile-container-gtld').show();
    }

block cookieWarning