extends ../../layouts/homepage/default_base

block styles
  style.
    .hp-sprite.in { background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) -799px -47px scroll no-repeat !important; width: 35px; height: 20px; }
    .hp-sprite.co-in { background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) -800px -71px scroll no-repeat !important; width: 52px; height: 13px; margin-top: 4px; }
    .hp-sprite.com { background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141029.png) -845px -54px scroll no-repeat !important; width: 49px; height: 13px; margin-top: 4px; }
    #pcf .pc-support-wrapper{margin-top:0px !important;}
    body {font-family:'Walsheim-Regular'; background-color:#ededed;}
    body .gdhp-tile-wrap{background-color:#ededed;}
    .top-banner-lower-content{height:45px;background-color:#fff;width:100%}
    .top-lower-content{margin:0 auto;position:relative;width:1000px;padding-top:13px}
    .gdhp-share{position:relative;float:right;}
    .atn-btn-wrap{padding-top:20px;width:450px;height:54px;}
    .atn-btn-wrap>span {visibility: visible;margin-right: 20px;float: left;}
    .b {font-family: 'Walsheim-Bold'}

block domainSearch
  include ./sections/domain-search.jade

block marquee
  | 
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]


block bugBar
  +tldBugs(["in","co-in","org"])


block primaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tiles/com299-in" /> ]@P]

block lowerMarquee

block whyUs
  include ./sections/what-we-do.jade

block faq

block disclaimers

block cookieWarning

block scripts
  script(src!="[@T[link:<javascriptroot />]@T]fos/hp/rebrand/js/bigtext.min.js")
  script(src!="[@T[link:<javascriptroot />]@T]fos/script/sales17.min.js" type="text/javascript")
  script(src!="[@T[link:<javascriptroot />]@T]fos/hp/rebrand/js/homepage_script_20140410.min.js" type="text/javascript")
  script(src!="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript")
  script(src!="[@T[link:<javascriptroot />]@T]shared/js/jquery.plugins.min.20111019.js" type="text/javascript")
  script(src!="[@T[link:<javascriptroot />]@T]starfield/fos.share/v1.3/fos.share-20140505.min.js" id="fosShareScript")
  script(src!="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript")
  script(src!="[@T[link:<javascriptroot />]@T]fos/201401/global/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript")
  script(type="text/javascript").
    var ignoreLivePerson = true;
    $(document).ready(function() {
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'),
    qs = [],
    date = new Date();
    for(var i = 0; i < hashes.length; i++) {
    var hash = hashes[i].split('=');
    qs.push(hash[0]);
    qs[hash[0]] = hash[1];
    }
    $('#shareme').fosShare({});
    if($("#searchDomainName").val().length) {
    $("#searchDomainName").val("");
    }
    $(".gdhp-search-box2").gdhpDomainSearch({
    'domainInputId': '#searchDomainName2',
    'tldInputId': '#searchTldName2',
    'tldToggleId': '#searchTldToggle',
    'tldListId': '#searchTldList',
    'searchButton': '#domainSearchAction2',
    'searchUrl': '[@T[link:<relative path='/domains/search.aspx'><param name='ci' value='54814' /></relative>]@T]',
    'idnUrl': '[@T[link:<relative path='/domains/search.aspx'><param name='ci' value='82474' /></relative>]@T]',
    'domainInputLabelText': '[@L[cds.sales/homepage/segments/default:domain-banner-search-text]@L]',
    'focusOnLoad' : false
    });
    $(".gdhp-search-box").gdhpDomainSearch({
    'domainInputId': '#searchDomainName',
    'tldInputId': '#searchTldName',
    'tldToggleId': '#searchTldToggle',
    'tldListId': '#searchTldList',
    'searchButton': '#domainSearchAction',
    'searchUrl': '[@T[link:<relative path='/domains/search.aspx'><param name='ci' value='54814' /></relative>]@T]',
    'idnUrl': '[@T[link:<relative path='/domains/search.aspx'><param name='ci' value='82474' /></relative>]@T]',
    'domainInputLabelText': '[@L[cds.sales/homepage/segments/default:domain-banner-search-text]@L]'
    });
      $('.search-form').on('submit', function (e){
            e.preventDefault();

            $('button[name="searchButton"]', this).addClass('disabled');

            var params = {
                query:$(this).serialize(),
                searchUrl:$(this).attr('data-url')
            };
            DomainSearch(params,function(err,NextStepUrl){
                if(typeof NextStepUrl === 'undefined')
                {
                  NextStepUrl = '[@T[link:<relative path="/domains/search-new.aspx"></relative>]@T]';
                }
                if(err == null )
                {
                    window.location = NextStepUrl;
                }
                else{
                    if(console != "undefined")
                    console.log(err);
                }
            });
        });

        function DomainSearch(params, cb) {
              $.ajax({
                url: params.searchUrl,
                type: 'POST',
                data: params.query,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  var data = { Error: errorThrown, Success: false };
                  cb(errorThrown,null);
                },
                success: function (data) {
                  cb(null,data.NextStepUrl);
                }
              });
        }
      $("#disclaimers > p > a").click(function () {
            $("#g-modal").modal({
              overlayId: "g-modal-overlay",
              close: "false", // disables default close button
              autoPosition: "true"
            });
          });
          $(".g-modal-close").click(function () {
            // Closes the last modal
            $.modal.close();
          });
    });
    $('.uk-cookie-close').click(function() {
          $('.uk-cookie-banner').css("display","none");
          var CookieDate = new Date;
          CookieDate.setFullYear(CookieDate.getFullYear( ) +10);
          document.cookie = 'uk_banner=closed; expires=' + CookieDate.toGMTString( ) + '; path=/';
          })
    if (document.cookie.indexOf("uk_banner") >= 0) {
           $('.uk-cookie-banner').css("display","none"); 
           } else {
           $('.uk-cookie-banner').css("display","block");
           }     
    if(navigator.userAgent.match(/iPad|iPhone|iPod/i)) {
    $('head').append('<meta name="viewport" content="width=1150px">');
    }
    $('body').on('click','.js-gdhpclick',function(event){
      var $clickedElement = $(event.currentTarget);
      var $clickedUrl = $clickedElement.attr('data-url'); 
      event.stopPropagation();
      switch($clickedUrl)
      {
        case "video":
           $('div#myVideoModal').modal('show');
        break;
        case "none":
        break;
        case "video-close":
          $('div#myVideoModal').modal('hide');
        break;
        default:
          window.location.href=$clickedUrl;
      }
    });
    $(window).load(function () {
      $('.bigtext').bigtext().css('visibility', 'visible');
      setTimeout( "$('.bigtext').bigtext().css('visibility', 'visible');",500 );
    });
    var $resizeElements = $('.js-gdhpPriceResize');
    if($resizeElements){
    $resizeElements.each(function(){
      var currentFontSize = parseInt($(this).css("font-size"));
      var currentWidth = parseInt($(this).css("width"));
      var maxCharOvrd = $(this).attr('data-maxchar');
      var numOfChar = $(this).text().length;
      var containsSymbol =  $(this).text().match(/[₪|₨|￦|﷼]/i);
      var maxChar = Math.ceil((currentWidth/currentFontSize) * 2);
      if(maxCharOvrd){maxChar = parseInt(maxCharOvrd);}
      if(containsSymbol && numOfChar <= maxChar){maxChar -= 1;}
      if(numOfChar > maxChar){
        var newFontSize =  currentFontSize - (Math.ceil(((numOfChar - maxChar)/numOfChar) * 100));
        if($(this).hasClass("tungsten")){
          newFontSize *= .82;
        }
        else if(!containsSymbol){
          newFontSize += 10;
        }
          $(this).css("font-size",newFontSize +"px").css("line-height",newFontSize +"px");
        }
      });
    }