extends ./_home-page.jade

block marquee
  section#marquee
    .container
      .row
        .col-xs-12.col-md-9
          .hero-wrapper
            include ./heros/got-puppy.jade
        .col-xs-12.col-md-3
          .tile-wrapper
            include ./tiles/puppy.jade

//- block hero  
//-   include ./heros/got-puppy.jade
//- block marquee-tile1 
//-   include ./tiles/puppy.jade
//- block marquee-tile2
  include ./tiles/marquee-tile-gtld.jade
block merch-tile1
  include ./tiles/get-found.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ./tiles/gdpro-tile.jade
block merch-tile4
  include ./tiles/online-store-tile.jade