---
location: sales/homepage/default.pt-br
id: false
name: GCE-33226
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage.css" rel="stylesheet" type="text/css")
  style.
    .walsheim-reg{font-family:'Walsheim-Regular';}
    .walsheim-med{font-family:'Walsheim-Medium';}
    .gybo-btn-wrapper>.btn-wrap>.btn{font-family:'Walsheim-Medium';font-size:17px;}
    #pod-area-wrap{height:580px;background-color:#d4d4d4;width:100%}
    .pod-area1,.pod-area2,.pod-area3{width:1000px;margin:0px auto;padding-top:70px;}
    .large-pod{width:490px;height:460px;position:relative;float:left;cursor:pointer;}
    .medium-pod{width:490px;height:220px;position:relative;float:left;cursor:pointer;}
    .pod-right{margin-left:20px;}
    .pod-bottom{margin-top:20px;}
    .largepod-text-right{padding:110px 10px 0px 150px}
    .largepod-text-left{padding:60px 170px 0px 30px}
    .pod-onsale{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140731.png) scroll -765px -38px no-repeat;float:right;height:100px;width:100px;margin-right:100px;margin-top:15px;}
    .pod-onsale-text{width:90px;font-size:10px;color:#fff;text-align:center;padding-left:5px;display:block;padding-top:27px;}
    .pod-onsale-text-big{font-size:36px;color:#fff;text-align:center;font-weight:700;line-height:28px;display:block;}
    .pod-onsale{margin-bottom:15px}
    .largepod-text-left>span,.largepod-text-right>span{display:block;}
    .mediumpod-text-left>span,.mediumpod-text-right>span{display:block;}
    div.largepod-text-right .pod-headline{padding:5px 0px 0px 127px;font-size:12px}
    div.largepod-text-right .pod-subtext{font-size:34px;line-height:34px;width:275px;padding-top:17px;}
    div.largepod-text-right div.atn-btn-wrap{margin:0px;padding-top:15px}
    div.largepod-text-right div.atn-btn-wrap>a{float:none;padding:8px 15px 5px;font-size:14px;}
    div.largepod-text-right div.atn-btn-wrap>span{display:block;float:none;padding-bottom:15px;font-size:10px;line-height:10px}
    div.largepod-text-right div.atn-btn-wrap>span>span{font-size:24px;line-height:24px;}
    div.largepod-text-left .pod-headline{font-size:18px;line-height:18px}
    div.largepod-text-left .pod-subtext{font-size:36px;line-height:36px;width:240px;}
    div.largepod-text-left .pod-limitation{font-size:12px;padding-top:20px}
    div.largepod-text-left .hosting-orange{color:#ff8a00}
    div.largepod-text-left .pod-popout{position:absolute;top:70px;left:310px;color:#fff;font-size:11px;}
    div.largepod-text-left div.atn-btn-wrap{margin:0px;padding-top:15px}
    div.largepod-text-left div.atn-btn-wrap>a{float:none;padding:8px 15px 5px;font-size:14px;}
    div.largepod-text-left div.atn-btn-wrap>span{display:block;float:none;padding-bottom:15px;font-size:10px;line-height:10px}
    div.largepod-text-left div.atn-btn-wrap>span>span{font-size:24px;line-height:24px;}
    div.mediumpod-text-left{padding:40px 0px 0px 140px}
    div.mediumpod-text-left .pod-headline{font-size:18px;line-height:18px}
    div.mediumpod-text-left .pod-maintext{font-size:26px;line-height:26px;padding:10px 15px 10px 0px;font-weight:200}
    div.mediumpod-text-left .pod-subtext{font-size:11px;line-height:11px;font-weight:200}
    div.mediumpod-text-left .pod-subtext-2{padding-top:25px}
    div.mediumpod-text-left .pod-subtext-2>a{color:#333;font-size:14px}
    div.mediumpod-text-left .pod-subtext-2>a>i{background-position:-57px 0px;}
    .pod1{width:490px;height:460px;position:relative;float:left;margin-top:71px;cursor:pointer;}
    .pod2{width:490px;height:220px;position:relative;float:left;margin:71px 0px 0px 20px;cursor:pointer;}
    .pod3{width:490px;height:220px;position:relative;float:left;margin:20px 0px 0px 20px;cursor:pointer;}
    .block1-pod1{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px 0px no-repeat;}
    .block1-pod2{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -465px no-repeat;}
    .block2-pod1{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -930px no-repeat;}
    .block2-pod2{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -1395px no-repeat;}
    .block2-pod3{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -1620px no-repeat;}
    .block3-pod1{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -1845px no-repeat;}
    .block3-pod2{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/pods/sprites-br-o365_20140623.jpg) scroll 0px -2310px no-repeat;}
    span.o365img{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140731.png) no-repeat 0 -39px;display:block;float:left;width:120px;height:26px;}
    div.pod-area1>div.block1-pod1 div.pod-onsale{margin-right:10px;}
    div.pod-area1>div.block1-pod2 .pod2-onsale{margin:40px 0px 15px;}
    div.pod-area1>div.block1-pod2 .pod2-onsale-text{background-color:#ff8a00;font-size:25px;color:#fff;text-align:center;padding:3px 10px}
    div.pod-area1>div.block1-pod2 div.largepod-text-left{padding:50px 0px 0px 30px;}
    div.pod-area1>div.block1-pod2 span.pod-maintext{font-size:36px;line-height:36px;max-width:270px}
    div.pod-area1>div.block1-pod2 span.pod-subtext{font-size:14px;color:#7db701;padding-top:10px;width:270px;}
    div.pod-area1>div.block1-pod2 span.pod-subtext>strike{color:#333;font-weight:100;padding-right:10px}
    div.pod-area1>div.block1-pod2 span.pod-subtext-2{margin-top:30px;display:block;}
    div.pod-area1>div.block1-pod2>div.largepod-text-left>div.atn-btn-wrap{margin:0px;padding-top:0px;}
    div.pod-area1>div.block1-pod2>div.largepod-text-left>div.atn-btn-wrap>a{float:none;padding:8px 15px 5px;font-size:14px;}
    div.pod-area1>div.block1-pod2>div.largepod-text-left div.atn-btn-wrap>span{display:block;float:none;padding-bottom:15px;font-size:10px;line-height:16px}
    div.pod-area2>div.block2-pod3 div.mediumpod-text-left{padding:40px 0px 0px 180px;color:#fff}
    div.pod-area2>div.block2-pod3 span.pod-maintext{font-size:24px;line-height:26px;padding:5px 15px 10px 0px;font-weight:200}
    div.pod-area2>div.block2-pod3 span.pod-subtext-2>a{color:#fff;font-size:18px}
    div.pod-area2>div.block2-pod3 span.pod-subtext-2>a>i{background-position:-40px 0px;}
    div.pod-area2>div.block2-pod3 span.pod-subtext-2{padding-top:10px}
    div.pod-area3>div.block3-pod1 div.pod-onsale{margin-right:150px;}
    div.pod-area3>div.block3-pod1 span.pod-headline{width:225px}
    div.pod-area3>div.block3-pod2 div.largepod-text-left{padding:40px 0px 0px 30px;color:#fff}
    div.pod-area3>div.block3-pod2 span.pod-headline{font-size:18px;line-height:18px;display:block;font-weight:700}
    div.pod-area3>div.block3-pod2 span.pod-subtext1{font-size:26px;line-height:26px;width:285px;display:block;margin:45px 0px 0px 145px}
    div.pod-area3>div.block3-pod2 span.pod-subtext2{font-size:26px;line-height:26px;width:285px;display:block;margin:75px 0px 0px 145px}
    div.pod-area3>div.block3-pod2 span.pod-subtext3{font-size:26px;line-height:26px;width:285px;display:block;margin:70px 0px 0px 145px}
    div.pod-area3>div.block3-pod2 span.pod-subtext-2{margin:30px 20px 20px 220px;display:block;}
    div.pod-area3>div.block3-pod2 span.pod-subtext-2>a{color:#fff;font-size:23px}
    div.pod-area3>div.block3-pod2 span.pod-subtext-2>a>i{background:url([@T[link:<cssroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140731.png) scroll -371px 0px no-repeat;width:25px;height:26px}

block marquee
  | ##if(!targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   ##if(splitTestingSideIsActive(1404, B))
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/299com-br/default_template" /> ]@P]
  |   ##else
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
  |   ##endif
  | ##else
  |   ##if(splitTestingSideIsActive(1405, B))
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/wsb-free-combr/default_template" /> ]@P]
  |   ##else
  |     [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  |   ##endif
  | ##endif

block bugBar
  +gtldBug("co")
  +gtldBug("br")
  +gtldBug("org")

block share
  .fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block tiles
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/locals/pt-br/pods" /> ]@P]
