---
location: sales/homepage/default.de-ch
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/de-ch_homepage_20140805.css" rel="stylesheet" type="text/css")

block share
	.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block primaryTile
	#tile-container-30-percent-gtld
		include ../../sales/homepage/tiles/30-percent-gtld.jade
	#tile-container-why-wsb
		include ../../sales/homepage/tiles/why-wsb.jade
	script(type="text/javascript").
		if ($('#gtld').length) {
			$('#tile-container-30-percent-gtld').hide();
			$('#tile-container-why-wsb').show();
		}
block secondaryTile
	include ../../sales/homepage/tiles/30-percent-gtld.jade
