extends ../../layouts/homepage/default_base
append styles
  style.
    .walsheim-reg{font-family:'Walsheim-Regular';}
    .walsheim-med{font-family:'Walsheim-Medium';}
    .gybo-btn-wrapper>.btn-wrap>.btn{font-family:'Walsheim-Medium';font-size:17px;}

block marquee
  | [@P[cdsDocument:<data app="sales" location="homepage/marquee/com-anniversary/default_template" /> ]@P]

block bugBar
  +tldBugs(["com","co","br","club"])

block primaryTile
  #tile-container-hosting
    //- include ../../sales/homepage/tiles/hosting-old-brand.jade
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  #tile-container-got
    //- include ../../sales/homepage/tiles/got.jade
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]

block cookieWarning