extends ../../layouts/homepage/default_base
block marquee
  | ##if(splitTestingSideIsActive(1461, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/tld-com-flash/default_template" /> ]@P]
  | ##elseif(splitTestingSideIsActive(1461, C))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/tld-com-flash-jazzy/default_template" /> ]@P]
  | ##elseif(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  | ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  | ##endif

block bugBar
  +tldBugs(["com","co","ch","design","eu"])

block primaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/ch-free-transfer/default_template" /> ]@P]
