extends ./_home-page.jade

block hero
  include ../../tmsv2/content/homepage/gtld/hero.jade
block marquee-tile1
  include ../../tmsv2/content/homepage/tld-co-uk/marquee-tile.jade
block marquee-tile2
  include ../../tmsv2/content/homepage/web-hosting-savings/marquee-tile.jade
block merch-tile1
  include ./tiles/gdpro-tile.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ../../tmsv2/content/homepage/customer-care/merch-tile.jade
block merch-tile4
  include ./tiles/online-store-tile.jade
block prepend sections
  include ./sections/_domain-promo.jade
  include ./sections/_why-godaddy.jade
  include ./sections/_website-promo.jade
  include ./sections/_o365-promo.jade
  include ./sections/_support-promo.jade
  include ./sections/_nascar-contest.jade
block bugBar
  +tldBugs(["com","uk","org","club"])

