extends ./_home-page.jade

block marquee
  include ../../tmsv2/content/homepage/got-nacho/hero.jade
block merch-tile1
  include ./tiles/gdpro-tile.jade
block merch-tile2
  include ./tiles/o365-tile.jade
block merch-tile3
  include ./tiles/merch-tile-web-hosting.jade
block merch-tile4
  include ./tiles/online-store-tile.jade
block prepend sections
  include ./sections/_nacho-full-video.jade
  include ./sections/_nascar-contest.jade
  include ./sections/_domain-promo.jade
  include ./sections/_why-godaddy.jade
  include ./sections/_website-promo.jade
  include ./sections/_o365-promo.jade
  include ./sections/_support-promo.jade