---
location: sales/homepage/default.es-mx
id: 54dcdcdff778fc13b4594b00
name: GCEMO-542
---
extends ../../layouts/homepage/default_base
append styles
  style.
    .gdhp-search-box .domainSearchBox{width:780px;}
  
block marquee
  |   [@P[cdsDocument:<data app="sales" location="homepage/locals/es-mx/topmarquee" /> ]@P]


block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/com299/default_template" /> ]@P]

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  
block bugBar
  +tldBugs(["co","uno","org"])

block cookieWarning

