---
location: sales/homepage/default.tr-tr
id: 546e59c6f778fc18bc8c3ca6
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/tr-tr_homepage_20140805.css" rel="stylesheet" type="text/css")
