extends ../../layouts/homepage/default_base

block marquee
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/web-hosting/default_template" /> ]@P]

block primaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  | 
  |      [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
  | 

block cookieWarning
