extends ./_home-page.jade
block append pageStyles

block bugBar
  +tldBugs(["com","club","in","co-in","biz"])
block hero
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" rank="0" />]@P]
block marquee-tile-1
  include ../../tmsv2/content/homepage/tld-com-rajesh/banner-medium.jade
block marquee-tile-2
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="banner-medium" rank="1" />]@P]
block banner-small-1
  include ../../tmsv2/content/homepage/o365-biz-email/banner-small.jade
block banner-small-2
  include ../../tmsv2/content/homepage/web-hosting-price/banner-small.jade
block banner-small-3
  include ../../tmsv2/content/homepage/sitelock/banner-small.jade
block banner-small-4
  include ../../tmsv2/content/homepage/gdpro/banner-small.jade

block domain-promo
  atlantis:webstash(type="css")
        style
          :less
            #domain-promo { color: #fff;
              .domain-promo-content{
                @media only screen and (max-width:767px) {background-image:none !important;}
                background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/nutcutlal-background.jpg) 50% 100% #333 no-repeat;background-size:cover;
              }
              .domain-promo-text{padding:7% 2% 7% 0;}
              .text-center{color:#333;margin:0;padding:30px 0;text-transform:uppercase;}
              h1{display:inline;color:#fff;text-transform:none;font-size:1.6rem;font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;}
              h3{font-size:3.4rem;text-transform:uppercase;}
              .btn{margin-top:20px}
              .domain-promo-text div{max-width:360px;}
              .domain-promo-text .customer-website{font-size:12px;margin-top:40px;}
            }

      section#domain-promo.bg-green-official
        h2.text-center [@L[cds.sales/homepage/sections/_domain-promo:header-text]@L]
        div.domain-promo-content
          .container
            .row
              .col-sm-6.col-sm-offset-6.col-xs-8.col-xs-offset-2.domain-promo-text
                h3.walsheim-black [@L[cds.sales/homepage/sections/_domain-promo:body-header-text]@L]
                div From classic <h1>domain names</h1> like <strong>.com</strong>, <strong>.in</strong> and <strong>co.in</strong> to new domain names like <strong>.club</strong>, <strong>.guru</strong>, even <strong>.rocks</strong>, we can help you find the right name for your business.
                a.btn.btn-default-light(data-url!="[@T[link:<relative path='/domains/domain-name-search.aspx'><param name='ci' value='95782' /></relative>]@T]") [@L[cds.sales/homepage/sections/_domain-promo:cta-text]@L]

block why-godaddy-feature-1
  .why-gd-registrar
    <!--[if lt IE 9]>
    +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/globe-europe-africa-asia.png','Pin Point Globe')
    <![endif]-->
    +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/globe-europe-africa-asia.svg','Pin Point Globe')
    h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading1]@L]
    p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body1]@L]
block why-godaddy-feature-2
  .why-gd-support
    <!--[if lt IE 9]>
    +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/more-names-icon.png','TLD Boards')
    <![endif]-->
    +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/more-names-icon.svg','TLD Boards')
    h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading2]@L]
    p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body2]@L]
block website-promo
  atlantis:webstash(type="css")
    style
      :less
        #website-promo .shape-text{color:#333}
        #website-promo ul{margin-left:-20px;}
        #website-promo .bg-gray-darkest .two-up-text-wrap {
        @media (min-width: 1000px){margin-left:8.333333333333332%;}
        }
        .two-up-speech-shape.two-up-speech-shape-gold,.two-up-speech-shape.two-up-speech-shape-gold:after{background-color:#fedc45;}
        .two-up-speech-shape.two-up-speech-shape-gold:before{border-top-color:#fedc45;}
  section#website-promo
    +renderTwoUpCompare({title: "[@L[cds.sales/homepage/sections/_website-promo:promo-title-text]@L]", twoUpCompareId: "website-promo", titleBackgroundColor: "bg-green-official", backgroundImage: "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/east-website_promo.png", style: "min-height: 100%;"})
      +twoUpCompareColumn({title: "[@L[cds.sales/homepage/sections/_website-promo:website-title-text]@L]", backgroundColor: "bg-gray-darkest", shapeText: "[@L[cds.sales/homepage/sections/_website-promo:website-shape-text]@L]", shapeColor: "gold", whiteText:"WhiteText"})
        ul
          li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line1]@L]
          li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line2]@L]
          li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line3]@L]
        a.btn.btn-default-light.website-promo-wsb-btn(data-url!="[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='95790' /></relative>]@T]") LEARN MORE
      +twoUpCompareColumn({title: "[@L[cds.sales/homepage/sections/_website-promo:hosting-title-text]@L]", backgroundColor: "gb-green-official-light", shapeText: "[@L[cds.sales/homepage/sections/_website-promo:hosting-shape-text]@L]", shapeColor: "gold"})
        ul
          li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line1]@L]
          li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line2]@L]
          li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line3]@L]
        a.btn.btn-default-dark.website-promo-hosting-btn(data-url!="[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='95791' /></relative>]@T]") LEARN MORE

block prepend support-promo
  style
    :less
      section#testimonial{background-color:#f3f3f3; color:#333; padding: 25px 0; font-size:12px;
        img{width:10%;margin:0 auto 20px; min-width:90px}
        .testimony{font-size:1.5em; margin: 0 19%;}
        .customer{font-size:1em; text-transform:uppercase;text-align:center; margin-top:10px;
          .referance{color:#999}
        }
        @media only screen and (min-width:768px){
          font-size:16px;
        }
      }
  section#testimonial
    .container.walsheim-bold
      <!--[if lt IE 9]>
      +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/testimonial-icon.png','TLD Boards')
      <![endif]-->
      +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/testimonial-icon.svg','TLD Boards')
      .testimony "Our style of business is simple and straightforward, and I appreciate the same quality in GoDaddy. I found the plans easy to understand, pricing reasonable and their reputation is among the best."
      .customer
        span.referance Ms. Jaya Prasad, 
        span.company Ideasugar
