---
location: sales/homepage/default.nb-no
id: false
name: GCE-33226
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage.css" rel="stylesheet" type="text/css")

block marquee
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]
  |  ##else
  |    ##if(splitTestingSideIsActive(1408, A) && !hasISC())
  |      [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]
  |    ##else
  |      [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  |    ##endif
  |  ##endif

block primaryTile
  #tile-container-got
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  #tile-container-hosting(style="display:none;")
    | 
    | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]
  script(type="text/javascript").
    if ($('#gybo').length) {
      $('#tile-container-got').hide();
      $('#tile-container-hosting').show();
    }

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]

