---
location: sales/homepage/default.fi-fi
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/fi-fi_homepage_20140805.css" rel="stylesheet" type="text/css")

block pods
	| 
	| [@P[cdsDocument:<data app="sales" location="homepage/locals/fi-fi/pods" /> ]@P]
