extends ../../layouts/homepage/default_base

block marquee
  | ##if(splitTestingSideIsActive(1464, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/mwp-flash-jazzy/default_template" /> ]@P]
  | ##elseif(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gtld/default_template" /> ]@P]
  | ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  | ##endif

block bugBar
  +tldBugs(["net","club","asia","co","design"])

block primaryTile
  //- include ../../sales/homepage/tiles/hosting.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]

block secondaryTile
  |  ##if(targetMessageTagAny(sales_hp_default,hp_existing_customer))
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  |  ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/p4p/default_template" /> ]@P]
  |  ##endif

block cookieWarning
  script(type="text/javascript").
    var ignoreLivePerson = true;
