extends ./_home-page.jade
block append seo
  meta(name="p:domain_verify" content="dab477e14df859062b884b18aa901346")
block bugBar
  +tldBugs(["net","club","us","co","design"])
block hero
  //- | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/hero" /> ]@P]
  include ../../tmsv2/content/homepage/got/hero.jade
block marquee-tile-1
  include ../../tmsv2/content/homepage/p4p/banner-medium.jade
block marquee-tile-2
  //- | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/banner-medium" /> ]@P]
  include ../../tmsv2/content/homepage/gtld/banner-medium.jade
block banner-small-1
  include ../../tmsv2/content/homepage/o365-biz-email/banner-small.jade
block banner-small-2
  include ../../tmsv2/content/homepage/tld-co/banner-small.jade
block banner-small-3
  include ../../tmsv2/content/homepage/gdpro/banner-small.jade
block banner-small-4
  include ../../tmsv2/content/homepage/gem/banner-small.jade

append endOfPageScripts
  script(async src="/api/content?hero-wrapper=hero|0&marquee-tile-2=banner-medium|1&callback=tms")