extends ./_home-page.jade

block hero
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="hero" rank="0" />]@P]
block marquee-tile1
  include ../../tmsv2/content/homepage/tld-co-uk/marquee-tile.jade
block marquee-tile2
  |[@P[tmscontent:<data product="hp" interaction="marquee" channel="homepage" template="marquee-tile" rank="1" />]@P]
block banner-small-1
  include ../../tmsv2/content/homepage/gdpro/banner-small.jade
block banner-small-2
  include ../../tmsv2/content/homepage/o365-biz-email/banner-small.jade
block banner-small-3
  include ../../tmsv2/content/homepage/customer-care/banner-small.jade
block banner-small-4
  include ../../tmsv2/content/homepage/online-store/banner-small.jade
block why-godaddy
  atlantis:webstash(type="css")
    style
      :less
        #why-godaddy{background-color:#ccc;}
  section#why-godaddy
    .container
      h2.text-center.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:header-text]@L]
      .row
        .col-sm-4
          .feature.why-gd-registrar
            <!--[if lt IE 9]>
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/globe-europe-africa-asia.png','Pin Point Globe')
            <![endif]-->
            +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/globe-europe-africa-asia.svg','Pin Point Globe')
            h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading1]@L]
            p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body1]@L]
        .col-sm-4
          .feature.why-gd-prices
            <!--[if lt IE 9]>
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/tld-browser-01.png','TLD Boards')
            <![endif]-->
            +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/tld-browser-01.svg','TLD Boards')          
            h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading2]@L]
            p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body2]@L]
        .col-sm-4
          .feature.why-gd-support
            <!--[if lt IE 9]>
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_icon.png','Support Icon')
            <![endif]-->
            +lazyImg('svgfallback','','[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_icon.svg','Support Icon')
            h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading3]@L]
            p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body3]@L]
block bugBar
  +tldBugs(["com","co","uk","design","eu"])
