---
location: sales/homepage/default.fr-ca
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
  link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/fr-ca_homepage_20140805.css" rel="stylesheet" type="text/css")

block marquee
  |
  | [@P[cdsDocument:<data app="sales" location="homepage/marquees/gybo" /> ]@P]

block pods
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/locals/fr-be/pods" /> ]@P]