extends ../../layouts/homepage/default_base
append styles
  style.
    .gdhp-search-box2 input,#searchDomainName2-label{width:550px;}

block marquee
  |  
  | ##if(splitTestingSideIsActive(1467, B))
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/hosting-flash-jazzy/default_template" /> ]@P]
  | ##else
  |   [@P[cdsDocument:<data app="sales" location="homepage/marquee/gybo/default_template" /> ]@P]
  | ##endif
block bugBar
  +tldBugs(["net","club","fr","co","paris"])

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | ##if(splitTestingSideIsActive(1467, B))
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]
  | ##else
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting/default_template" /> ]@P]
  | ##endif

block secondaryTile
  |  
  |   [@P[cdsDocument:<data app="sales" location="homepage/tile/paris/default_template" /> ]@P]
