extends ../../layouts/homepage/default_base
append styles
  style.
    .gdhp-search-box .domainSearchBox{width:780px;}

block marquee
  | [@P[cdsDocument:<data app="sales" location="homepage/marquee/com-anniversary/default_template" /> ]@P]

block primaryTile
  //- include ../../sales/homepage/tiles/hosting-old-brand.jade
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/hosting-old-brand/default_template" /> ]@P]

block secondaryTile
  | 
  | [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]

block cookieWarning
  
