---
location: sales/homepage/default.es-mx
id: false
name: GCE-31162
---
extends ../../layouts/homepage/default_base
block styles
	link(href!="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/es-mx_homepage_20141015.css" rel="stylesheet" type="text/css")

block marquee
	| 
	|   [@P[cdsDocument:<data app="sales" location="homepage/marquee/499com/default_template" /> ]@P]

block primaryTile
	//- include ../../sales/homepage/tiles/got.jade
	| 
	| [@P[cdsDocument:<data app="sales" location="homepage/tile/got/default_template" /> ]@P]

block secondaryTile
	//- include ../../sales/homepage/tiles/30-percent-gtld.jade
	| 
	| [@P[cdsDocument:<data app="sales" location="homepage/tile/30-percent-gtld/default_template" /> ]@P]
	
block bugBar
	+gtldBug("co")
	+gtldBug("uno")
	+gtldBug("org")

block share
	.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/gdSpanish' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")

block cookieWarning

