---
location: sales/homepage/default.en.us
id: 5384e2c9f778fc2a74c3bc3b
locale: en-us
comments: DRTV link
name: FOS-21927
---

{% set include_topmarq =  "top_marquees/_" + locale + ".html" %}
{% set include_domainbugs =  "domain_bugs/_" + locale + ".html" %}
{% set include_pod =  "pods/_" + locale + ".html" %}
{% set include_lowermarq =  "lower_marquees/_" + locale + ".html" %}
{% set styles =  "css/" + locale + ".less" %}

{% extends 'layouts/homepage.html' %}

{% block customcss %}

{% endblock %}

{% block body %}
  {% include include_topmarq %}
  {% include include_domainbugs %}
  {% include include_pod %}
  {% include include_lowermarq %}

{% endblock %}
{% block customjs %}
{% jsminify %}
  $('.gdhp-top-banner-3').bind('click',function(event){
    var clientX = event.clientX;
    var center = document.getElementById("middle-bar");
    rect = center.getBoundingClientRect();
    if(clientX < rect.left){
      window.location.href='[@T[link:<relative path="/hosting/website-builder.aspx"><param name="ci" value="91095" /></relative>]@T]';
    } else {
      window.location.href='[@T[link:<relative path="/hosting/wordpress-hosting.aspx"><param name="ci" value="91094" /></relative>]@T]';
    }
  });
    $('.gdhp-top-banner-4').bind('click',function(event){
    var clientX = event.clientX;
    var center = document.getElementById("middle-bar");
    rect = center.getBoundingClientRect();
    if(clientX < rect.left){
      window.location.href='[@T[link:<relative path="/hosting/website-builder.aspx"><param name="ci" value="91317" /></relative>]@T]';
    } else {
      window.location.href='[@T[link:<relative path="/hosting/wordpress-hosting.aspx"><param name="ci" value="91318" /></relative>]@T]';
    }
  });
  $('body').on('click','.js-gdhpclick',function(event){
      var $clickedElement = $(event.currentTarget);
      var $clickedUrl = $clickedElement.attr('data-url'); 
      event.stopPropagation();
      switch($clickedUrl)
      {
        case "none":
        break;
        case "video":
           $('div#myVideoModal').modal('show');
        break;
        case "video-close":
          $('div#myVideoModal').modal('hide');
        break;
        default:
          window.location.href=$clickedUrl;
      }
    });
{% endjsminify %}
{% endblock %} 