---
location: sales/homepage/default.en.us
id: 5384e2c9f778fc2a74c3bc3b
locale: en-us
comments: DRTV link
name: FOS-21927
---

{% set include_topmarq =  "top_marquees/_" + locale + ".html" %}
{% set include_domainbugs =  "domain_bugs/_" + locale + ".html" %}
{% set include_pod =  "pods/_" + locale + ".html" %}
{% set include_lowermarq =  "lower_marquees/_" + locale + ".html" %}
{% set styles =  "css/" + locale + ".less" %}

{% extends 'layouts/homepage.html' %}

{% block customcss %}

{% endblock %}

{% block body %}
  {% include include_topmarq %}
  {% include include_domainbugs %}
  {% include include_pod %}
  {% include include_lowermarq %}

{% endblock %}
{% block customjs %}
{% jsminify %}
  $('.gdhp-top-banner').bind('click',function(event){
    var $clickedElement = $(event.target);
    if(!$clickedElement.hasClass('gtld-pods')){
      window.location.href='[@T[link:<relative path="/domains/search-new.aspx"><param name="ci" value="91184" /></relative>]@T]';
    }
  });
  var hpLoadVideo = 0;
  var autoplay = '\&autoplay=1';
  $("div.danica-tony-marquee").mouseenter(function() {
    if(hpLoadVideo != 1)
    {
      hpLoadVideo = 1;
      var src ='//www.youtube.com/embed/d1uumUrq5y0?html5=1&rel=0';
      $('#myVideoModal iframe').attr('src',src);
      $('#myVideoModal').on('hidden.bs.modal', function () {          
        $('#myVideoModal iframe').removeAttr('src');
        $('#myVideoModal iframe').attr('src',src);
      })
      $('#myVideoModal').on('show.bs.modal', function () {          
        $('#myVideoModal iframe').attr('src', src + autoplay);
      })
    }
  });

  $('body').on('click','.js-gdhpclick',function(event){
      var $clickedElement = $(event.currentTarget);
      var $clickedUrl = $clickedElement.attr('data-url'); 
      event.stopPropagation();
      switch($clickedUrl)
      {
        case "none":
        break;
        case "video":
           $('div#myVideoModal').modal('show');
        break;
        case "video-close":
          $('div#myVideoModal').modal('hide');
        break;
        default:
          window.location.href=$clickedUrl;
      }
    });
{% endjsminify %}
{% endblock %} 