#debug {
    font-size: 11px;
    margin: 0 auto;
    width: 1000px;
}

#hostingConfig .buttons {
    float: none;
    left: 670px;
    top: -64px;
}

#disclaimers { 
    margin: 0px 
}

#hostingConfig .column-left { 
    float: none 
}

.column-left .site-lock-add {
    margin: 10px 8px auto;
    display: block;
}

.column-left .site-lock-add>div {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 43px;
    line-height: 16px;
}

.column-left .site-lock-add>div>span.sitelock-checkbox {
    background: url("[@T[link:<imageroot />]@T]/fos/lp/rebrand_config_sprite2.png") no-repeat -53px -159px;
    cursor: pointer;
    height: 28px;
    position: absolute;
    width: 34px;
    top: 0;
    left: 0;
}

.column-left .site-lock-add>div>span.active { 
    background: url("[@T[link:<imageroot />]@T]/fos/lp/rebrand_config_sprite2.png") no-repeat 1px -160px 
}

#hostingConfig .tt-override {
    background: none;
    width: initial;
    margin: auto;
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #333;
    /*float: left;*/
    display: inline-block;
    /*min-width: 210px;*/
    margin-right: 5px;
}

#hostingConfig .g-toolTip.tt-override{
    width: inherit !important;
}

.sitelock-sent-container div{
    display: inline-block;
}

span.ssl-tip-wide {
    top: 16px;
    left: 115px;
    width: 460px;
}

span.stlk-tip-wide {
    top: 16px;
    left: 75px;
    width: 460px;
}

span.sitelk-add-snt {
    float: left;
    padding-right: 5px;
}

.sitelock-sent-container { 
    min-width: 520px 
}

#colFiveDiv { 
    width: 550px 
}

.plan-sub-list{
margin-top: -30px;
margin-left: 40px;
}
.plan-sub-list div:last-child{
padding-bottom: 10px;
}
.plan-sub-list div{
  line-height: 20px;
}
.plan-sub-list div.list-item{
  
  margin-left: 20px;
  margin-bottom: 0px;
  line-height: 18px;
  font-size: 16px;
}

.plan-sub-list .plan-type-title1{
margin-bottom: 2px;
}

.plan-sub-list span.dot{  
display: list-item;
font-size: 10px;
float: left;
}

.column-left .plan-type .font-cnd-bld{
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
     
