---
location: sales/research/color-your-website-with-success
id: 54ef60b7f778fc203043be0a
name: SEM-388
comments: Infographic - Color Your Website with Success
---
{% extends 'layouts/base.html' %} 
{% block metahead %} 
{% parent %}
  <style type="text/css">
    #gd-holi-infographic .infographic-container {
      margin-bottom: 42px;
    }
    #gd-holi-infographic .infographic-top {
      margin-top: 42px;
      padding: 40px 54px 25px;
      background-color: #fff;      
    }
    #gd-holi-infographic .infographic-top h1 {
      font-size: 44px;
      color: #000;
      margin-bottom: 0;
    }
    #gd-holi-infographic .share-container {
      float: right;
      margin-bottom: 10px;
    }
    #gd-holi-infographic .infographic-top p {
      margin-top: 25px;
      font-size: 18px;
    }
    #gd-holi-infographic .infographic-image {
      background-image: url([@T[link:<imageroot/>]@T]fos/sales/themes/scotty/research/color-your-website-with-success/img/godaddy-color-your-website-with-success-en.png);
      height: 3876px;
      width: 1000px;
      position: relative;
    }
    #gd-holi-infographic .infographic-image a {
      display: block;
      position: absolute;
      width: 400px;
      height: 65px;
      top: 3680px;
      left: 300px;
    }
    #gd-holi-infographic .infographic-bottom {
      font-size: 16px;
      background-color: #fff;
      padding: 30px 47px 50px;
    }
    #gd-holi-infographic .infographic-view, #gd-holi-infographic .infographic-download {
      margin-top: 15px;
    }
    #gd-holi-infographic .infographic-download {
      margin-bottom: 50px;
    }
    #gd-holi-infographic .infographic-facts-stats {
      font-size: 26px; 
    }
    #gd-holi-infographic .infographic-facts-stats h2 {
      font-size: 40px; 
      font-weight: bold;
    }
    #gd-holi-infographic ul {
      margin-left: 15px;
    }
    #gd-holi-infographic li {
      margin-left: 18px;
    }    
    #gd-holi-infographic .about-the-author {
      font-size: 26px;
    }
    #pcf .pc-support-wrapper {
      margin-top: 5px;
    }
  </style>
{% endblock %} 
{% block body %}
  <div id="gd-holi-infographic">
    <section class="infographic-section">
      <div class="l-main-container container infographic-container">
        <div class="col-sm-12">
          <div class="infographic-top">
            <h1>[@L[cds.sales/gd/research/color-your-website-with-success:page-title-h1]@L]</h1>
            <p>
              [@L[cds.sales/gd/research/color-your-website-with-success:page-intro]@L]
            </p>
            <div class="share-container">
              <div class="fosshare" data-twshareurl="[@T[link:<relative path='research/color-your-website-with-success' secure='true' />]@T]" data-twtext="[@L[cds.sales/gd/research/color-your-website-with-success:page-title]@L]" data-twrelated="[@L[cds.sales/gd/research/color-your-website-with-success:share-twitter-related]@L]" data-shareurl="[@T[link:<relative path='research/color-your-website-with-success' secure='true' />]@T]" data-buttons="google,facebook,twitter"></div>
            </div>            
          </div>
          <div class="infographic-image">
            <a href="https://in.godaddy.com/?ci=96317" data-ci="96317"></a>
          </div>
          <div class="infographic-bottom">
            <div class="infographic-view text-center">
              <a href="[@T[link:<external parammode='explicit' linktype='IMAGEURL' secure='false' path='fos/sales/themes/scotty/research/color-your-website-with-success/img/godaddy-color-your-website-with-success-en.png'><param name='ci' value='96318' /></external>]@T]" data-ci="96318" target="color-your-website-with-success-image">[@L[cds.sales/gd/research/color-your-website-with-success:view-enlarged-version]@L]</a>
            </div>
            <div class="infographic-download text-center">
              <a href="[@T[link:<external parammode='explicit' linktype='IMAGEURL' secure='false' path='fos/sales/themes/scotty/research/color-your-website-with-success/pdf/GoDaddy_Color_Your_Website_with_Success_en.pdf'><param name='ci' value='96319' /></external>]@T]" data-ci="96319" target="color-your-website-with-success-pdf">[@L[cds.sales/gd/research/color-your-website-with-success:download-pdf-version]@L]</a>
            </div>
            <div class="infographic-facts-stats">
              <h2>[@L[cds.sales/gd/research/color-your-website-with-success:facts-stats-title]@L]</h2>
              <ul>
                <li>
                  [@L[cds.sales/gd/research/color-your-website-with-success:facts-stats-1]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/research/color-your-website-with-success:facts-stats-1-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='research/color-your-website-with-success' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
                <li>
                  [@L[cds.sales/gd/research/color-your-website-with-success:facts-stats-2]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/research/color-your-website-with-success:facts-stats-2-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='research/color-your-website-with-success' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %} 
{% block footer %}
  <script src="[@T[link:<javascriptroot />]@T]starfield/fos.share/v1.3/fos.share-20140505.min.js" id="fosShareScript" ></script>
  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
{% endblock %}