extends ../_hero-arrow.jade

append vars
  - var classes = "ssl-security-guard";
  - var ciCode = 95860;
  - var ctaLink = "[@T[link:<relative path='/ssl/ssl-certificates.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white SSL CERTIFICATES</br>LIKE AN ONLINE</br>SECURITY GUARD.</br>THAT NEVER TAKES A BREAK.</br>EVER

block rightContent
  p.font-md.black ON SALE NOW</br>SSL CERTIFICATES
  p.font-md.black NOW JUST 
    span.purchase-text [@T[productprice:<current productid="3604" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/YR
  a.btn.btn-md.btn-purchase GET STARTED
