extends ../_hero-arrow.jade

append vars
  - var classes = "ssl-security-guard";
  - var ciCode = 95860;
  - var ctaLink = "[@T[link:<relative path='/ssl/ssl-certificates.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  h2.font-lg.black.text-white SSL Certificates
  p.font-md.black.text-white Like an online security guard that never takes a break. Ever.

block rightContent
  mark.font-md.black On sale now
  .font-md.black SSL Certificates
  .price.font-md.black Now just 
    span.text-purchase [@T[productprice:<current productid="3604" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/YR
  a.btn.btn-md.btn-purchase(href!=ctaLink) Get started
