---
location: sales/resources/infographics/top-five-domain-name-registration-tips
id: 55527738f778fc0d1c094f54
name: SEM-510
comments: Create Infographic - Top 5 Domain Name Registration Tips
---
{% extends 'layouts/base.html' %} 
{% block metahead %} 
{% parent %}
  <style type="text/css">
    #gd-infographics-top-five-domain-tips .infographic-container {
      margin-bottom: 42px;
    }
    #gd-infographics-top-five-domain-tips .infographic-top {
      margin-top: 42px;
      padding: 40px 54px 25px;
      background-color: #fff;      
    }
    #gd-infographics-top-five-domain-tips .infographic-top h1 {
      font-size: 44px;
      color: #000;
      margin-bottom: 0;
    }
    #gd-infographics-top-five-domain-tips .share-container {
      float: right;
      margin-bottom: 10px;
    }
    #gd-infographics-top-five-domain-tips .infographic-top p {
      margin-top: 25px;
      font-size: 18px;
    }
    #gd-infographics-top-five-domain-tips .infographic-image {
      background-image: url([@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/top-five-domain-name-registration-tips/img/top-five-domain-name-registration-tips.png);
      height: 3763px;
      width: 1000px;
      position: relative;
    }
    #gd-infographics-top-five-domain-tips #gd-infographics-top-five-domain-tips-domain-link {
      display: block;
      position: absolute;
      width: 266px;
      height: 37px;
      top: 3476px;
      left: 477px;
    }
    #gd-infographics-top-five-domain-tips #gd-infographics-top-five-domain-tips-hp-link {
      display: block;
      position: absolute;
      width: 321px;
      height: 70px;
      top: 3658px;
      left: 636px;
    }
    #gd-infographics-top-five-domain-tips .infographic-bottom {
      font-size: 16px;
      background-color: #fff;
      padding: 30px 47px 50px;
    }
    #gd-infographics-top-five-domain-tips .infographic-view, #gd-infographics-top-five-domain-tips .infographic-download {
      margin-top: 15px;
    }
    #gd-infographics-top-five-domain-tips .infographic-download {
      margin-bottom: 50px;
    }
    #gd-infographics-top-five-domain-tips .infographic-facts-stats {
      font-size: 26px; 
    }
    #gd-infographics-top-five-domain-tips .infographic-facts-stats h2 {
      font-size: 40px; 
      font-weight: bold;
    }
    #gd-infographics-top-five-domain-tips ul {
      margin-left: 15px;
    }
    #gd-infographics-top-five-domain-tips li {
      margin-left: 18px;
    }    
    #gd-infographics-top-five-domain-tips .about-the-author {
      font-size: 26px;
    }
    #pcf .pc-support-wrapper {
      margin-top: 5px;
    }
  </style>
{% endblock %} 
{% block body %}
  <div id="gd-infographics-top-five-domain-tips">
    <section class="infographic-section">
      <div class="l-main-container container infographic-container">
        <div class="col-sm-12">
          <div class="infographic-top">
            <h1>[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:page-title-h1]@L]</h1>
            <p>
              [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:page-intro]@L]
            </p>
            <div class="share-container">
              <div class="fosshare" data-twshareurl="[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-twtext="[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:page-title]@L]" data-twrelated="[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:share-twitter-related]@L]" data-shareurl="[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-buttons="google,facebook,twitter"></div>
            </div>            
          </div>
          <div class="infographic-image">
            <a 
              id="gd-infographics-top-five-domain-tips-domain-link"
              href="[@T[link:<relative path='/domains/domain-name-search.aspx' secure='true'><param name='ci' value='99099' /></relative>]@T]" 
              data-ci="99099"
              title="Register Domain Names"
            ></a>
            <a 
              id="gd-infographics-top-five-domain-tips-hp-link"
              href="[@T[link:<relative path='/' secure='true'><param name='ci' value='99100' /></relative>]@T]" 
              data-ci="99100"
              title="It's Go Time | GoDaddy"
            ></a>
          </div>
          <div class="infographic-bottom">
            <div class="infographic-view text-center">
              <a href="[@T[link:<external parammode='explicit' linktype='IMAGEURL' secure='false' 
                path='fos/sales/themes/scotty/resources/infographics/top-five-domain-name-registration-tips/img/top-five-domain-name-registration-tips.png'
              ><param name='ci' value='99101' /></external>]@T]" data-ci="99101" target="top-five-domain-name-registration-tips-image" title="View Infographic Image">[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:view-enlarged-version]@L]</a>
            </div>
            <div class="infographic-download text-center">
              <a href="[@T[link:<external parammode='explicit' linktype='IMAGEURL' secure='false' 
                path='fos/sales/themes/scotty/resources/infographics/top-five-domain-name-registration-tips/pdf/top-five-domain-name-registration-tips.pdf'
              ><param name='ci' value='99102' /></external>]@T]" data-ci="99102" target="top-five-domain-name-registration-tips-pdf" title="Download Infographic PDF">[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:download-pdf-version]@L]</a>
            </div>
            <div class="infographic-facts-stats">
              <h2>[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-title]@L]</h2>
              <ul>
                <li>
                  [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-1]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-1-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
                <li>
                  [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-2]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-2-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
                <li>
                  [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-3]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-3-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
                <li>
                  [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-4]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-4-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
                <li>
                  [@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-5]@L]
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=[@L[cds.sales/gd/resources/infographics/top-five-domain-name-registration-tips:facts-stats-5-encoded]@L]&related=[@T[companyname:name]@T]&via=[@T[companyname:name]@T]&url=[@T[link:<relative path='~/resources/infographics/top-five-domain-name-registration-tips' secure='true' />]@T]" data-related="twitterdev" data-size="medium" data-count="none">Tweet</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %} 
{% block footer %}
  <script src="[@T[link:<javascriptroot />]@T]starfield/fos.share/v1.3/fos.share-20140505.min.js" id="fosShareScript" ></script>
  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
{% endblock %}