---
location: sales/offers/office365-promo-config.aspx
id: 5460f683f778fc26a885edeb
name: GCE-31871
comments: GOT2 POB rename of Productivity Plus plan to Business Premium
url: http://www.dev-godaddy.com/offers/office365-promo-config.aspx
metaCanonicalPath:  /offers/office365-promo-config.aspx
assetPath: false
---
##if(false)
{% include 'modules/doc-block.html' %}
##endif
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[@T[localization:<language full="true" />]@T]"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <title>[@L[cds.sales/offers/office365-promo-config:page-title]@L]</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="[@T[link:<imageroot />]@T]assets/godaddy.ico" />
  <link rel="canonical" href="[@T[link:<external linktype='siteurl' path='{{ metaCanonicalPath }}' parammode='explicit'/>]@T]"/>

  <!-- Global CSS and Page CSS -->

  <link href="[@T[link:<css path='fos/201401/global/css/{{ cssVersion }}/combined-{{ cssVersion }}.css' />]@T]" rel="stylesheet" type="text/css">
  {% if assetPath %}
  <link href="[@T[link:<css path='{{ assetPath }}css/styles.css' />]@T]{% if cssVersionOverride %}?v={{cssVersionOverride}}{% endif %}" rel="stylesheet" type="text/css">
  {% endif %}
  <!-- IE SUPPORT FOR HTML5 and Bootstrap 3 -->
  <!--[if lt IE 9]>
    <link href="[@T[link:<cssroot />]@T]fos/201401/global/css/bootstrap-ie7fix.min.css" rel="stylesheet" type="text/css" />
    <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/js/html5shiv.js"></script>
  <![endif]-->

  <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/vendor/jquery/1.8.3/jquery.min.js"></script>

{% include './_shared-setup.html' %}

  [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.HeadTags" />]@P]


  <link rel="stylesheet" href="[@T[link:<css path='fos/office365/css/main.20140421.css' /> ]@T]" /> 

  <style>
  {% less %}

    @imgPath : '[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/offers/office365-promo-config/img/';
    
    /* NEW */
    #config .config-step {width:657px;}
    #config .product-price {display:none;}
    #config .product-added-to-cart-text {
      top:-4px;left:-10px;}
    #config .config-step h2,
    #config .config-step h3.product-name {
      color: #505050;}
    #config .universal-close-icon {
      text-indent: 0px !important;
    }
    .product-price-original-amount {
      text-decoration: line-through;
      color:#999;
    }
    #disclaimerModal .modal-dialog {width:700px;}
    #disclaimerModal .modal-dialog p {margin-bottom:15px;font-size:16px;line-height:1.4em;}
    #disclaimerModal .modal-title {font-size:24px}

  {% endless %}
  </style>
 
</head>

<body id="config">
  <!-- Start page header -->
  <div style="background-color:#fff;">[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Header" />]@P]</div>
  <!-- End page header -->

  <!-- Start page main -->
  <div role="main">
    <!-- Start Config Content -->
    <section class="config-wrapper">
      <div class="container config-container-fixer">
        <div class="row">
          <div class="col-xs-12">
            <div class="config-continue-to-cart-wrapper-top">
              <p class="product-added-to-cart"><span class="green-check"></span><span class="product-added-to-cart-text">[@L[cds.sales/offers/office365-promo-config:PopIsInYourCart]@L]</span>
              </p>
             <p class="config-continue-to-cart"><span class="icon-arrow-right"></span><a id="tealium-got2-config-addtocart-link" class="js-addtocart" data-ci="93810" href="javascript:void(0)">[@L[cds.sales/offers/office365-promo-config:cp-3-ContinueToCart]@L]</a></p>
            </div>
          </div>
          <div class="config-steps-wrapper">
            <div style="display:none;" id="zeroUsersWarning" class="zero-user-warning"><span class="zero-user-warning-triangle-icon"></span><span class="zero-user-warning-close-icon"></span>[@L[cds.sales/offers/office365-promo-config:cp-15-YouMustAddAtLeastOneOffice365]@L]</div>
            <div class="config-step large-margin-top-step">
              <span class="step-ribbon blue-step-ribbon"><span class="step-number-text">[@L[cds.sales/offers/office365-promo-config:cp-2-Step1]@L]</span> | [@L[cds.sales/offers/office365-promo-config:cp-4-AddOffice365Users]@L]</span>
              <h2>
                <span class="office-365-logo"></span>
                <br/>[@L[cds.sales/offers/office365-promo-config:cp-3-AddYourUsers]@L]
              </h2>
              <p class="config-lead orange-text">[@L[cds.sales/offers/office365-promo-config:cp-14-KeepYourBusinessRunningSmoothlyAddPlansFor]@L]</p>              
              <div class="config-product-wrapper config-product-last" data-planLevel="Premium" >
                <div class="config-product-wide">
                  <h3 class="product-name">[@L[cds.sales/offers/office365-promo-config:pop]@L]</h3>
                  <div class="orange-text product-price">
                    [@L[cds.sales/offers/office365-promo-config:price-per-user-per-year]@L]                    
                  </div>
                  <ul>
                    <li>[@L[cds.sales/offers/office365-promo-config:cp-4-50GBEmailStorage]@L]</li>
                    <li>[@L[cds.sales/offers/office365-promo-config:cp-5-25GBCloudFileStorage]@L]</li>
                    <li>[@L[cds.sales/offers/office365-promo-config:cp-4-UnlimitedHDVideoConferencing]@L]</li>
                    <li>[@L[cds.sales/offers/office365-promo-config:cp-5-MicrosoftOffice365WebApps]@L]</li>
                    <li>[@L[cds.sales/offers/office365-promo-config:cp-5-MicrosoftOfficeInstallsOnUpTo5Devices]@L]</li>
                    <!--<li>[@L[cds.sales/offers/office365-promo-config:bullet-up-to-five]@L]</li>-->
                  </ul>
                </div>
                <div class="config-product-narrow">
                ##if(isManager())
                  <input type="text" data-increment-input='{"min":1,"max":300,"limitText":"","extendedMax":300}' value="1" class="product-quantity" data-ci="93816" />
                ##else
                  <input type="text" data-increment-input='{"min":1,"max": 25,"limitText":"","extendedMax":300}' value="1" class="product-quantity" data-ci="93816" />
                ##endif

                </div>
              </div>
              <!-- /End Product -->
            </div>
            <div class="config-step-box-shadow"></div>
            <!-- / End Step 1 -->

            <div class="config-continue-to-cart-wrapper">
              <a id="tealium-got2-config-addtocart-btn" data-ci="93809" class="btn btn-warning btn-lg js-addtocart"><span class="icon-shopping-cart"></span> [@L[cds.sales/offers/office365-promo-config:cp-3-ContinueToCart-2]@L]</a>
            ##if(isManager())
              <form action="[@T[link:<external linktype="MANAGERCARTURL" path="/basket.aspx" />]@T]" method="get" data-addtocart='[@T[link:<relative path="~/api/package" />]@T]'></form>
            ##else
              <form action="[@T[link:<external linktype="carturl" path="/basket.aspx" />]@T]" method="get" data-addtocart='[@T[link:<relative path="~/api/package" />]@T]'></form>
            ##endif
            </div>
          </div>
          <!-- / End Left Column -->
          <div class="config-cart-wrapper">
            <div class="order-summary-wrapper" data-itemDetails='{"1usr":"[@L[cds.sales/offers/office365-promo-config:cp-1-User]@L]","moreUsrs":"[@L[cds.sales/offers/office365-promo-config:cp-1-Users]@L]","moTerm":"[@L[cds.sales/offers/office365-promo-config:cp-2-MonthTerm]@L]","yrTerm":"[@L[cds.sales/offers/office365-promo-config:cp-2-YearTerm]@L]"}'>
              <h3>[@L[cds.sales/offers/office365-promo-config:cp-2-OrderSummary]@L]</h3>
              <div class="order-item" data-planLevel="Premium" >
                <p class="order-item-title">[@L[cds.sales/offers/office365-promo-config:cp-2-BusinessPremium]@L]</p>
                <div class="order-item-details-wrapper up-to-five">
                  <span class="order-item-details">{0}</span>
                  <span class="order-item-total orange-text"><span class="currency-symbol"></span><span class="currency-amount"></span></span>
                </div>
                <div class="order-item-details-wrapper six-and-up">
                  <span class="order-item-details">{0}</span>
                  <span class="order-item-total orange-text"><span class="currency-symbol"></span><span class="currency-amount"></span></span>
                </div>
              </div>
              <div class="order-total-wrapper">
                <p class="order-item-title">[@L[cds.sales/offers/office365-promo-config:cp-1-Subtotal]@L]</p>
                <div class="order-item-details-wrapper">
                  <span class="order-item-details order-user-quantity"></span>
                  <span class="order-total"><span class="currency-amount" data-call-us="[@L[cds.sales/offers/office365-promo-config:cp-2-CallUs]@L]">[@T[currencyprice:<price usdamount="0"  />]@T]</span></span>
                </div>
              </div>
            </div>
            <div class="subtotal-disclaimer">
              <p>[@L[cds.sales/offers/office365-promo-config:cp-6-SubtotalDoesNotIncludeApplicableTaxes]@L]</p>
            </div>
            <div data-ci="93818" class="scroll-down-wrapper" data-scroll-event='{"obj":"a.btn.js-addtocart","yoffset":"-120"}'>
              <p class="green-text">[@L[cds.sales/offers/office365-promo-config:cp-6-ScrollDownToContinueToCart]@L]</p>
              <span class="icon-down green-down-arrow-icon"></span>
            </div>
          </div>
        </div><!-- row -->

        <!-- Page Disclaimer -->
        <div id="disclaimers">
          <p>
            <a href="#" data-toggle="modal" data-target="#disclaimerModal" data-ci="93812">[@L[cds.sales/offers/office365-promo-config:cp-2-LegalDisclaimers]@L]</a>
          </p>
        </div>
        
      </div> <!-- config-container-fixer -->
      
    </section>


  </div>

  <div id="exceedsMaxUsers" style="display:none;">
    <span class="modal-user-limit-header">[@L[cds.sales/business/office-365-config:cp-2-UserLimits]@L]</span>
    <p class="modal-user-limit-message">[@L[cds.sales/business/office-365-config:cp-30-ToSetUpMoreThan25UsersOn]@L]</p>
    <div class="buttons-wrap">
      <div class="modal-user-limit-ok flt-btn-grn">[@L[cds.sales/business/office-365-config:cp-1-OK]@L]</div>
    </div>
  </div>

  <div id="discountLimitModal" style="display:none;">
    <span class="modal-user-limit-header">[@L[cds.sales/offers/office365-promo-config:modal-discount-limit-title]@L]</span>
    <p class="modal-user-limit-message">[@L[cds.sales/offers/office365-promo-config:modal-discount-limit-message]@L]</p>
    <div class="buttons-wrap">
      <div class="modal-user-limit-ok flt-btn-grn">[@L[cds.sales/offers/office365-promo-config:modal-discount-limit-button]@L]</div>
    </div>
  </div>
  
  <div id="disclaimerModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            <strong>[@L[cds.sales/offers/office365-promo-config:cp-1-Disclaimers]@L]</strong>
          </h4>
        </div>
        <div class="modal-body">
          <p>[@L[cds.sales/offers/office365-promo-config:cp-80-IncludesOffice365ProPlusForPCSWhich]@L]</p>
          <p>[@L[cds.sales/offers/office365-promo-config:cp-76-UsersCanConnectTheFollowingVersionsOfOutlook]@L]</p>
          <p>[@L[cds.sales/offers/office365-promo-config:cp-21-TheSkyDriveProSyncClientIsAvailableWith]@L]</p>
          <p>[@L[cds.sales/offers/office365-promo-config:cp-8-AnnualDiscountsAvailableOnNEWPurchasesOnly]@L]</p>
          <p>[@L[cds.sales/offers/office365-promo-config:cp-20-ProductsWillAutomaticallyRenewUntilCancelledYouMay]@L]</p>
          <p>[@L[cds.sales/offers/office365-promo-config:cp-19-ForMoreInformationSeeTheFullMicrosoftService]@L]</p>
        </div>
      </div>
    </div>
  </div>


  [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Footer" />]@P] 
  [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Script" />]@P] 
  [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Bottom" />]@P]
  <!-- End page main -->

  <script src="[@T[link:<javascriptroot />]@T]fos/lib/select-style/jquery.selectstyle.1.1.0.min.js"></script>
  <script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
  <script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
  <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

  <script src="[@T[link:<javascriptroot />]@T]fos/office365/js/currency-calc.v1.0.3.min.js" type="text/javascript"></script>
  <script>
    if(typeof currencyCalc != "undefined"){
      currencyCalc.base = "[@T[currencyprice:<price usdamount="1000000000" dropdecimal="false" dropsymbol="false" htmlsymbol="false" negative="parenthesis" />]@T]";
    }
  </script>

<script  type="text/javascript">
{% jsminify %}
  // incrementing inputs plugin
  if (typeof incrementInput == "undefined") {

    var incrementInput = {
      "eventMousePressArrows":null,
      "init": function () {

        $("[data-increment-input]").each(function () {
          var $this = $(this);
          var thisData = $this.data("increment-input");
          var settings = {
            "min":null,
            "max":null,
            "limitText":null,
            "extendedMin":null,
            "extendedMax":null
          }
          // set values that may not have been added by data attribute
          $.extend(settings,thisData);
          $this.data('increment-input',settings);

          // building structure
          $this.addClass("increment-input-value");
          $this.wrap($("<div/>").addClass("config-increment-input-wrapper"));
          var $outerWrapper = $this.parent();
          var $inputWrapper = $("<div/>").addClass("config-increment-input");
          
          var $inputControls = $("<div/>").addClass("config-increment-controls");
          var $inputControlsUp = $("<div/>").addClass("icon-increment-up");
          var $inputControlsDown = $("<div/>").addClass("icon-increment-down");
          var $limitText = $("<div/>").addClass("description-limit-text");

          $outerWrapper.append($inputWrapper);
          $inputWrapper.append($this);
          
          $outerWrapper.append($inputControls);
          $inputControls.append($inputControlsUp);
          $inputControls.append($inputControlsDown);

          // set val to the data attribute add update the variable
          $this.data("increment-input").val=$this.val();
          thisData = $this.data("increment-input");

          // limit text will be added

          if(thisData.limitText != null){
            $inputWrapper.append($limitText);
            var limitTextString = thisData.limitText;
            if(thisData.max!=null){
              limitTextString = limitTextString.replace("[[max]]",thisData.max)
            }
            if(thisData.min!=null){
              limitTextString = limitTextString.replace("[[min]]",thisData.min)
            }
            $limitText.html(limitTextString);
          }
        
          // add click listeners
          $inputControlsUp.mousedown(function(){
            pressAndHoldArrows($this,1,500);
          });

          $inputControlsDown.mousedown(function(){
            pressAndHoldArrows($this,-1,500);
          });

          $(document).mouseup(function(){
            pressAndHoldArrowsLimitReached();
          });
          $(document).bind("keyup",function(){
            pressAndHoldArrowsLimitReached();
          });

          // add keyup and keydown listener, also allow numbers
          $this.bind("keydown",function(event){
            
            if((37<=event.keyCode && event.keyCode<=40) && incrementInput.eventMousePressArrows==null){
              if(event.keyCode==38){
                event.preventDefault();
                pressAndHoldArrows($this,1,500);
                
              }else if(event.keyCode == 40){
                event.preventDefault();
                pressAndHoldArrows($this,-1,500);
                
              }
            } else if((48<=event.keyCode && event.keyCode<=57) || (96<=event.keyCode && event.keyCode<=105) || event.keyCode == 9 || event.keyCode == 8){
              // do nothing these key are allowed
            } else {
              event.preventDefault();
            }
          })
          

          // add change listener
          $this.change(function(){
            inputValueChange($this,0);
          });

          $this.keyup(function(){
            inputValueChange($this,0);
          });

          $this.trigger("keyup");
        });
      }
    }

    function inputValueChange($obj,valueChange){

      var val = $obj.val();
      if(val==""){
        //set to zero if blank
        val=0;
        $obj.trigger("updateqty");
      }
      var newVal = parseInt(val)+parseInt(valueChange);

      var objData = $obj.data("increment-input");      
      var $parent = $obj.parents(".config-increment-input-wrapper");
      var $down = $parent.find(".icon-increment-down");
      var $up = $parent.find(".icon-increment-up");
      var min,max;
   
      // figure out if min and max value are set as well as extended min and max values
      // extended values will display as a warning that the value is outside the range
      // extended values allow for a prompt with addition instruction
      if(objData.min!=null && objData.extendedMin==null){
        min = objData.min;
      } else if(objData.extendedMin!=null){
        min = objData.extendedMin;
      } else {  
        min = null;
      }
      
      if(objData.max!=null && objData.extendedMax==null){
        max = objData.max;
      } else if(objData.extendedMax!=null){
        max = objData.extendedMax;
      } else {  
        max = null;
      }

      // if already at range the stop the function
      if((val == max && newVal > val) || (val == min && newVal < val)){return;}

      // max limit reached
      // add class to adjust limit text
      if(objData.max!=null && newVal >= objData.max){
        $parent.addClass("increment-input-at-max-range");
      } else {
        $parent.removeClass("increment-input-at-max-range");
      }

      // max limite outside range
      //add class to adjust box border
      if(objData.max!=null && newVal > objData.max){
        $parent.addClass("increment-input-outside-max-range");
      } else {
        $parent.removeClass("increment-input-outside-max-range");
      }

      // min limit reached
      //add class to adjust limit text
      if(objData.min!=null && newVal <= objData.min){
        $parent.addClass("increment-input-at-min-range");
      } else {
        $parent.removeClass("increment-input-at-min-range");
      }

      // min limite outside range
      //add class to adjust box border
      if(objData.min!=null && newVal < objData.min){
        $parent.addClass("increment-input-outside-min-range");
      } else {
        $parent.removeClass("increment-input-outside-min-range");
      }

      // disable up and down buttons
      if(newVal == objData.min){
        $down.addClass("icon-increment-disabled");
      } else {
        $down.removeClass("icon-increment-disabled");
      }
      if(newVal == objData.max){
        $up.addClass("icon-increment-disabled");
      } else {
        $up.removeClass("icon-increment-disabled");
      }
      
      if(+(min,max,newVal)){
       $obj.data("increment-input").val=newVal;
        $obj.val(newVal);
        $obj.trigger("updateqty");
      } else {
        $obj.val($obj.data("increment-input").val);
        if(val != $obj.val()){
          $obj.trigger("updateqty");
        }

       return false;
      }
    }

    function valueInsideRange(min,max,val){
      if(min!=null && val < min){
        return false;
      }
      if(max!=null && val > max){
        return false;
      }
      return true;
    }

    function pressAndHoldArrows($obj,valChange,timeInc){

      incrementInput.eventMousePressArrows = setTimeout(function(){
        timeInc = Math.max(timeInc*.5,40);
        pressAndHoldArrows($obj,valChange,timeInc);
        
      },timeInc);
      var objData = $obj.data("increment-input");
      
      if(objData.min != null){
        if(objData.min == objData.val && valChange == -1){
          return;
        }
      }

      if(objData.max != null){
        if(objData.max <= objData.val && valChange == 1){
          return;
        }

        if(objData.max < objData.val && valChange == -1){
          $obj.val(objData.max+1);
        }
      }
      inputValueChange($obj,valChange);
    }

    function pressAndHoldArrowsLimitReached(){
      clearTimeout(incrementInput.eventMousePressArrows);
      incrementInput.eventMousePressArrows = null;
    }
  }

  $("html").bind("ajaxStart", function(){
     $(this).addClass('busy');
  }).bind("ajaxStop", function(){
     $(this).removeClass('busy');
  });

  $("[data-scroll-event]").each(function(){
    $(this).bind("click",function(event){
      event.preventDefault();

      var setting = {
        "yoffset":"0"
      }
      var objsetting = $(this).data("scroll-event");
      $.extend(setting,objsetting);
      if($(setting.triggerobj).length > 0 && setting.trigger.length > 0){
        $(setting.triggerobj).trigger(setting.trigger);
      }
      var scrollToPos = parseInt($(setting.obj).offset().top) + parseInt(setting.yoffset);
       
      $('html,body').animate({scrollTop: scrollToPos}, 500);
    });
  });

{% endjsminify %}
    
  var office365config = {};
  (function($){
 

    // function to lookup data keys inside json objects
    function getObjects(obj, key, val) {
      var objects = [];
      for (var i in obj) {
         if (!obj.hasOwnProperty(i)) continue;
         if (typeof obj[i] == 'object') {
           objects = objects.concat(getObjects(obj[i], key, val));
         } else if (i == key && obj[key] == val) {
           objects.push(obj);
         }
      }
      return objects;
    }

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    } 
       
    office365config = {
      "shownDiscountLimitReachedModal": false,
      "isShowingModal": function(){
        return 
            $("#discountLimitModal").is(":hidden") ||
            $("#exceedsMaxUsers").is(":hidden") ||
            $("#disclaimerModal").is(":hidden");
      },
      "productOrder":{},
      "$premiumPlacard": $('.config-product-wrapper[data-planLevel="Premium"]'),
      "$premiumOrderItem": $('.order-item[data-planLevel="Premium"]'),

      "init": function() {
        var $productPriceDiv = office365config["$premiumPlacard"].find('.product-price');
        var priceLineHtml = $productPriceDiv.html();
        priceLineHtml = priceLineHtml.replace('{a0-begin}','<span class="product-price-original-amount">');
        priceLineHtml = priceLineHtml.replace('{0}',got2Page.pricing.mo.renewal);
        priceLineHtml = priceLineHtml.replace('{a0-end}','</span>');
        priceLineHtml = priceLineHtml.replace('{a1-begin}','<span class="product-price-text">');
        priceLineHtml = priceLineHtml.replace('{1}', '<span class="product-price-amount">' + got2Page.pricing.mo.o365promo + '</span>');
        priceLineHtml = priceLineHtml.replace('{a1-end}','</span>');
        $productPriceDiv.html(priceLineHtml).show();

        $(".js-addtocart").click(function(e){
          office365config.continueToCart(e,this);
        })
                  
        office365config["$premiumPlacard"].find(".product-quantity").bind("updateqty",function() {
          office365config.buildProductOrder();
        });

        office365config["$premiumPlacard"].find(".product-quantity").keyup(function() {
          $(this).trigger("updateqty");
        });

        office365config.buildProductOrder();

        incrementInput.init();  
      },

      "refreshCart": function() { 
        var stringData = $(".order-summary-wrapper").data('itemdetails'),
          qtyUsers = parseInt(office365config.productOrder.productQty),
          grandTotal = 0,
          upToFiveQty = Math.min(qtyUsers,5),
          upToFiveHtml = '',
          upToFiveTotal = 0,
          sixAndUpQty = Math.max(qtyUsers-5,0),
          sixAndUpHtml = '',
          sixAndUpTotal = 0,
          $orderItem = office365config["$premiumOrderItem"];
          
        // discount pricing calculations
        upToFiveHtml = upToFiveQty + " " + ((upToFiveQty == 1) ? stringData['1usr'] : stringData['moreUsrs']) + " x 1 " + stringData['yrTerm'];
        upToFiveTotal = currencyCalc.evaluate([got2Page.pricing.yr.o365promo,'*',upToFiveQty]);

        // normal pricing calculations
        if(sixAndUpQty > 0) {
          sixAndUpHtml = sixAndUpQty + " " + ((sixAndUpQty == 1) ? stringData['1usr'] : stringData['moreUsrs']) + " x 1 " + stringData['yrTerm'];
          sixAndUpTotal = currencyCalc.evaluate([got2Page.pricing.yr.o365,'*',sixAndUpQty]);
        }
        grandTotal = currencyCalc.evaluate([upToFiveTotal,'+',sixAndUpTotal]);   

        // display the data
        $orderItem.find(".up-to-five .order-item-details").html(upToFiveHtml);
        $orderItem.find(".six-and-up .order-item-details").html(sixAndUpHtml);
        $orderItem.find(".up-to-five .order-item-total").html(upToFiveTotal);
        $orderItem.find(".six-and-up .order-item-total").html(sixAndUpTotal);

        $(".order-user-quantity").html(qtyUsers + " " + ((qtyUsers == 1) ? stringData['1usr'] : stringData['moreUsrs']));
        $(".order-total").html(grandTotal);

        if(qtyUsers > 0) {
          $orderItem.slideDown();
        } else {
          $orderItem.slideUp()
        }
        if(sixAndUpQty > 0) { 
          $('.order-item-details-wrapper.six-and-up').show();
        } else {
          $('.order-item-details-wrapper.six-and-up').hide();
        }
        return true;
      },

      "buildProductOrder": function() {
        var qty = parseInt(office365config["$premiumPlacard"].find(".product-quantity").val());
        if(qty < 1) {
          var $zeroUsersWarning = $("#zeroUsersWarning");
          if($zeroUsersWarning.is(':hidden') === true){
            $zeroUsersWarning.show();
            $zeroUsersWarning.find(".zero-user-warning-close-icon").click(function(){
              $zeroUsersWarning.hide();
            })
            $('html,body').animate({scrollTop: $zeroUsersWarning.offset().top-10}, 500);
          }
          return false;
        }
      
        // update the mini cart
        office365config.productOrder = {
          "productQty": qty,
          "domain": getParameterByName("domain"),
          "addOns": 'noAddOns'
        };
        
        office365config.refreshCart(); 

        if(qty > 5 && !got2Page.isManager && !office365config.shownDiscountLimitReachedModal) {
          office365config.shownDiscountLimitReachedModal = true;
          //Show a modal warning
          var $discountLimitModal = $("#discountLimitModal");
          if(got2Page.isShowingModal === false){
            got2Page.isShowingModal = true;
            $discountLimitModal.show();
            $("input:focus").blur();
            $discountLimitModal.universalModal({"width":400});
            fixUniversalCloserIcon($discountLimitModal.parent().find('a.universal-modal-close.universal-close-icon'));

            $discountLimitModal.find(".modal-user-limit-ok").bind("click",function(){
              $(".universal-modal-close").trigger("click.universalModal")
            })
            // IE will not show the modal at first, triggering the window resize fixes this
            $(window).trigger("resize");
          }
          return false;
        }
        if(qty > got2Page.maxSeats) {
          //Show a modal warning
          var $exceedsMaxUsers = $("#exceedsMaxUsers");
          if(got2Page.isShowingModal === false){
            got2Page.isShowingModal = true;
            $exceedsMaxUsers.show();
            $("input:focus").blur();
            $exceedsMaxUsers.universalModal({"width":400});
            fixUniversalCloserIcon($exceedsMaxUsers.parent().find('a.universal-modal-close.universal-close-icon'));
            $exceedsMaxUsers.find(".modal-user-limit-ok").bind("click",function(){
              $(".universal-modal-close").trigger("click.universalModal")
            })
            // IE will not show the modal at first, triggering the window resize fixes this
            $(window).trigger("resize");
          }
          return false;
        }


      },

      "continueToCart": function(e, thisClick) {
        // ensure not already trying to add something to the cart
        if($(".btn.js-addtocart").hasClass("btn-orange-disabled")) {
          return;
        }
        // ensure the user selects are correct
        if(office365config.buildProductOrder()==false) {
          return;
        }
        $(".btn.js-addtocart").addClass("btn-orange-disabled square-pixel-spinner");

        // add Got2 to the cart  
        var urlFragment = '/' + got2Page.itcCode; //itc code
        urlFragment += '/' + $(thisClick).data('ci'); //ci code
        urlFragment += '/' + office365config.productOrder.productQty;  // quantity
        urlFragment    += '/' + got2Page.packageId  //Plan Name (aka Package Id)
        var url = got2Page.apiUrl.update.replace('{0}', urlFragment);

        url += ((url.indexOf('?') > -1) ? '&' : '?') + 'domain=' + office365config.productOrder.domain + '&sourceCode=domaincheck';
        if (office365config.productOrder.addOns != 'noAddOns'){
          url += '&addons=' + office365config.productOrder.addOns + '-1';
        }

        $.getJSON(url, function (data) {
          // 1. check for failures
          if (data == 'fail') {
            alert(got2Page.txt.ajaxFailureMsg);
            return;        
          }
          if(!data.Success) {
            alert(got2Page.txt.ajaxFailureMsg);
            return;
          }

          // 2. redirect user to the cart where their product(s) should be waiting for them.
          window.location = got2Page.redirectUrl.cart;
        });
          
      } // end continueToCart
    };

    office365config.init(); 

  
  })( jQuery );

  function fixUniversalCloserIcon($a){
    // add uxixon
    $a.addClass('uxicon').addClass('uxicon-x');
    // prune extra closers
    if($a.length > 1) {
      for(var x=1;x< $a.length; x++) {
        $($a[x]).remove();
      }
    }
  }

  $(document).ready(function(){

    $("body").bind("click.universalModal", function(){
      got2Page.isShowingModal = false;
    })

    $('[data-ci]').click(function(e){
      $this = $(this);
      FastballEvent_MouseClick(e, $this.data('ci'), $this[0], 'a');
      fbiLibCheckQueue();    
    });


    $(window).scroll(function() {
      updateOrderSummaryPosition();
    });
    $(window).resize(function() {
      updateOrderSummaryPosition();
    });
    updateOrderSummaryPosition();
  

    function updateOrderSummaryPosition() {

      var paddingTop = 20/* for prettiness when scrolling */,
        $configCartWrapper = $('.config-cart-wrapper'),
        scrollTop = $(window).scrollTop(),
        scrollLeft = $(window).scrollLeft(),
        topStep1 = $("div.config-step:first").offset().top,
        topOfWindowAboveTopOfStep1 = (scrollTop <= (topStep1 - paddingTop)),
        $footer = $('.scroll-down-wrapper');

        $footer.css('visibility','visible');
        $configCartWrapper.css({'top':'0px','position':'static'});

      if(!topOfWindowAboveTopOfStep1) {
        // keep the top of the summary at 0
        
      //} else {
        //check for if summary can fit without going below the bottom of the last step
        
        var proposedNewTop = scrollTop - (topStep1 - paddingTop),
          proposedNewBottom = proposedNewTop + $configCartWrapper.height(),
          $lastStep = $("div.config-step").last(),
          bottomOfLastStep = $lastStep.offset().top + $lastStep.height() - topStep1,
          canFit = (proposedNewBottom <= bottomOfLastStep);

        if(scrollTop>=(topStep1-paddingTop) && ((scrollTop+$configCartWrapper.height())<=$lastStep.offset().top + $lastStep.height() + paddingTop) ){
          try{
            var configCartWrapperLeft = $configCartWrapper.offset().left;
            $configCartWrapper.css({'top':'20px','position':'fixed','width':$configCartWrapper.innerWidth(),'left':(configCartWrapperLeft - scrollLeft) +'px'});
          }catch(err){
            //if errors don't float the $confiCartWrapper
            $configCartWrapper.css({'top':'0px','position':'static'});
          }
          if((scrollTop+paddingTop)>=$lastStep.offset().top){
            $footer.css('visibility','hidden');
          }else{
            $footer.css('visibility','visible');
          }
        } else {
          try{
            var configCartWrapperLeft = $configCartWrapper.offset().left;
            $configCartWrapper.css({'position':'fixed','width':$configCartWrapper.innerWidth(),'left':(configCartWrapperLeft - scrollLeft) +'px'});
          }catch(err){
            //if errors don't float the $confiCartWrapper
            $configCartWrapper.css({'top':'0px','position':'static'});

          }
          // affix the summary so the bottom lines up with the bottom of the last step
          $footer.css('visibility','hidden');
          var topForBottomAligned = ($lastStep.offset().top + $lastStep.height() +$footer.height()) - (scrollTop + $configCartWrapper.height() );
          //topForBottomAligned = bottomOfLastStep - $configCartWrapper.height() + paddingTop;
          $configCartWrapper
            .css({'top': topForBottomAligned + 'px'});
        }
      }
      
    }
  });

</script>
</body>

</html>