extends ../_hero-arrow.jade

append vars
  - var classes = "office365-2";
  - var ciCode = 91193;
  - var ctaLink = "[@T[link:<external linktype='MYAURL' path='/default.aspx'><param name='accid' value='43' /><param name='ci' value='93637' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white YOU STILL HAVE INACTIVE OFFICE 365 ACCOUNTS.
  p.font-md.black.text-white PUT THOSE SLACKERS TO WORK.

block rightContent
  p.font-lg.black ACTIVATE
  p.font-md.black OFFICE 365 EMAIL
  a.btn.btn-md.btn-purchase START NOW