extends ../../../../sales/homepage/_right_arrow.jade

block append heroVars
  - rightArrow.ci = "91193";
  - rightArrow.ctaLink = "[@T[link:<external linktype='MYAURL' path='/default.aspx'><param name='accid' value='43' /><param name='ci' value='93637' /></external>]@T]";
  - rightArrow.classes += " office365-2";
block leftContent
  .bigtext
    .line1.walsheim-black YOU STILL HAVE INACTIVE
    .line2.tungsten OFFICE 365 ACCOUNTS.
    .line3.walsheim-black PUT THOSE SLACKERS
    .line4.tungsten 
      span.dash ——————————— 
      span TO WORK.
block rightContent
  .bigtext
    .line1.walsheim-black ACTIVATE
    .line2.tungsten OFFICE 365 EMAIL
  button.btn.btn-lg.btn-purchase START NOW