extends ../_hero-arrow.jade

append vars
  - var classes = "office365-2";
  - var ciCode = 91193;
  - var ctaLink = "[@T[link:<external linktype='MYAURL' path='/default.aspx'><param name='accid' value='43' /><param name='ci' value='93637' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white You still have inactive Office 365 accounts.
  p.font-md.black.text-white Put those slackers to work.

block rightContent
  h2.font-md.black Activate<br/>Office 365 Email
  a.btn.btn-md.btn-purchase(href!=ctaLink) Start now