extend ../../../templates/plan-tile

block vars
  - title = "Economy";
  - description = "Perfect to get started with a basic site."
  - features = ["1 Website","100 GB Storage","Unlimited bandwidth","100 Email Addresses","Free Domain with annual plan"];
  - pfid = "32051"