extends ../../templates/pages/landing-page

include _ready-to-take-business-online.jade

block domainSearch

block marqueeContent


block sections

  block getItNow

  block domainName
    //include ../shared/domain-search-widget

  block product

  block office365
    //- define shared ofice 365 HTML here

  block whyUs
    
  block got
    +renderReadyToTakeBusinessOnline("domain","price")
         