extends ../shared/_page

prepend seo
  meta(name="robots" content="noindex, nofollow")

append endOfPageScripts
  script.
    // update the form's submit URL based on the user's selections
    (function(){
    var formOptions = {
      'next_page_mapping':{
        '96272':{'interest':'new_business', 'resource': 'build_myself', 'product':'wsb'},
        '96273':{'interest':'new_business', 'resource': 'know_someone', 'product':'host'},
        '96274':{'interest':'new_business', 'resource': 'hire_someone', 'product':'pwd'},
        '96275':{'interest':'existing_business', 'resource': 'build_myself', 'product':'wsb'},
        '96276':{'interest':'existing_business', 'resource': 'know_someone', 'product':'host'},
        '96277':{'interest':'existing_business', 'resource': 'hire_someone', 'product':'pwd'},
        '96278':{'interest':'selling_products', 'resource': 'build_myself', 'product':'ols'},
        '96279':{'interest':'selling_products', 'resource': 'know_someone', 'product':'host'},
        '96280':{'interest':'selling_products', 'resource': 'hire_someone', 'product':'pwd_store'},
        '97011':{'interest':'blog', 'resource': 'build_myself', 'product':'wp'},
        '96292':{'interest':'blog', 'resource': 'know_someone', 'product':'wp'}
      },
      'page_url':{
        'wsb':       '[@T[link:<relative path="~/getonline/websitebuilder.aspx"></relative>]@T]',
        'ols':       '[@T[link:<relative path="~/getonline/online-store.aspx"></relative>]@T]',
        'wp':        '[@T[link:<relative path="~/getonline/wordpress.aspx"></relative>]@T]',
        'pwd':       '[@T[link:<relative path="~/getonline/pro-design.aspx"></relative>]@T]',
        'pwd_store': '[@T[link:<relative path="~/getonline/pro-ecomm.aspx"></relative>]@T]',
        'host':      '[@T[link:<relative path="~/getonline/web-hosting.aspx"></relative>]@T]'
      }
    }

      $('#questions select#interest-select').change(function(e) {
        var thisValue = $(this).val();
        if(thisValue === "blog"){
          $(".wordpress").show().appendTo(".resources-group");
          $(".non-wordpress").hide().appendTo(".resources-group-inactive"); 
        }else{
          $(".wordpress").hide().appendTo(".resources-group-inactive");
          $(".non-wordpress").show().appendTo(".resources-group");
        }
      });
      
        $('#questions form').submit(function(e) {
        
        if(typeof window.getonlineReady != "undefined" && window.getonlineReady === true){
          // set variable back to false incase browser save the state of the page
          window.getonlineReady = false;
          return;
        }
          e.preventDefault();    
          // retrieve valid TLDs from our app setting
          // TODO: do these need to be market specific?
          // TODO: is it worth trying to use the UXCorevalidation library?
          var validTlds = [@T[appSetting:<setting name="SALES_GOT_TLD_EVERYONE_LIST" />]@T];
        
          // if user specified a TLD, make sure it's valid for this promotion
          var business_idea = $('#search-input').val().toLowerCase();
          var tldSpecified = $('#search-input').val().toLowerCase().split(".")[1] || "";
          
          if (tldSpecified && validTlds.indexOf(tldSpecified) === -1) {
            $(".form-error").text("[@L[cds.sales/getonline:QuestionsLP-10-OfferOnlyValidWithCOMCLUBCONET]@L]");
            $("fieldset.step-1 input").removeClass("search-bar");
            $("fieldset.step-1 .form-group").addClass("has-error");
            $(".form-error").show()
            //e.preventDefault();
          }
          else if(!business_idea){
            $(".form-error").text("Please enter a business name or idea.");
            $("fieldset.step-1 input").removeClass("search-bar");
            $("fieldset.step-1 .form-group").addClass("has-error");
            $(".form-error").show()
            //e.preventDefault();
          } else {
            // form ok to submit
              var interest = $('#interest-select').val();
              var resource = $("#questions form [name='resource']").val();
            
              var ciCode = (function(){
                  for(ci in formOptions.next_page_mapping){
                    var thisObj = formOptions.next_page_mapping[ci];
                    if(thisObj.interest == interest && thisObj.resource == resource){
                      return ci;
                    }
                  }
                })();
              
              $("#questions form input[name='ci']").val(ciCode);
              
      
              // set action and resubmit form
              $('#questions form').attr("action", formOptions.page_url[formOptions.next_page_mapping[ci].product]);
              window.getonlineReady = true;
              setTimeout(function(){$('#questions form').submit()},300)
          
          }
        });
        
        $('#questions form').keypress(function(){
           $(".form-error").hide();
           $("fieldset.step-1 input").addClass("search-bar");
           $("fieldset.step-1 .form-group").removeClass("has-error");
        });
       })();
        
        $(document).ready(function(){
          $('#questions form').attr("action","")
          $('#questions select#interest-select').change();
          function getUrlParameter(name){
            var result = decodeURI((RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
            if(result == 'null'){ result = undefined };
            return result;
          }
      
          // set highlighted marquee text if passed by referring page
          var possibleHPOptions = {'confusing':'confusing', 'intimidating':'intimidating', 'annoying':'annoying', 'frustration':'#&!$*%!'};
          var p4p = getUrlParameter('p4p');
          var displayOptionalText = possibleHPOptions[p4p] || 'confusing';
          $("#marquee span").text(displayOptionalText);
        
        });
      



append pageStyles
  style.
    /* keep marquee section condensed so questions appear above the fold on desktop */
    #marquee { padding-top: 30px; padding-bottom: 30px; background-color:#78C043;}
    #marquee h2 { margin-bottom: 20px; margin-top: 0; }

    #questions h2 { font-size: 3rem; margin-bottom: 5px; margin-top: 0;}
    #questions legend { font-size: 3rem; text-transform: uppercase; font-family: 'Walsheim-Bold'; border-bottom: none; }
    #questions p { font-family: Walsheim-Medium; }
    #questions .search-bar, #questions select { box-shadow: none; background-color: #fedf54; border: 1px solid #FFCC00; border-top: 4px solid #FFCC00; font-family: 'Walsheim-Medium'; }
    #questions .btn-purchase { float:right;}
    #questions .form-error { display: none; }
    .callout{background-color: #fedc45; padding-left: 2px; padding-right: 2px;}
    .wordpress{display: none;}

    @media (min-width: 768px) {
      .step-1{padding-right: 50px;}
      .step-2{padding-left: 50px; border-left: 2px solid lightgray;}
    }

block content

  section#marquee
    .container.text-center
      h2 [@L[cds.sales/getonline:QuestionsLP-8-ThisDoesnTHaveToBeConfusing]@L]
      .row
        .col-xs-12
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-Illustration-complete.png")

  section#questions
    .container
      h2.text-center [@L[cds.sales/getonline:QuestionsLP-7-WeCanGetYourBusinessOnline]@L]
      p.text-center [@L[cds.sales/getonline:QuestionsLP-17-TellUsALittleAboutYourselfWeWill]@L]
      form(method='GET' action='')
        input(type="hidden" name="ci" value="")
        .row
          .col-sm-6
            fieldset.step-1
              legend [@L[cds.sales/getonline:QuestionsLP-2-Step1]@L]
              p [@L[cds.sales/getonline:QuestionsLP-18-WhatSYourBusinessNameDonTHave]@L]
              .form-group
                label.sr-only(for="search-input") [@L[cds.sales/getonline:QuestionsLP-6-WhatSYourBusinessName]@L]
                input#search-input.form-control.search-bar(type='text', autocomplete='off', placeholder='[@L[cds.sales/getonline:QuestionsLP-7-EnterYourBusinessNameOrIdea]@L]', name='domain', maxlength='63', aria-describedby="inputWarning2Status")
              p.form-error [@L[cds.sales/getonline:QuestionsLP-10-OfferOnlyValidWithCOMCLUBCONET]@L]
          .col-sm-6
            fieldset.step-2
              legend [@L[cds.sales/getonline:QuestionsLP-2-Step2]@L]
              p [@L[cds.sales/getonline:QuestionsLP-20-WeVeGivenYouSomeOptionsOfHow]@L]
              .form-group
                label(for="interest-select") [@L[cds.sales/getonline:QuestionsLP-4-IMInterestedIn]@L]
                select#interest-select.form-control(name="interest")
                  option(value="existing_business") [@L[cds.sales/getonline:QuestionsLP-5-GettingMyExistingBusinessOnline]@L]
                  option(value="new_business") [@L[cds.sales/getonline:QuestionsLP-5-StartingANewBusinessOnline]@L]
                  option(value="selling_products") [@L[cds.sales/getonline:QuestionsLP-3-SellingProductsOnline]@L]
                  option(value="blog") [@L[cds.sales/getonline:QuestionsLP-4-StartingMyOwnBlog]@L]
              .form-group.resources-group
                label(for="resources-select") [@L[cds.sales/getonline:QuestionsLP-7-IHaveTheResourcesAndTimeTo]@L]
                select#resources-select.form-control.non-wordpress(name="resource")
                  option(value="build_myself") [@L[cds.sales/getonline:QuestionsLP-8-BuildItMyselfIfItSEasy]@L]
                  option(value="know_someone") [@L[cds.sales/getonline:QuestionsLP-13-IHaveAGuyWhoKnowsHowTo]@L]
                  option(value="hire_someone") [@L[cds.sales/getonline:QuestionsLP-11-HireSomeoneToDoItAllForMe]@L]
              button.btn.btn-purchase.btn-lg(type="submit") [@L[cds.sales/getonline:QuestionsLP-6-GetMeUpAndRunning]@L]
      .resources-group-inactive(style={"display":"none"})
        select#resources-select.form-control.wordpress(name="resource")
          option(value="build_myself") [@L[cds.sales/getonline:QuestionsLP-8-BuildItMyselfIfItSEasy]@L]
          option(value="know_someone") [@L[cds.sales/getonline:QuestionsLP-13-IHaveAGuyWhoKnowsHowTo]@L]