extends ../../templates/pages/landing-page

block sections

  block domainSearch

  block marquee

  block test
    section#questions-top
      .container
        h1 Testing 1234

  block decision
    //define decisions section here