extends ../shared/_page

append endOfPageScripts
  script.
    // update the form's submit URL based on the user's selections
    $('#questions select').change(function(e) {
      var interest = $('#interest-select').val();
      var resources = $('#resources-select').val();

      // routing logic embedded here
      if (interest === "blog") {
        // anytime the interest is in blogging, suggest the wordpress product
        $("#questions form input[name='ci']").val("96292");
        $('#questions form').attr("action","[@T[link:<relative path="~/getonline/wordpress.aspx"></relative>]@T]");
        $("select#resources-select option[value='hire_someone']").hide();
        $("select#resources-select option[value='build_myself']").attr('selected','true');
        if(resources === "know_someone")
          $("select#resources-select option[value='know_someone']").attr('selected','true');
      } else if (resources === "know_someone") {
        // anytime the user "knows someone", suggest web hosting
        $("select#resources-select option[value='hire_someone']").show();
        if(interest === "selling_products")
          $("#questions form input[name='ci']").val("96279");
        if(interest === "new_business")
          $("#questions form input[name='ci']").val("96273");
        if(interest === "exisitng_business")
          $("#questions form input[name='ci']").val("96276");
        $('#questions form').attr("action","[@T[link:<relative path="~/getonline/web-hosting.aspx"></relative>]@T]");
      } else if (resources === "build_myself") {
        // if the user wants to build it themself, conditionally suggest WSB or OLS based on their business
        if (interest === "selling_products") {
          $("#questions form input[name='ci']").val("96278");
          $("select#resources-select option[value='hire_someone']").show();
          $('#questions form').attr("action","[@T[link:<relative path="~/getonline/online-store.aspx"></relative>]@T]");
        } else {
          if(interest === "existing_business")
            $("#questions form input[name='ci']").val("96275");
          if(interest === "new_business")
            $("#questions form input[name='ci']").val("96272");
          $("select#resources-select option[value='hire_someone']").show();
          $('#questions form').attr("action","[@T[link:<relative path="~/getonline/websitebuilder.aspx"></relative>]@T]");
        }
      } else if (resources === "hire_someone") {
        // if the user is going to hire someone, conditionally suggest pro-ecomm or pro-basic based on their business
        if (interest === "selling_products") {
          $("#questions form input[name='ci']").val("96280");
          $("select#resources-select option[value='hire_someone']").show();
          $('#questions form').attr("action","[@T[link:<relative path="~/getonline/pro-ecomm.aspx"></relative>]@T]");
        } else {
          if(interest === "new_business")
            $("#questions form input[name='ci']").val("96274");
          if(interest === "existing_business")
            $("#questions form input[name='ci']").val("96277");
          $("select#resources-select option[value='hire_someone']").show();
          $('#questions form').attr("action","[@T[link:<relative path="~/getonline/pro-design.aspx"></relative>]@T]");
        }
      }
    });

    $('#questions form').submit(function(e) {
      // retrieve valid TLDs from our app setting
      // TODO: do these need to be market specific?
      // TODO: is it worth trying to use the UXCorevalidation library?
      var validTlds = [@T[appSetting:<setting name="SALES_GOT_TLD_EVERYONE_LIST" />]@T];

      // if user specified a TLD, make sure it's valid for this promotion
      var business_idea = $('#search-input').val().toLowerCase();
      var tldSpecified = $('#search-input').val().toLowerCase().split(".")[1] || "";

      if (tldSpecified && validTlds.indexOf(tldSpecified) === -1) {
        $(".validation-message").show();
        e.preventDefault();
      }
      else if(!business_idea){
        e.preventDefault();
      }
    });

    $(document).ready(function(){
      // set highlighted marquee text if passed by referring page
      var p4p = window.location.search.split('p4p=');
      if (p4p.length > 1) {
        $("#marquee span").text(decodeURIComponent(p4p[1].split("&")[0]));
      }
    });

append pageStyles
  style.
    /* keep marquee section condensed so questions appear above the fold on desktop */
    #marquee { padding-top: 30px; padding-bottom: 30px; background-color:#78C043;}
    #marquee h2 { margin-bottom: 20px; margin-top: 0; }

    #questions h2 { font-size: 3rem; margin-bottom: 5px; margin-top: 0;}
    #questions legend { font-size: 3rem; text-transform: uppercase; font-family: 'Walsheim-Bold'; border-bottom: none; }
    #questions p { font-family: Walsheim-Medium; }
    #questions input, #questions select { box-shadow: none; background-color: #fedf54; border: 1px solid #FFCC00; border-top: 4px solid #FFCC00; font-family: 'Walsheim-Medium'; }
    #questions .btn-purchase { float:right;}
    #questions .validation-message { display: none; }
    .callout{background-color: #fedc45; padding-left: 2px; padding-right: 2px;}

    @media (min-width: 768px) {
      .step-1{padding-right: 50px;}
      .step-2{padding-left: 50px; border-left: 2px solid lightgray;}
    }

block content

  section#marquee
    .container.text-center
      h2 [@L[cds.sales/getonline:QuestionsLP-8-ThisDoesnTHaveToBeConfusing]@L]
      .row
        .col-xs-12
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-Illustration-complete.png")

  section#questions
    .container
      h2.text-center [@L[cds.sales/getonline:QuestionsLP-7-WeCanGetYourBusinessOnline]@L]
      p.text-center [@L[cds.sales/getonline:QuestionsLP-17-TellUsALittleAboutYourselfWeWill]@L]
      form(method='GET' action!='[@T[link:<relative path="~/getonline/websitebuilder.aspx"></relative>]@T]')
        input(type="hidden" name="ci" value="12345")
        .row
          .col-sm-6
            fieldset.step-1
              legend [@L[cds.sales/getonline:QuestionsLP-2-Step1]@L]
              p [@L[cds.sales/getonline:QuestionsLP-18-WhatSYourBusinessNameDonTHave]@L]
              .form-group
                label.sr-only(for="search-input") [@L[cds.sales/getonline:QuestionsLP-6-WhatSYourBusinessName]@L]
                input#search-input.form-control.search-bar(type='text', autocomplete='off', placeholder='[@L[cds.sales/getonline:QuestionsLP-7-EnterYourBusinessNameOrIdea]@L]', name='domain', maxlength='63', aria-describedby="inputWarning2Status")
              p.validation-message [@L[cds.sales/getonline:QuestionsLP-10-OfferOnlyValidWithCOMCLUBCONET]@L]
          .col-sm-6
            fieldset.step-2
              legend [@L[cds.sales/getonline:QuestionsLP-2-Step2]@L]
              p [@L[cds.sales/getonline:QuestionsLP-20-WeVeGivenYouSomeOptionsOfHow]@L]
              .form-group
                label(for="interest-select") [@L[cds.sales/getonline:QuestionsLP-4-IMInterestedIn]@L]
                select#interest-select.form-control(name="interest")
                  option(value="existing_business") [@L[cds.sales/getonline:QuestionsLP-5-GettingMyExistingBusinessOnline]@L]
                  option(value="new_business") [@L[cds.sales/getonline:QuestionsLP-5-StartingANewBusinessOnline]@L]
                  option(value="selling_products") [@L[cds.sales/getonline:QuestionsLP-3-SellingProductsOnline]@L]
                  option(value="blog") [@L[cds.sales/getonline:QuestionsLP-4-StartingMyOwnBlog]@L]
              .form-group
                label(for="resources-select") [@L[cds.sales/getonline:QuestionsLP-7-IHaveTheResourcesAndTimeTo]@L]
                select#resources-select.form-control(name="resource")
                  option(value="build_myself") [@L[cds.sales/getonline:QuestionsLP-8-BuildItMyselfIfItSEasy]@L]
                  option(value="know_someone") [@L[cds.sales/getonline:QuestionsLP-13-IHaveAGuyWhoKnowsHowTo]@L]
                  option(value="hire_someone") [@L[cds.sales/getonline:QuestionsLP-11-HireSomeoneToDoItAllForMe]@L]
              button.btn.btn-purchase.btn-lg(type="submit") [@L[cds.sales/getonline:QuestionsLP-6-GetMeUpAndRunning]@L]
