extends ./templates/_p4p.jade

block getItNow
  +renderGoodNews("Store")

block product
  // onlineStore.product
  //- define online store product section
  //section#websitenode-builder
    //div
      //img(src="/headrer-image.pnodeng")
      //h2 Website builder
      //a.btn.btn-default-light View All Templates
      //img(src="/main-image.png")

block got
  +renderReadyToTakeBusinessOnline("Store")