extends _p4p.jade

append vars
  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Online Store";
  - productToDisplay.landingPage = "online-store.aspx"
  - productToDisplay.packageId = "getonline_online_store";
  - productToDisplay.itcCode = "slp_getonline_store";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='464069|101|40972' period='monthly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='464069|101|40972' period='yearly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='464069|101|40972' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Easily create a site that let’s you sell your stuff, accept credit cards and more.";
  - productToDisplay.imgClass = "features-online-store";
  - productToDisplay.productIconClass = "features-online-store";
  - productToDisplay.productDescription = "Online Store includes everything you need for a complete eCommerce website. See how easy it is.";
  - productToDisplay.productVideoImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-onlinestore-monitor.png";
  - productToDisplay.productYouTubeId = "rMF9d8-3WBA";
  - productToDisplay.productVideoInfoText = "What is Online Store?";
  - productToDisplay.productInfoText = "";
  - productToDisplay.productDidYouKnowText = "With built-in payment processing, you can accept all major credit cards and the funds are automatically transferred to you bank account.";
  - productToDisplay.topButtonCI = "96294";
  - productToDisplay.bottomButtonCI = "96298";
  - productToDisplay.bottomSearchCI = "96296";
  - productToDisplay.viewTemplatesCI = "96299";
  - productToDisplay.playButtonCI = "96300";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-onlineStore.png")
    h3.text-center #{productToDisplay.name}
    p #{productToDisplay.getItNowDescription}

block productViewTemplates

block productInfo

block productTemplates

block gotProduct
  img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-onlineStore.png")
  h3.text-center Online Store
