extends ./templates/_p4p.jade

block getItNow
  - var productToDisplay = {name: "Online Store", info: "Online Store stuff here", cssClass: "<div class='online-store-icon'></div>", price: "$1.00"};
  +renderGoodNews(productToDisplay)

block proSpecific

block product
  +renderProductSection('onlinestore')

block got
  - var productToDisplay = {name: "Online Store", info: "Online Store stuff here", cssClass: "<div class='online-store-icon'></div>", price: "$1.00"};
  +renderReadyToTakeBusinessOnline(productToDisplay)