extends _p4p.jade

append vars
  - primary_pfid = 47902;
  - primary_promo = 75315678;
  - productToDisplay.name = "Online Store";
  - productToDisplay.getItNowDescription = "Easily create a site that let’s you sell your stuff, accept credit cards and more. MXNXXX.XX/yr";
  - productToDisplay.productDescription = "Online Store includes everything you need for a complete eCommerce website. See how easy it is.";
  - productToDisplay.productInfoText = "";
  - productToDisplay.imgClass = "features-online-store";
  - productToDisplay.productIconClass = "features-online-store";
  - productToDisplay.price = "$1.00";
  - productToDisplay.productVideoImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-onlinestore-monitor.png";
  - productToDisplay.productYouTubeId = "rMF9d8-3WBA";
  - productToDisplay.productVideoInfoText = "What is Online Store?";
  - productToDisplay.productDidYouKnowText = "With built-in payment processing, you can accept all major credit cards and the funds are automatically transferred to you bank account.";
  - productToDisplay.topButtonCI = "96294";
  - productToDisplay.bottomButtonCI = "96298";
  - productToDisplay.bottomSearchCI = "96296";
  - productToDisplay.viewTemplatesCI = "96299";
  - productToDisplay.playButtonCI = "96300";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-onlineStore.png")
    h3.text-center #{productToDisplay.name}
    p #{productToDisplay.getItNowDescription}

block productViewTemplates

block productInfo

block productTemplates

block gotProduct
  img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/OnlineStore.png")
  h3.text-center Online Store
