extends _p4p.jade

append vars
  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Web Hosting";
  - productToDisplay.landingPage = "web-hosting.aspx"
  - productToDisplay.packageId = "getonline_web_hosting";
  - productToDisplay.itcCode = "slp_getonline_store";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='464069|101|32051' period='monthly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='464069|101|32051' period='yearly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='464069|101|32051' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Give your site a home that’ll keep it secure and running like sports car.";
  - productToDisplay.imgClass = "features-hosting";
  - productToDisplay.productIconClass = "features-hosting";
  - productToDisplay.productDescription = "Hosting is what makes it possible for others to view your website. Without it, your site’s just sitting on your computer, all sad and lonely.";
  - productToDisplay.productVideoImage = "";
  - productToDisplay.productYouTubeId = "";
  - productToDisplay.productVideoInfoText = "";
  - productToDisplay.productInfoText = "Our hosting plans feature industry-leading page load times, cPanel® or Parallels® Plesk control panels and 99.9% guaranteed uptime. If none of this means anything to you, it’s ok. Just share this with whoever built your site. They’ll love it.";
  - productToDisplay.productDidYouKnowText = "Google® uses site speed as a criteria for search ranking, so a fast website can actually get you listed higher and help drive more traffic?";
  - productToDisplay.topButtonCI = "96307";
  - productToDisplay.bottomButtonCI = "96306";
  - productToDisplay.bottomSearchCI = "96310";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-hosting.png")
    h3.text-center Web Hosting
    p Give your site a home that’ll keep it secure and running like a sports car.

block productSection
  section#web-hosting.product-section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png")
          h2.text-center Web Hosting
          h3.text-center Hosting is what makes it possible for others to view your website. Without it, your site’s just sitting on your computer, all sad and lonely.
          img.img-responsive.product-summary(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png")
          p.text-center Our hosting plans feature industry-leading page load times, cPanel® or Parallels® Plesk control panels and 99.9% guaranteed uptime. If none of this means anything to you, it’s ok. Just share this with whoever built your site. They’ll love it. 
      .row.bubble-row
        .col-xs-2
          img.hero-guy(src="https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-hero-guy.png")
        .col-xs-10.col-sm-8.col-lg-6.bubble
          mark Did you know...
          p Google® uses site speed as a criteria for search ranking, so a fast website can actually get you listed higher and help drive more traffic?

block bottomTargetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/WebHostingServers.png")
    h3 Web Hosting
