extends _p4p.jade

append vars
  - primary_pfid = 7524;
  - primary_promo = 24681357;
  - productToDisplay.name = "Website Builder";
  - productToDisplay.getItNowDescription = "Easily create a professional website with simple drag-&-drop tools. MXNXXX.XX/yr";
  - productToDisplay.productDescription = "Just choose one of our professional designs, customize it to fit your business and publish it to the web. Yep, it’s that easy.";
  - productToDisplay.productInfoText = "";
  - productToDisplay.imgClass = "features-wsb";
  - productToDisplay.productIconClass = "features-wsb";
  - productToDisplay.price = "$1.00";
  - productToDisplay.productVideoImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-websiteBuilder-monitor.png";
  - productToDisplay.productYouTubeId = "-HtVJyxSQmw";
  - productToDisplay.productVideoInfoText = "What is Website Builder?";
  - productToDisplay.productDidYouKnowText = "Customers are more likely to contact you if you have a website for your local business.";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-websiteBuilder.png")
    h3.text-center Website Builder
    p Easily create a professional website with simple drag-&-drop tools.

block productInfo

block productTemplates
  include ../../sales/shared/wsb-templates.html

block gotProduct
  img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-websiteBuilder.png")
  h3.text-center Website Builder

