extends ./templates/_p4p.jade

block marquee

block getItNow
  - var productToDisplay = {name: "Website Builder", info: "Website builder stuff here", cssClass: "<div class='wsb-icon'></div>", price: "$1.00"};
  +renderGoodNews(productToDisplay)

block proSpecific

block got
   - var productToDisplay = {name: "Website Builder", info: "Website builder stuff here", cssClass: "<div class='wsb-icon'></div>", price: "$1.00"};
   +renderReadyToTakeBusinessOnline(productToDisplay)
