extends _p4p.jade

append vars
  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Website Builder";
  - productToDisplay.landingPage = "websitebuilder.aspx"
  - productToDisplay.packageId = "getonline_website_builder";
  - productToDisplay.itcCode = "slp_getonline_wsb";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='464069|101|7524' period='monthly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='464069|101|7524' period='yearly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='464069|101|7524' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Easily create a professional website with simple drag-&-drop tools.";
  - productToDisplay.imgClass = "features-wsb";
  - productToDisplay.productIconClass = "features-wsb";
  - productToDisplay.productDescription = "Just choose one of our professional designs, customize it to fit your business and publish it to the web. Yep, it’s that easy.";
  - productToDisplay.productVideoImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-websiteBuilder-monitor.png";
  - productToDisplay.productYouTubeId = "-HtVJyxSQmw";
  - productToDisplay.productVideoInfoText = "What is Website Builder?";
  - productToDisplay.productInfoText = "";
  - productToDisplay.productDidYouKnowText = "Customers are more likely to contact you if you have a website for your local business.";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-websiteBuilder.png")
    h3.text-center Website Builder
    p Easily create a professional website with simple drag-&-drop tools.

block productInfo

block productTemplates
  include ../../sales/shared/wsb-templates.html

block gotProduct
  img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-websiteBuilder.png")
  h3.text-center Website Builder

