extends ./templates/_p4p.jade

block getItNow
  //div.text-center
  //  +renderDomainstringWithPrice("testingJade", "$1.00")
  //testing1234
  hr

block product
  //- define WSB product section
  //section#websitenode-builder
    //div
      //img(src="/headrer-image.pnodeng")
      //h2 Website builder
      //a.btn.btn-default-light View All Templates
      //img(src="/main-image.png")