extends ./templates/_p4p.jade

block price
  h3.text-center A great package deal for <mark class="business-idea"></mark> – Starting at <mark id="product-price">$1.50</mark>

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-websiteBuilder.png")
    h3.text-center Website Builder
    p Easily create a professional website with simple drag-&-drop tools.

block proSpecific

block got
   - var productToDisplay = {name: "Website Builder", info: "Website builder stuff here", cssClass: "<div class='wsb-icon'></div>", price: "$1.00"};
   +renderReadyToTakeBusinessOnline(productToDisplay)