extends ./templates/_p4p.jade

block price
  h3.text-center A great package deal for <mark class="business-idea"></mark> – Starting at <mark id="product-price">$2.00</mark>

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png")
    h3.text-center Wordpress
    p Start a blog with WordPress and let us manage the technical stuff.

block proSpecific

block product

block got
   - var productToDisplay = {name: "Wordpress", info: "Wordpress stuff here", cssClass: "<div class='features-wordpress'></div>", price: "$1.00"};
   +renderReadyToTakeBusinessOnline(productToDisplay)