extends _p4p.jade

append vars
  - primary_pfid = 32759;
  - primary_promo = 511092015;
  - productToDisplay.name = "Managed Wordpress";
  - productToDisplay.getItNowDescription = "Start a blog with WordPress and let us manage the technical stuff. MXNXXX.XX/yr";
  - productToDisplay.imgClass = "features-wordpress";
  - productToDisplay.productIconClass = "features-wordpress";
  - productToDisplay.price = "$1.00";
  - productToDisplay.productDescription = "We’ll handle all the technical stuff like server setup, security and backups, while you build your blog with the world’s most popular website creation tool.";
  - productToDisplay.productVideoImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png";
  - productToDisplay.productYouTubeId = "";
  - productToDisplay.productVideoInfoText = "";
  - productToDisplay.productInfoText = "WordPress makes it easy to create, manage and publish your website or blog – all from your web browser. Make changes across your entire site at once, instead of a page at a time. Even add advanced features by simply installing one of 1000s of free plugins.";
  - productToDisplay.productDidYouKnowText = "As open source software, WordPress allows developers to create their own plugins that you can install to add new features to your site?";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png")
    h3.text-center Managed Wordpress
    p Start a blog with WordPress and let us manage the technical stuff.

block productSection
  section#wordpress.product-section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png")
          h2.text-center WordPress
          h3.text-center We’ll handle all the technical stuff like server setup, security and backups, while you build your blog with the world’s most popular website creation tool.
          img.img-responsive.product-summary(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png")
          p.text-center WordPress makes it easy to create, manage and publish your website or blog – all from your web browser. Make changes across your entire site at once, instead of a page at a time. Even add advanced features by simply installing one of 1000s of free plugins.
      .row.bubble-row
        .col-xs-2
          img.hero-guy(src="https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-hero-guy.png")
        .col-xs-10.col-sm-8.col-lg-6.bubble
          mark Did you know...
          p As open source software, WordPress allows developers to create their own plugins that you can install to add new features to your site?

block bottomTargetedProduct
  .column.website
    img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png")
    h3.text-center Managed Wordpress
