extends ../_hero-arrow.jade

append vars
  - var classes = "ssl-scrawny-price";
  - var ciCode = 94092;
  - var ctaLink = "[@T[link:<relative path='/ssl/ssl-certificates.aspx'><param name='ci' value='"+ciCode+"'/><param name='isc' value='SSLSAVINGS' /></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Powerful security.
  p.font-sm.black.text-white Scrawny little price.

block rightContent
  p.font-md.black SSL Certificates
  p.price.bold 
    strike [@T[productprice:<list productid="3604" period="yearly" />]@T] 
    span.text-purchase [@T[productprice:<current productid="3604" period="yearly" promocode="78124565" />]@T]/1<sup>st</sup> year
  a.btn.btn-md.btn-purchase(href!=ctaLink) Start now
  p.disclaimer Use promo code SSLSAVINGS. 2 year minimum registration required. Subsequent years charged at [@T[productprice:<list productid='3604' period='yearly' />]@T]/yr
