extends ../_banner-medium-basic.jade

append vars
  - ciCode = '98077'
  - classes = 'wsb-job-to-do'
  - titleText = 'Your domain has a job to do. Put it to work.'
  - bodyText = 'Get Website Builder for as low as <span class="text-purchase">[@T[productprice:<current productid="7524" period="monthly" />]@T]/mo</span>'
  - ctaText = 'Start Now'
  - ctaLink = '[@T[link:<relative path="/hosting/website-builder.aspx"><param name="ci" value="' + ciCode + '"/></relative>]@T]'