extends ../_hero-arrow.jade

append vars
  - var classes = "wsb-job-to-do";
  - var ciCode = 94090;
  - var ctaLink = "[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Website Builder
  p.font-md.black.text-white Your domain has a job to do. Put it to work.

block rightContent
  p.font-md.black Build a website
  p.price.bold As low as 
    span.text-purchase [@T[productprice:<current productid="7524" period="monthly" />]@T]/MO
  a.btn.btn-md.btn-purchase(href!=ctaLink) Start now