extends ../../homepage/_home-page.jade

block content

  //-
  //- 499com
  //- 
  h2 499com
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/499com/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/499com/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/499com/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/499com/banner-small" /> ]@P]

  //-
  //- ad-credits
  //- 
  h2 ad-credits
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ad-credits/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ad-credits/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ad-credits/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ad-credits/banner-small" /> ]@P]

  //-
  //- customer-care
  //- 
  h2 customer-care
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/customer-care/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/customer-care/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/customer-care/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/customer-care/banner-small" /> ]@P]

  //-
  //- domain-enough-passwords
  //- 
  h2 domain-enough-passwords
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-enough-passwords/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-enough-passwords/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-enough-passwords/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-enough-passwords/banner-small" /> ]@P]

  //-
  //- domain-expire
  //- 
  h2 domain-expire
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-expire/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-expire/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-expire/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-expire/banner-small" /> ]@P]

  //-
  //- domain-privacy
  //- 
  h2 domain-privacy
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/banner-small" /> ]@P]

  //-
  //- fos21197_office265_1
  //- 
  h2 fos21197_office265_1
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_1/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_1/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_1/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_1/banner-small" /> ]@P]

  //-
  //- fos21197_office265_2
  //- 
  h2 fos21197_office265_2
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_2/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_2/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_2/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office265_2/banner-small" /> ]@P]

  //-
  //- fos21247_63offwddc_1
  //- 
  h2 fos21247_63offwddc_1
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21247_63offwddc_1/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21247_63offwddc_1/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21247_63offwddc_1/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21247_63offwddc_1/banner-small" /> ]@P]

  //-
  //- fos23002_abndcart
  //- 
  h2 fos23002_abndcart
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/banner-small" /> ]@P]

  //-
  //- gdpro
  //- 
  h2 gdpro
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro/banner-small" /> ]@P]

  //-
  //- gdpro-beginner-price
  //- 
  h2 gdpro-beginner-price
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/banner-small" /> ]@P]

  //-
  //- gem
  //- 
  h2 gem
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gem/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gem/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gem/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gem/banner-small" /> ]@P]

  //-
  //- got
  //- 
  h2 got
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/banner-small" /> ]@P]

  //-
  //- got-2
  //- 
  h2 got-2
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-2/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-2/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-2/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-2/banner-small" /> ]@P]

  //-
  //- got-cricket
  //- 
  h2 got-cricket
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-cricket/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-cricket/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-cricket/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-cricket/banner-small" /> ]@P]

  //-
  //- got-lovitz
  //- 
  h2 got-lovitz
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-lovitz/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-lovitz/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-lovitz/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-lovitz/banner-small" /> ]@P]

  //-
  //- got-nacho
  //- 
  h2 got-nacho
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-nacho/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-nacho/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-nacho/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-nacho/banner-small" /> ]@P]

  //-
  //- gtld
  //- 
  h2 gtld
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/banner-small" /> ]@P]

  //-
  //- hosting-awesome
  //- 
  h2 hosting-awesome
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-awesome/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-awesome/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-awesome/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-awesome/banner-small" /> ]@P]

  //-
  //- hosting-paid-for-it
  //- 
  h2 hosting-paid-for-it
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-paid-for-it/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-paid-for-it/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-paid-for-it/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-paid-for-it/banner-small" /> ]@P]

  //-
  //- hosting-upgrade
  //- 
  h2 hosting-upgrade
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-upgrade/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-upgrade/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-upgrade/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-upgrade/banner-small" /> ]@P]

  //-
  //- lawyer
  //- 
  h2 lawyer
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/banner-small" /> ]@P]

  //-
  //- o365-biz-email
  //- 
  h2 o365-biz-email
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-biz-email/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-biz-email/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-biz-email/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-biz-email/banner-small" /> ]@P]

  //-
  //- o365-boss-impressed
  //- 
  h2 o365-boss-impressed
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-boss-impressed/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-boss-impressed/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-boss-impressed/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-boss-impressed/banner-small" /> ]@P]

  //-
  //- online-store
  //- 
  h2 online-store
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/online-store/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/online-store/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/online-store/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/online-store/banner-small" /> ]@P]

  //-
  //- p4p
  //- 
  h2 p4p
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/p4p/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/p4p/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/p4p/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/p4p/banner-small" /> ]@P]

  //-
  //- pob
  //- 
  h2 pob
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pob/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pob/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pob/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pob/banner-small" /> ]@P]

  //-
  //- pro-beta
  //- 
  h2 pro-beta
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pro-beta/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pro-beta/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pro-beta/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/pro-beta/banner-small" /> ]@P]

  //-
  //- sitelock
  //- 
  h2 sitelock
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/sitelock/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/sitelock/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/sitelock/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/sitelock/banner-small" /> ]@P]

  //-
  //- small-biz
  //- 
  h2 small-biz
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/small-biz/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/small-biz/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/small-biz/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/small-biz/banner-small" /> ]@P]

  //-
  //- ssl-scrawny-price
  //- 
  h2 ssl-scrawny-price
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-scrawny-price/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-scrawny-price/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-scrawny-price/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-scrawny-price/banner-small" /> ]@P]

  //-
  //- ssl-security-guard
  //- 
  h2 ssl-security-guard
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-security-guard/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-security-guard/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-security-guard/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-security-guard/banner-small" /> ]@P]

  //-
  //- tax
  //- 
  h2 tax
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/banner-small" /> ]@P]

  //-
  //- testimonial-impacesys
  //- 
  h2 testimonial-impacesys
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/testimonial-impacesys/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/testimonial-impacesys/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/testimonial-impacesys/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/testimonial-impacesys/banner-small" /> ]@P]

  //-
  //- tld-ca
  //- 
  h2 tld-ca
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ca/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ca/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ca/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ca/banner-small" /> ]@P]

  //-
  //- tld-club
  //- 
  h2 tld-club
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-club/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-club/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-club/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-club/banner-small" /> ]@P]

  //-
  //- tld-co
  //- 
  h2 tld-co
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co/banner-small" /> ]@P]

  //-
  //- tld-co-uk
  //- 
  h2 tld-co-uk
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co-uk/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co-uk/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co-uk/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co-uk/banner-small" /> ]@P]

  //-
  //- tld-com
  //- 
  h2 tld-com
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/banner-small" /> ]@P]

  //-
  //- tld-com-anniversary
  //- 
  h2 tld-com-anniversary
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-anniversary/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-anniversary/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-anniversary/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-anniversary/banner-small" /> ]@P]

  //-
  //- tld-com-rajesh
  //- 
  h2 tld-com-rajesh
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-rajesh/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-rajesh/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-rajesh/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-rajesh/banner-small" /> ]@P]

  //-
  //- tld-ninja
  //- 
  h2 tld-ninja
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ninja/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ninja/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ninja/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ninja/banner-small" /> ]@P]

  //-
  //- tld-rocks
  //- 
  h2 tld-rocks
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-rocks/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-rocks/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-rocks/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-rocks/banner-small" /> ]@P]

  //-
  //- web-hosting-price
  //- 
  h2 web-hosting-price
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-price/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-price/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-price/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-price/banner-small" /> ]@P]

  //-
  //- web-hosting-savings
  //- 
  h2 web-hosting-savings
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-savings/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-savings/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-savings/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-savings/banner-small" /> ]@P]

  //-
  //- wsb-free-domain-typo
  //- 
  h2 wsb-free-domain-typo
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-free-domain-typo/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-free-domain-typo/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-free-domain-typo/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-free-domain-typo/banner-small" /> ]@P]

  //-
  //- wsb-job-to-do
  //- 
  h2 wsb-job-to-do
  section#marquee
    .container
      .row
        #hero-wrapper.col-md-8.col-sm-12
          .hero-wrapper
            |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/hero" /> ]@P]
        #marquee-tile-wrapper.col-md-4.col-sm-12
          .row
            #marquee-tile-1.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/banner-medium" /> ]@P]
            #marquee-tile-2.col-md-12.col-sm-6(data-tms-spoofable="banner-medium")
              |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/marquee-tile" /> ]@P]
  section#merchandising
    .container
      .row
        #banner-small-1.col-md-3.col-sm-6.col-xs-6
          |[@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/banner-small" /> ]@P]
