extends ../../homepage/_home-page.jade

block content
  style.
    .banner {position: relative; margin: 6px 0 3px 0;min-height: 141px; max-height: 181px; overflow: hidden;}
  .container
    .row
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/499com/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office365_2/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/got/banner-medium" /> ]@P]
    .row
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/gtld/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/p4p/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/testimonial-impacesys/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-ca/banner-medium" /> ]@P]
    .row
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-co-uk/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-rajesh/banner-medium" /> ]@P]
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-rocks/banner-medium" /> ]@P]
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/web-hosting-savings/banner-medium" /> ]@P]
    .row
      .col-md-4.col-sm-12
        .row
          .banner.col-md-12.col-sm-6
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/banner-medium" /> ]@P]
