extends ../../homepage/_home-page.jade

block content
  style.
    .banner {position: relative; margin: 6px 0 3px 0;min-height: 141px; max-height: 181px; overflow: hidden;}
    .hero-wrapper-id {min-height:300px;}
    .marquee-tile-1-id, .marquee-tile-2-id {position: relative; margin: 6px 0 3px 0;min-height: 141px; max-height: 181px; overflow: hidden;}
    section { margin-top: 20px;margin-bottom: 20px;background:#f3f3f3;}
    .banner-medium-spacer { background:#ccc;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/buddy-got/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-enough-passwords/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-expire/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer            
    
  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/domain-privacy/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office365_1/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21197_office365_2/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer 
    
  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos21247_63offwddc_1/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/fos23002_abndcart/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/gdpro-beginner-price/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer 
    
  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-cricket/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-lovitz/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/got-nacho/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer 

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-awesome/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-paid-for-it/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/hosting-upgrade/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer 

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/lawyer/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/o365-boss-impressed/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/pob/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer 

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/pro-beta/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/small-biz/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-scrawny-price/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer 

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/ssl-security-guard/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tax/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer 

  //- section
  //-   .container
  //-     .row
  //-       .hero-wrapper-id.col-md-8.col-sm-12
  //-         .hero-wrapper
  //-           | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/tld-com-anniversary/hero" /> ]@P]
  //-       .marquee-tile-wrapper-id.col-md-4.col-sm-12
  //-         .row
  //-           .marquee-tile-1-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer
  //-           .marquee-tile-2-id.col-md-12.col-sm-6
  //-             .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-free-domain-typo/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer

  section
    .container
      .row
        .hero-wrapper-id.col-md-8.col-sm-12
          .hero-wrapper
            | [@P[cdsDocument:<data app="tmsv2" location="content/homepage/wsb-job-to-do/hero" /> ]@P]
        .marquee-tile-wrapper-id.col-md-4.col-sm-12
          .row
            .marquee-tile-1-id.col-md-12.col-sm-6
              .banner-medium-spacer
            .marquee-tile-2-id.col-md-12.col-sm-6
              .banner-medium-spacer 
