extends ../_banner-medium-basic.jade

append vars
  - ciCode = '98076'
  - classes = 'tax'
  - titleText = 'Keep a calculator under your pillow?'
  - bodyText = '.tax is for you.  Just <span class="text-purchase">[@T[productprice:<current productid="426119" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/yr</span>'
  - ctaText = 'Get Started'
  - ctaLink = '[@T[link:<relative path="/tlds/tax"><param name="ci" value="' + ciCode + '"/></relative>]@T]'