extends ../_hero-arrow.jade

append vars
  - var classes = "tax";
  - var ciCode = 91417;
  - var ctaLink = "[@T[link:<relative path='/tlds/tax'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Keep a calculator under your pillow?

block rightContent
  p.font-md.black .tax is for you
  p.price.bold Just 
    span.text-purchase [@T[productprice:<current productid="426119" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/YR
  a.btn.btn-md.btn-purchase(href!=ctaLink) Get started