extends ../_hero-arrow.jade

append vars
  - var classes = "tax";
  - var ciCode = 91417;
  - var ctaLink = "[@T[link:<relative path='/tlds/tax'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white KEEP A CALCULATOR
  p.font-md.black.text-white UNDER YOUR PILLOW?

block rightContent
  p.font-lg.black .TAX</br>IS FOR YOU
  p.font-md.black JUST 
    span.font-md.black.text-purchase [@T[productprice:<current productid="426119" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]/YR
  a.btn.btn-md.btn-purchase GET STARTED