---
location: sales/tlds/gtldprereg.aspx
id: 538f938bf778fc33d486f57d
name: FOS-21498 
---
{% extends 'layouts/base.html' %}

{% block pageTitle %}<title>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.page.title]@L]</title>{% endblock %}
{% block pageDescription %}<meta name="description" content="[@L[cds.tldleaf/[@D[gtld]@D]:prereg.meta.description]@L]" />{% endblock %}
{% block pageKeywords %}<meta name="keywords" content="[@L[cds.tldleaf/[@D[gtld]@D]:prereg.meta.keywords]@L]" />{% endblock %}

{% block metahead %}

{% parent %}
    <script>
      $sf = {skin: "fos"};
    </script>

    <!-- Old Global CSS -->

    <link href="[@T[link:<cssroot />]@T]fos/global/build/0.2.0/gd-fos-global.min.css" rel="stylesheet" type="text/css" />

    <style>
      #pcf {clear:both;}
      #main-wrap .header{background:url('[@T[link:<imageroot />]@T]tldleafpages/[@D[gtld]@D]/fos/[@L[cds.tldleaf/[@D[gtld]@D]:all.gtld.banner]@L]');}
      .share-title {top:-5px !important;}
      .fosfbbox {overflow: visible !important;}
      .fostwbox {width:auto !important;}
      .fb_iframe_widget {top:-3px !important;}
    </style>
{% endblock %}

{% block body %}

      <div id="main-wrap" class="tld-[@D[gtld]@D]">
      <div class="clearfix" style="margin-top:15px">
      <h1>[@L[cds.tldleaf/[@D[gtld]@D]:all.page.h1]@L]</h1>
        <div id="sm-wrap">
          <div class="fosshare" id="shareme"
            data-twshareurl="[@T[link:<relative path='/tlds/[@D[gtld]@D]'><param name='ISC' value='smtwfos' /></relative>]@T]"
            data-twtext="[@L[cds.tldleaf/[@D[gtld]@D]:prereg.twitter.text]@L]"
            data-twrelated="GoDaddy"
            data-twreply="35782000644194304"
            data-fbshareurl="[@T[link:<relative path='/tlds/[@D[gtld]@D]'><param name='ISC' value='smtwfos' /></relative>]@T]"
            data-gpshareurl="[@T[link:<relative path='/tlds/[@D[gtld]@D]'><param name='ISC' value='smtwfos' /></relative>]@T]"
            data-shareurl="[@T[link:<relative path='/tlds/[@D[gtld]@D]'><param name='ISC' value='smtwfos' /></relative>]@T]"
            data-buttons="google,facebook,twitter"
            data-float="left">
          </div>
        </div>
      </div>
      <div id="head-wrap">
        <div class="header">
          <div class="header-text">
            [@L[cds.tldleaf/[@D[gtld]@D]:prereg.header.content]@L]
          </div>
        </div>
      </div>
      <div id="search-wrap" >
        <form id="gtld-domain-search-form" action="/domains/search.aspx" method="get" autocomplete="off">
          ##if(isManager())
          <input id="mgrshopper" type="hidden" name="mgrshopper" value="" />
          ##endif
          <input id="tld" type="hidden" name="tld" value="[@D[gtld]@D]" />
          <input id="gtld-domain-search-input" class="search-field" type="text" name="domainToCheck" maxlength="63" placeholder="[@L[cds.sales/homepage:search-text]@L]" />
          <a id="gtld-domain-search-btn" class="flt-btn flt-btn-grn" href="javascript:void(0);">[@L[cds.tldleaf/[@D[gtld]@D]:prereg.search.button.text]@L]</a>
          <span class="search-tld">.[@D[gtld]@D]</span>
        </form>
      </div>
      <div id="body-wrap">
        <div class="content clearfix">
          <h2 style="margin-left:95px;">[@L[cds.tldleaf/[@D[gtld]@D]:prereg.phases.title]@L]</h2>
          <div style="margin-top:10px;">
            <div class="fl-left narrow-col">

              <div id="div-ga-pre-registration">
                <h3>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.title]@L]<span class="g-toolTip"><span>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.tooltip]@L]</span></span></h3>
                <p style="padding-top:0px;">[@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.priceline]@L]</p>
                <div id="ga-dates-before">
                  [@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.before]@L]
                </div>
                <div id="ga-dates-during">
                  [@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.during]@L]
                </div>
                <p>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.ga.preregistration.content]@L]</p>
              </div>

              <div id="div-sr-trademark" style="margin-top:30px;">
                <h3>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.title]@L] <span class="g-toolTip"><span>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.tooltip]@L]</span></span></h3>
                <p style="padding-top:0px;">[@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.priceline]@L]</p>
                <div id="sr-dates-before">
                  [@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.before]@L]
                </div>
                <div id="sr-dates-during">
                  [@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.during]@L]
                </div>
                <p>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.sr.trademark.content]@L]</p>
              </div>

            </div>

            <div class="fl-left narrow-col">

              <div id="div-lr-priority">
                <h3>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.title]@L] <span class="g-toolTip"><span>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.tooltip]@L]</span></span></h3>

                <div id="lr-not-earlyaccess">
                  <p style="padding-top:0px;">[@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.priceline]@L]</p>
                  <div id="lr-dates-before">
                    [@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.before]@L]
                  </div>
                  <div id="lr-dates-during">
                    [@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.during]@L]
                  </div>
                </div>

                <div id="lr-earlyaccess">
                </div>

                <p>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.lr.priority.content]@L]</p>

              </div>
              <div id="div-london-Priority"  style="display:none;">
                <h3>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.heading.priorityprereg]@L]</h3>
                 <div id="div-London-Award">
                 [@L[cds.tldleaf/[@D[gtld]@D]:prereg.Names.priorityprereg]@L]
                </div>
                <div id="div-Priority-Ranking">
                  <ul class="RankingList" style="display:none;">
                    <li>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.point1.priorityprereg]@L]</li>
                    <li>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.point2.priorityprereg]@L]</li>
                    <li>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.point3.priorityprereg]@L]</li>
                    <li>[@L[cds.tldleaf/[@D[gtld]@D]:prereg.point4.priorityprereg]@L]</li>
                  </ul>
                </div>                
              </div>               
            </div>
          </div>
        
        <div class="seccontent clearfix">
          <div class="fl-left wide-col">
            [@L[cds.tldleaf/[@D[gtld]@D]:all.marketing.content.1]@L]
            [@L[cds.tldleaf/[@D[gtld]@D]:all.marketing.content.2]@L]
          </div>
          <div id="gtld-logo" class="fl-right">
            <img alt=".[@D[gtld]@D]" />
          </div>
        </div>
      </div>
      <div id="limitations-wrap">
        <div id="limitations">
          <p>[@L[cds.tldleaf/[@D[gtld]@D]:all.limitations.symbols]@L]&nbsp;<a id="limitations-link" href="javascript:void(0);">[@L[cds.tldleaf/[@D[gtld]@D]:all.limitations.link]@L]</a></p>
          <div id="g-modal" class="g-modal" style="display:none;">
            <a href="#" class="g-modal-close"><span>close</span></a>
            <div class="g-modal-header">
              <span class="g-modal-titlebar">[@L[cds.tldleaf/[@D[gtld]@D]:all.limitations.modal.header]@L]</span>
            </div>
            <div class="g-modal-content">
              [@L[cds.tldleaf/[@D[gtld]@D]:all.limitations.modal.content]@L]
            </div>
          </div>
          <div id="g-modal-overlay" class="g-modal-overlay" style="display:none;"></div>
        </div> <!-- limitations -->
      </div> <!-- product-limitations -->
    </div>

{% endblock %}

{% block footer %}
    <script src="[@T[link:<javascriptroot />]@T]shared/js/jquery.plugins.min.20111019.js" type="text/javascript" ></script>
    <script src="[@T[link:<javascriptroot />]@T]starfield/fos.share/v1.3/fos.share-20140205.min.js" id="fosShareScript" ></script>
    <script src="[@T[link:<cssroot />]@T]fos/201401/tlds/tld-leaf/js/tld-leaf-page.min.js"></script>

    <!--[if lte IE 8]>
    <script src="[@T[link:<javascriptroot />]@T]fos/script/JSON2.min.js"></script>
    <![endif]-->

    <script type="text/javascript">

      $(document).ready(function() {
        gbl.ns.register('domains.controls');
        if (!domains.controls.gtldTemplatesClient) {
          // probably means the cds_gtld_templates_xxxx.js file didn't load correctly

        } else {
          // wire up the page
          domains.controls.gtldTemplatesClient.Initialize({
            tldLogoImageExists: $.trim('[@L[cds.tldleaf/[@D[gtld]@D]:all.gtld.logo]@L]').length > 0,
            tldLogoImageFileName: '[@T[link:<imageroot />]@T]tldleafpages/[@D[gtld]@D]/fos/[@L[cds.tldleaf/[@D[gtld]@D]:all.gtld.logo]@L]',
            hasProductLimitations: $.trim('[@L[cds.tldleaf/[@D[gtld]@D]:all.limitations.symbols]@L]').length > 0,
            gTldPreRegPhaseDataJson: [@P[webControl:<Data assembly="App_Code" type="Domains.Controls.GTldPhaseDataJson"></Data>]@P],
            earlyAccessPricingTemplate: '[@L[cds.tldleaf/[@D[gtld]@D]:prereg.phase.AsLowAs]@L]',
            earlyAccessDateTemplate: '[@L[cds.tldleaf/_common:prereg.phase.dates]@L]',
            redirectUrl: '[@T[link:<relative path="~/tlds/gtld.aspx"></relative>]@T]',
            tldH1TagExists: $.trim('[@L[cds.tldleaf/[@D[gtld]@D]:all.page.h1]@L]').length > 0,
            tldIsLondon:isLondon(),
            icannLink:removeIcannLink()
          });
          domains.controls.gtldTemplatesClient.SetupPreReg();
        }
        
        function isLondon(){
          var currentTLD = "[@D[gtld]@D]";
          if(currentTLD!=null){
            if(currentTLD=="LONDON"||currentTLD=="london"){
              $("#div-london-Priority").show();   
              $("ul.RankingList").show();      
            }
          }
        }

        function removeIcannLink(){
          $(".g-modal-content p a").replaceWith(function() { return $(this).contents(); });
        }
      });
    </script>

{% endblock %}
