.config-step {
  background: #FCFCFC;
  background-image: -moz-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
  background-image: -ms-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
  background-image: -o-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
  background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0,#EAE9E9),color-stop(0.5,#FCFCFC),color-stop(1,#EAE9E9));
  background-image: -webkit-linear-gradient(right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
  background-image: linear-gradient(to right,#EAE9E9 0,#FCFCFC 50%,#EAE9E9 100%);
  border: 1px solid #ccc;
  float: left;
  min-height: 460px;
  position: relative;
}
.config-step .flag {
  color: white;
  font-size: 19px;
  height: 34px;
  line-height: 30px;
  left: 0;
  padding: 2px 16px 4px;
  position: absolute;
  top: 10px;
}
.config-step .blue {
background: #0da8e5;
}
.config-step .blue::after {
border-color: #0da8e5 transparent #0da8e5 #0da8e5;
}
.config-step .flag::after {
border-style: solid;
border-width: 17px;
content: "";
left: 100%;
position: absolute;
top: 0;
}
.step-ribbon {
height: 36px;
background-color: #333;
position: relative;
top: -10px;
left: -40px;
color: #FFF;
padding: 7px 20px;
}

.orange-step-ribbon {
background-color: #fea700;
}
.config-step {
background-color: #F5F5F5;
border: 1px solid #C3C3C3;
padding: 20px;
padding-left: 40px;
padding-right: 40px;
background: #eae9e9;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,#eae9e9 0%,#fcfcfc 50%,#eae9e9 100%);
background: -webkit-gradient(linear,left top,right top,color-stop(0%,#eae9e9),color-stop(50%,#fcfcfc),color-stop(100%,#eae9e9));
background: -webkit-linear-gradient(left,#eae9e9 0%,#fcfcfc 50%,#eae9e9 100%);
background: -o-linear-gradient(left,#eae9e9 0%,#fcfcfc 50%,#eae9e9 100%);
background: -ms-linear-gradient(left,#eae9e9 0%,#fcfcfc 50%,#eae9e9 100%);
background: linear-gradient(to right,#eae9e9 0%,#fcfcfc 50%,#eae9e9 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae9e9',endColorstr='#eae9e9',GradientType=1);
}

.config-step h2 {
font-weight: 100;
font-size: 36px;
margin-top: 40px;
margin-bottom: 15px;
margin-left: 15px;
}
}