
.config-step {
  font-family: "Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
}
.config-step .step-title {
font-size: 36px;
margin-top: 40px;
margin-bottom: 15px;
margin-left: 15px;
font-weight: 100;
line-height: 1.1;
color: #333;
}

.bold{
  font-weight: 600;
}

.product-options li {
  border-bottom: 1px solid #C3C3C3;
  padding-bottom: 25px;
  padding-top: 10px;
}
.product-options li:last-child{
  border-bottom:none;
}
.config-step{
  display: none;
}
.green-check {
  background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/lp_sprite-v2.png) no-repeat -48px -90px transparent;
  width: 34px;
  height: 27px;
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px 0;
  position: relative;
}
.disclaimers-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-options {
list-style: none;
}

@media (max-width: 600px) { 
    .text-xs-right {
      text-align: right;
    }
    .text-md-right{
      text-align: inherit;
    }
}
.product-added-to-cart-text{
  position: relative;
  left:10px;
  font-size: 30px;
}

.product-added-to-cart{
  padding:0 10px;
  float:left;
  color:#679B08;
  position: relative;
  margin-bottom: 15px;
}
.hidden_div{
  display: none;
}
input[type=radio]:checked + label {
  color: #579006;
}