
.config-step {
  font-family: "Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
}
.config-step .step-title {
font-size: 36px;
margin-top: 40px;
margin-bottom: 15px;
margin-left: 15px;
font-weight: 100;
line-height: 1.1;
color: #333;
}
.config-step .step-subtitle {
margin-left: 15px;
}
.config-text-primary {
  font-size: 30px;
  font-weight: 200;
}
.config-text-secondary {
  font-size: 24px;
}
.config-text-lead {
  font-size: 16px;
}
.bold{
  font-weight: 600;
}
.config-text-lead-secondary {
  font-size: 14px;

}
.product-options li {
  border-bottom: 1px solid #C3C3C3;
  padding-bottom: 25px;
  padding-top: 10px;
}
.product-options li:last-child{
  border-bottom:none;
}
.config-step{
  display: none;
}
.green-check {
  background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/lp_sprite-v2.png) no-repeat -48px -90px transparent;
  width: 34px;
  height: 27px;
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px 0;
  position: relative;
}
.disclaimers-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-options {
list-style: none;
}
.vertical-align {
    display: flex;
    align-items: center;
}   
.product-radio {
  margin-top :10px; 
  background: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/lp_sprite-v1.png') no-repeat -158px -9px;
  width: 35px;
  height: 35px;
}
@media (max-width: 1024px) { 
    .vertical-align {
        display: block;
        align-items: inherit;
    }
    .text-md-right{
      text-align: right;
    }
    .config-text-primary {
      font-size: 20px;
    }
    .config-text-secondary {
      font-size: 14px;
    }
    .config-text-lead {
      font-size: 16px;
    }
    .config-text-save {
      font-size: 14px;
    }
    .config-text-disclaimer {
      font-size: 14px;
    }
    .product-radio {
      margin-top :0;
    } 
    .item-price{
      border-bottom: 1px solid #EBEBEB;
    }
}
@media (max-width: 428px) { 
    .text-xs-right {
      text-align: right;
    }
    .text-md-right{
      text-align: inherit;
    }
    .item-price{
      border-bottom: none;
    }
}
.product-added-to-cart-text{
  position: relative;
  left:10px;
  font-size: 30px;
}

.product-added-to-cart{
  padding:0 10px;
  float:left;
  color:#679B08;
  position: relative;
  margin-bottom: 15px;
}
.order-item-details-wrapper .toprow {
  margin-top: 15px;
}
.item-title-wrapper{
  border-bottom: 1px solid #333;
}
.item-title{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.item-term,.item-x,.item-price,.item-total-price{
  margin-top: 5px;
}
.item-total-price{
  text-align: right;
}
.item-savings-wrapper{
  text-transform: uppercase;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}
.selected-radio{
  background: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/lp_sprite-v1.png') no-repeat -121px -7px;
  width: 36px;
  height: 36px;
}