---
location: sales/careers/locations
id: 54b41728f778fc2aa474479a
name: GCE-25607
comments: Change map and addresses
assetPath: false
---
{% extends 'layouts/base.html' %}

{% block metahead %}
  {% parent %}
    <link href="[@T[link:<cssroot />]@T]fos/201401/careers/css/career_main.min.css?version=5" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
        <section class="career-locations godaddy-careers">
  <!-- Start main-banner -->
  <section class="main-banner main-banner-lm no-padding-top ">
  <nav class="career-navigation">
  <ul>
    <li class="overview"><a href="[@T[link:<relative path="~/careers/overview" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationHome]@L]</a></li>
    <li class="culture"><a href="[@T[link:<relative path="~/careers/culture" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationCulture]@L]</a></li>
    <li class="benefits"><a href="[@T[link:<relative path="~/careers/benefits" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationBenefits]@L]</a></li>
    <li class="locations"><a href="[@T[link:<relative path="~/careers/locations" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationLocations]@L]</a></li>
    <li class="interns"><a href="[@T[link:<relative path="~/careers/interns" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationInterns]@L]</a></li>
    <li class="work"><a href="[@T[link:<relative path="~/careers/work" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationWork]@L]</a></li>
    <li class="opportunities"><a href="[@T[link:<relative path="~/careers/opportunities" />]@T]">[@L[cds.sales/gd/careers/locations:CareerNavigationopportunities]@L]</a></li>
  </ul>
</nav>
  <div class="l-main-container container main-banner-content main-banner-content-lm">
    <div class="content-wrapper row">
      <div class="col-xs-7">
        <h1 class="main-banner-title alternate">[@L[cds.sales/gd/careers//locations:MainBannerTitle]@L]</h1>
        <p class="main-banner-subtitle alternate">[@L[cds.sales/gd/careers//locations:MainBannerSubtitle]@L]</p>
        <div class="separator-container"><div class="separator separator-big separator-alternate"></div></div>
      </div>
    </div>
  </div>
  <div class="map_locations"/>
</section>
  <!-- End main-banner -->

  <!-- Start location-list -->
  <section class="location-list row">
  <dl class="container">
    <div class="col-xs-3">
      <div class="place">
        <dt>Seattle, WA</dt>
        <dd>Kirkland <br/>5200 Carillon Point<br/>Building 5000, Main Floor<br/>Kirkland, WA 98033</dd>
      </div>
      <div class="place">
        <dt>San Francisco, CA</dt>
        <dd>Locu<br/>560 Sutter St.<br/>Suite #300<br/>San Francisco, CA 94102</dd>
      </div>
      <div class="place">
        <dt>Sunnyvale, CA</dt>
        <dd>Moffet Towers<br/>1020 Enterprise way<br/>Bldg B, suite 300<br/>Sunnyvale, CA 94089</dd>
      </div>
      <div class="place">
        <dt>Culver City, CA</dt>
        <dd>Media Temple<br/>8520 National Blvd<br/>Culver City, CA 90232</dd>
      </div>
    </div>
    <div class="col-xs-3 second-column ">
      <div class="place">
        <dt>Los Angeles, CA</dt>
        <dd class="no-margin-bottom">600 W 7TH ST<br/>Los Angeles, CA 90017</dd>
      </div>
      <div class="place">
        <dt>Arizona Locations</dt>
        <dd class="address-bottom-spacer">Gilbert<br/>2299 W. Obispo Ave.<br/>Suite #201<br/>Gilbert, AZ 85233</dd>
        <dd class="address-bottom-spacer">Scottsdale<br/>14455 N. Hayden Rd. #219<br/>Scottsdale, AZ 85260</dd>
        <dd>New Tempe<br/>2150 E. Warner<br/>Tempe, AZ 85284</dd>
      </div>
      <div class="place">
        <dt>Iowa</dt>
        <dd>1 Parsons Drive<br/>Hiawatha, IA 52233<br/>Office: 602-817-7699</dd>       
      </div>  
    </div>
    <div class="col-xs-3">
      <div class="place">
        <dt>Washington DC</dt>
        <dd>Suite 585<br/>400 N. Capitol Street, N.W.<br/>Washington, DC 20001</dd>      
      </div>
      <div class="place">
        <dt>Cambridge, MA</dt>
        <dd>11th Floor<br/>1 Main St.<br/>Cambridge, MA 02142</dd>
      </div>
      <div class="place">
        <dt>Belfast</dt>
        <dd>Concentrix - Belfast<br/>3rd Floor, 9 Lanyon Place<br/>Belfast<br/>County Antrim<br/>Northern Ireland<br/>BT1 3LP</dd>
      </div>
      <div class="place">
        <dt>Amsterdam</dt>
        <dd>H.J.E. Wenckebachweg 127<br/>1096 AM Amsterdam<br/>The Netherlands</dd>
      </div>
    </div> 
    <div class="col-xs-4">
      <div class="place">
        <dt>India</dt>
        <dd>003, Tower 4A dlf Corporate Park<br/>Mehrauli Gurgaon Rd<br/>Gurgaon, 122002</dd>
      </div>
      <div class="place">
        <dt>Singapore</dt>
        <dd>15 Pioneer Walk, Pioneer Hub<br/>#03-03<br/>Singapore 627753<br/>Singapore</dd>
      </div>
    </div>   
  </dl>
</section>
  <!-- End location-list -->

  <!-- Start awards-carousel -->
  <section class="awards">
  <h3>[@L[cds.sales/gd/careers/locations:AwardsCarouselTitle]@L]</h3>
  <div class="separator separator-title separator-alternate"></div>
  <section>
    <div class="container">
      <div class="wrapper">
        <ul class="row slidethis" data-slidethis="id|awards,animate|true,delay|20,speed|300">
          <li class="award">
            <i class="career-ico career-ico-award-best-places-work"></i>
            <div>
              <h4>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem1Title]@L]</h4>
              <p>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem1Content]@L]</p>
            </div>
          </li>
          <li class="award">
            <i class="career-ico career-ico-award-deloitte"></i>
            <div>
              <h4>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem2Title]@L]</h4>
              <p>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem2Content]@L]</p>
            </div>
          </li>
          <li class="award">
            <i class="career-ico career-ico-award-ace"></i>
            <div>
              <h4>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem3Title]@L]</h4>
              <p>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem3Content]@L]</p>
            </div>
          </li>
          <li class="award">
            <i class="career-ico career-ico-award-best-places-work"></i>
            <div>
              <h4>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem4Title]@L]</h4>
              <p>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem4Content]@L]</p>
            </div>
          </li>
          <li class="award">
            <i class="career-ico career-ico-award-deloitte"></i>
            <div>
              <h4>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem5Title]@L]</h4>
              <p>[@L[cds.sales/gd/careers/locations:AwardsCarouselItem5Content]@L]</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Indicators -->
      <a href="javascript:void(0);" class="left ico ico-carousel-arrow-left slidethis-prev" data-slidethis="id|awards"></a>
      <a href="javascript:void(0);" class="right ico ico-carousel-arrow-right slidethis-next" data-slidethis="id|awards"></a>
    </div>
  </section>
</section>
  <!-- End awards-carousel -->

  <!-- Start more-jobs-section -->
  <section class="more-jobs">
  <div class="container">
    <h2>[@L[cds.sales/gd/careers/locations:MoreJobsTitle]@L]</h2>
    <p class="subtitle">[@L[cds.sales/gd/careers/locations:MoreJobsSubtitle]@L]</p>
    <div class="row">
      <div class="col-xs-4">
        <div class="column icon">
          <i class="career-ico career-ico-customer-care"></i>
        </div>
        <div class="column">
          <h3>[@L[cds.sales/gd/careers/locations:MoreJobsWork1Title]@L]</h3>
          <p>[@L[cds.sales/gd/careers/locations:MoreJobsWork1Content]@L]</p>
          <a href="[@T[link:<relative path="~/careers/work" />]@T]#work-customer-care">[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="column icon">
          <i class="career-ico career-ico-technical"></i>
        </div>
        <div class="column">
          <h3>[@L[cds.sales/gd/careers/locations:MoreJobsWork2Title]@L]</h3>
          <p>[@L[cds.sales/gd/careers/locations:MoreJobsWork2Content]@L]</p>
          <a href="[@T[link:<relative path="~/careers/work" />]@T]#work-technical">[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="column icon">
          <i class="career-ico career-ico-corporate"></i>
        </div>
        <div class="column">
          <h3>[@L[cds.sales/gd/careers/locations:MoreJobsWork3Title]@L]</h3>
          <p>[@L[cds.sales/gd/careers/locations:MoreJobsWork3Content]@L]</p>
          <a href="[@T[link:<relative path="~/careers/work" />]@T]#work-corporate">[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]</a>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- End more-jobs-section -->
</section>

{% endblock %}

{% block footer %} 
        <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/vendor/jquery.slidethis/jquery-slide-this.min.js" type="text/javascript"></script>

{% endblock %}