.item-wrapper { padding: 70px 0 20px; }

.carousel-wrap { padding-bottom: 70px; }

@media only screen and (min-width: 768px){
  .carousel-container .carousel {
    padding: 0 120px;
  }
}

.carousel {
  position: relative;
  padding: 0 0 45px 0;
}

.carousel-container .carousel .carousel-indicators {
  bottom: -60px;
}

@media screen and (min-width: 768px){
  .carousel-indicators {
    bottom: -5px;
  }
}
.carousel-indicators {
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 15;
  width: 80%;
  margin-left: -40%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.carousel-container .carousel .carousel-indicators li.active {
  background-color: #77c043;
}

.carousel-container .carousel .carousel-indicators li.active {
  background-color: #77c043;
}
.carousel-container .carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 5px;
  background-color: #d9d9d9;
}
.carousel-indicators .active {
  background-color: #008a32;
}
.carousel-indicators li {
  display: inline-block;
  width: 32px;
  height: 10px;
  margin: 8px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #d9d9d9;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .active {
  
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
  display: block;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  overflow: hidden;
}
.carousel-container .carousel-panel, .carousel-container .testimonial {
  padding: 0;
}
.carousel-panel .img-center {
  margin: 50px auto;
}
.carousel-panel .carousel-panel-text {
  margin-bottom: 25px;
}
.carousel-panel h2 {
  margin-top: 0px;
}

.carousel-container .carousel-control.left {
  left: 0px;
}
.carousel-control {
  position: absolute;
  top: -11%;
  bottom: 0;
  color: #999999;
  text-align: center;
}
.carousel-icon.arrow-left-icon {
  background-position: 0 0;
  width: 51px;
  height: 50px;
}

.carousel-control .uxicon-chevron-left-lt, .carousel-control .arrow-left-icon, .carousel-control .arrow-left-white-icon {
  left: 50%;
}
.carousel-control .arrow-left-white-icon, .carousel-control .arrow-right-white-icon, .carousel-control .arrow-left-icon, .carousel-control .arrow-right-icon {
  position: absolute;
  top: 50%;
}
.carousel-icon {
  background-image: url('[@T[link:<imageroot />]@T]/fos/hp/sahara-rebrand-sprite-20141114.png');
  display: inline-block;
  background-size: 205px auto;
}
.carousel-container .carousel-control.right {
  right: 0px;
}
.carousel-icon.arrow-right-icon {
  background-position: 0 -52px;
  width: 51px;
  height: 50px;
}
.carousel-control .arrow-left-white-icon, .carousel-control .arrow-right-white-icon, .carousel-control .arrow-left-icon, .carousel-control .arrow-right-icon {
  position: absolute;
  top: 50%;
}

.carousel {
    position: relative;
    padding: 0 0 45px 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: left 0.6s ease-in-out;
    -moz-transition: left 0.6s ease-in-out;
    transition: left 0.6s ease-in-out;
    overflow: hidden;
}

.carousel-inner > .item.show-item {
    display: block;
}

.carousel-inner > .item > h1,
.carousel-inner > .item > h2,
.carousel-inner > .item > h3,
.carousel-inner > .item > h4,
.carousel-inner > .item > h5,
.carousel-inner > .item > h6 {
    margin-top: 0;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-text-item {
    margin-bottom: 20px;
}

.carousel-text-item h1 {
    font-size: 14px;
    display: inline;
    margin: 0;
    font-weight: bold;
    font-weight: 600;
}

.carousel-control {
    position: absolute;
    top: -11%;
    bottom: 0;
    color: #999999;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .carousel-control {
        top: -6%;
    }
}

.carousel-control:hover,
.carousel-control:focus {
    outline: none;
    color: #000;
    text-decoration: none;
}

.carousel-control .uxicon-chevron-left-lt,
.carousel-control .uxicon-chevron-right-lt {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-top: -15px;
}

.carousel-control .arrow-left-white-icon,
.carousel-control .arrow-right-white-icon,
.carousel-control .arrow-left-icon,
.carousel-control .arrow-right-icon {
    position: absolute;
    top: 50%;
}

.carousel-control .uxicon-chevron-left-lt,
.carousel-control .arrow-left-icon {
    left: 50%;
}

.carousel-control .uxicon-chevron-right-lt,
.carousel-control .arrow-right-icon {
    right: 50%;
}

.carousel-control.left {
    left: -40px;
}
@media only screen and (max-width: 768px){
  .carousel-container .carousel-control {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
    .carousel-control.left {
        left: -10px;
    }
}

.carousel-control.right {
    right: -40px;
}

@media only screen and (max-width: 768px) {
    .carousel-control.right {
        right: -10px;
    }
}

.carousel-indicators {
    position: absolute;
    bottom: -5px;
    left: 50%;
    z-index: 15;
    width: 80%;
    margin-left: -40%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.carousel-indicators li {
    display: inline-block;
    width: 32px;
    height: 10px;
    margin: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #d9d9d9;
}

.carousel-indicators .active {
    background-color: #008a32;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: -5px;
    }
}
.carousel-panel .include-check {
position: relative;
padding-left: 45px;
margin-top: 20px;
}
.carousel-panel .include-check:before {
content: "";
background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
background-position: 0 -668px;
background-size: 205px auto;
width: 25px;
height: 27px;
padding-right: 5px;
position: absolute;
left: 0;
top: -6px;
}