extends ../_banner-small.jade

block append vars
  - dataCi = 96974;
  - containerClass = "banner-small-tld-co";
  - logoImage = "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/tld-co.png";
  - logoImageFallback = '';
  - titleText = "";
  - bodyText = "[@L[cds.tmsv2/content/homepage/tld-co/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/tld-co/banner-small:cta]@L]";
  - ctaLink = "[@T[link:<relative path='/tlds/co-domain.aspx'><param name='ci' value='96974' /></relative>]@T]";