extend ../../../../sales/homepage/_merch-tile_base.jade

append vars
  - ctaLink = "[@T[link:<relative path='/tlds/co-domain.aspx'><param name='ci' value='96974' /></relative>]@T]";
  - ctaText = "Starting at [@T[productprice:<current productid='56401' period='yearly' checktmspromocode='true' />]@T]/yr";
  - dataCi = 96974;
  - containerClass = "co-tertiary-tile";
  - logoImage = "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/tld-co.png";
  - logoImageFallback = '';
  - promoText = "PERFECT FOR YOUR COMPANY, CORPORATION OR COMMUNITY.";
  - ctaTextContainsPercent = false;
  - logoText = false;

block tileStyles
  style.
    .co-tertiary-tile .tile-content-wrapper{padding:20px 15px;color:#333333}
    .co-tertiary-tile .promo-logo{width:70%}
    .co-tertiary-tile .promo-text{padding-top:10px;}
    .co-tertiary-tile .promo-cta{position:absolute;bottom:5px}
    .co-tertiary-tile a{text-decoration:underline;color:#f2812e}