---
location: sales/products/business-marketing.aspx.rule
id: 53fbae13f778fc1188ab2102
name: GCE-24906
---
[
  {
    'Type': 'Redirect',
    'Condition': 'mobileRedirectRequired()',
    'Data': "{ 'Type' : '302', 'Loc': '[@T[mobileRedirectLink:<data redirectKey=\"sales.productlanding.ssl\" />]@T]' }"
  },
  {
    'Type': 'Redirect',
    'Condition': 'siteContextAny(br, pl)',
    'Data': "{ 'Type' : '301', 'Loc': '[@T[link:<relative path=\"~/ssl/ssl-certificate.aspx\"><param name=\"ci\" value=\"83725\"/></relative>]@T]' }"
  },
  {
    'Type': 'Redirect',
    'Condition': 'siteContextAny(wwd)',
    'Data': "{ 'Type' : '302', 'Loc': '[@T[link:<relative path=\"~/\" />]@T]' }"
  }
]