
.reasons-grid-column {
margin-left: auto;
margin-right: auto;
width: 1000px;
padding-left: 50px;
}

.reasons-columns>.col-xs-4:first-child {
max-width: 302px;
border-right: 1px solid #333333
}

.reasons-middle-column{
	border-right: 1px solid #333333
}
.reasons-first-column {
	padding-left: 40px;
}

.reasons-columns>.col-xs-4 {
max-width: 302px;
text-align: center;
padding: 0 1.42857143em;
}
.superior-column {
	border-right: 1px solid #333333;
}
.tab-content-footer>.col-xs-6:first-child{
	padding-right: 15px;
}

.main-banner-content {
padding-bottom: 5.071428571em;
padding-top: 7.285714286em;
}
.banner-content {
padding-bottom: 1.9em;
padding-top: 1.9em;
}
.last-content{
padding-bottom: 3.9em;
padding-top: 1.9em;
}
.button-content{
padding-bottom: 1.9em;
padding-top: 2.9em;
}
.alternate-container{
	background: #F0F0F0;
}
.white-container{
	background: #FFFFFF;
}
.title-text {
	font-family: "Helvetica Neue Thin", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 48px;
}
.hnb-48-thin {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 48px;
	color: #333333;
	font-weight: 100;
	line-height: 1.2;
	margin-bottom: 20px;
}
.hnb-16-reg {
	font-family: "Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 16px;
	color: #333333;
}
.main-banner-subtitle{
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.subtitle-text {
	font-family: "Helvetica Neue Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 16px;
	line-height: 27px;
}
.header-text2 {
font-family: "Helvetica Neue Bold",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight: 700;
color: #333333;
font-size: 24px;
width: 925px;
margin-left: auto;
margin-right: auto;
}
.header-text {
font-family: "Helvetica Neue Bold",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight: 700;
color: #333333;
font-size: 24px;
}
.mini-subtitle-text {
	font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #333333;
	font-size: 18px;
}
.tagline-text{
	font-family: "Helvetica Neue Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 18px;
}
.ssl-title{
	max-width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.breakout-text {
	font-family: "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #FFFFFF;
	font-size: 24px;
}
.content-text{
	font-family: "Helvetica Neue Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 16px;	
	text-align: left;
}

.center-title {
	text-align: center;
}
.banner{
	min-width: 1000px;
}
.l-main-container {
width: 1100px;
}
html[lang='en'] .at-glance {
  width: 380px;
}
.secure-icon {
	background: no-repeat -11px -65px;
	width: 98px;
	height: 108px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top:20px;
}
.reliable-icon {
	background: no-repeat -114px -97px;
	width: 117px;
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;

}
.blazing-icon {
	background: no-repeat -237px -50px;
	width: 81px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.swh-icon {
	background: no-repeat -324px -6px;
	width: 189px;
	height: 169px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.servers-icon {
	background: no-repeat -10px -193px;
	width: 96px;
	height: 161px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 40px;
	margin-bottom: 40px;
}
.ssl-icon {
	background: no-repeat -111px -201px;
	width: 125px;
	height: 152px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.chart-icon {
	background: no-repeat -255px -192px;
	width: 285px;
	height: 276px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}

.check-icon {
	background: url('../img/hosting-category-sprite.png') no-repeat -188px -53px;
	width: 16px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.left-icon {
	background: url('../img/hosting-category-sprite.png') no-repeat -1px -1px;
	width: 18px;
	height: 34px;
}
.right-icon {
	background: url('../img/hosting-category-sprite.png') no-repeat -23px -1px;
	width: 19px;
	height: 35px;
}
/*
.left-button{
	text-align: left;
}
*/
.button-text{
	color: #ffffff;
	margin-bottom: 0;
}
.button-text-bottom{
	font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 24px;
}
/*
.right-button {
	text-align: right;
	display: inline-block;
}
*/
.breakout-picture{
	background: no-repeat;
	background-size: cover;
}
.breakout{
	padding-top:5em;
}
.content-right {
	padding-left: 2em;
	padding-right: 2em;
}
.content-left {
	padding-right: 2em;
}
.hosting-list{
	list-style: none;
}
.hosting-list li{
	margin-bottom:30px;
}
.server-list{
	list-style: none;
}
.server-list li{
	display: inline-block;
	margin-bottom:30px;
}
.check-container{
	float: left;
	width: 15px;
	margin-right: 10px;
}
.list-container{
	float: right;
	width: 361px;
}

.hnb-24-cond-bold-white {
	font-family: HelveticaNeue-CondensedBold,"Helvetica Neue","Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
}

.button-section {
	width: 900px;
	padding-bottom: 1.9em;
	padding-top: 2.9em;
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	display: block;
}

.button-container {
	width: 900px;
}

.left-button {
	text-align: left;
	padding-left: 0;
}

.left-button-text {
	text-align: left;
	margin-bottom: 0;
}

.left-button-arrow-container {
	margin-left: 10px;
	margin-top: 0;
}

.left-button-div {
	padding-right: 40px;
}

.right-button-div {
	padding-left: 40px;
}

.right-button {
	text-align: right;
	display: inline-block;
	margin-top: 5px;
	padding-right: 4px;
	padding-left: 40px;
	width: 417px;
}

.right-button-text {
	margin-bottom: 0;
}

.right-button-arrow-container {
	padding-left: 20px;
	padding-right: 5px;
	margin: 0;
}

.right-button-text-container {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;	
	width: 315px;
}

.center-tabs {
	margin-right: auto;
	margin-left: auto;
}

.restrictions-link {
  font-size: 0.8em;
}