extends ../_hero-arrow.jade

append vars
  - var classes = "office365-1";
  - var ciCode = 91192;
  - var ctaLink = "[@T[link:<external linktype='MYAURL' path='/default.aspx'><param name='accid' value='43' /><param name='ci' value='93636' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-md.black.text-white WORK ANYTIME, ANYWHERE.
  p.font-lg.black.text-white SET UP YOUR EMAIL
  p.font-lg.black.text-white IN JUST ONE STEP.
  p.font-md.black.text-white EASY, PEASY.

block rightContent
  p.font-lg.black ACTIVATE
  p.font-md.black OFFICE 365 EMAIL
  a.btn.btn-md.btn-purchase START NOW