---
location: sales/hosting/private-label/dedicated-server.aspx
id: 55108587f778fc0ec0b66ef4
name: GCE-36425
comments: Word updates
url: http://www.dev-secureserver.net/hosting/dedicated-server.aspx
assetPath: true
---
{% extends 'layouts/pl-base.html' %}

{% block metahead %}

{% parent %}

{% endblock %}

{% block body %}
<!-- Start main-banner -->

<section class="main-banner main-banner-wp" style="background-size:cover;">

  <div class="ds-main-banner">
    <div class="hdrHeader g-rnd-10">
      <div class="hdrUptime">
        <div class="hdrUptimePct">99.9%</div>
        <div class="hdrUptimeText">UPTIME GUARANTEE<br>on network</div>
      </div>
      <div class="hdrBanHeadline">Choose the OS that's right for you!</div>

      <table class="headerTable">
        <tbody>
          <tr>
            <td class="hdrHeadline">Dedicated Servers</td>
          </tr>
          <tr>
            <td class="">
              <div class="hdrSubLine">Resources ready in minutes, flexible plans designed to grow, and your choice of Management Levels, all on your VPS. For questions and to get started, call <b>(480) 624-2500</b>.</div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="floatend"> </div>
      <div class="hdrBottomBtns">
        <div class="floatend">&nbsp;</div>
      </div>
    </div>
    <div class="floatend">&nbsp;</div>
    <!-- <div class="dsHeader">Dedicated servers - all to yourself and under your command.</div> -->
<!--       <div style="font-size:12px; margin:0px 50px 20px 10px;">

      Our dedicated server plans feature lightning-fast processors, up to 32 GB of RAM, 20 TB of bandwidth, and Intel Core i3/i5/i7 processors,
      all backed by the best service and support in the industry. With our team of experts, you don't have to worry about setup — we'll get your server
      up and running fast! Choose the plan that's right for you, then customize it to meet your unique needs with even more bandwidth, control panel options, backup plans, firewall protection and more.
      Questions? Call <b>(480) 624-2500</b> to get started now.

    </div> -->

    <h3 class="center-text">Choose from Linux or Windows</h3>

    <div class="switch-os switch-toggle">
      <input id="linux" name="os" type="radio" checked="checked">
      <label for="linux" onclick="">Linux</label>

      <input id="windows" name="os" type="radio">
      <label for="windows" onclick="">Windows</label>

      <a></a>
    </div>
    <input type="hidden" id="osaddon">

    <div id="storage-template">
      Storage: <strong>{0}</strong>
      <div class="g-toolTip sf-tipper-target">
        <span class="g-toolTip-right-tip">Disk space includes operating system files, which can be close to 1GB in a CentOD/Fedora server or 24GB on a Windows server. Please take that into consideration when choosing a server size that best fits your needs.</span>
      </div>
    </div>
    <div id="bandwidth-template">
      Bandwidth: <strong>{0}</strong>/mo 
    </div>

    <div class="row plan-tiles">

      <!-- 1 -->   
      <div class="plan brpl-plan set-active-col">
        <div id="t1" class="inner-grid-container">
          <div class="top-plan-info active-column">
            <h2 class="ram"></h2>
            <p class="brpl-price-mo">Managed plans starting at <br><span class="brpl-price"></span><span class="slash-month">/mo</span></p>
          </div>
          <div class="bottom-plan-info">
            <p>
              <button id="cart-button-0" type="button" data-plan="" class="btn js-addtocart-btn btn--push-down btn-default add-to-cart-btn plan-box-button">Configure</button>
            </p>
            <p class="storage list-item"></p>
            <p class="bandwidth list-item"></p>
          </div>
        </div>
      </div>

      <!-- 2 -->   
      <div class="plan brpl-plan set-active-col">
        <div id="t2" class="inner-grid-container">
          <div class="top-plan-info active-column">
            <h2 class="ram"></h2>
            <p class="brpl-price-mo">Managed plans starting at <br><span class="brpl-price"></span><span class="slash-month">/mo</span></p>
          </div>
          <div class="bottom-plan-info">
            <p>
              <button id="cart-button-1" type="button" data-plan="" class="btn js-addtocart-btn btn--push-down btn-default add-to-cart-btn plan-box-button">Configure</button>
            </p>
            <p class="storage list-item"></p>
            <p class="bandwidth list-item"></p>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="plan brpl-plan set-active-col">
        <div id="t3" class="inner-grid-container">
          <div class="top-plan-info active-column">
            <h2 class="ram"></h2>
            <p class="brpl-price-mo">Managed plans starting at <br><span class="brpl-price"></span><span class="slash-month">/mo</span></p>
          </div>
          <div class="bottom-plan-info">
            <p>
              <button id="cart-button-2" type="button" data-plan="" class="btn js-addtocart-btn btn--push-down btn-default add-to-cart-btn plan-box-button">Configure</button>
            </p>
            <p class="storage list-item"></p>
            <p class="bandwidth list-item"></p>
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div class="plan brpl-plan set-active-col">
        <div id="t4" class="inner-grid-container">
          <div class="top-plan-info active-column">
            <h2 class="ram"></h2>
            <p class="brpl-price-mo">Managed plans starting at <br><span class="brpl-price"></span><span class="slash-month">/mo</span></p>
          </div>
          <div class="bottom-plan-info">
            <p>
              <button id="cart-button-3" type="button" data-plan="" class="btn js-addtocart-btn btn--push-down btn-default add-to-cart-btn plan-box-button">Configure</button>
            </p>
            <p class="storage list-item"></p>
            <p class="bandwidth list-item"></p>
          </div>
        </div>
      </div>

      <!-- 5 -->
      <div class="plan brpl-plan set-active-col">
        <div id="t5" class="inner-grid-container">
          <div class="top-plan-info active-column">
            <h2 class="ram"></h2>
            <p class="brpl-price-mo">Managed plans starting at <br><span class="brpl-price"></span><span class="slash-month">/mo</span></p>
          </div>
          <div class="bottom-plan-info">
            <p>
              <button id="cart-button-4" type="button" data-plan="" class="btn js-addtocart-btn btn--push-down btn-default add-to-cart-btn plan-box-button">Configure</button>
            </p>
            <p class="storage list-item"></p>
            <p class="bandwidth list-item"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="width:1000px;text-align:center;">
    <div class="row">
      <div class="col-sm-12 text-center featuresHeader"><h2>All these features, all to yourself.</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center key-benefit cpanel-benefit">
        <div class="img1 key-benefits-img "></div>
        <h3 class="key-benefits-title">Feel at home with cPanel<sup>®</sup>.</h3>
        <div class="key-benefits-text">
          Hit the ground running with the
          industry-standard control panel
          you already know and love.
        </div>
      </div>
      <div class="col-sm-4 text-center key-benefit plesk-benefit">
        <div class="text1">Plesk<sup>&reg;</sup></div>
        <h3 class="key-benefits-title">Make it easy with<br/>Parallels Plesk.</h3>
        <div class="key-benefits-text">
          Manage your dedicated Windows servers with Parallels Plesk and discover admin skills you never knew you had.
        </div>
      </div>

      <div class="col-sm-4 text-center key-benefit">
        <div class="img2 key-benefits-img"></div>
        <h3 class="key-benefits-title">Build to grow with your clients.</h3>
        <div class="key-benefits-text">
          We take care of patching, security
          monitoring, backups and more so
          you can focus on your business.
        </div>
      </div>
      <div class="col-sm-4 text-center key-benefit">
        <div class="img3 key-benefits-img"></div>
        <h3 class="key-benefits-title">Think fast.</h3>
        <div class="key-benefits-text">
          Some places take hours to get your
          server online. We’ll have you up and
          running in minutes.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center key-benefit">
        <div class="img4 key-benefits-img"></div>
        <h3 class="key-benefits-title">Provisioning that's ready to go now.</h3>
        <div class="key-benefits-text">
          You’re in charge with root (administrative)
          access to install PHP, modules, server
          level proxy, and much more.
        </div>
      </div>
      <div class="col-sm-4 text-center key-benefit">
        <div class="img5 key-benefits-img"></div>
        <h3 class="key-benefits-title">Access that makes you feel like a VIP.</h3>
        <div class="key-benefits-text">
          Our servers are amped up and ready to
          go with the latest-gen Intel<sup>®</sup>
          processors.
        </div>
      </div>
      <div class="col-sm-4 text-center key-benefit">
        <div class="img6 key-benefits-img"></div>
        <h3 class="key-benefits-title">Keep your data looking good with disc mirroring</h3>
        <div class="key-benefits-text">
          We won’t put your success on
          hold. Upgrade your plan anytime
          without having to re-provision.
        </div>
      </div>
    </div>
  </div>

  <div class="compare-chart-pro" >  
    <div class="container" style="width:1000px;padding:0px;">
      <table>
        <thead>
          <tr>
            <th class="compare-chart-title"><div><h1>Levels of Management</h1></div></th>
            <th class="compare-chart-header">
              <div>
                <strong>Self-Managed</strong>
                <div class="g-toolTip sf-tipper-target">
                  <span class="g-toolTip-right-tip">You don’t need anyone’s help -- you’ve got this covered. When standing up new environments, you’d rather control your updates, if you make any at all. Our Self-Managed plans give you the freedom to flex your tech skills.</span>
                </div>
              </div>
            </th>
            <th class="compare-chart-header">
              <div><strong>Managed</strong>
                <div class="g-toolTip sf-tipper-target">
                  <span class="g-toolTip-right-tip">You just need simple backups and patching, updates you don’t have to think about and the power of cPanel. We include it all at no additional cost, giving you the tools to handle everything else.                            
                  </span>
                </div>
              </div>
            </th>
            <th class="compare-chart-header">
              <div><strong>Fully Managed</strong>
                <div class="g-toolTip sf-tipper-target">
                  <span class="g-toolTip-left-tip">You don’t have the time to be a SysAdmin. Our dedicated Advanced Hosting Support team can do that job for you, so you can focus on your clients.    
                  </span>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header">
              <div>OS Distributions</div>
            </td>
            <td class="compare-chart-entry">
              <div>CentOS 6, CentOS 7, Fedora, Ubuntu, Windows</div>
            </td>
            <td class="compare-chart-entry"><div>CentOS 6, Windows</div></td>
            <td class="compare-chart-entry"><div>CentOS 6, Windows</div></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Control Panel</div></td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>1-Click Application Installs</div></td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header">
              <div>
                Root Access
<!--                 <div class="g-toolTip sf-tipper-target">
                  <span class="g-toolTip-right-tip">For Managed &amp; Fully-Managed with Control Panel: Disabled with opt-in; Without Control Panel: Enabled    
                  </span>
                </div> -->
              </div>
            </td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header">
              <div>Auto Updates &amp; Patching
                <div class="g-toolTip sf-tipper-target">
                  <span class="g-toolTip-right-tip">Without Root: Auto Updates</span>
                </div>
              </div>
            </td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Migration</div></td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><div>Discounted</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Security</div></td>
            <td class="compare-chart-entry"><div>DDoS</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>SiteLock</div></td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><div>Unlimited number for websites.<br/>Includes CDN/WAF.</div></td>
            <td class="compare-chart-entry"><div>Unlimited number for websites.<br/>Includes CDN/WAF.</div></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Monitoring</div></td>
            <td class="compare-chart-entry"><div>Basic</div></td>
            <td class="compare-chart-entry"><div>Intermediate</div></td>
            <td class="compare-chart-entry"><div>Advanced</div></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Backups and Restores</div></td>
            <td class="compare-chart-entry"><div>&mdash;</div></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
            <td class="compare-chart-entry"><span class="pro-icon green-check-icon"></span></td>
          </tr>
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>IP Address</div></td>
            <td class="compare-chart-entry"><div>1</div></td>
            <td class="compare-chart-entry"><div>3</div></td>
            <td class="compare-chart-entry"><div>3</div></td>
          </tr>
          <!-- removed temporially until they want it added back in -->
          <!--
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Server Admin Services</div></td>
            <td class="compare-chart-entry"><div>$</div></td>
            <td class="compare-chart-entry"><div>$</div></td>
            <td class="compare-chart-entry"><div>Free</div></td>
          </tr>
          -->
          <tr class="compare-chart-row" style="">
            <td class="compare-chart-header"><div>Support</div></td>
            <td class="compare-chart-entry"><div>Standard</div></td>
            <td class="compare-chart-entry"><div>Standard</div></td>
            <td class="compare-chart-entry"><div>Dedicated Team with Unlimited Server Admin Services</div></td>
          </tr>
        </tbody>
      </table>
      <div class="compare-chart-footer"></div>
    </div>
  </div>

</section>

<!-- 
<section class="l-main-content">
  <div class="vps-faq l-main-container">
    <div class="row">
      <div class="col-xs-12">
        <div class="plan-summary-container brpl-all-plans-include" >

          <div class="footer-header-container">
            <div class="brpl-plan-include-header float-left">
              All Plans Include
            </div>
          </div>

          <div class="featuretab_bullet_div floatleft">
            <ul class="bullets">
              <li>World-class data centers</li>
              <li>Best-of-Breed routers, firewalls and servers</li>
              <li>FREE email addresses</li>
              <li>99.9% uptime guarantee</li>
            </ul>
          </div> 

          <div class="featuretab_bullet_div floatleft">
            <ul class="bullets" style="vertical-align: top;">
              <li>One-click install of free applications</li>
              <li>Unlimited Monthly Bandwidth</li>
              <li>Flexible, easy-to-use control panel with cPanel for Linux</li>
              <li>Unlimited File Transfer</li>
            </ul>
          </div>

          <div class="featuretab_bullet_div floatleft">  
            <ul class="bullets" style="vertical-align: top;">
              <li>1 GB storage MySQL linux databases</li>
              <li>NO hidden fees</li>
              <li>24/7 security monitoring and DDoS protection</li>
            </ul>
          </div>  

          <div class="floatleft featureTabLast">
            <strong> Need more power?</strong> Then get one of our <span class="blueText">Virtual Private</span> or <span class="blueText">Dedicated servers</span>
          </div>

        </div>

      </div>

    </div>
  </div>

</section>
-->

<!-- End main-banner -->

{% endblock %}

{% block footer %}

<script src="[@T[link:<javascriptroot />]@T]fos/script/atlantis_jquery14.min.js" type="text/javascript"></script>
<script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
<script src="[@T[link:<javascriptroot />]@T]fos/office365/js/currency-calc.v1.0.3.min.js" type="text/javascript"></script>
<script>
  if(typeof currencyCalc != "undefined"){
    currencyCalc.base = "[@T[currencyprice:<price usdamount="1000000000" dropdecimal="false" dropsymbol="false" htmlsymbol="false" negative="parenthesis" />]@T]";
  }
</script> 
<script type="text/javascript">

  $(document).ready(function() {
    getData(function(){
      hideCPanelWindows();
      getFirstPodPrice();
    });

    $('input:radio[name=os]').click(function() {
      getData(function(){
        hideCPanelWindows();
        getFirstPodPrice();
      });
    });


    $('.js-addtocart-btn').click(function() {
      var plan = $(this).data('plan');
      var osOption = $('#osaddon').val().split('_')[3];
      var itccode = osOption == 'linux' ? 'pro_DS_Linux' : 'pro_DS_Windows';

      var qty = 1;
      var addons = generateAddonsURL();
      var quantity = 1;
      var ci = 91041 

      var apiEndpoint = window.location.protocol+'//'+ window.location.host+'/api/package/add';
      apiEndpoint += "/" + itccode;
      apiEndpoint += "/" + ci;
      apiEndpoint += "/" + quantity;
      apiEndpoint += "/" + plan;
      apiEndpoint += window.location.search;

      $.ajax({
        type: 'POST',
        url: apiEndpoint,
        dataType: 'json',
        success: function(data) {
        if (data.Success) {
        var configUrl = '[@T[link:<relative path="hosting/dedicated-servers-config.aspx" parammode="common" />]@T]';
        configUrl = configUrl + '&plan=' + plan + '&planaddons=pro_ds_managed';
        window.location = configUrl;
        }
        },
        error: function() {
        if (console != undefined) {
        console.log('package api post failure');
        }
        success = false;
        }
      }); /* end $.ajax() */

    }); /* end $('.js-addtocart-btn').click() */

  }); /* end $(document).ready() */

  function getData(successCallback) {
    var url = '[@T[link:<relative path="~/api/package/config/dsprodata" />]@T]';
    $.getJSON(url, function(data) {
      if (data != 'fail') {
        processDSData(data);
        if($.isFunction(successCallback)){
          successCallback();
        }
      }
    });

  }

  function processDSData(data) {
    var os = $('input:radio[name=os]:checked').attr('id'),
      plans = data[os],
      storageTemplate = $('#storage-template').html(),
      bandwidthTemplate = $('#bandwidth-template').html();
    $("#osaddon").val(plans.t1.osaddon);
    $.each(plans, function(i, item) {
      var tier = $("#" + i + ""),
        addonPrice = currencyCalc.evaluate([item.osAddonPrice, "+", item.managedaddonprice]),
        storageHtml = storageTemplate.replace(/\{0\}/gi, item.plandetail.storage),
        bandwidthHtml = bandwidthTemplate.replace(/\{0\}/gi, item.plandetail.bandwidth);
      tier.find('.ram').text(item.plandetail.ram + ' RAM');
      tier.find('.brpl-price').text(currencyCalc.evaluate([item.productprice, "+", addonPrice]));
      tier.find('.storage').html(storageHtml);
      tier.find('.bandwidth').html(bandwidthHtml);
      tier.find('.js-addtocart-btn').attr('data-plan', item.id);
      tier.find('.storage.js-flip-left').find('.g-toolTip-right-tip')
        .removeClass('g-toolTip-right-tip')
        .addClass('g-toolTip-left-tip');
    });
  }

  function generateAddonsURL() {
    var addonURL = '';
    var osOption = $("#osaddon").val();
    addonURL += '?addons=' + osOption + "-1";
    addonURL += '|pro_ds_managed-1';
    return addonURL;
  }

  function getFirstPodPrice() {
    var firstPodPrice = $('.brpl-price').html();
    $('.first-pod-price').html(firstPodPrice);
  }

  function hideCPanelWindows() {
    if ($('#osaddon').val() == "pro_ds_os_windows") {
      $('.cpanel-benefit').hide();
      $('.plesk-benefit').show();
    } else {
      $('.cpanel-benefit').show();
      $('.plesk-benefit').hide();
    };
  }

</script>
{% endblock %}