---
location: sales/homepage/marquee/299com-in/default_template
id: false
name: GCE-34083-GDBowl
elementId: com299-in
---
extends ../../../layouts/homepage/marqueeLeftHeadline

append marqueeStyles
  style.
    #com299-in {background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/bg-hp-Marquee-India-Campaign-02.jpg) no-repeat top center;width:100%;min-width:1000px;height:400px;cursor:pointer;background-color:#333333;}
    .walsheim-black{font-family:'Walsheim-Black', 'Arial Black', sans-serif !important;}
    .walsheim-regular{font-family:'Walsheim-Regular', Arial, sans-serif;}
    .walsheim-med{font-family:'Walsheim-Medium', Arial, sans-serif;}

block marqueeLeftHeadlineStyles
  style.
    .com299-marquee-content{font-family:'Walsheim-Black';width:1000px;margin:0 auto;}
    .com299-text{width:420px;}
    .com299-pricing-text{width:250px;}
    .com299-pricing-text>span{line-height:1.1;}
    .com299-text>span{display:block;line-height:1.1;}
    .com299-headline{font-size:32px;color:#fff;}
    .com299-maintext{font-size:32px;color:#fff;}
    span.com299-subtext{font-size:50px;padding-top:30px;color:#77c043;display:inline-block;}
    .com299-marquee-content>.btn-wrap>.btn-warning{font-size:24px;padding:10px 25px 8px;color:#ffffff;}
    .com299-restrictions{font-size:11px;padding-top:15px;color:#ffffff;width:325px;display:block;}
    #com299-in .btn-wrap{padding-top:27px;}
    span.btn{font-size:22px;padding:13px 75px 10px;}


block leftColumn
  .com299-marquee.js-gdhpclick(data-url!='[@T[link:<relative path="/domains/domain-name-search.aspx"><param name="ci" value="94307" /></relative>]@T]')
    .com299-marquee-content
      .com299-text
        span.com299-headline.walsheim-black [@L[cds.sales/homepage/marquee/299com-in:com299-headline-offer]@L]
        span.com299-maintext.walsheim-black [@L[cds.sales/homepage/marquee/299com-in:com299-maintext-offer]@L]
        span.com299-subtext.tungsten [@L[cds.sales/homepage/marquee/299com-in:com299-subtext]@L]
        .btn-wrap
          span.btn.btn-warning.walsheim-med#com299-btn(data-ci="94307") [@L[cds.sales/homepage/marquee/299com-in:com299-btn]@L]
        .com299-restrictions.walsheim-med [@L[cds.sales/homepage/marquee/299com-in:com299-restrictions]@L]