---
location: sales/homepage/marquee/com-anniversary/default_template
id: false
name: GCEMO-700
elementId: com-anniversary
ctaLink: "[@T[link:<relative path='/domains/domain-name-search.aspx'><param name='ci' value='97078' /></relative>]@T]"
---
extends ../../../layouts/homepage/marqueeLeftHeadline

append marqueeStyles
  style
    :less
      #com-anniversary {width:100%;min-width:1000px;height:400px;cursor:pointer;background:#f3f3f4 url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/30_th_COM-002-old-layout-background.png) no-repeat top center;font-size:26px;color:#333;font-family:'Walsheim-Black', 'Arial Black', sans-serif;
        .left-column{padding-top:80px;width:380px;}
        .com-anniversary-text{margin-left:70px;}
        .com-anniversary-headline{line-height:1em;margin-bottom:20px;}
        .com-anniversary-price{font-size:48px;color:#ef6c0f;line-height:.8em;margin-bottom:30px;}
        a.btn{font-family:'Walsheim-Black', 'Arial Black', sans-serif;font-size:26px;font-family:'Walsheim-Medium', Arial, sans-serif;background-color:#ef6c0f;border-color:#c2580c;}
        a.btn:hover{border-color:#d05e0d;background-color:#f1751d;}
      }
      html[lang|="fi"] #com-anniversary{font-size:22px;}
      html[lang|="uk"] #com-anniversary a.btn{font-size:13px;}
      html[lang|="de"] #com-anniversary a.btn,html[lang|="it"] #com-anniversary a.btn{font-size:14px;}
      html[lang|="fr"] #com-anniversary a.btn, html[lang|="ru"] #com-anniversary a.btn{font-size:15px;}
      html[lang|="pl"] #com-anniversary a.btn,html[lang|="tr"] #com-anniversary a.btn{font-size:18px;}
      html[lang|="es"] #com-anniversary a.btn,html[lang|="pt"] #com-anniversary a.btn,html[lang|="sv"] #com-anniversary a.btn,html[lang|="el"] #com-anniversary a.btn,html[lang|="sv"] #com-anniversary a.btn{font-size:20px;}

block leftColumn
  .com-anniversary-text
    .com-anniversary-headline [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-headline]@L]
    .com-anniversary-offer [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-offer]@L]
    .com-anniversary-price [@T[productprice:<current productid="101" period="yearly" checktmspromocode="true" htmlsymbol="false" />]@T]
    a.com-anniversary-cta.btn.btn-warning [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-cta]@L]
