---
location: sales/homepage/marquee/com-anniversary/default_template
id: false
name: GCEMO-700
elementId: com-anniversary
ctaLink: "[@T[link:<relative path='/domains/domain-name-search.aspx'><param name='ci' value='95321' /></relative>]@T]"
---
extends ../../../layouts/homepage/marqueeLeftHeadline

append marqueeStyles
  style
    :less
      #com-anniversary {width:100%;min-width:1000px;height:400px;cursor:pointer;background:#f3f3f4 url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/30_th_COM-002-old-layout-background.png) no-repeat top center;font-size:26px;color:#333;font-family:'Walsheim-Black', 'Arial Black', sans-serif;
        .com-anniversary-text{margin-left:50px;}
        .com-anniversary-headline{line-height:1em;margin-bottom:20px;}
        .com-anniversary-price{font-size:48px;color:#f2812e;}
        a.btn{font-family:'Walsheim-Black', 'Arial Black', sans-serif;font-size:26px;font-family:'Walsheim-Medium', Arial, sans-serif;}
      }

block leftColumn
  .com-anniversary-text
    .com-anniversary-headline [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-headline]@L]
    .com-anniversary-offer [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-offer]@L]
    .com-anniversary-price [@T[productprice:<current productid="101" period="yearly" promocode="444888" htmlsymbol="false" />]@T]
    a.com-anniversary-cta.btn.btn-warning [@L[cds.sales/homepage/marquee/com-anniversary:com-anniversary-cta]@L]
