---
location: sales/homepage/marquee/domain-enough-passwords/default_template
id: false
name: GCE-25388
ctaLink: "[@T[link:<relative path='/domains/domain-transfer.aspx'><param name='ci' value='94096' /></relative>]@T]"
elementId: domain-enough-passwords
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block marqueeLeftHeadlineStyles
	style.
		#domain-enough-passwords {width:100%;min-width:1000px;height:400px;cursor:pointer;color: #fff;background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/domain-enough-passwords.png) no-repeat top center;}
		.orange-text {color:#ff8a00;}
		#domain-enough-passwords .left-column{padding-top: 60px;}
		#domain-enough-passwords .right-column{padding-top: 40px;}
block leftColumn
	.headline [@L[cds.sales/homepage/marquee/domain-enough-passwords:headline]@L]
block rightColumn
	.headline
		.bigtext
			.line.walsheim.orange-text [@L[cds.sales/homepage/marquee/domain-enough-passwords:free]@L]
			.line.tungsten [@L[cds.sales/homepage/marquee/domain-enough-passwords:one-year-extension]@L]
		a.btn.btn-warning.btn-lg.btn-cta(href!=ctaLink) [@L[cds.sales/homepage/marquee/domain-enough-passwords:cta-text]@L]
		.restrictions [@L[cds.sales/homepage/marquee/domain-enough-passwords:exclusions-apply]@L]
