---
location: sales/homepage/marquee/domain-enough-passwords/default_template
id: 5444c768f778fc1ba009a9cf
name: GCE-25388
ctaLink: "[@T[link:<relative path='/domains/domain-transfer.aspx'><param name='ci' value='94084' /></relative>]@T]"
elementId: domain-enough-passwords
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block leftColumn
	.headline [@L[cds.sales/homepage/marquee/domain-enough-passwords:headline]@L]
block rightColumn
	.headline
		.bigtext
			.line.walsheim(style="color:#ff8a00;") [@L[cds.sales/homepage/marquee/domain-enough-passwords:free]@L]
			.line.tungsten [@L[cds.sales/homepage/marquee/domain-enough-passwords:one-year-extension]@L]
		a.btn.btn-warning.btn-lg.btn-cta(href=ctaLink) [@L[cds.sales/homepage/marquee/domain-enough-passwords:cta-text]@L]
		.restrictions [@L[cds.sales/homepage/marquee/domain-enough-passwords:exclusions-apply]@L]
