---
location: sales/homepage/marquee/gtld/default_template
id: false
name: GCE-31162
ctaLink: "[@T[link:<relative path='/domains/search-new.aspx'><param name='ci' value='93448' /></relative>]@T]"
elementId: gtld
---
extends ../../../layouts/homepage/marquee
block marqueeStyles
	style.
		#gtld { background-color: #f47f00; cursor:pointer; }
		#gtld .left-column, #gtld .right-column { min-height: 400px; }
		#gtld .left-column { float:left; display: table; width: 520px; height: 400px; }
		#gtld .right-column { float: right; position: relative; width: 400px; }

		#gtld .left-column-container { vertical-align: middle; display: table-cell; color: #fff; }
		#gtld .headline { display: block; font-size:28px; line-height:28px; font-family: 'Walsheim-Black'; }
		#gtld .maintext { display: block; font-size:42px; line-height:42px; padding-top: 12px; font-family: 'Walsheim-Bold'; }
		#gtld .subtext { display: block; font-size:24px; line-height:24px; margin-top:10px; }
		#gtld .btn-cta { background-color: #000; margin-top: 30px; color: #fff; }
		#gtld .btn-cta:hover { background-color: #444; }

		#gtld .gtld-list { background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141024.png) -10px 0 no-repeat; margin: 0; position: absolute; bottom: 0; right: 0; width: 372px; height: 377px; box-sizing: border-box; padding: 47px 31px 0 31px; list-style: none; }
		#gtld .gtld-list-item { width:309px;height:54px;border-bottom:1px solid #e3e3e3; color: #000; clear: both; font-family: 'Walsheim-Bold'; }
		#gtld .gtld-list-item:hover { color: #f5811f; }
		#gtld .gtld-list-item a { text-decoration: none; color: inherit; display: block; height: 100%; }
		#gtld .gtld-list-item .gtld { font-size: 22px; display: inline-block; float: left; margin: 14px 10px 0 10px; }
		#gtld .gtld-list-item .price-container { color: #ff8a00; font-size: 20px; display: table; float: right; text-align: right; height: 100%; }
		#gtld .gtld-list-item .price { display: table-cell; vertical-align: middle; line-height: 1; }  
		#gtld .gtld-list-item .price strike, #gtld .gtld-list-item .price nostrike { display: block; color: #333; }
		#gtld .gtld-list-item .arrow { background: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20141024.png) scroll -392px -10px no-repeat; width: 8px; height: 35px; display: inline-block; float: right; margin: 10px; }

		html[lang|="en"] #gtld .headline { display: block; font-size:28px; line-height:28px; font-family: 'Walsheim-Black'; }
		html[lang|="en"] #gtld .maintext { display: block; font-size:67px; line-height:54px; padding-top: 0; font-family: Tungsten,'Tungsten A','Tungsten B','Helvetica Neue','Segoe UI',Segoe,Helvetica,Arial,'Lucida Grande',sans-serif; font-weight:700; }
		html[lang|="en-GB"] #gtld .btn-cta { width: 175px; }
		html[lang|="el"] #gtld .headline { display: block; font-size:28px; line-height:28px; font-family: 'Helvetica Neue','Segoe UI',Segoe,Helvetica,Arial,'Lucida Grande',sans-serif; }
		html[lang|="el"] #gtld .maintext { display: block; font-size:67px; line-height:54px; padding-top: 0; font-family: 'Helvetica Neue','Segoe UI',Segoe,Helvetica,Arial,'Lucida Grande',sans-serif; font-weight:700; }

block marqueeContent
	.left-column
		.left-column-container
			span.headline [@L[cds.sales/homepage/locales/en:gtld-tile-headline]@L]
			span.maintext [@L[cds.sales/homepage/locales/en:gtld-tile-maintext]@L]
			span.subtext [@L[cds.sales/homepage/locales/en:gtld-tile-subtext]@L]
			a.btn.btn-lg.btn-cta(href!=ctaLink) [@L[cds.sales/homepage/locales/en:gtld-tile-btn]@L]
	.right-column
		ul.gtld-list
			li.gtld-list-item
				a#gdhp-marq-gtld-1(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-1]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-1]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-1]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-1]@L]
			li.gtld-list-item
				a#gdhp-marq-gtld-2(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-2]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-2]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-2]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-2]@L]
			li.gtld-list-item
				a#gdhp-marq-gtld-3(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-3]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-3]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-3]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-3]@L]
			li.gtld-list-item
				a#gdhp-marq-gtld-4(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-4]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-4]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-4]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-4]@L]
			li.gtld-list-item
				a#gdhp-marq-gtld-5(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-5]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-5]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-5]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-5]@L]
			li.gtld-list-item
				a#gdhp-marq-gtld-6(href!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-url-6]@L]' data-ci!='[@L[cds.sales/homepage/marquee/gtld:gtld-li-ci-6]@L]')
					span.gtld [@L[cds.sales/homepage/marquee/gtld:gtld-li-text-6]@L]
					span.arrow
					span.price-container
						span.price [@L[cds.sales/homepage/marquee/gtld:gtld-li-price-6]@L]
