---
location: sales/homepage/marquee/gybo/default_template
id: false
name: GCE-30764
ctaLink: "[@T[link:<relative path='/offers/online-business.aspx'><param name='ci' value='93372' /></relative>]@T]"
elementId: gybo
---
extends ../../../layouts/homepage/marquee
block append marqueeStyles
  style.
    #gybo {width:100%;min-width:1000px;height:400px;cursor:pointer;background:#ffffff;font-family:'Walsheim-Regular';}
    #gybo .marquee-content{width:1000px;margin:0 auto;}
    #gybo .text{color:#333333;padding:30px 0 0 0;}
    #gybo .text>div{display:inline-block;vertical-align:top;}
    #gybo .middle-wrapper{padding:20px 0 0 0;}
    #gybo .price-text{text-align:center;}
    #gybo .text>.headline{font-size:66px;line-height:66px; display:block; font-family:'walsheim-black'; margin:0;}
    #gybo .product-text{font-size:28px;line-height:28px;text-align:center;}
    #gybo .product-subtext{font-family:'Walsheim-Medium';font-size:18px;line-height:18px;text-align:center;padding:5px 0 0 0;}
    #gybo .cond-text{font-size:41px;line-height:41px;display:block;margin-top:50px;}
    #gybo .rest-text{font-family:'Walsheim-Medium';font-size:12px;line-height:12px;display:block;padding-top:10px;text-align:center;}
    #gybo .btn-wrapper>.price-text{color:#ffffff;background-color:#ff8a00;width:140px;height:125px;display:block;margin:20px 0 10px 0;padding:35px 10px 0 10px;box-sizing:content-box;}
    #gybo .btn-wrapper>.price-text>.price{position:absolute;line-height:1.1; font-family:'walsheim-black'}
    #gybo .plus-img,.equal-img{font-size:100px;padding:20px 20px 0 20px; font-family:'walsheim-black'}
    #gybo .btn-wrap>.btn{width:130px;font-size:24px;font-family:'Walsheim-Medium';box-sizing:content-box;}
    #gybo .image{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gybo_marquee.jpg) no-repeat;width:160px;height:160px;margin-bottom:10px;}
    #gybo .domain{background-position: 0px 0px}
    #gybo .wsb{background-position: 0px -162px}
    #gybo .o365{background-position: 0px -324px}
    html[lang|="de"] #gybo .headline{font-size:48px;}
    html[lang|="de"] #gybo .product-text{font-size:24px;}
    html[lang|="de"] #gybo .btn-wrap>.btn{font-size:18px;}
    html[lang|="es"] #gybo .btn-wrap>.btn{font-size:14px;}
    html[lang|="it"] #gybo .headline{font-size:48px;}
    html[lang|="it"] #gybo .product-text{font-size:24px;}
    html[lang|="it"] #gybo .btn-wrap>.btn{font-size:14px;}
    html[lang|="fr"] #gybo .headline{font-size:48px;}
    html[lang|="fr"] #gybo .product-text{font-size:24px;}
    html[lang|="fr"] #gybo .btn-wrap>.btn{font-size:14px;}
    html[lang|="fr"] #gybo .rest-text,html[lang|="uk"] #gybo .rest-text,html[lang|="it"] #gybo .rest-text,html[lang|="de"] #gybo .rest-text,html[lang|="da"] #gybo .rest-text,html[lang|="pt"] #gybo .rest-text,html[lang|="ru"] #gybo .rest-text{width:168px;}
    html[lang|="uk"] #gybo .product-text,html[lang|="el"] #gybo .product-text,html[lang|="ru"] #gybo .product-text{font-size:22px;width:160px}
    html[lang|="uk"] #gybo .btn-wrap>.btn{font-size:16px;}
    html[lang|="uk"] #gybo .cond-text,html[lang|="el"] #gybo .cond-text{font-size:26px;}
    html[lang|="tr"] #gybo .btn-wrap>.btn,html[lang|="fi"] #gybo .btn-wrap>.btn{font-size: 20px;}
    html[lang|="fi"] #gybo .cond-text{font-size:33px;}
    html[lang|="pt"] #gybo .product-text,html[lang|="sv"] #gybo .product-text{width:160px;}
    html[lang|="pt"] #gybo .btn-wrap>.btn,html[lang|="el"] #gybo .btn-wrap>.btn,html[lang|="ru"] #gybo .btn-wrap>.btn{font-size:17px;}
    html[lang|="ru"] #gybo .cond-text{font-size:30px;}
    html[lang|="sv"] #gybo .text>.headline{font-size:33px;}
    html[lang|="sv"] #gybo .btn-wrap>.btn{font-size:19px;}

block marqueeContent
  .marquee-content
    .text
      .headline [@L[cds.sales/homepage/marquee/gybo:gybo-headline]@L]
      .middle-wrapper
        .domain.image
        .product-text.tungsten [@L[cds.sales/homepage/marquee/gybo:gybo-marq-domain]@L]
      .plus-img +
      .middle-wrapper
        .wsb.image
        .product-text.tungsten [@L[cds.sales/homepage/marquee/gybo:gybo-marq-wsb]@L]
      .plus-img +
      .middle-wrapper
        .o365.image
        .product-text.tungsten [@L[cds.sales/homepage/marquee/gybo:gybo-marq-email]@L]
        .product-subtext [@L[cds.sales/homepage/marquee/gybo:gybo-marq-o365]@L]
      .equal-img =
      .btn-wrapper
        .price-text.bigtext
          .price [@T[multipleproductprice:<current productidlist="464069|101|7524" period="monthly" promocode="24681357" />]@T] 
          .cond-text.tungsten [@L[cds.sales/homepage/marquee/gybo:gybo-per-month]@L]
        .btn-wrap
          .btn.btn-warning#gdhp-marq-gybo-btn(data-ci="93372") [@L[cds.sales/homepage/marquee/gybo:gybo-get-it-now]@L]
          .rest-text [@L[cds.sales/homepage/marquee/gybo:gybo-rest-text]@L]