---
location: sales/homepage/marquee/o365-boss-impressed/default_template
id: 5444b826f778fc1ba009a9bc
name: GCE-25370
ctaLink: "[@T[link:<relative path='/business/office-365.aspx'><param name='ci' value='94091' /></relative>]@T]"
elementId: o365-boss-impressed
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block leftColumn
	.headline [@L[cds.sales/homepage/marquee/o365-boss-impressed:headline]@L]
block rightColumn
	.headline [@L[cds.sales/homepage/marquee/o365-boss-impressed:sub-headline]@L]
	span.btn.btn-warning.btn-lg.btn-cta [@L[cds.sales/homepage/marquee/o365-boss-impressed:cta-text]@L]