---
location: sales/homepage/marquee/ssl-scrawny-price/default_template
id: 5444b9bef778fc1ba009a9bd
name: GCE-29320
ctaLink: "[@T[link:<relative path='/ssl/ssl-certificates.aspx'><param name='ci' value='94084' /><param name='isc' value='SSLSAVINGS' /></relative>]@T]"
elementId: ssl-scrawny-price
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block leftColumn
	.headline [@L[cds.sales/homepage/marquee/ssl-scrawny-price:headline]@L]
block rightColumn
	.headline [@L[cds.sales/homepage/marquee/ssl-scrawny-price:sub-headline]@L]
	span.btn.btn-warning.btn-lg.btn-cta [@L[cds.sales/homepage/marquee/ssl-scrawny-price:cta-text]@L]
	.additional-info [@L[cds.sales/homepage/marquee/ssl-scrawny-price:additional-info]@L]
	.restrictions(data-toggle="tooltip", title="[@L[cds.sales/homepage/marquee/ssl-scrawny-price:restrictions-tooltip]@L]") [@L[cds.sales/homepage/marquee/ssl-scrawny-price:restrictions]@L]
