---
location: sales/homepage/marquee/wsb-job-to-do/default_template
id: 5444ba3ff778fc1ba009a9be
name: GCE-25360
ctaLink: "[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='94090' /></relative>]@T]"
elementId: wsb-job-to-do
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block marqueeLeftHeadlineStyles
	style.
		#wsb-job-to-do .left-column .headline { line-height: 0.8; }
		#wsb-job-to-do .promo { font-size:36px; font-family: Walsheim-Bold; line-height:0.9; }
		#wsb-job-to-do .price { color: #ff8a00; }
block leftColumn
	.headline <div class="bigtext" style="width:50%;"><div class="line tungsten">WEBSITE BUILDER</div></div><div class="bigtext" style="width:100%"><div class="line walsheim">YOUR DOMAIN</div><div class="line tungsten">HAS A JOB TO DO</div><div class="line walsheim"><span class='inline-dash' style='max-width:200px;'>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span> PUT IT TO WORK</div></div>
block rightColumn
	.promo [@L[cds.sales/homepage/marquee/wsb-job-to-do:promo]@L]
	.bigtext
		.price [@L[cds.sales/homepage/marquee/wsb-job-to-do:price]@L]
	a.btn.btn-warning.btn-lg.btn-cta(href=ctaLink) [@L[cds.sales/homepage/marquee/hosting-awesome:cta-text]@L]
