---
location: sales/homepage/marquee/wsb-job-to-do/default_template
id: 5444ba3ff778fc1ba009a9be
name: GCE-25360
ctaLink: "[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='94090' /></relative>]@T]"
elementId: wsb-job-to-do
---
extends ../../../layouts/homepage/marqueeLeftHeadline
block marqueeLeftHeadlineStyles
	style.
		#wsb-job-to-do .left-column .headline { line-height: 0.8; }
		#wsb-job-to-do .promo { font-size:36px; font-family: Walsheim-Bold; line-height:0.9; }
		#wsb-job-to-do .price { color: #ff8a00; font-family: Walsheim-Bold; line-height:1.0;}
		#wsb-job-to-do sub {font-size:40%;bottom:initial;}
block leftColumn
	.headline [@L[cds.sales/homepage/marquee/wsb-job-to-do:headline]@L]
block rightColumn
	.promo [@L[cds.sales/homepage/marquee/wsb-job-to-do:promo]@L]
	.bigtext
		.price [@L[cds.sales/homepage/marquee/wsb-job-to-do:price]@L]
	a.btn.btn-warning.btn-lg.btn-cta(href!=ctaLink) [@L[cds.sales/homepage/marquee/wsb-job-to-do:cta-text]@L]
