extends ../_hero-arrow.jade

append vars
  - var classes = "hosting-upgrade";
  - var ciCode = 96198;
  - var ctaLink = "[@T[link:<external linktype='myaurl'><param name='ci' value='"+ciCode+"' /><param name='accid' value='3' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Your site needs more resources.
  p.font-md.black.text-white That's the price of being so popular.

block rightContent
  p.font-md.black Upgrade your hosting
  a.btn.btn-md.btn-purchase(href!=ctaLink) [@L[cds.sales/homepage/heros/hosting-upgrade:goToMyAccount]@L] 