---
location: sales/resources/infographics
id: 5552760df778fc0d1c094f53
name: SEM-510
comments: Change URL and path to /resources/infographics
assetPath: false
---
{% extends 'layouts/base-Q1-2015-lite.html' %} 
{% block metahead %}
<style type="text/css">
#gd-infographics .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gd-infographics .banner {
  margin-bottom: 6em;
}
#gd-infographics .banner-img {
  margin-top: 3em;
}
#gd-infographics .banner-text {
  padding-bottom: 1.75em;
}
#gd-infographics .banner-text h1 {
  margin-top: 1em;
  margin-bottom: .1em;
}
#gd-infographics .banner-text p {
  font-family: 'Walsheim-Medium';
  padding-bottom: .25em;
  font-size: 1.3em;
}
#gd-infographics .infographic-container {
  margin-bottom: 4em;
}
#gd-infographics .infographic-container .row {
  margin-bottom: 3em;
}
#gd-infographics .ux-card {
  padding: 4em 1em 0;
}
#gd-infographics .ux-card a {
  text-decoration: none;
}
#gd-infographics .extra-shadow {
  -webkit-box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
}
#gd-infographics .ux-card .col-sm-6 {
  margin-bottom: 3em;
}
#gd-infographics .ux-card .one-item-container {
  max-width: 389px;
}
#gd-infographics .coming-soon {
  max-width: 389px;
  background-color: #666;
  padding: 31px 5px 29px;
}
#gd-infographics .coming-soon .h2 {
  color: #fff;
  margin-top: .75em;
}
</style>
{% endblock %} 
{% block body %}
<div id="gd-infographics" class="ux-app">
  <div class="banner bg-primary-o">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 banner-img">
          <img src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/infographics.png" class="img-responsive center-block" alt="Infographics by [@T[companyname:name]@T]">
        </div>
        <div class="col-sm-4 banner-text">
          <h1 class="h0 headline-primary">[@L[cds.sales/gd/resources/infographics:page-title-h1]@L]</h1>
          <p>[@L[cds.sales/gd/resources/infographics:intro-paragraph]@L]</p>
          <button id="gd-infographics-view-featured" class="btn btn-lg btn-purchase" 
            ##if(activeLanguageAny([en-us]))
            onclick="location.href='[@T[link:<relative path='resources/infographics/top-five-domain-name-registration-tips' secure='true'><param name='ci' value='99109' /></relative>]@T]';"
            data-ci="99109"
            ##elseif(activeLanguageAny([en-in]))
            onclick="location.href='[@T[link:<relative path='resources/infographics/colour-your-website-with-success' secure='true'><param name='ci' value='96848' /></relative>]@T]';"
            data-ci="96848"
            ##elseif(activeLanguageAny([pt-br],[en-gb]))
            onclick="location.href='[@T[link:<relative path='resources/infographics/mobile-ready-carnival' secure='true'><param name='ci' value='96171' /></relative>]@T]';"
            data-ci="96171" 
            ##endif
          >[@L[cds.sales/gd/resources/infographics:view-featured-button-label]@L]</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container infographic-container">
    <div class="ux-card">
      <div class="row">
        <div class="col-sm-6">
          <div class="one-item-container center-block">
            ##if(activeLanguageAny([en-us]))
            <a href="[@T[link:<relative path='resources/infographics/top-five-domain-name-registration-tips' secure='true'><param name='ci' value='99108' /></relative>]@T]" data-ci="99108">
              <img id="gd-infographics-image-1" src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/infographic-img-1-en-us.png" class="img-responsive center-block extra-shadow" />
            ##elseif(activeLanguageAny([en-in]))
            <a href="[@T[link:<relative path='resources/infographics/colour-your-website-with-success' secure='true'><param name='ci' value='96849' /></relative>]@T]" data-ci="96849">
              <img id="gd-infographics-image-1" src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/infographic-img-1-en-in.png" class="img-responsive center-block extra-shadow" />
            ##elseif(activeLanguageAny([pt-br],[en-gb]))
            <a href="[@T[link:<relative path='resources/infographics/mobile-ready-carnival' secure='true'><param name='ci' value='96170' /></relative>]@T]" data-ci="96170">
              <img id="gd-infographics-image-1"
                ##if(activeLanguageAny([pt-br]))
                src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/infographic-img-1-pt-br.png"
                ##elseif(activeLanguageAny([en-gb]))
                src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/infographic-img-1-uk.png"
                ##endif
                class="img-responsive center-block extra-shadow" 
              />
            ##endif
              <h3 id="gd-infographics-title-1" class="headline-primary">[@L[cds.sales/gd/resources/infographics:infographics-1-title]@L]</h3>
            </a>
            <p>[@L[cds.sales/gd/resources/infographics:infographics-1-intro]@L]</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="one-item-container center-block">
            <div class="coming-soon extra-shadow text-center center-block clearfix">
              <img src="[@T[link:<imageroot/>]@T]fos/sales/themes/scotty/resources/infographics/img/coming-soon-img.png" class="img-responsive center-block">
              <div class="h2 headline-primary">[@L[cds.sales/gd/resources/infographics:coming-soon-image-text]@L]</div>
            </div>
            <h3 class="headline-primary">[@L[cds.sales/gd/resources/infographics:coming-soon-title]@L]</h3>
            <p>[@L[cds.sales/gd/resources/infographics:coming-soon-paragraph]@L]</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock %} 
{% block footer %}
{% endblock %}