extends ../../../layouts/homepage/heroLeftHeadLine.jade

block append heroVars
  - ci = "22222";
  - image = "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/got-puppy.png";
  - ctaLink = "[@T[link:<relative path='/offers/online-business.aspx'><param name='ci' value='22222' /></relative>]@T]";
  - ctaText = "[@L[cds.sales/homepage/heros/got-puppy:cta]@L]";
  - price = "[@L[cds.sales/homepage/heros/got-puppy:price]@L]";
  - headline = "[@L[cds.sales/homepage/heros/got-puppy:products]@L]";

block append heroStyles
  style.
    #marquee {background-color: #64a838}
    .hero.got-puppy {background-color:#64A838;}
    .hero.got-puppy h2{font-size:3.2em}
    .hero.got-puppy h3{font-size:2em}
    .hero.got-puppy h4{font-size:1.4em}
    .hero.got-puppy h5{font-size:.8em}
    .hero .leftContent *{color:#fff;line-height:.9}
    .hero.rightContent img{margin-left:70px}
  +addHeroClasses("got-puppy")


block leftContent
  h3.headline.walsheim-black!= headline
  h3.pricetext.tungsten [@L[cds.sales/homepage/heros/got-puppy:starting]@L]
  h2.price.walsheim-black!= price
  h4.smile.walsheim-regular [@L[cds.sales/homepage/heros/got-puppy:buddy]@L]
  a.btn.btn-warning.btn-lg!= ctaText
  h5.walsheim-medium [@L[cds.sales/homepage/heros/got-puppy:disclaimer]@L]