atlantis:webstash(type="css")
  style
    :less
      #marquee { 
        background-color: #f3f3f4; overflow-y: hidden;
        .promo-wrapper, .price-wrapper { margin-top: 20px; }
        .inline-dash { display:inline-block;overflow:hidden;letter-spacing:-0.5em;font-size:1.4em;vertical-align:top;line-height:50%; }
        .headline-wrapper { margin-top: 40px; line-height: 1; }
        .promo-wrapper { color: #77c043; }
        .price { color: #ff8a00; }
        .btn-purchase { float: right; min-width: 40%; position: absolute; right: 10px; bottom: 20px; }
        .disclaimer { font-size: 0.6em; text-align: right; }
        img { margin: 0 auto; display: block; }
      }
      @media (min-width: 768px) {
        #marquee .hero-wrapper > .row { max-height: 315px; }
        #marquee img { margin: -72px 0 0 0; }
      }
.row
  .col-xs-12.col-sm-6
    .headline-wrapper
      .bigtext(style='width:100%')
        .line.walsheim-black WOOK AT THE PUPPY!
        .line.tungsten NOW STOP WOOKING AT THE PUPPY
        .line.walsheim-black <span class='inline-dash'>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</span> AND WOOK AT THIS OFFER
    .promo-wrapper
      .bigtext(style='width:100%')
        .walsheim-black DOMAIN + WEBSITE + EMAIL
    .price-wrapper
      .bigtext(style='width:55%; display: inline-block;')
        span.price.walsheim-black $1.00/MO
      a.btn.btn-purchase Get Started
    .disclaimer First year only. Other restrictions apply.
  .col-xs-12.col-sm-6
    img(src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/got-buddy.jpg")
