extends ../../templates/pages/landing-page

append pageStyles

block domainSearch

block marqueeContent
  h2 THIS DOESN'T HAVE TO BE CONFUSING
  img(src="/my/image")

block sections

  block getItNow

  block domainName
    include ../shared/domain-search-widget

  block product

  block office365
    //- define shared ofice 365 HTML here

  block whyUs
    //- this probably should be shared, e.g.:
    //- include ../shared/whyUs
    section#whyUs
      .container
        .row
          .col-sm-3
            span featureA
          .col-sm-3
            span featureA
          .col-sm-3
            span featureA