extend ../../../../templates/plan-tile

block vars
  - title = "";
  - description = "Get the domain that will never go out of style.";
  - pfid = "[@T[productprice:<template productid='101' period='yearly'><nostrike><![CDATA[<span class='plan-price text-warning'>{0}*</span>]]></nostrike><strike><![CDATA[<span class='plan-price text-warning'>{0}*</span><br /> <strong>was <strike>{1}</strike></strong>]]></strike></template>]@T]";
  - buttonText = "REGISTER";
  - buttonUrl = "[@T[link:<relative path='/tlds/com.aspx'><param name='ci' value='xxxxx' /></relative>]@T]"

block title
  style.
    .tldlogo-dot-com{background-position:-52px -676px; height:40px; width:101px; margin-bottom:10px;}
    .plan-text { height: 66px; }
  .tldlogo.tldlogo-dot-com

block price
  .plan-price-wrap !{pfid}