extend ../../../../templates/plan-tile

block vars
  - title = "";
  - description = "Share your info with the world.";
  - pfid = "[@T[productprice:<template productid='201' period='yearly'><nostrike><![CDATA[<span class='plan-price text-warning'>{0}*</span>]]></nostrike><strike><![CDATA[<span class='plan-price text-warning'>{0}*</span><br /> <strong>was <strike>{1}</strike></strong>]]></strike></template>]@T]";
  - buttonText = "REGISTER";
  - buttonUrl = "[@T[link:<relative path='/tlds/info.aspx'><param name='ci' value='xxxxx' /></relative>]@T]"

block title
  style.
    .tldlogo-dot-info{background-position:0px -1198px; height:40px; width:57px; margin-bottom:10px;}
    .plan-text { height: 66px; }
  .tldlogo.tldlogo-dot-info

block price
  .plan-price-wrap !{pfid}