extend ../../../../templates/plan-tile

block vars
  - title = "";
  - description = "[@L[cds.sales/gd/domains/domain-name-search:PodDotWebsiteText]@L]";
  - pfid = "[@T[productprice:<template productid='461465' period='yearly'><nostrike><![CDATA[<span class='plan-price text-warning'>{0}*</span>]]></nostrike><strike><![CDATA[<span class='plan-price text-warning'>{0}*</span><br /> <strong>was <strike>{1}</strike></strong>]]></strike></template>]@T]";
  - buttonText = "REGISTER";
  - buttonUrl = "[@T[link:<relative path='/tlds/website'><param name='ci' value='xxxxx' /></relative>]@T]"

block title
  style.
    .tldlogo-dot-website{background-position:0px -279px; height:40px; width:133px; margin-bottom:10px;}
    .plan-text { height: 66px; }
  .tldlogo.tldlogo-dot-website

block price
  .plan-price-wrap !{pfid}