extends ../_banner-medium-tld-com.jade

append vars
  - ciCode = "96980";
  - headline = "[@L[cds.tmsv2/content/homepage/marquee-tile-tld:com-headline]@L]";
  - ctaLink = "[@T[link:<relative path='domains/domain-name-search.aspx'><param name='ci' value='" + ciCode + "'/></relative>]@T]";
