- dataCi = "96979";
- ctaLink = "[@T[link:<relative path='domains/domain-name-search.aspx'><param name='ci' value='"+dataCi+"' /></relative>]@T]";

atlantis:webstash(type="css")
  style
    :less
      #marquee { background-color: #f3f3f3;
        .hero.tld-com {position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);
          .price {font-size:3.4em}
          .headline {font-size:1.7em; color:#75c239}
          button {margin:2% 0}
        }
      }
      @media only screen and (min-width:768px) and (max-width: 991px){
        #marquee .hero.tld-com{-webkit-transform: translateY(-50%) translateX(25%);-ms-transform: translateY(-50%) translateX(25%);transform: translateY(-50%) translateX(25%);
        }
      }
.hero.tld-com(data-url!=ctaLink, data-ci=dataCi)
  .price.walsheim-black [@T[productprice:<current productid="101" period="yearly" checktmspromocode="true" htmlsymbol="false" />]@T]* .COM
  .headline.walsheim-black [@L[cds.tmsv2/content/homepage/marquee-tile-tld:com-headline]@L]
  button.btn.btn-md.btn-purchase FIND YOUR .COM
  img.tld.svgfallback(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAATCAMAAAAOJhUTAAAAPFBMVEVMaXEAYqkAXqYAXacAXaYAXqgtRF4AW6YAXqd0eogAZq8dNF0At/k0ndcHqekAw/+emZRyqdUAWaMAluR1esaJAAAAEnRSTlMAPKnB82MDiOIMKR39rvzXH4C5w3lZAAABDElEQVR4Xt2QwXLDIAxEJYGQBE6TOP//r10BzbiTew/dg7Qsfjse6P+psZmOHbCacoadOw0c1j3/+r7U86xugaCLV3jBx4Ko4ELC6lxvgv1cAjJ+vI8o59bOjCj6oxGN2WN5rySYZXqJ5bOiimA5Pe7H/dnIkDBwcbeosyozHxhlEGe0Erodx3HvWSsEtTFCkQd8OFps0bBKpBXEF3RwEkZbWTtNeRPtQjxfr9etk+1eNlOG5/R4r76IuBCkNwDzR4W7OlbDKNq1ZIt8EhQNo1k+oIPzTgpf058a5ZPYQtmU88ZT1sYmgCeBjN4KFfdiPX1jeBdumYpmhxmqGIsuCqhdfEx4ZQ3KicMf6BvVuxIPgsiNJwAAAABJRU5ErkJggg==")