extends ../_banner-small.jade

block append vars
  - dataCi = 95780;
  - containerClass = "online-store";
  - logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjMwIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIxLjUgMCAzMCAzNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAxLjUgMCAzMCAzNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzc3QzA0MyIgZD0iTTI2LjkgMTQuMmwtMS44IDEwLjkgMC40IDIuNyAxLjUgMC4zIDEuNCAyLjIgLTAuNiAyLjUgLTIuMiAxLjQgLTIuNS0wLjYgLTEuNC0yLjIgMC42LTIuNSAxLjItMC44IC0wLjQtMi42TDcgMjkuMSA2LjMgMTcuNGwxOC42LTQuM2gtMC4xbDQuMS0zLjVMMjIgMi41bC0zLjggMyA2LjYgNi4xaC0yLjJsLTUuOS01TDIuOSAxMi45bC0wLjQtMC43YzAgMCAxMy03LjMgMTQuOS04LjJWMy45TDIxLjMgMGw4LjkgOC40IDEuMyAyLjVMMjYuOSAxNC4yek01LjcgMjhsLTMtNi40IC0xLjItOS4xIDMuNiA0LjRMNS43IDI4ek0xMiAyOS43bDIuMiAwLjEgMS41IDEuNiAtMC4xIDIuMUwxNCAzNWwtMi4xLTAuMSAtMS41LTEuNnYtMi4xTDEyIDI5Ljd6Ii8+PC9zdmc+";
  - logoImageFallback = "[@T[link:<imageroot />]@T]fos/tmsv2/content/online-store/banner-small/online-store-icon.png";
  - titleText = "[@L[cds.tmsv2/content/homepage/online-store/banner-small:title]@L]";
  - bodyText = "[@L[cds.tmsv2/content/homepage/online-store/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/online-store/banner-small:cta]@L]";
  - ctaLink = "[@T[link:<relative path='/ecommerce/online-store.aspx'><param name='ci' value='95780' /></relative>]@T]";