extends ../_banner-medium-simple.jade

append vars
  - ciCode = "11111";
  - classes ="online-store";
  - ctaLink = "[@T[link:<relative path='ecommerce/online-store.aspx'><param name='ci' value='" + ciCode + "'/></relative>]@T]";

append styles
  style.
    .banner-medium.online-store { background-color: #333; color: #fff; }

block content
  h2.font-sm.black.text-primary-o [@L[cds.tmsv2/content/homepage/online-store/banner-medium:headline]@L]
  .font-md.black [@L[cds.tmsv2/content/homepage/online-store/banner-medium:body]@L]
  .font-md.black [@L[cds.tmsv2/content/homepage/online-store/banner-medium:as-low-as]@L]  
  .btn.btn-sm.btn-purchase(href!=ctaLink) [@L[cds.tmsv2/content/homepage/online-store/banner-medium:cta]@L] 
