extends ../_banner-medium-tld-com.jade

append vars
  - ciCode = "95727";
  - classes ="499-com";
  - headline = "[@L[cds.sales/homepage/tile/marquee-com-tld-sale-tile:marquee-com-tld-sale-tile-bodytext]@L]";
  - ctaLink = "[@T[link:<relative path='domains/domain-name-search.aspx'><param name='ci' value='" + ciCode + "'/></relative>]@T]";
  - disclaimer = "[@L[cds.sales/homepage/tile/marquee-com-tld-sale-tile:marquee-com-tld-sale-tile-resttext]@L]";
