extends ../_hero-simple.jade
block append vars
  - ciCode = 99098
  - classes = "domain-recommendations"
  - flagText = "[@L[cds.tmsv2/content/homepage/domain-recommendations/hero:flag]@L]"

block append styles
  style
    :less
      .hero.domain-recommendations {
        mark.domain{text-transform:lowercase;word-break:break-word;}
      }
block content
  h2.font-lg [@L[cds.tmsv2/content/homepage/domain-recommendations/hero:headline]@L]
  a.btn.btn-md.btn-purchase [@L[cds.tmsv2/content/homepage/domain-recommendations/hero:cta]@L]

block script
  script.
    var domainRecommendations = {
      dynamicContent: JSON.parse('[@D[tms.message.rule_data]@D]'),
      domainPlaceholder: $('.domain'),
      url:"[@T[link:<relative path='/domains/searchresults.aspx'><param name='domainToCheck' value='{0}' /><param name='checkAvail' value='1' /><param name='ci' value='#{ciCode}' /></relative>]@T]",
      hero:$('.hero.domain-recommendations')
    };
    $(domainRecommendations.hero).attr('data-url',domainRecommendations.url.replace('%7b0%7d',domainRecommendations.dynamicContent.domain_recommendations[0]));
    $(domainRecommendations.domainPlaceholder).text(domainRecommendations.dynamicContent.domain_recommendations[0])