extend ../../../../../src/templates/plan-tile

append vars
  - title = "[@L[cds.sales/gd/hosting/website-builder:business-title]@L]";
  - description = "[@L[cds.sales/gd/hosting/website-builder:business-description]@L]"
  - features = ["[@L[cds.sales/gd/hosting/website-builder:plan-domain]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-width='400' data-content='[@L[cds.sales/gd/hosting/website-builder:restristions-apply-tooltip]@L]'></span>","[@L[cds.sales/gd/hosting/website-builder:business-themes]@L]","[@L[cds.sales/gd/hosting/website-builder:business-pages]@L]","[@L[cds.sales/gd/hosting/website-builder:business-diskspace]@L]","[@L[cds.sales/gd/hosting/website-builder:business-bandwidth]@L]","[@L[cds.sales/gd/hosting/website-builder:rb_5_business_emails]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-content='[@L[cds.sales/gd/hosting/website-builder:rb_5_business_emails_tooltip]@L]'></span>","[@L[cds.sales/gd/hosting/website-builder:rb_mobile_site]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-content='[@L[cds.sales/gd/hosting/website-builder:rb_mobile_site_tooltip]@L]'></span>"];
  - pfid = "7509";
  - listID="product-B";
  - flagText = "[@L[cds.sales/gd/hosting/website-builder:popular-tag]@L]";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "wsb_business_12month";
