extend ../../../../../src/templates/plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/website-builder:personal-title]@L]";
  - description = "[@L[cds.sales/gd/hosting/website-builder:personal-description]@L]"
  - features = ["[@L[cds.sales/gd/hosting/website-builder:plan-domain]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-width='400' data-content='[@L[cds.sales/gd/hosting/website-builder:restristions-apply-tooltip]@L]'></span>","[@L[cds.sales/gd/hosting/website-builder:personal-themes]@L]","[@L[cds.sales/gd/hosting/website-builder:economy-pages]@L]","[@L[cds.sales/gd/hosting/website-builder:economy-diskspace]@L]","[@L[cds.sales/gd/hosting/website-builder:economy-bandwidth]@L]"];
  - pfid = "7524";
  - buttonid="product-A";
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "wsb_personal_12month";
