extend ../../../../../src/templates/plan-tile

append vars
  - title = "Business";
  - description = "Ideal for building and managing multiple sites."
  - features = ["<b>Free Domain with annual Plan</b>","<b>300</b> Business & Personal Themes","<b>Unlimited</b> Pages","<b>10 GB</b> Disk Space","<b>500 GB</b> Bandwidth","<b>5</b> Business Email Addresses","<b>Mobile</b> Site"];
  - pfid = "7509";
  - listID="product-B";
  - flagText = "Most Popular";
  - showDropDownList = true;

block planOptions 
  +addPlanOption("1", "7502", "wsb_business_1month")
  +addPlanOption("12", "7509", "wsb_business_12month")
  +addPlanOption("24", "7510", "wsb_business_24month")
  +addPlanOption("36", "7511", "wsb_business_36month")