| 
<atlantis:webstash type="css">
style.
  .aux-content-wrapper{height:45px;background-color:#fff;width:100%}
  .aux-content{margin:0 auto;position:relative;width:1000px;padding-top:13px}
  .gdhp-share{position:relative;float:right;}
  .tld-links>a{font-size:14px;text-decoration:none;color:#333}
  .tld-links>a>span{position:relative;}
  .tld-links>a:hover{text-decoration:underline}
  .tld-icon{display:inline-block;}
  #co-icon{position:absolute;height:20px;width:19px;margin:-2px 8px 0 8px;background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140923.png) no-repeat -891px -9px;}
  #co-price{padding-left:35px;}
  #org-icon{position:absolute;width:38px;height:16px;margin:4px 0 0 5px;background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140923.png) scroll -844px -8px no-repeat;}
  #org-price{padding-left:50px;}
  #net-icon{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gdhp_sprite_20140923.png) scroll -799px -9px no-repeat;height:16px;margin:2px 0 0 8px;position:absolute;width:42px;}
  #net-price{padding-left:50px;}
| 
</atlantis:webstash>
div.aux-content-wrapper
  div.aux-content
    span.tld-links
      each tld in bugBar
        if tld.co
          a(href!="[@T[link:<relative path='/tlds/co-domain.aspx'><param name='ci' value='93296' /><param name='tld' value='CO' /></relative>]@T]" data-ci="93296")
            span#co-icon.tld-icon
            span#co-price
              [@T[productprice:<current productid="56401" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]
        if tld.org
          a(href!="[@T[link:<relative path='/tlds/org.aspx'><param name='ci' value='93297' /><param name='tld' value='ORG' /></relative>]@T]" data-ci="93297")
            span#org-icon.tld-icon
            span#org-price
              [@T[productprice:<current productid="12101" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]*
        if tld.net
          a(href!="[@T[link:<relative path='/tlds/net.aspx'><param name='ci' value='93298' /><param name='tld' value='NET' /></relative>]@T]" data-ci="93298")
            span#net-icon.tld-icon
            span#net-price
              [@T[productprice:<current productid="12001" dropdecimal="false" period="yearly" htmlsymbol="false" negative="parentheses" />]@T]*
    div.gdhp-share
      div.fosshare(data-twshareurl!="[@T[link:<external linktype='XDOTCO' path='/wwwGD' />]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")