| 
<atlantis:webstash type="css">
style.
  .nbcf-tile{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/nbcf_campaign.png) 0 50px no-repeat;background-color:#333333;}
  .nbcf-tile-text{float:right;width:250px;color:#ffffff;padding:50px 20px 0 0;}
  .nbcf-tile-win-headline{font-size:62px;line-height:57px;}
  .nbcf-tile-win-maintext{font-size:42px;line-height:37px;}
  .nbcf-tile-win-subtext{font-size:28px;line-height:28px;}
  .nbcf-tile-win-subtext2{font-size:22px;line-height:22px;}
  .nbcf-tile-text>.btn-wrap>.btn-warning{font-size:24px;padding:10px 15px 8px;background-color:#f5811f;border-bottom:4px solid #b25e18;margin:40px 0 0 85px;}
  .nbcf-tile-text>.btn-wrap>.btn-warning:hover{background-color:#ff9b39;}
| 
</atlantis:webstash> 
div#gdhp-danicapinktile.gdhp-tile.nbcf-tile(onclick!="window.open('[@T[link:<relative path='/DONATE'><param name='ci' value='93873' /></relative>]@T]')")
  div.nbcf-tile-text
    span.nbcf-tile-win-headline.b
      [@L[cds.sales/homepage/locales/en:nbcf-tile-headline]@L]
    span.nbcf-tile-win-maintext.tungsten
      [@L[cds.sales/homepage/locales/en:nbcf-tile-maintext]@L]
    span.nbcf-tile-win-subtext.b
      [@L[cds.sales/homepage/locales/en:nbcf-tile-subtext]@L]
    span.nbcf-tile-win-subtext2.b
      [@L[cds.sales/homepage/locales/en:nbcf-tile-subtext2]@L]
    div.btn-wrap
      span#gdhp-danicapinktile-btn.btn.btn-warning(data-ci="93873")
        [@L[cds.sales/homepage/locales/en:nbcf-tile-btn]@L]