| 
<atlantis:webstash type="css">
style.
  .wsb-tile{background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/tile-sprite.jpg) scroll 0 -965px no-repeat;}
  .wsb-tile-text{text-align:center;margin-top:230px;color:#58585a}
  .wsb-tile-product{font-size:47px;line-height:47px;font-family:'Walsheim-Black'}
  .wsb-tile-offer{font-size:48px;line-height:48px;}
  .wsb-tile-price{font-size:58px;line-height:58px;font-family:'Walsheim-Black';width:475px}
  .wsb-tile>.atn-btn-wrap{width:240px;margin:0 auto;}
  .wsb-tile>.atn-btn-wrap>span{font-size:36px;margin:10px 20px 0 0;text-transform:uppercase;}
  .wsb-tile>.atn-btn-wrap>span>span{font-size:52px;display:inline;}
  .wsb-tile>.atn-btn-wrap>.btn-top-img{font-size:24px;color:#fff;background-color:#f5811f;border-bottom:4px solid #b25e18;padding:14px 12px;box-sizing:border-box;height:60px;width:240px;margin:-5px 10px 0 0}
  .wsb-tile>.atn-btn-wrap>.btn-top-img:hover{background-color:#ff9b39}
| 
</atlantis:webstash> 
div#gdhp-wsbtile.gdhp-tile.wsb-tile.js-gdhpclick(data-url!="[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='89840' /></relative>]@T]" data-ci="89840")
  div.wsb-tile-text
    [@L[cds.sales/homepage/locales/en:wsb-tile-text]@L]
  div.atn-btn-wrap
    a#gdhp-wsbtile-btn.btn.btn-top-img(href!="javascript:void(0)" data-ci="89840")
      [@L[cds.sales/homepage/locales/en:stickit-marq-get-started]@L]