block heroVars
  - classes = classes || "";
  - ci = ci || "";
  - headline = bodyText || "";
  - image = image || "";
  - price = price || "";
  - ctaText = ctaText || "";
  - ctaLink = ctaLink || "";

mixin addHeroClasses(...additions)
  each addition in additions
    -classes += " " + addition

// start hero section
atlantis:webstash(type="css")
  block heroStyles
    style.
      .hero-wrapper{cursor:pointer;}
      .hero{background: #fff; min-height:inherit}
      .hero:hover{cursor:pointer}
      .dash{letter-spacing:-.1rem}
    +addHeroClasses("hero","row")
div(class=classes, data-url!=ctaLink)
  block heroContent
block heroScripts
  atlantis:webstash(type="js")
//end hero section
