extends marquee
append marqueeStyles
	style.
		.marquee-left-headline { background:url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/color-block-background.png) no-repeat top center;}
		.left-column { float:left;width:500px; padding-top:80px;}
		.right-column { float:left;width:325px;height:320px;padding-top:80px;text-align:center;margin-left:90px;color:#000;}
	block marqueeLeftHeadlineStyles
block marqueeContent
	.marquee-left-headline
		.left-column
			block leftColumn
		.right-column
			block rightColumn
