---
location: sales/domainaddon/domain-backorders.aspx
id: 533cd571f778fc35c4203ac7
name: FOS-12354
---
{% extends 'base.html' %}
{% block body %}

        <!-- Start main-banner -->
        <section class="main-banner main-banner-dbo">
            <div class="l-main-container container main-banner-content">
                <h1 class="main-banner-title main-banner-title-alternate"><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:HeaderContentMainHeading]@L]</strong></h1>
                <p class="main-banner-subtitle main-banner-subtitle-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HeaderContentDescription]@L]</p>
            </div>
        </section>
        <!-- End main-banner -->

        <!-- Start main-tabs -->
        <section class="main-tabs">
          <div class="container">
            <ul class="nav nav-tabs">
              <li class="nav-tabs-item active"><a class="nav-tabs-link" href="#plan-pricing" data-toggle="tab">[@L[cds.sales/gd/domainaddon/domain-backorders2:TabLink0]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
              <li class="nav-tabs-item"><a class="nav-tabs-link" href="#faq" data-toggle="tab">[@L[cds.sales/gd/domainaddon/domain-backorders2:TabLink1]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
            </ul>
          </div>
        </section>
        <!-- End main-tabs -->


        <!-- Start main-tabs panes -->
        <div class="tab-content no-margin-top">
          <div class="tab-pane tab-content-overview-bg-db active" id="plan-pricing">
            <!-- Start content -->
        <section class="l-main-container container">
            <!-- Start misc-banner -->
            <section class="misc-banner">
              <div class="l-main-container container misc-banner-content misc-banner-content-db-overview">
                <h2>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingMiscBannerTitle0]@L]</h2>
                <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingMiscBannerText0]@L]</p>
              </div>
            </section>
            <!-- End misc-banner -->
            <div class="row equal-height">
                <div class="col-xs-4">
                    <div class="grid-column no-padding-bottom left-side">
                        <h2>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightTitle]@L]</h2>
                        <p class="starting-at"><span class="starting-at-price">$20.98</span><span class="starting-at-small">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEach]@L]</span></p>
                        <form action="[@T[link:<external linktype="carturl" path="/basket.aspx" secure="true"/>]@T]" method="post" id="cart-form">
                        <input type="hidden" name="itc" value="slp_backorder" />
                        <input type="hidden" name="ci" value="{{ ciCodes.addtocart }}" />
                        <input type="hidden" name="package" value="domain_backorders_credits" />
                        <div class="select-box">
                            <div class="select-box-head">
                                <div class="select-box-current">
                                    <span>1-19 [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightCredits]@L]</span>
                                    <span class="price">$20.98</span><span class="secondary-color">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEa]@L]</span>
                                </div>
                                <div class="select-box-cta"><i class="ico ico-download"></i></div>
                            </div><!-- select-box-head -->
                            <div class="select-box-body">
                                <ul class="select-box-options">
                                    <li class="selected">
                                        <label>
                                            <span>1-19 [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightCredits]@L]</span>
                                            <span class="price">[@T[currencyprice:<price usdamount="2098" dropsymbol="false" htmlsymbol="false" />]@T]</span><span class="secondary-color">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEa]@L]</span>
                                            <span></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>20-49 [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightCredits]@L]</span>
                                            <span class="price">[@T[currencyprice:<price usdamount="1993" dropsymbol="false" htmlsymbol="false" />]@T]</span>
                                            <span class="secondary-color">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEa]@L]</span>
                                            <span>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightSave]@L] 5%<sup>&#8225;</sup></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>50-99 [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightCredits]@L]</span>
                                            <span class="price">[@T[currencyprice:<price usdamount="1888" dropsymbol="false" htmlsymbol="false" />]@T]</span>
                                            <span class="secondary-color">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEa]@L]</span>
                                            <span>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightSave]@L] 10%<sup>&#8225;</sup></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>100+ [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightCredits]@L]</span>
                                            <span class="price">[@T[currencyprice:<price usdamount="1678" dropsymbol="false" htmlsymbol="false" />]@T]</span>
                                            <span class="secondary-color">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightEa]@L]</span>
                                            <span>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightSave]@L] 20%<sup>&#8225;</sup></span>
                                        </label>
                                    </li>
                                </ul>
                            </div><!-- select-box-body -->
                        </div><!-- select-box -->

                        <p class="text-db"><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightSelectQuantity]@L]</strong></p>

                        <input type="text" name="quantity" min="1" max="1000" value="1" />

                        <p class="text-db"><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightBackorderType]@L]</strong></p>

                        <section class="radio-seccion">
                            <ul class="no-bullets no-margin-bottom">
                              <li>
                                <input type="radio" name="registration_type" value="public" checked="1" /> <label>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightPublic]@L]</label>
                              </li>
                              <li>
                                <input type="radio" name="registration_type" value="private" />
                                <label title="[@L[cds.sales/gd/domainaddon/domain-backorders2:QuickHelp5QuickHelpItems80Text]@L]" data-html="true" class="isToolTip" data-original-title="">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightPrivate]@L]</label>
                              </li>

                            </ul>
                            <span class="secondary-color ">$9.99 [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightAditional]@L]</span>
                        </section>
                        <p class="no-margin-bottom"><button type="submit" class="btn btn-warning btn-block btn-lg">[@L[cds.sales/shared/planbox:add-to-cart]@L]</button></p>
                        </form>


                        <ul class="plan-pricing-list plan-pricing-list-alternate">
                            <li class="two-lines">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightList0]@L]</li>
                            <li class="two-lines">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightList1]@L]</li>
                            <li class="two-lines">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightList2]@L]</li>
                            <li class="two-lines">[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanPricingContentRightList3]@L]</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="grid-column">
                        <div class="row-icon-left">
                            <i class="ico ico-volt"></i>
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListTile0]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListText0]@L]</p>
                        </div>
                        <div class="row-icon-left">
                            <i class="ico ico-time"></i>
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListTile1]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListText1]@L]</p>
                        </div>
                        <div class="row-icon-left">
                            <i class="ico ico-msj-pig"></i>
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListTile2]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListText2]@L]</p>
                        </div>
                        <div class="row-icon-left">
                            <i class="ico ico-ribbon"></i>
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListTile3]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListText3]@L]</p>
                        </div>
                        <div class="row-icon-left">
                            <i class="ico ico-folder-secure"></i>
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListTile4]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:HighlightListText4]@L]</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End content -->
        <!-- Start plan-summary -->
        <section class="plan-summary l-main-content">
            <div class="container l-main-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="plan-summary-container">
                            <!-- Start Plan-summary nav tabs -->
                            <ul class="nav nav-tabs plan-summary-tabs">
                                <li class="nav-tabs-item plan-summary-tabs-item active">
                                    <a href="#ps-support" class="nav-tabs-link plan-summary-nav-tabs-link" data-toggle="tab">[@L[cds.sales/gd/domainaddon/domain-backorders2:MainContentFooterPagesTabText]@L]</a>
                                </li>
                            </ul>
                            <!-- End Plan-summary nav tabs -->

                            <!-- Start Plan-summary Tab panes -->
                            <div class="tab-content no-margin-bottom">
                                <div class="tab-pane active" id="ps-support">
                                    <p><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryTitle1]@L]</strong></p>
                                    <ul class="plan-summary-tab-pane-list plan-summary-tab-pane-list-columns no-margin-left">
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText1]@L]</li>
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText2]@L]</li>
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText3]@L]</li>
                                    </ul>
                                    <ul class="plan-summary-tab-pane-list plan-summary-tab-pane-list-columns plan-summary-tab-pane-list-two-columns">
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText4]@L]</li>
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText5]@L]</li>
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText6]@L]</li>
                                    </ul>
                                    <p><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryTitle2]@L]</strong></p>
                                    <ul class="plan-summary-tab-pane-list plan-summary-tab-pane-list-columns no-margin-left no-margin-bottom">
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText7]@L] <strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryTechSupportPhone]@L]</strong> [@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText8]@L]</li>
                                    </ul>
                                    <ul class="plan-summary-tab-pane-list plan-summary-tab-pane-list-columns no-margin-bottom plan-summary-tab-pane-list-two-columns">
                                        <li>[@L[cds.sales/gd/domainaddon/domain-backorders2:PlanSummaryText9]@L]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Plan-summary Tab panes -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End plan-summary -->
          </div>
          <div class="tab-pane" id="faq">
            <section class="tab-content-top-spacing">
            <div class="container l-main-container faq">
                <div class="row tab-content">
                    <div class="col-xs-12">
                        <div class="grid-column tab-content-column-alternate">
                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine1Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine1Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine1Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine2Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine2Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine2Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine3Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine3Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine3Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine4Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine4Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine4Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine5Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine5Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine5Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine6Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine6Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine6Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine7Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine7Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine7Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine8Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine8Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine8Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine9Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine9Text1]@L]</p>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine9Text2]@L]</p>

                            <hr/>

                            <h2 class="h2-alternate">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine10Title]@L]</h2>
                            <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine10Text1]@L]</p>
                            <p class="no-margin-bottom">[@L[cds.sales/gd/domainaddon/domain-backorders2:FaqLine10Text2]@L]</p>

                        </div>
                    </div>
                </div>
                <a href="#plan-pricing" class="btn btn-primary btn-lg btn-block tab-link"><i class="ico ico-gt"></i>[@L[cds.sales/gd/domainaddon/domain-backorders2:PacakgeBtn]@L]</a>
            </div>
        </section>
          </div>
        </div>
        <!-- End main-tabs panes -->
        <section class="container l-main-container content-disclaimer">
            <p class="no-margin-bottom"><small class="small-print">[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerContentSymbols]@L]<a class="simple-link" href="#" data-toggle="modal" data-target="#myModal">[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerContentLinkText]@L]</a></small></p>
            <p><small class="small-print">[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerContentDisclaimer]@L]</small></p>
        </section>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="modal-title"><strong>[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerModalTitle]@L]</strong></p>
                    </div>
                    <div class="modal-body">
                        <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerModalListItem1]@L]</p>
                        <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerModalListItem2]@L]</p>
                        <p>[@L[cds.sales/gd/domainaddon/domain-backorders2:DisclaimerModalListItem3]@L]</p>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block footer %}

  <script>
    $(function () {
      $('.tab-link').tabLinks();
      $('.select-box').setSelectBox();
      $('.isToolTip').tooltip();

      var $cartForm = $('#cart-form');
      $cartForm.on('submit', function(e){
        e.preventDefault();
        var props = $(this).serializeObject();
        var itc = props.itc;
        var ci = props.ci;
        var qty = parseInt(props.quantity || 0);
        var pkg = props.package;

        if (!qty || (qty && ( qty > 1000 || qty < 1 ))) {
          alert('Please enter a quantity.');
        } else {
          var urlparams = [itc,ci,qty,pkg].join('/');

          var url = '[@T[link:<relative path="api/package/add" secure="false" parammode="explicit"/>]@T]/' + urlparams;

          var addCartItem = function(url) {
            return $.ajax({
              type: 'POST',
              url: url,
              dataType: 'json'
            });
          };

          // Start Cart Submit
          addCartItem(url).then(function(data){

            if (data.Success) {
              if (props.registration_type == 'private') {
                urlparams = [itc,ci,1,'domain_backorders_private'].join('/');
                var regurl = '[@T[link:<relative path="api/package/add" secure="false" parammode="explicit"/>]@T]/' + urlparams;
                return addCartItem(regurl);
              } else {
                return data;
              }
            }

          // Then redirect to cart
          }).then(function(data){

            ##if(isManager())
              var carturl = '[@T[link:<external linktype="MANAGERCARTURL" path="/basket.aspx" />]@T]';
            ##else
              var carturl = '[@T[link:<external linktype="carturl" path="/basket.aspx" />]@T]';
            ##endif
            window.location = carturl;

          });



        }

      });


    });

    $(document).ready(function(){
      ##if(activeLanguageAny([en-us]))
      $('.regimark').append("&reg;");
      ##endif
    });

  </script>

{% endblock %}
