extends ./_marquee.jade

append vars
  - lightText = false;

append marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img_bgrnd_sb15_marquee_lam_wsb.jpg) no-repeat top center;); }