extends ./_marquee.jade

append vars
  - lightText = true;

append marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/bg-marquee.jpg) no-repeat top center;); }