extends ./_marquee.jade

append vars
  - lightText = false;

append marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/SB15_Marquee_Website-Builder_Asia.jpg) no-repeat top center;); }