extends ../_hero-left-arrow.jade

append vars
  - var classes = "hosting-flash-jazzy"
  - var ciCode = 97703;
  - var ctaLink = "[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='"+ciCode+"' /></relative>]@T]";

  - var polyPoint = "30";

append styles
  style
    :less
     #hero-wrapper .hosting-flash-jazzy{
        .right-container{background:url([@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/woman.jpg) top center;}
        .left-content{
          polygon {float:right;}
        }
      }

block leftContent
  p.product Jazzy Web Hosting
  h2.big-green [@T[productcompare:<percent primaryproductid="32051" secondaryproductid="32051" hidebelow="5" showsymbol="true" />]@T] off web hosting
  div.description Ut enim ad minim veniam quis nostrud ecercitation ullamco.
  p.price Starting at <span class="text-purchase">[@T[productprice:<current productid="32051" period="monthly" checktmspromocode="true" htmlsymbol="false" />]@T]/mo</span>
  a.btn.btn-md.btn-primary Get Started
  p.disclaimer Annual purchase required.
block rightContent