extends ../_banner-medium-basic.jade

append vars
  - ciCode = '98072'
  - classes = 'domain-privacy'
  - titleText = 'Don\'t let your private info out in public.'
  - bodyText = 'Add privacy to your domain for just <span class="text-purchase">[@T[productprice:<current productid="7001" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/mo</span>'
  - ctaText = 'Get yours'
  - ctaLink = '[@T[link:<relative path="/domainaddon/private-registration.aspx"><param name="ci" value="' + ciCode + '"/></relative>]@T]'