extends ../_hero-arrow.jade

append vars
  - var classes = "hosting-paid-for-it";
  - var ciCode = 95857;
  - var ctaLink = "[@T[link:<external linktype='MYAURL'><param name='ci' value='"+ciCode+"'/><param name='accid' value='3' /></external>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white You bought it.<br/>You paid for it.<br/>So use it.

block rightContent
  p.font-md.black Activate your hosting plan
  a.btn.btn-md.btn-purchase(href!=ctaLink) Get started