---
location: sales/homepage/tiles/30-percent-gtld/default_template
id: false
name: GCE-32589
---
atlantis:webstash(type="css")
  style.
    .gtld-tile{background-position:0 0;color:#fff}
    .gtld-tile .gtld-tile-phonetext{width:243px;position:absolute;top:175px;left:68px;float:left}
    .gtld-tile .gtld-tile-phonetext>ul{list-style:none;}
    .gtld-tile .gtld-tile-phonetext>ul>li{padding:14px 0px 14px 10px;width:128px;font-size:24px;font-family:'Walsheim-Black';}
    .phonetext-border{border-bottom:1px solid #b9babb}
    .gtld-tile .gtld-tile-phonetext>ul>li:hover{color:#f5811f;cursor:pointer;}
    .gtld-tile .gtld-tile-phonetext>ul>li>span{display:block;}
    .gtld-tile .cellphone-tld{font-size:26px;line-height:26px;width:100px}
    .gtldtile-phone-arrow{background-position:-15px -1711px;width:8px;height:35px;display:inline-block;float:right;margin:-30px 7px 0 0}
    .gtld-tile-text{margin:15px 5px 0 30px;position:relative;}
    .gtld-tile-headline{font-size:28px;line-height:28px;font-family:'Walsheim-Black';}
    .gtld-tile-maintext{font-size:67px;line-height:62px}
    .gtld-tile-subtext{font-size:24px;line-height:24px;}
    .gtld-tile-text>.atn-btn-wrap{float:right;position:relative;top:220px;width:170px}
    .gtld-tile-text>.atn-btn-wrap>.btn-top-img{color:#fff;background-color:#333;border-bottom:4px solid #585858;padding:16px 12px;font-size:20px;box-sizing:border-box;height:61px;width:160px;}
    .gtld-tile-text>.atn-btn-wrap>.btn-top-img:hover{background-color:#444;}           
#30-percent-gtld.tile-sprite.gdhp-tile.gtld-tile.js-gdhpclick(data-url!="[@T[link:<relative path='/domains/search-new.aspx'><param name='ci' value='94911' /></relative>]@T]",data-ci="94911")
  .gtld-tile-text
    span.gtld-tile-headline.b [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-tile-headline]@L]
    span.gtld-tile-maintext.tungsten [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-tile-maintext]@L]
    span.gtld-tile-subtext [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-tile-subtext]@L]</span>
    .gtld-tile-phonetext
      ul
        li#gdhp-gtldtile-1.js-gdhpclick.phonetext-border(data-url!="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-url-1]@L]",data-ci!="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-ci-1]@L]")
          span.cellphone-tld.b.gtld [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-text-1]@L]
          span.tile-sprite.gtldtile-phone-arrow
        li#gdhp-gtldtile-2.js-gdhpclick.phonetext-border(data-url!="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-url-2]@L]",data-ci="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-ci-2]@L]")
          span.cellphone-tld.b.gtld [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-text-2]@L]
          span.tile-sprite.gtldtile-phone-arrow
        li#gdhp-gtldtile-3.js-gdhpclick.phonetext-border(data-url!="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-url-3]@L]",data-ci="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-ci-3]@L]")
          span.cellphone-tld.b.gtld [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-text-3]@L]
          span.tile-sprite.gtldtile-phone-arrow
        li#gdhp-gtldtile-4.js-gdhpclick(data-url="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-url-4]@L]",data-ci="[@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-ci-4]@L]")
          span.cellphone-tld.b.gtld [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-li-text-4]@L]
          span.tile-sprite.gtldtile-phone-arrow
    .atn-btn-wrap
      a#gdhp-gtldtile-btn.btn.btn-top-img(href="javascript:void(0)",data-ci="94911") [@L[cds.sales/homepage/tile/30-percent-gtld:gtld-tile-btn]@L]