extend ../../../layouts/homepage/downArrowTile.jade

append vars
  - headerText = "TRANSFER YOUR .CH FOR FREE"
  - bodyText = "Move your name to the world's #1 domain registrar for a price that can't be beat."
  - buttonLink = "#";
  - buttonText = "Get Started";
  - disclaimerText = "Watch out for this deal!";