extend ../../../layouts/homepage/downArrowTile

append vars
  - buttonLink = "[@T[link:<relative path='/tlds/com.aspx'><param name='ci' value='95917' /></relative>]@T]";
  - buttonText = "[@L[cds.sales/homepage/tile/com299-in:cta-text]@L]";
  - disclaimerText = "[@L[cds.sales/homepage/tile/com299-in:restrictions-text]@L]";
  - dataCi = "95917";
  - containerClass = "com299-in";

block append downArrowTileStyles
  style.
    .tile.com299-in{background-image:url('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/rajesh-background.jpg')}
    .tile.com299-in .header-wrapper,.tile.com299-in .arrow-separator{visibility:hidden;}
    .tile.com299-in .header-wrapper{min-height:120px;}
    .tile.com299-in .body-text{font-size:28px; line-height:1em;}
    .tile.com299-in .price-text{font-size:54px;color:#77c043;}
    .tile.com299-in .btn-cta{width:auto}
    .tile.com299-in .cta-wrapper,.tile.com299-in .body-wrapper{padding-right:20px;padding-left:20px}
  | <!--[if lt ie 9]><style>.tile.com299-in .price-text{font-size: 30px !important;}</style><![endif]-->

block body
    .body-text [@L[cds.sales/homepage/tile/com299-in:body-text]@L]
    h3.price-text.tungsten [@L[cds.sales/homepage/tile/com299-in:price-text]@L]
