extend ../../../layouts/homepage/downArrowTile

append vars
  - buttonLink = "[@T[link:<relative path='/tlds/com.aspx'><param name='ci' value='95917' /></relative>]@T]";
  - buttonText = "[@L[cds.sales/homepage/tile/com299-in:cta-text]@L]";
  - disclaimerText = "[@L[cds.sales/homepage/tile/com299-in:restrictions-text]@L]";
  - dataCi = "95917";
  - containerClass = "com299-in";

block body
    .body-text [@L[cds.sales/homepage/tile/com299-in:body-text]@L]
    h3.price-text [@L[cds.sales/homepage/tile/com299-in:price-text]@L]
