---
location: sales/homepage/tile/hosting/default_template
id: false
name: GCE-32589
---
atlantis:webstash(type="css")
  style.
    .hosting-tile{background-color:#fff;color:#58585a}
    .hosting-tile-logo{background-position: -15px -1757px;width:440px;height:140px;margin:30px 20px 20px}
    .hosting-tile-text{width:440px;margin:0 10px 0 20px}
    .hosting-tile-headline{font-size:32px;line-height:32px}
    .hosting-tile-maintext{font-size:35px;line-height:30px;font-family:'Walsheim-Black'}
    .hosting-tile-subtext{font-size:48px;line-height:48px;}
    .hosting-tile-headline>.gdhp-dash{display:inline-block;background-color:#58585a;width:305px;height:4px;margin-bottom:9px}
    .hosting-tile-disclaimer{font-size:22px;margin-top:30px;}
    .hosting-tile-disclaimer>.orange-warning{color:#f5811f;display:inline;font-family:'Walsheim-Bold';font-size:20px;}
    .hosting-tile>.host-btn-wrap{margin:20px}
    .hosting-tile>.host-btn-wrap>.tungsten{width:216px;}
    .hosting-tile>.host-btn-wrap>.btn-lrg{width:220px;float:left;margin-right:10px}
    .hosting-tile>.host-btn-wrap>span>span.hosting-tile-pricetext{font-family:'Walsheim-Light';font-size:28px !important;line-height:28px;margin-bottom:5px;color:#ff8a00;}
    .hosting-tile>.host-btn-wrap>span>span.hosting-tile-price{font-family:'Walsheim-Bold';color:#ff8a00;}
    .bigtext{visibility:hidden;}
#gdhp-hostingtile.gdhp-tile.hosting-tile.js-gdhpclick(data-url!="[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='93458' /></relative>]@T]",data-ci="93458")
  .hosting-tile-logo.tile-sprite
  .hosting-tile-text.bigtext
    span.hosting-tile-headline.tungsten [@L[cds.sales/homepage/tile/hosting:host-tile-web-hosting]@L]
      span.gdhp-dash
    span.hosting-tile-maintext [@L[cds.sales/homepage/tile/hosting:host-tile-maintext]@L]
    span.hosting-tile-subtext.tungsten [@L[cds.sales/homepage/tile/hosting:host-tile-subtext]@L]
    span.hosting-tile-disclaimer [@L[cds.sales/homepage/tile/hosting:host-tile-disclaimer]@L]
  .host-btn-wrap
    a#gdhp-hostingtile-btn.btn.btn-lrg.btn-orange(href!="javascript:void(0)",data-ci="93458") [@L[cds.sales/homepage/tile/hosting:host-tile-btn]@L]
    span.tungsten.bigtext
      span.b.hosting-tile-pricetext [@L[cds.sales/homepage/tile/hosting:host-tile-starting]@L]
      span.hosting-tile-price [@T[productprice:<current productid="32051" period="monthly" />]@T][@L[cds.sales/homepage/tile/hosting:host-tile-month]@L]
