extend ../_tile-2col_base.jade

append vars
  - ctaLink = "[@T[link:<relative path='/domains/domain-name-search.aspx'><param name='ci' value='11111' /></relative>]@T]";
  - dataCi = 11111;
  - containerClass = "gtld-marquee-tile";

block tileStyles
  style
    :less
      .gtld-marquee-tile{background: #ff8a00}
      .gtld-marquee-tile .left-content-wrapper{padding-left:10%}
      .gtld-marquee-tile .header-text{font-size:20px;margin-top:20px;color:#fff}
      .gtld-marquee-tile .body-text{font-size:18px;margin-top:10px;color:#333}
      .gtld-marquee-tile .cta-wrapper>a{color:#fff;font-size:20px;text-decoration:underline;}
      .gtld-marquee-tile .gtld-links-wrapper{padding-left:-15px}
      .gtld-marquee-tile ul{list-style-type:none;padding-top:20px}
      .gtld-marquee-tile li{color:#75c239;font-size:20px;line-height:25px}

block leftContent
  .header-wrapper
    h2.header-text.walsheim-black 30% OFF
  .body-wrapper
    h3.body-text.walsheim-medium The right name, right now.
  .cta-wrapper
    a.walsheim-black(href!=ctaLink) SEACH NOW
block borderLine

block rightContent
  .gtld-links-wrapper
    ul
      li.walsheim-black .guru
      li.walsheim-black .club
      li.walsheim-black .company
      li.walsheim-black .email



