---
location: sales/homepage/tile/p4p/default_template
id: 555a1e7ef778fc2090b11862
name: MCXMO-1014
---
append style
  style
    :less
      #p4p{
      mark {font-size:40px;}
      .subtitle{font-size:30px;}
      .black { font-family: 'Walsheim-Black', 'Arial Black', sans-serif; text-transform: uppercase; }
      .bold { font-family: 'Walsheim-Bold', 'Arial Black', sans-serif; text-transform: uppercase; }
      }

#p4p.tile-sprite.gdhp-tile.gtld-tile.js-gdhpclick(data-url!="[@T[link:<relative path='/getonline/getonline.aspx'><param name='ci' value='94911' /></relative><param name='p4p' value='confusing' /></relative>]@T]",data-ci="94911")
  .gtld-tile-text
    mark.black Got 30 Seconds?
    .subtitle.bold We'll recommend the right bundle for your business.
    .atn-btn-wrap
      a#gdhp-gtldtile-btn.btn.btn-top-img(href="javascript:void(0)",data-ci="94911") Get Started