.search-form {
max-width: 880px;
margin: 0 auto 1.071428571em;
}
.searchBoxForm {
border: #d4d4d4 solid 1px;
}
.search-form-input {
border: 1px solid #d4d4d4;
border-right: 0;
float: left;
font-size: 1.571428571em;
height: 2.909090909em;
max-width: 530px;
padding: .772727273em 1.045454545em .818181818em;
vertical-align: middle;
width: 78.57142857%;
}
.btn-search-form {
display: inline-block;
float: right;
font-size: 1.285714286em;
font-weight: 300;
height: 3.555555556em;
min-width: 180px;
padding: 1em 1.611111111em .944444444em;
vertical-align: middle;
}
.clearfix {
}

.main-banner-subtitle {

margin-bottom:20px;
margin-top:50px;
color: #333333;
}
.coming-soon-box{
height:170px;
width:768px;
padding-top: 35px;
padding-bottom: 35px;
border-width:1px;
border-style: solid;
border-color: #999999;
display: table;
    margin: 0 auto;
margin-bottom:30px;
}
.gd-left-image{
background: url('../img/cobranded-cce-lenovo-sprite.png') no-repeat -24px -2px;
	width: 224px;
	height: 97px;
display: inline-block;
float: left;
margin-left: 65px;
cursor: pointer;
}



html[lang='pt-BR'] .gd-left-image, html[lang='pt-PT'] .gd-left-image{
background: url('../img/cobranded-cce-lenovo-sprite.png') no-repeat -24px -102px;
	width: 224px;
	height: 97px;
display: inline-block;
float: left;
margin-left: 65px;
}


.plus-sign{
display: inline-block;
font-size:70px;
}
.cce-right-image{
	background: url('../img/cobranded-cce-lenovo-sprite.png') no-repeat -24px -327px;
	width: 222px;
	height: 43px;
	display: inline-block;
	float: right;
	margin-right: 65px;
	margin-top: 30px;
}

html[lang='pt-BR'] .cce-right-image, html[lang='pt-PT'] .cce-right-image{
	background: url('../img/cobranded-cce-lenovo-sprite.png') no-repeat -24px -415px;
	width: 228px;
	height: 66px;
	display: inline-block;
	float: right;
	margin-right: 65px;
	margin-top: 12px;
}


     .background-container{
     background: #ffffff;
     }
     
     .main-tab{
     background: #689A1D;
     }
     
     .green-divider{
     height: 60px;
     }
     
     .container-details{
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
     }
     
     .green-underline{
     color: #7db701;
     text-decoration: underline;
     }
     
     .main-banner-content-width{
     max-width: 560px;
     max-width: 375px;
     text-align: left;
     margin-top: 30px;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     }


     .main-banner-second-line{
      font-size: 55px;
      font-weight: bold;
      line-height: 10px;
     }

     .main-banner-third-line{
      font-weight: bold;
     }
     
     .sub-banner-content-width{
     margin-left: -440px;
     margin-top: 30px;
     font-size: 22px;
     margin-bottom: 60px;
     line-height: 31.2px;
     }

     .sub-banner-second-line{
      font-size: 50px;
      font-weight: bold;
     }

     .sub-banner-third-line{
      font-size: 28px;
      font-weight: bold;

     
     .sub-banner-content-width{
     margin-left: -485px;
     margin-top: 30px;
     font-size: 18px;
     margin-bottom: 60px;
     }


     .divider-section{
     color: #7db701;
     max-width: 10px;
     }
     
     .landing-page-marquee{
     background-image: url("../img/lenovo-landing-page-marquee.png");
     background-position: center top;
     background-repeat: no-repeat;
     position: relative;
     width: 100%;
     height: 420px;
     
     }
         
     /* Building your own website - First section */

	.gray-bg{
  	background-color: #d4d4d4;
	}

	.lenovo-blade1-image{
	background-image: url("../img/lenovo-landing-page-blade-1.png");
	float: left;
	height: 470px;
	width: 489px;
	}
     
     
     .margin-from-top
     {
      margin-top: -3.428em;
     }
     
     .first-section-header{
      font-size: 13px;
      margin-left: 506px;
      margin-top: 115px;
      }
     
     .first-section-body{
     margin-left: 506px;
     font-size: 16px;
     padding-right: 28px;
     margin-bottom: 120px;
     }
     
     .padding{
     padding-top: 1.428571429em;
     }
    
     .get-started-button{
      margin-left: 160px;
      cursor: pointer;
      color: #7db701;
      text-decoration: underline;
      width: 170px;
      height: 60px;
     }   

      }   

     
     
     .image-position{
      margin-right: 30px;
      }
    
     
     /* Why do I need - Second section */
     
      .second-section-header{
      font-size: 13px;
      padding-left: 60px;
      margin-top: 40px;
      }  
     
     .second-section-body{
     padding-left: 60px;
     font-size: 16px;
     margin-right: 498px;
     margin-bottom: 120px;
     }

     .lenovo-blade2-image{
	background-image: url("../img/lenovo-landing-page-blade-2.png");
	float: right;
	height: 260px;
	width: 489px;
	}

	.second-row{
	height: 260px;
	}
    
     
        
     /* What else - Third section */
     
     .third-section-header{
      font-size: 13px;
      margin-left: 506px;
      margin-top: 40px;
      }
     
     .third-section-body{
     margin-left: 506px;
     font-size: 16px;
     padding-right: 70px;
     margin-bottom: 120px;
     }

    .lenovo-blade3-image{
	background-image: url("../img/lenovo-landing-page-blade-3.png");
	float: left;
	height: 260px;
	width: 489px;
	}

	.third-row{
	height: 260px;
	}
    
     
     /* What if - Fourth section */  
     
     .fourth-section-header{
      font-size: 13px;
      padding-left: 60px;
      margin-top: 40px;
      
      }  
     
     .fourth-section-body{
     padding-left: 60px;
     font-size: 16px;
     margin-right: 498px;
     margin-bottom: 120px;
     }
     
    
     .fourth-section-padding{
     padding-bottom: 40px;
     }

    .lenovo-blade4-image{
	background-image: url("../img/lenovo-landing-page-blade-4.png");
	float: right;
	height: 260px;
	width: 489px;
	}

	.fourth-row{
	height: 260px;
	}


	.disclaimer-text{
	line-height: 0.5px;
    font-size: 14px;
	}




    
