extends ../_banner-small.jade

block append vars
  - dataCi = 97911;
  - containerClass = "0365-biz-email";
  - logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjQzIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgNDMgMzUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQzIDM1IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjNzdDMDQzIiBkPSJNMS40IDBsNDEgOC4yTDI0LjYgMjQuNSAxLjQgMHpNNDMgMTAuN2wtMiAyMi4xTDAuNyAzNSAwIDMuM2wyNC4zIDIzTDQzIDEwLjd6Ii8+PC9zdmc+"
  - logoImageFallback = "[@T[link:<imageroot />]@T]fos/tmsv2/content/o365-biz-email/banner-small/pro-email-icon.png";
  - titleText = "[@L[cds.tmsv2/content/homepage/o365-biz-email/banner-small:title]@L]";
  - bodyText = "[@L[cds.tmsv2/content/homepage/o365-biz-email/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/o365-biz-email/banner-small:cta]@L]";
  - ctaLink = "[@T[link:<relative path='/email-account.aspx'><param name='ci' value='97911' /></relative>]@T]";  


block scripts
  script.
    var savings = Math.max([@T[productcompare:<percent primaryproductid="31805" secondaryproductid="31805" />]@T],[@T[productcompare:<percent primaryproductid="31825" secondaryproductid="31825" />]@T],[@T[productcompare:<percent primaryproductid="31841" secondaryproductid="31841" />]@T]);
    $cta=$('.banner-small.0365-biz-email a');
    if(savings<5)
      $cta.html('[@L[cds.tmsv2/content/homepage/o365-biz-email/banner-small:cta-fallback]@L]')
    else
      $cta.html($cta.html().replace("{0}", savings));
    $cta.show();