extends ../_hero-arrow.jade

append vars
  - var classes = "domain-enough-passwords";
  - var ciCode = 95853;
  - var ctaLink = "[@T[link:<relative path='/domains/domain-transfer.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Transfer your domain to us.
  p.font-md.black.text-white You have enough passwords to remember.

block rightContent
  p.font-lg.bold.text-secondary Free 
  p.font-lg 1-Year extension
  a.btn.btn-md.btn-purchase GET STARTED
  p.font-sm *Exclusions apply