extends ../_banner-medium-simple.jade

append vars
  - classes ="testimonial";

append styles
  style.
    .banner-medium.testimonial { background-color: #333; color: #fff; }

block content
  .black.font-sm "There's a reason why GoDaddy is the number one registrar in the world."
  .black.font-sm.text-primary-o Mr. Atul Chaudhari, Impace Systems
