extends ../../../../sales/homepage/_tile.jade

prepend vars
  - ctaLink = "";
  - containerClass = "testimonial merch-tile ";

block tileStyles
  style
    :less
      .testimonial.merch-tile{font-family:'Walsheim-Black', 'Arial Black', sans-serif; background:#333; padding:10px; font-size:13px;cursor:default; position:relative;
        @media only screen and (min-width:480px){
         font-size:18px;
        }
        @media only screen and (min-width:768px){
          font-size:15px;
        }
        @media only screen and (min-width:992px){
          font-size:13px;
        }
        @media only screen and (min-width:1200px){
          font-size:16px;
        }
        .tile-content-wrapper { position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);
          .testimony {font-size:1.25em; margin-bottom: 10px; font-size: 1.25em;color:#fff;line-height:1.2}
          .customer {text-transform:uppercase;font-size:1em;color:#77C043;}
        }
      }
      .Explorer8 .testimonial.merch-tile .tile-content-wrapper {position: relative;top: 0;}
block tileContent
  .testimony "There's a reason why GoDaddy is the number one registrar in the world."
  .customer Mr. Atul Chaudhari, Impace Systems