extends ../../../../sales/homepage/_right_arrow.jade

block append heroVars
  - rightArrow.ci = "94091";
  - rightArrow.ctaLink = "[@T[link:<relative path='/business/office-365.aspx'><param name='ci' value='"+rightArrow.ci+"'/></relative>]@T]";
  - rightArrow.classes += " o365-boss-impressed";
block leftContent
  .bigtext
    .line1.walsheim-black OFFICE 365 FROM FROM GODADDY
    .line2.tungsten EMAIL SO PROFESSIONAL,
    .line3.walsheim-black EVEN YOUR OLD BOSS
    .line4.tungsten 
      span.dash —————
      span WILL BE IMPRESSED
block rightContent
  .bigtext
    .line1.walsheim-bold PLANS FROM ONLY
    .line2.price.walsheim-black [@T[productprice:<current productid="31805" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/MO
  a.btn.btn-lg.btn-purchase START NOW