extends ../_hero-arrow.jade

append vars
  - var classes = "o365-boss-impressed";
  - var ciCode = 95859;
  - var ctaLink = "[@T[link:<relative path='/business/office-365.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-lg.black.text-white Office 365 from GoDaddy
  p.font-md.black.text-white Email so professional, even your old boss will be impressed.

block rightContent
  p.font-md.black Plans from only
  p.font-md.black.text-purchase [@T[productprice:<current productid="31805" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/MO
  a.btn.btn-md.btn-purchase(href!=ctaLink) Start now