extends ../_hero-arrow.jade

append vars
  - var classes = "o365-boss-impressed";
  - var ciCode = 95859;
  - var ctaLink = "[@T[link:<relative path='/business/office-365.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";
  - var polyColor = "#77c043";
  - var polyPoint = 50;

block leftContent
  p.font-md.black.text-white OFFICE 365 FROM GODADDY</br> EMAIL SO PROFESSIONAL,</br>EVEN YOUR OLD BOSS</br>WILL BE IMPRESSED.

block rightContent
  p.font-md.black PLANS FROM ONLY
  p.font-md.black.text-purchase [@T[productprice:<current productid="31805" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/MO
  a.btn.btn-md.btn-purchase Start now