{% extends 'base.html' %}

{% block body %}

    <div class="container">
      <button class="btn" id="loadReviews">Load Reviews</button>
    </div>
    <div class="container">
      [@P[userControl:<Data location="~/Shared/Tabs/controls/BVReviewsNoJS.ascx"><Parameters><Parameter key="ProductId" value="website_builder" /><Parameter key="ReviewNumber" value="4" /></Parameters></Data>]@P]
    </div>


{% endblock %}

{% block footer %}

    <script type="text/javascript">
      var loadReviews = function(){
        if (typeof $BV != "undefined") {
          $BV.configure("global", {
            allowSamePageSubmission: true,
            userToken: "[@P[userControl:<Data location="~/Shared/BazaarVoice/SessionUserToken.ascx"></Data>]@P]",
            doLogin: function(successCallback, successUrl) {
              $('#g-modal-loginAcct').modal({
                overlayId: "g-modal-overlay",
                close: "false",
                autoPosition: "true"
              });
            },
            doScrollSubmission: function () {
              return false;
            }
          });
          $BV.ui("rr", "show_reviews", {
            productId: "website_builder",
            num: 4,
            doShowContent: function() {}
          });
        }
      };
      $('#loadReviews').on('click', function(e){
        e.preventDefault();
        (function() {
          var bv = document.createElement('script'); bv.type = 'text/javascript';
          bv.async = true;
          bv.src = '[@P[userControl:<Data location="~/Scripts/BVScriptUrlOnly.ascx"></Data>]@P]';
          bv.onload = loadReviews;
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bv);
        })();
      });
    </script>


{% endblock %}
