---
location: sales/demo/lazy-loader/bv-reviews.html
id: 53443788f778fc1c24d29041
bv: { product: 'ssl-certificates', loginReturn: '[@T[link:<external linktype="siteurl" path="/demo/lazy-loader/bv-reviews.html" secure="false" parammode="explicit" />]@T]#reviews' }
---
{% extends 'layouts/base.html' %}

{% block metahead %}
  {% parent %}
  <style type="text/css">
  body {
    background-color: #fff;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  </style>
{% endblock %}

{% block body %}

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="row tab-content">Home</div>
        </div>
        <div class="tab-pane" id="reviews">
          <div class="row tab-content">
            {% include 'modules/_bv-reviews-container.html' with bv only %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}

    {% include 'modules/_bv-load-reviews-js.html' with bv only %}

    {% include 'modules/_bv-login-modal.html' with bv only %}

{% endblock %}
