extends ../_banner-medium-split.jade

append vars
  - ctaLink = "[@T[link:<relative path='/tlds/gtld.aspx'><param name='ci' value='95897' /></relative>]@T]";
  - ciCode = "95897";
  - classes = "gtld";
  - polygonFill ="#77c043"

append styles
  style.
    .banner-medium.gtld h2 {font-size:2.5em;margin:0;}
    .banner-medium.gtld ul{list-style-type:none;}
    .banner-medium.gtld li {margin: 0;}
    .banner-medium.gtld a{text-transform: none;font-size:1.25em;text-decoration:none;} 
    .banner-medium.gtld a:hover{color: #77c043;}
    .Explorer8 .banner-medium.gtld,.Explorer7 .banner-medium.gtld {background-image: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/gtld-tile-background.png);}

block leftContent
  h2.black.text-center [@L[cds.sales/homepage/tile/marquee-tile-gtld:header-text]@L]

block rightContent
  ul
    li
      a.black.text-purchase.tld-guru(href!="[@T[link:<relative path='/tlds/guru'><param name='ci' value='95716' /></relative>]@T]") .guru
    li
      a.black.text-purchase.tld-club(href!="[@T[link:<relative path='/tlds/club'><param name='ci' value='95713' /></relative>]@T]") .club
    li
      a.black.text-purchase.tld-global(href!="[@T[link:<relative path='/tlds/global'><param name='ci' value='98104' /></relative>]@T]") .global
    li
      a.black.text-purchase.tld-life(href!="[@T[link:<relative path='/tlds/life'><param name='ci' value='98105' /></relative>]@T]") .life