include ../../../templates/featuresLeftTwoUp.jade
- options = {};
- options.title = "[@L[cds.sales/gd/hosting/website-builder:business-plus-badge-2]@L]";
- options.backgroundImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-computer-illustration.png";

+twoUp(options)
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-getAwebsite.png",lazyLoad:false,altText:"",title:"[@L[cds.sales/gd/hosting/website-builder:oneclick-header]@L]",text:"[@L[cds.sales/gd/hosting/website-builder:oneclick-body-text]@L]",buttonColor:"btn-default-dark"})
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-gettingGoogle.png",lazyLoad:false,altText:"",title:"[@L[cds.sales/gd/hosting/website-builder:seofs-header]@L]",text:"[@L[cds.sales/gd/hosting/website-builder:seofs-body-text]@L]",buttonColor:"btn-default-dark"})
