include ../../shared/_features-left-two-up.jade
- options = {};
- options.title = "[@L[cds.sales/gd/hosting/website-builder:business-plus-badge-2]@L]";
- options.backgroundImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rebrand-features-bg-ph_v2.png";
- options.lazyLoad = true;

+twoUp(options)
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-getAwebsite2.png",lazyLoad:false,altText:"",title:"[@L[cds.sales/gd/hosting/website-builder:oneclick-header]@L]",text:"[@L[cds.sales/gd/hosting/website-builder:oneclick-body-text]@L]",buttonColor:"btn-default-dark",lazyLoad:true,ciCode:"95731"})
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/img-gettingGoogle2.png",lazyLoad:false,altText:"",title:"[@L[cds.sales/gd/hosting/website-builder:seofs-header]@L]",text:"[@L[cds.sales/gd/hosting/website-builder:seofs-body-text]@L]",buttonColor:"btn-default-dark",lazyLoad:true,ciCode:"95732"})
