include ../../../templates/full-video-mixin.jade

+fullVideoModule({"icode":"code","backgroundImage":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/bg-video.jpg","playButton":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png","tagline":"Make it your way ---- Assuming you want it uncomplicated and gorgeous","cta":"We give you intuitive design tools; you plug in some info and create the site you've always wanted easier than you ever imagined.","youtubeId":"-HtVJyxSQmw","tileName":"wsbVideo"})
