extends ../../../templates/marquees/landing-page-marquee.jade

append marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/GD_WebsiteBuilder_Marquee.jpg) no-repeat top center;); }

block topAlignedContent
  +productName("[@L[cds.sales/gd/hosting/website-builder:main-banner-subtitle]@L]")
  +productDescription("[@L[cds.sales/gd/hosting/website-builder:header_subtitle_1]@L]</br>[@L[cds.sales/gd/hosting/website-builder:header_subtitle_2]@L]")
  +checkBullets(["[@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-1]@L]","[@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-2]@L]","[@L[cds.sales/gd/hosting/website-builder:wsb-main-listitem-3]@L]"])
  +callToAction("[@L[cds.sales/gd/hosting/website-builder:get-started-btn-general]@L]","[@T[link:<relative path='~/hosting/website-builder-config.aspx' secure='true'><param name='ci' value='' /><param name='plan' value='wsb_personal_12month' /></relative>]@T]")
