include ../../../templates/featuresLeftTwoUp.jade
- options = {};
- options.title = "Business Exclusives Section";
- options.backgroundImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rebrand-features-bg-ph.jpg";

+twoUp(options)
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rebrand-features-img1-ph.png",lazyLoad:false,altText:"",title:"Get more than just a website",text:"With our One-Click Social Media Manager, we'll instantly match your Facebook.....",buttonColor:"btn-default-dark",buttonUrl:"http://godaddy.com",buttonText:"Learn More"})
  +twoUpFeature({image:"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rebrand-features-img1-ph.png",lazyLoad:false,altText:"",title:"Get on Google in 3 easy steps with our built-in SEO tool",text:"See how the built-in Search Engine Optimization (SEO) tool in our Business Plus plan will help you show up on Google<sup>&reg;</sup>, Yahoo!<sup>&reg;</sup> and more.",buttonColor:"btn-default-dark",buttonUrl:"http://godaddy.com",buttonText:"Learn More"})
