extends ../../../templates/full-Video.jade

append vars
  - icode = "code";
  - lazyLoad = false;
  - backgroundImage = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/wsb-video-background.jpg";
  - playButton = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/website-builder/rb-play-button.png";
  - tagline = "Make it your way ---- Assuming you want it uncomplicated and gorgeous";
  - cta = "We give you intuitive design tools; you plug in some info and create the site you've always wanted easier than you ever imagined.";
  - youtubeId = "-HtVJyxSQmw";
  - tileName = "wsbVideo";

