include ../../../templates/tabbed-carousel-mixin.jade
- tabbedCarousel = tabbedCarousel || {};
- tabbedCarousel.title = "Popular apps keep your site fresh";
- tabbedCarousel.subtitle = "Easily integrate social and business apps in your site to share information and keep customers coming back.";
- tabbedCarousel.numOfTabs= 6;
- tabbedCarousel.lazyLoad = true;
- tabbedCarousel.id = "carousel-social-media";

+renderTabbedCarousel(tabbedCarousel)
  +addTab({icon:"uxicon-facebook-box",logo:"",imageAlternateText:"",text:"facebook"})
  +addTab({icon:"uxicon-twitter",logo:"",imageAlternateText:"",text:"twitter"})
  +addTab({icon:"uxicon-youtube-box",logo:"",imageAlternateText:"",text:"youtube"})
  | 
  |##if(activeLanguageAny(es))
  |   
  +addTab({icon:"uxicon-yelp",logo:"",imageAlternateText:"",text:"yelp"})
  | 
  |##endif
  |  
  +addTab({icon:"uxicon-paypal",logo:"",imageAlternateText:"",text:"paypal"})
  +addTab({icon:"uxicon-homefinder",logo:"",imageAlternateText:"",text:"home owner"})
+carousel(tabbedCarousel.id ,tabbedCarousel.numOfTabs)
  +carouselItem
    include ./panels/facebook.jade
  +carouselItem
    include ./panels/twitter.jade
  +carouselItem
    include ./panels/youtube.jade
  | 
  |##if(activeLanguageAny(es))
  | 
  +carouselItem
    include ./panels/yelp.jade
  | 
  |##endif
  |  
  +carouselItem
    include ./panels/paypal.jade
  +carouselItem
    include ./panels/homeOwner.jade
