extends ../../../layouts/base

block content
  section.main-banner.main-banner-website-builder
    div.l-main-container.container.main-banner-content.main-banner-content-website-builder
      span.ribbon.ribbon-right
        i.marquee-flag.marquee-flag-free-domain-included(class!='marquee-flag-[@T[localization:<language />]@T]')
