{% include '../modules/doc-block.html' %}
<!DOCTYPE html>
<html lang="[@T[localization:<language full="true" />]@T]">
<head>
{% block metatitle %}<title>[@L[cds.sales/homepage:page-title]@L]</title>{% endblock metatitle %}
{% block metadescription %}<meta name="description" content="[@L[cds.sales/homepage:meta-description]@L]" />{% endblock metadescription %}
{% block metakeywords %}<meta name="keywords" content="[@L[cds.sales/homepage:meta-keywords]@L]" />{% endblock metakeywords %}
{% block metahead %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="[@T[localization:<language full="true" />]@T]" />
  <meta name="google-site-verification" content="odAW2IckEFXrJjMrVxmnpjRPGNxEJp_xnCb7iBydgBY" />
  <meta name="msvalidate.01" content="9D246CEFA0D8894D78306DF6FBA618D9" />
  <meta name="verify-v1" content="dV1r/ZJJdDEI++fKJ6iDEl6o+TMNtSu0kv18ONeqM0I=" />
  <meta name="y_key" content="1e39c508e0d87750" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="canonical" href="[@T[link:<external linktype='siteurl' path='' secure='false' parammode='explicit'/>]@T]"/>
  <link href="https://plus.google.com/108306343581548568740" rel="publisher" />
  <link rel="shortcut icon" href="[@T[link:<imageroot />]@T]assets/godaddy.ico" />
{% endblock metahead %}
{% block metaog %}
  <meta property="og:title" content="[@L[cds.sales/homepage:og-title]@L]" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="[@T[link:<relative parammode='explicit' />]@T]" />
  <meta property="og:image" content="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/gd_rebrand_og.png" />
  <meta property="og:site_name" content="GoDaddy" />
  <meta property="fb:app_id" content="115696031791232" />
  <meta property="fb:admins" content="633356800" />
  <meta property="og:description" content="[@L[cds.sales/homepage:og-content]@L]" />
{% endblock metaog %}

{% block csshead %}
  <link href="[@T[link:<cssroot />]@T]fos/201401/global/css/global-1.8.3.min.css" rel="stylesheet" type="text/css">
  ##if(activeLanguageAny([en-ca]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-ca_homepage_20140509.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-gb]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-uk_homepage_20140505.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-ie]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-ie_homepage_20140505.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-au]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-au_homepage_20140509.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-my]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-my_homepage_20140506.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-nz]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-nz_homepage_20140506.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-ph]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-ph_homepage_20140506.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-sg]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-sg_homepage_20140506.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-za]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-za_homepage_20140506.css" rel="stylesheet" type="text/css" />
  ##elseif(activeLanguageAny([en-pk]))
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/en-pk_homepage_20140506.css?v=1" rel="stylesheet" type="text/css" />
  ##else
  <link href="[@T[link:<cssroot />]@T]fos/hp/rebrand/css/homepage_20140401_en.css" rel="stylesheet" type="text/css" />
  ##endif
  ##if(activeLanguageAny([en-gb],[en-ie]))
  <style>
  .uk-cookie-banner{background: #8a8a8a; color: #fff; font-size: 14px; padding: 10px;position:fixed;bottom:0;width: 100%;z-index:999}
  .uk-cookie-banner a{color:#fff;text-decoration: underline}
  .uk-cookie-banner span {display:block}
  .uk-cookie-banner i {background-image: url([@T[link:<imageroot />]@T]fos/base/1/alerts.png)}
  .uk-cookie-ico{background-position: 0 0;height:20px;display: block;float: left;margin: 10px;width: 20px}
  .uk-cookie-wrap{margin: 0 auto;width: 1000px}
  .uk-cookie-close{background-position: 4px -228px;cursor:pointer;height: 20px;display: block;position: absolute;top:10px;right:25px;margin: 10px;width: 20px}
  </style>
  ##endif
{% endblock csshead %}

[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.HeadTags" />]@P]

</head>
<body>
[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Header" />]@P]
<!-- Domain Search Section -->
  <div class="gdhp-search-section">
    <div class="gdhp-main-top">
      <form method="post" data-url="[@T[link:<relative path="~/api/dpp/search/single"/>]@T]" action="[@T[link:<relative path="/domains/searchresults-new.aspx"/>]@T]" class="search-form search-form-alternate search-form-certified">
        <div class="gdhp-search-box">
        <input type="text" id="searchDomainName" name="domainToCheck" class="search-form-input searchInput helveticafont" autocomplete="off" maxlength="63" title="[@L[cds.sales/homepage:sb-search-title]@L]"/>
        <button type="submit" name="searchButton" data-ci="54814" class="btn btn-primary btn-lg hp-search">[@L[cds.sales/homepage/segments/default:domain-banner-search-btn]@L]</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>


  {% block body %}{% endblock %}

</body>
</html>