##if(false)
{% include 'modules/doc-block.html' %}
##endif
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="[@T[localization:<language full="true" />]@T]"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[@T[localization:<language full="true" />]@T]"> <!--<![endif]-->

  <head>


      <meta charset="utf-8" />
      {% block pageTitle %}<title>{{ metaTitle }}</title>{% endblock %}
      {% block pageDescription %}<meta name="description" content="{{ metaDescription }}" />{% endblock %}
      {% block pageKeywords %}<meta name="keywords" content="{{ metaKeywords }}" />{% endblock %}
      {% block metahead %}

      <!-- Facebook Open Graph Meta Data -->
      <meta property="og:title" content="{{ metaOgTitle }}" />
      <meta property="og:type" content="product" />
      <meta property="og:url" content="[@T[link:<external linktype='siteurl' path='{{ metaCanonicalPath }}' secure='false' parammode='common'/>]@T]" />
      {% if metaOgImage %}
      <meta property="og:image" content="[@T[link:<imageroot />]@T]{{ metaOgImage }}" />
      {% endif %}
      <meta property="og:site_name" content="[@T[companyname:name]@T]" />
      <meta property="fb:app_id" content="{{ metaOgAppID }}" />
      <meta property="og:description" content="{{ metaOgDescription }}" />

      <link rel="canonical" href="[@T[link:<external linktype='siteurl' path='{{ metaCanonicalPath }}' secure='false' parammode='common'/>]@T]"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=1000">
      <!-- Global CSS -->
      <link href="[@T[link:<css path='private-label/global/css/globals.css' />]@T]" rel="stylesheet" type="text/css">
  
      <!--[if lt IE 9]>
      <script>
        //CREATE HTML5 TAGS
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
     </script>

     <style>
      /*SET DEFAULT FOR CREATED TAGS*/
      header, nav, section, article, aside, footer {
        display:block;
      }
     </style>
      <link href="respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
      <link href="[@T[link:<cssroot />]@T]fos/respond/respond-proxy.min.html" id="respond-proxy" rel="respond-proxy" />
      <script src="[@T[link:<javascriptroot />]@T]fos/respond/respond-proxy-combo.min.js"></script>
      <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/js/html5shiv.js"></script>
      <![endif]--> 

      <script src="[@T[link:<javascriptroot />]@T]fos/201401/global/vendor/jquery/1.8.3/jquery.min.js"></script>
      <script src="[@T[link:<javascriptroot />]@T]shared/js/jquery.plugins.min.20140121.js"></script>

      [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.HeadTags" />]@P]


    {% endblock %}

  </head>
  <body>
    [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Header" />]@P]
    <div class="border-box" role="main">
      {% block body %}{% endblock %}
    </div>
    [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Footer" />]@P]
    [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Script" />]@P]
    [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Bottom" />]@P]
    <!-- End page main -->

    <script src="[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2" type="text/javascript"></script>
    <script src="[@T[link:<js path='private-label/global/js/globals.js' />]@T]" type="text/javascript"></script>
    {% block footer %}{% endblock %}
  </body>
</html>