- var ciCode = 98027;
- var cta = "[@T[link:<relative path='/offers/office365-promo.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";

style
  :less
    #marquee{background-color:#f3f3f3;
      .pob.hero{
        
      }
    }

.pob.personalized.hero
  .flag [@L[cds.tmsv2/content/homepage/pob:flag]@L]
  .headline [@L[cds.tmsv2/content/homepage/pob:headline]@L]
  .priceText [@L[cds.tmsv2/content/homepage/pob:pricetext]@L]
  .cta [@L[cds.tmsv2/content/homepage/pob:cta]@L]
  .disclaimer [@L[cds.tmsv2/content/homepage/pob:disclaimer]@L]