- var ciCode = 98027;
- var cta = "[@T[link:<relative path='/offers/office365-promo.aspx'><param name='ci' value='"+ciCode+"'/></relative>]@T]";

style
  :less
    #marquee{background-color:#f3f3f3;
      .pob.hero{text-transform:uppercase; font-family:'Walsheim-Black', 'Arial Black', sans-serif; padding-top:60px; font-size:13px;
        .flag {position:absolute; top:0; left:-4%;font-size:1.25em;padding: 6px 40px 10px 40px;background:no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHZpZXdCb3g9IjAgMCAxMjUgNjUiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGQ9Ik0xMjUgMEw5NSA1NSAzMCA2NSAzMCA2NSAwIDAgMCAwIDEyNSAwIDEyNSAweiIgZmlsbD0iI0ZFREM0NSIvPjwvc3ZnPg==)}
        .headline {font-size:2.25em;color:#77C043;line-height:.95em;max-width:550px}
        .priceText {font-size:1.8em;
          .price{font-size:1.4em}
        }
        .disclaimer{font-size:10px;margin:15px 0 10px;font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;text-transform:none}
        @media only screen and (min-width:480px) {font-size:16px; padding-top:90px;
          .flag{padding-bottom: 25px; padding-top:15px}
        }
      }
    }
    .Explorer8 #marquee .pob.hero .flag{background-image: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/pob-flag.png);}

.pob.personalized.hero(data-url!=cta, data-ci=ciCode)
  .flag [@L[cds.tmsv2/content/homepage/pob:flag]@L]
  .headline [@L[cds.tmsv2/content/homepage/pob:headline]@L]
  .priceText [@L[cds.tmsv2/content/homepage/pob:pricetext]@L]
  button.cta.btn.btn-md.btn-purchase [@L[cds.tmsv2/content/homepage/pob:cta]@L]
  .disclaimer [@L[cds.tmsv2/content/homepage/pob:disclaimer]@L]