extends ../_hero-simple.jade
block append vars
  - ciCode = 98027
  - ctaLink = "[@T[link:<relative path='/offers/office365-promo.aspx'><param name='ci' value='98027'/></relative>]@T]"
  - classes = "pob"
  - flagText = "[@L[cds.tmsv2/content/homepage/pob:flag]@L]"
      
block content
  .font-lg.text-primary-o.black [@L[cds.tmsv2/content/homepage/pob:headline]@L]
  .font-md.black [@L[cds.tmsv2/content/homepage/pob:pricetext]@L]
  a.btn.btn-md.btn-purchase [@L[cds.tmsv2/content/homepage/pob:cta]@L]
  .disclaimer [@L[cds.tmsv2/content/homepage/pob:disclaimer]@L]