extends ../../../templates/marquees/landing-page-marquee.jade

append marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/web-hosting/img_bgrnd_sb15_marquee_in-pk_host.jpg) no-repeat top center;); }

block topAlignedContent
  +productName("[@L[cds.sales/gd/hosting/web-hosting:web-hosting-11166]@L]")
  +productDescription("[@L[cds.sales/hosting/web-hosting-rebrand:marquee]@L]")
  +productText("<span class='sf-tip sf-tipper-target underline' data-style='qt' data-width='400' data-content='[@L[cds.sales/hosting/web-hosting-rebrand:guaranteeDisclaimer]@L]'>[@L[cds.sales/hosting/web-hosting-rebrand:guaranteeText1]@L]</span> [@L[cds.sales/hosting/web-hosting-rebrand:guaranteeText2]@L]")
  +callToAction("[@L[cds.sales/hosting/web-hosting-rebrand:getstarted]@L]","[@T[link:<relative path='~/hosting/web-hosting-config-new.aspx' secure='true'><param name='ci' value='89262' /><param name='plan' value='host_GridHostEcoDiabloLin1Yr_us' /></relative>]@T]")