extends ../../../templates/marquees/left-content-marquee.jade

block content
  h1.h2.marquee-product-name [@L[cds.sales/gd/hosting/web-hosting:web-hosting-11166]@L]
  h2.h1.marquee-product-description Hosting that's more reliable than your bean roasting <span class="dash">&mdash;&mdash;&mdash;</span> plaid shirt.
  .marquee-product-text [@L[cds.sales/hosting/web-hosting-rebrand:guaranteeText1Rebrand]@L] <u><strong>[@L[cds.sales/hosting/web-hosting-rebrand:guaranteeText2Rebrand]@L]</strong></u> [@L[cds.sales/hosting/web-hosting-rebrand:guaranteeText3Rebrand]@L]
  a.btn.btn-default-light.jump-arrow-btn(href!="[@T[link:<relative path='~/hosting/web-hosting-config-new.aspx' secure='true'><param name='ci' value='89262' /><param name='plan' value='host_GridHostEcoDiabloLin1Yr_us' /></relative>]@T]") [@L[cds.sales/hosting/web-hosting-rebrand:getstarted]@L]
