extends ../../../templates/feature.jade

append vars
  - image = image || ""
  - imageSide = imageSide || "left"
  - title = title || "TEST TITLE"
  - subtitle = subtitle || ""
  - text = text || ""
  - buttonText = buttonText || "See More"
  - buttonUrl = buttonUrl || ""
  - lazyLoad = lazyLoad || false
  - whiteText = whiteText || false