extends ../../../templates/marquees/landing-page-marquee.jade

block marqueeStyles
  style.
    .marquee { background: url([@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Marquee.jpg) no-repeat top center;); }

block topAlignedContent
  +productReview(5, "#")
  +productDescription("EASILY CREATE YOUR OWN PERSONAL PROFESSIONAL WEBSITE")
  +productText("Industry's leading page load times. 99.9% Uptime Guarantee*.")
  +callToAction("Get Started","[@T[link:<relative path='~/hosting/web-hosting-config-new.aspx' secure='true'><param name='ci' value='89262' /><param name='plan' value='host_GridHostEcoDiabloLin1Yr_us' /></relative>]@T]")

  //-
    .marquee-product-review
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      i.uxicon.uxicon-star.text-warning
      a Reviews
    h2.marquee-product-description FAST, SECURE, RELIABLE HOSTING THAT GROWS WITH YOUR BUSINESS
    .marquee-product-text Industry's leading page load times. 99.9% Uptime Guarantee*.
    a.btn.btn-primary.jump-arrow-btn Get Started
