h1 {
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  font-size: 20px;
  color: #333;
}

h2{
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  font-weight: 300;
  line-height: 1.1;
  color: #333;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.1;
}

.tile-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.compare-table-view-all {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: -80px;
}
.arrow-down-icon {
    margin-top: 10px;
}
.include-check-black {
        position: relative;
        padding-left: 45px;
        margin-top: 20px;
}
.include-check-black:before {
  content: "";
  background-image: url([@T[link:<imageroot />]@T]fos/hp/sahara-rebrand-sprite-20141114.png);
  background-position: 0 -700px;
  background-size: 205px auto;
  width: 25px;
  height: 27px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: -6px;
}
.mid-page-nav .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
.mid-page-nav.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.pro-banner {
  background-image: url("[@T[link:<imageroot />]@T]fos/mike/img/hosting/bg-webpro-promo.png"); 
  background-repeat: no-repeat; background-size: 100% 100%; 
}
.pro-banner a {
  white-space: normal;
  max-width: 100%;
}
.proBannerIcon {
  background-image: url("[@T[link:<imageroot />]@T]fos/mike/img/hosting/img-webpro-logo.png");
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 275px;
  background-repeat: no-repeat;
  background-position: center;
}
.pro-banner .top-text {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  margin-top: 11px;
  margin-bottom: 0;
}
.pro-banner .bottom-text {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
}

.pro-banner .pro-banner-image {
  padding-top: 20px;
}
.pro-banner .pro-banner-button {
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .pro-banner {
    width: 1135px;
    margin-left: 10px;
  }
  .pro-banner .pro-banner-text {
    width:55%;
  }
  .pro-banner .pro-banner-button {
    
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pro-banner {
    width: 925px;
    margin-left: 10px;
  }
  .pro-banner .pro-banner-image {
    width: 29%;
  }
  .pro-banner .pro-banner-text {
    width:50%;
  }
  .pro-banner .pro-banner-button {
    width: 21%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pro-banner {
    background-image: none;
    background-color: #ef6b0d;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    width: 700px;
    margin-left: 10px;
  }
  .pro-banner .pro-banner-image {
    width: 38%;
  }
  .pro-banner .pro-banner-text {
    width: 62%;
  }
  .pro-banner .pro-banner-button {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .pro-banner {
    background-image: none;
    background-color: #ef6b0d;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
  }
  .pro-banner .pro-banner-image {
    width: 100%;
  }
  .pro-banner .pro-banner-text {
    width: 100%;
  }
  .pro-banner .pro-banner-button {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
}







#one-click-install { 
  background: #77c043; transition: background 750ms ease-in-out; 
  background-image: url("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_AppInstalls_Banner.jpg"); 
  background-repeat: no-repeat; background-size: 100% 100%; 
}

.one-click-right img {
  height:auto; 
  max-width:100%;
}

@media (max-width: 767px) {
  #one-click-install {
    background-image: none !important;
    background-color: transparent;
    padding-bottom: 0;
  }
  .one-click-right {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #5caf2b;
  }
  .one-click-left {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #78c043;
  }
  .key-benefits-img-wrap {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #choose-platform {
    background-image: none !important;
  }

  #choose-platform.left-side {
    padding-left: 0;
  }

  #alt-products {
    background-image: none !important;
  }
}

@media (min-width: 992px) {
  #choose-platform .left-sideee {
    padding-left: 11.666666667%;
  }
}

.up-compare-wrap {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) and (max-width: 991px) {
  #choose-platform .or-container:after {
    bottom: 360px;
  }
}
.bg-gray-light {
    background-color: #d9d9d9;
}
.BVDITitle {
  text-transform: uppercase !important;
  text-align: center !important;
  font-family: 'Walsheim-Black' !important;
  font-weight: 300 !important;
  line-height: 1.1 !important;
  color: #333 !important;
}

#BVRRDisplayContentLinkWriteID a {
  -webkit-font-smoothing: antialiased !important;
  -webkit-transition-delay: 0s !important;
  -webkit-transition-duration: 0.1s !important;
  -webkit-transition-property: transform !important;
  -webkit-transition-timing-function: ease !important;
  -webkit-user-select: none !important;
  background-color: rgb(0, 138, 50) !important;
  border-bottom-color: rgb(0, 112, 41) !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 4px !important;
  border-image-outset: 0px !important;
  border-image-repeat: stretch !important;
  border-image-slice: 100% !important;
  border-image-source: none !important;
  border-image-width: 1 !important;
  border-left-color: rgb(0, 112, 41) !important;
  border-left-style: solid !important;
  border-left-width: 0px !important;
  border-right-color: rgb(0, 112, 41) !important;
  border-right-style: solid !important;
  border-right-width: 0px !important;
  border-top-color: rgb(0, 112, 41) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-style: solid !important;
  border-top-width: 0px !important;
  box-sizing: border-box !important;
  color: rgb(255, 255, 255) !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Walsheim-Medium, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: normal !important;
  height: 46px !important;
  line-height: 25.7142868041992px !important;
  margin-bottom: 0px !important;
  min-width: 88px !important;
  padding-bottom: 7px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  transition-delay: 0s !important;
  transition-duration: 0.1s !important;
  transition-property: transform !important;
  transition-timing-function: ease !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  background-image: none !important;
}

.isToolTip {
color: #333;
text-decoration: none;
cursor: pointer;
}

.sf-tip.underline {
  text-decoration: underline;
}

.heartIcon {
  background-image: url([@T[link:<imageroot />]@T]fos/mike/img/hosting/img-feature2-heart.png);
  display: inline-block;
  width: 59px;
  height: 50px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

#speed-chart { min-height: 400px; }
#speed-chart h3 { margin: 50px auto; text-align: center; }

#speed-chart img { 
  margin-bottom: 0;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

#speed-chart p {text-align: right; }

.tool-tip-black {
  background-image: url([@T[link:<imageroot />]@T]fos/mike/img/hosting/img-tootip-.png);
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
}

.compareButtons {
  height: 54px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 11px;
}

.compareButtons.leftActive {
    background-image:url([@T[link:<imageroot />]@T]fos/mike/img/hosting/img-toggle-cpanel.png); 
}

.compareButtons.rightActive {
    background-image:url([@T[link:<imageroot />]@T]fos/mike/img/hosting/img-toggle-parallels.png); 
}

.compareButtons a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Walsheim-Black';
  font-size: 20px;
}

.compareButtons .activeButton a {
  color: #088A44;
}

.compareButtons .inactiveButton a {
  color: #666666;
}

.compareButtonsLeft {
  width: 180px;
}
.compareButtonsRight {
  width: 180px;
}



@media (min-width: 1200px) {
  .compareButtons {
    padding-left: 395px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .compareButtons {
    padding-left: 290px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .compareButtons {
    padding-left: 180px;
  }
}

@media (max-width: 767px) {
  .compareButtons {
    padding-left: 25px;
  }
}


#bazaarvoicemodal .modal-open {
  overflow: hidden;
}

#bazaarvoicemodal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

#bazaarvoicemodal .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

#bazaarvoicemodal .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

#bazaarvoicemodal .modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}

#bazaarvoicemodal .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

#bazaarvoicemodal .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

#bazaarvoicemodal .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

#bazaarvoicemodal .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#bazaarvoicemodal .modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

#bazaarvoicemodal .modal-header .close {
  margin-top: -2px;
}

#bazaarvoicemodal .modal-title {
  margin: 0;
  line-height: 1.428571429;
}

#bazaarvoicemodal .modal-body {
  position: relative;
  padding: 20px;
}

#bazaarvoicemodal .modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

#bazaarvoicemodal .modal-footer:before,
#bazaarvoicemodal .modal-footer:after {
  display: table;
  content: " ";
}

#bazaarvoicemodal .modal-footer:after {
  clear: both;
}

#bazaarvoicemodal .modal-footer:before,
#bazaarvoicemodal .modal-footer:after {
  display: table;
  content: " ";
}

#bazaarvoicemodal .modal-footer:after {
  clear: both;
}

#bazaarvoicemodal .modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

#bazaarvoicemodal .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

#bazaarvoicemodal .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  #bazaarvoicemodal .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  #bazaarvoicemodal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}