h2{
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  font-weight: 300;
  line-height: 1.1;
  color: #333;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Walsheim-Black';
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.1;
}

.tile-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.compare-table-view-all {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: -80px;
}
.arrow-down-icon {
    margin-top: 10px;
}
.plan-tile { 
  margin-top: -240px; 
}
.include-check-black {
        position: relative;
        padding-left: 45px;
        margin-top: 20px;
}
.include-check-black:before {
  content: "";
  background-image: url(//img1.wsimg-com.ide/fos/hp/sahara-rebrand-sprite-20141114.png);
  background-position: 0 -700px;
  background-size: 205px auto;
  width: 25px;
  height: 27px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: -6px;
}
.mid-page-nav .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
.mid-page-nav.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

#one-click-install { 
  background: #77c043; transition: background 750ms ease-in-out; 
  background-image: url("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_AppInstalls_Banner.jpg"); 
  background-repeat: no-repeat; background-size: 100% 100%; 
}

@media (max-width: 767px) {
  #one-click-install {
    background-image: none !important;
    background-color: transparent;
    padding-bottom: 0;
  }
  .one-click-right {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #5caf2b;
  }
  .one-click-left {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #78c043;
  }
  .key-benefits-img-wrap {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #choose-platform {
    background-image: none !important;
  }

  #choose-platform.left-side {
    padding-left: 0;
  }

  #alt-products {
    background-image: none !important;
  }
}

@media (min-width: 992px) {
  #choose-platform .left-sideee {
    padding-left: 11.666666667%;
  }
}

.up-compare-wrap {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) and (max-width: 991px) {
  #choose-platform .or-container:after {
    bottom: 360px;
  }
}
@media (min-width: 992px) {
  #choose-platform .or-container:after {
    bottom: 200px;
  }
}