extends ../../../templates/tabbed-carousel-mixin.jade

append vars
  - title = "Simplify your bookkeeping. Get back to business.";
  - subtitle = "Spend less time on paperwork and more time with customers.";
  - numOfTabs= 6;
  - lazyLoad = true;
  - id = "carousel-pro-features"

block tabs
  +addTab({logo:"img",imageAlternateText:"",text:"facebook"})
  +addTab({logo:"img",imageAlternateText:"",text:"twitter"})
  +addTab({logo:"img",imageAlternateText:"",text:"youtube"})
  +addTab({logo:"img",imageAlternateText:"",text:"yelp"})
  +addTab({logo:"img",imageAlternateText:"",text:"paypal"})
  +addTab({logo:"img",imageAlternateText:"",text:"home owner"})
block panels
  +carouselItem
    include ./panels/bookKeeping.jade
  +carouselItem
    include ./panels/bookKeeping.jade
  +carouselItem
    include ./panels/bookKeeping.jade



