extend ../../../../../src/templates/plan-tile

append vars
  - title = "Economy";
  - description = "Perfect to get started with a basic site."
  - features = ["1 Website","100 GB Storage","Unlimited bandwidth","100 Email Addresses","Free Domain with annual plan"];
  - pfid = "32051";
  - listID="product-A";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "host_GridHostEcoDiabloLin1Yr_us";
