extend ../../../../../src/templates/plan-tile

append vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:economyPlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:basicPrice]@L]";
  - features = ["<strong>[@L[cds.sales/hosting/web-hosting-rebrand:oneWeb]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:oneHundredStorage]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]</strong>","[@L[cds.sales/hosting/web-hosting-rebrand:oneHundredEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L]"];
  - pfid = "32051";
  - buttonid="product-A";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "host_GridHostEcoDiabloLin1Yr_us";
