extend ../../../../../src/templates/plan-tile

append vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:deluxePlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:greatHome]@L]";
  - features = ["[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedWeb]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedStorage]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:fiveHundredEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L]"];
  - pfid = "32059";
  - buttonid="product-B";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "host_GridHostDlxDiabloLin1Yr_us";