extend ../../../../../src/templates/plan-tile

append vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:ultimatePlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:handlesMost]@L]";
  - features = ["[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedWeb]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedStorage]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:oneThousandEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:twoXPowerLinux]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:oneThousandEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:ultimateSSL]@L]"];
  - pfid = "32082";
  - buttonid="product-C";
  - flagText = "More power and security";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "host_GridHostUnlDiabloLin1Yr_us";
