extend ../../../../../src/templates/plan-tile

block vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:economyPlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:basicPrice]@L]";
  - features = ["<strong>[@L[cds.sales/hosting/web-hosting-rebrand:oneWeb]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:oneHundredStorage]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]</strong>","[@L[cds.sales/hosting/web-hosting-rebrand:oneHundredEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-width='400' data-content='[@L[cds.sales/hosting/web-hosting-rebrand:freeDomainRestrictions]@L]'></span>"];
  - pfid = "32051";
  - buttonid="product-A";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_GridHostEcoDiabloLin1Yr_us";
  - vat = true
  - ci = "89269"
  - flagText = ""

append price
  p.h6 [@T[productprice:<list productid="32051" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/_common:month]@L] [@L[cds.sales/gd/hosting/website-builder:renewal-text]@L]