extend ../../../shared/_plan-tile

block vars
  - title = "[@L[cds.sales/gd/hosting/web-hosting:compare-plans-starter-11166]@L]";
  - description = "[@L[cds.sales/gd/hosting/web-hosting:starter-plan-website]@L]";
  - features = ["<strong>[@L[cds.sales/hosting/web-hosting-rebrand:oneWeb]@L]</strong>","<strong>[@L[cds.sales/gd/hosting/web-hosting:starter-plan-storage]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]</strong>","[@L[cds.sales/hosting/web-hosting-rebrand:tenEMail]@L]"];
  - pfid = "294057";
  - buttonid="product-D";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_GridHostStrDiabloLin1Yr_in";
  - vat = true
  - ci = "90621"

append price
  p.h6 [@T[productprice:<list productid="294057" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/_common:month]@L] [@L[cds.sales/gd/hosting/website-builder:renewal-text]@L]