extend ../../../../../src/templates/plan-tile

append vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:deluxePlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:greatHome]@L]";
  - features = ["<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedWeb]@L]</strong>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedStorage]@L]</strong> <span class='sf-tip sf-tipper-target' data-style='qt' data-width='400' data-content='[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedHostingToolTip]@L]'></span>","<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]</strong>","[@L[cds.sales/hosting/web-hosting-rebrand:fiveHundredEMail]@L]","[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L]"];
  - pfid = "32059";
  - buttonid="product-B";
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - defaultPlan = "host_GridHostDlxDiabloLin1Yr_us";