extend ../../../shared/_plan-tile

block vars
  - title = "[@L[cds.sales/hosting/web-hosting-rebrand:ultimatePlan]@L]";
  - description = "[@L[cds.sales/hosting/web-hosting-rebrand:handlesMost]@L]";
  - features = ["<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedWeb]@L]</strong>",'<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedStorage]@L]</strong> <span class="sf-tip sf-tipper-target" data-style="qt" data-width="400" data-content="[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedHostingToolTip]@L]"></span>',"<strong>[@L[cds.sales/hosting/web-hosting-rebrand:unlimitedBand]@L]</strong>","[@L[cds.sales/hosting/web-hosting-rebrand:oneThousandEMail]@L]",'[@L[cds.sales/hosting/web-hosting-rebrand:freeDomain]@L] <span class="sf-tip sf-tipper-target" data-style="qt" data-width="400" data-content="[@L[cds.sales/hosting/web-hosting-rebrand:freeDomainRestrictions]@L]"></span>',  "[@L[cds.sales/hosting/web-hosting-rebrand:twoXPowerLinux]@L] <span class='sf-tip sf-tipper-target' data-style='qt' data-width='400' data-content='[@L[cds.sales/hosting/web-hosting-rebrand:twoXPowerToolTip]@L]'></span>",'[@L[cds.sales/hosting/web-hosting-rebrand:premiumdns]@L] <span class="sf-tip sf-tipper-target" data-style="qt" data-width="400" data-content="[@L[cds.sales/hosting/web-hosting-rebrand:premiumDNSToolTip]@L]"></span>','[@L[cds.sales/hosting/web-hosting-rebrand:ultimateSSL]@L] ([@L[cds.sales/hosting/web-hosting-rebrand:restrictionsapply]@L]) <span class="sf-tip sf-tipper-target" data-style="qt" data-width="400" data-content="[@L[cds.sales/hosting/web-hosting-rebrand:sslRestrictionsToolTip]@L]"></span>'];
  - pfid = "32082";
  - buttonid="product-C";
  - flagText = "[@L[cds.sales/hosting/web-hosting-rebrand:ultFlag]@L]";
  - term ="/[@L[cds.sales/_common:month]@L]"
  - buttonText = "[@L[cds.sales/_common:add-to-cart-cap]@L]";
  - defaultPlan = "host_GridHostUnlDiabloLin1Yr_us";
  - ci = "89271"

append price
  p.h6 [@T[productprice:<list productid="32082" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/_common:month]@L] [@L[cds.sales/gd/hosting/website-builder:renewal-text]@L]