extends ../_banner-small.jade

block append vars
  - dataCi = 97704;
  - containerClass = "banner-small-gem";
  - logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjQzIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgNDMgMzUiPjxwYXRoIGQ9Ik0xLjQgMEw0Mi40IDguMiAyNC42IDI0LjUgMS40IDB6TTQzIDEwLjdMNDEgMzIuOCAwLjcgMzUgMCAzLjMgMjQuMyAyNi4zIDQzIDEwLjd6IiBmaWxsPSIjNzdDMDQzIi8+PC9zdmc+";
  - logoImageFallback = ;
  - titleText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:title]@L]";
  - bodyText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:cta]@L]";
  - ctaLink = "[@T[link:<relative path='/business/email-marketing-software'><param name='ci' value='97704' /></relative>]@T]";