extends ../_banner-small.jade

block append vars
  - dataCi = 97704;
  - containerClass = "gem";
  - logoImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjQzIiBoZWlnaHQ9IjM1IiB2aWV3Qm94PSIwIDAgNDMgMzUiPjxwYXRoIGQ9Ik0xLjQgMEw0Mi40IDguMiAyNC42IDI0LjUgMS40IDB6TTQzIDEwLjdMNDEgMzIuOCAwLjcgMzUgMCAzLjMgMjQuMyAyNi4zIDQzIDEwLjd6IiBmaWxsPSIjNzdDMDQzIi8+PC9zdmc+";
  - logoImageFallback = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAjCAMAAAA60AOfAAAApVBMVEVMaXF3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wEN3wENWh9R3AAAANnRSTlMAzcUqS/lZAv71l/KtBeQI2F5hj+0+NJJ3wYeouSUMIOkcvmm0e2TToi5vhFM4FQ7cQYrgEhjTL/v0AAABhUlEQVR4Xo3T6XLaQBCF0U8wWkArQuwoIDC7QdjG/f6PlooImQgE1v19bk11TTekb4N451MvR1ek1ahZ6LVERIpCp2m/goAyC/tjIVHAuyOluI1uVcE134FYY10Yda1ywRUnBvbaPBTSWyEQcZbASoOKwqeVAl9/wBD4lNeJLpwLMAbar+kMNlfQBnv7ghrfhDcrWxvbe0oXOdmUxq3p+fjTJ9QL6QeRtjINCRuVtG1jmbJgpNujnNyooAc4OCIT3kTHuHCK7qWz51cxSLdkZfNN9lWmpkV2fWxFefbzjDT4n7YUx/kVxEyklKBJc65pcqRzW1h1b2W+o+/qpq2/vv/4s8nx36FEs1yPI9mjFffj76EYp9lGdEIG8hBTFYeyyHuJ6CQwlgps0XEm/tosLVq1FWdNz+/erc+ze3D2+f0eTWAo1Qnu693C1ssKlnXtmvpWQVzX9sGqa7Oa1kzORgjqEbTmZ2Phbdvj4bKjPvrpKeQa5QaRMfW2g8NwbanebnbxeZLfTvjltQR2cokAAAAASUVORK5CYII=";
  - titleText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:title]@L]";
  - bodyText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:body]@L]";
  - ctaText = "[@L[cds.tmsv2/content/homepage/gem/banner-small:cta]@L]";
  - ctaLink = "[@T[link:<relative path='/business/email-marketing-software'><param name='ci' value='97704' /></relative>]@T]";