extends ../../../../sales/homepage/_hero-polygon.jade
prepend vars
  - var classes = "gem"
  - var dataCI = 97703;
  - var ctaLink = "[@T[link:<relative path='business/email-marketing-software'><param name='ci' value='"+dataCi+"' /></relative>]@T]";
  - var marqueeBackground = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var marqueeFallback = "[@T[link:<imageroot/>]@T]/fos/hp/rebrand/img/gem-full-width02.jpg";
  - var polygon = "grey-bottom";
  - var xsBannerColor = "#DEDEDE";

append heroStyles
  style
    :less
      #marquee{background-color:#F3F3F4; background-size:initial;
        .gem{
          #marqueeImage{background-size:initial;background-position-x: 23%;}
          mark {text-transform:uppercase;font-size:24px;margin:0 0 5px 0;}
          .price {font-size:18px; line-height:.9;color:#333;text-transform:uppercase}
          .price span {font-size:24px; line-height:.9;color:#EF6C0F;text-transform:uppercase}
          .headline {font-size:36px; color:#333; margin:3% 0;line-height:.9;text-transform:uppercase}
          .product-name{font-size:24px;color:#77c043;text-transform:uppercase;margin:0 0 5px 0}
          button {margin:2% 0}
          .heroContent > * {margin-left:0}
        }
        .gem.hero{margin-left:0;}
        .gem.hero.polygon{
          .heroContent{padding-top:5%}
          #marqueeImage{display:none !important};
        }
      }
      .Explorer8 #marquee {background-position-x: 50%}
      @media only screen and (min-width: 768px) {
        .gem.hero.polygon .heroContent{width:100%}
      }
      @media only screen and (min-width: 768px) {
        #marquee {background-size:initial;background-position:28% 0;}
        .gem.hero.polygon .heroContent{width:50%}
      }
      @media only screen and (min-width: 992px) {
        #marquee {background-size:cover;background-position:44% 0;}
      }
      @media only screen and (min-width: 1200px) {
        #marquee {background-size:cover;}
      }
      @media only screen and (min-width: 1750px) {
        #marquee {background-size:cover;background-position:30% 0;}
      }
block heroContent
  .headline.walsheim-black [@L[cds.tmsv2/content/homepage/gem/hero:headlineText]@L]
  mark.walsheim-black [@L[cds.tmsv2/content/homepage/gem/hero:markText]@L]
  .product-name.walsheim-black [@L[cds.tmsv2/content/homepage/gem/hero:productNameText]@L]
  .price.walsheim-black [@L[cds.tmsv2/content/homepage/gem/hero:priceText]@L]
  button.btn.btn-md.btn-purchase [@L[cds.tmsv2/content/homepage/gem/hero:ctaText]@L]