section#features.key-benefits-wrap.tile-section(data-mid-nav-title="[@L[cds.sales/gd/getonline:why-us-heading]@L]",data-ciCode="95794")
+renderColumnList(3, {backgroundColor: "#fff"})
  +columnListMember("key-benefit")
    .key-benefits-img-wrap
      +lazyImg("","","[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-security.png")
    h3.key-benefits-title [@L[cds.sales/gd/getonline:why-us-world-leader-title]@L]
    p.key-benefits-text [@L[cds.sales/gd/getonline:why-us-world-leader-content]@L]
     
  +columnListMember("key-benefit")
    .key-benefits-img-wrap
      +lazyImg("","","[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-support.png")
    h3.key-benefits-title [@L[cds.sales/gd/getonline:why-us-world-support-title]@L]
    p.key-benefits-text [@L[cds.sales/gd/getonline:why-us-world-support-content]@L]
     
  +columnListMember("key-benefit")
    .key-benefits-img-wrap
      +lazyImg("","","[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-speed.png")
    h3.key-benefits-title [@L[cds.sales/gd/getonline:why-us-world-trust-title]@L]
    p.key-benefits-text [@L[cds.sales/gd/getonline:why-us-world-trust-content]@L]
