atlantis:webstash(type="css")
  style.
    #marquee .search-message {display: none; text-transform: none; }

section#domain-entry-view.bg-green-official.js-domain-search-wizard-section
  .container.main-marquee
    +domainSearchOffersInput2({
        'tlds': 'domainSearch.tldInfo.tlds',
        'defaultTld': 'domainSearch.tldInfo.defaultTld',
        'formId': 'domain-entry-view-form',
        'title': 'Let us help you find the best domain based on your business name or idea.', 
        'cicode': '95738', 
        'placeholderText': 'Enter your business name or idea.', 
        'buttonText': '[@L[cds.sales/offers/online-business:32573-search]@L]', 
        'infoTypeHere': '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', 
        'infoErrorEligibility': '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]',
        'infoInvalidTld': '[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]',
        'showSearchButton': true
        })
