atlantis:webstash(type="css")
  style.
    // #domain-available-view h4.other-domains-heading-text {padding-top 20px; font-size: 24px; color:#333; font-weight: bold; }
    // #domain-available-view h6.results-list-heading-text {padding-top 20px; font-size: 18px; color:#333; }
    // #domain-available-view .domain-spin-wrap {min-height: 120px;border: solid 1px #cccccc;margin-bottom: 15px;} 
    #domain-available-view .clickable-show-more {cursor: pointer;}
    #domain-available-view .show-more-arrow { position: relative; top: 12px; margin-left: 5px; width: 0; height: 0; border: 11px solid transparent; border-top-color: #000; content: ''; }
    #domain-available-view button.view-all-button {font-size: 18px; color: #6586C4; font-family: Arial;}
    // #domain-available-view .not-available-domain-name-row {margin: 35px 0 25px;}

    #available-domain {margin-top: 15px;}
    #available-domain .spin-results-message,
    .spin-results .spin-results-message, 
    .spin-results .spin-result, 
    .spin-template-wrap .spin-template {display:none;}
    #domain-available-view .select-and-continue {margin-bottom: 0px; font-size:20px;text-overflow: ellipsis;}
    #available-domain .spin-results-message,
    .spin-results .spin-results-message {margin-top:15px;}

    // .container .row .topSpacing{padding-top:20px;}
    // .container .row .leftSpacing{padding-left:50px;}
    // .col-xss-1{width: 13%;float: left;position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
    // .icon-spacing{text-align: center;font-size: 2em;}

    h2{margin-top:0px;margin-bottom:0px;}
    h5{margin-top:0px;margin-bottom:0px;}
    h6{margin-top:0px;margin-bottom:0px;}

    // .container .row .features-email{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png) no-repeat center bottom;}
    // .domain-icon{height:92px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-domain-icon.png) no-repeat center bottom;}
    // .half-hero-left{height:214px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-halfGuy-left.png) no-repeat center bottom;}

    #domain-available-view .select-and-continue{margin:10px 0;float:right;}
    #domain-available-view .domain-name-display{margin:14px 0 15px;color:#333;font-size:40px;font-weight:400;display:block;line-height:1}
    // .domain-nameDiv{line-height:1}
    // .domainSelect{margin-top:10px;}

    #domain-available-view .available-domain-name-row {
      margin: 5px 0 10px;
    }
    
    #domain-available-view h2.available-domain-name-text {
      margin: 0;
    }

#domain-available-view.js-domain-search-wizard-section
  .container
    .row
      .col-md-12
        .text-center
          h4.domain-starts.strong(style={'margin-top':'10px'}) It all starts with a domain name that's easy to remember and fits your business. Here's our favorite for <mark class="business-name-display">{0}</mark>

  .container.bg-green-official.main-marquee
    +domainSearchOffersInput2({
        'tlds': 'domainSearch.tldInfo.tlds',
        'defaultTld': 'domainSearch.tldInfo.defaultTld',
        'searchNowCallbackFn': 'domainSearchFormSubmit',
        'formId': 'domainAvailableViewForm',
        'title': '', 
        'cicode': '95738', 
        'placeholderText': 'Enter your business name or idea.', 
        'buttonText': '[@L[cds.sales/offers/online-business:32573-search]@L]', 
        'infoTypeHere': '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', 
        'infoErrorEligibility': '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]',
        'infoInvalidTld': '[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]',
        'showSearchButton': true,
        'saveEnteredDomainFn': 'updateSearchedDomain'
        })

  .container.bg-green-official
    .row#available-domain
      .col-md-9.white
        span.domain-name-display.lowercase.available-domain-name#available-domain-name
      .col-md-3.white
        button.btn.btn-primary.select-and-continue.available-domain-name.uppercase Select
        .spin-results-message.checking-availability [@L[cds.sales/offers/online-business:32573-checking-availability]@L]
        .spin-results-message.now-unavailable [@L[cds.sales/offers/online-business:32573-domain-no-longer-available]@L]

  .container.other-domains.spin-container
    .row
      .col-md-12
        h5(style={'margin-top':'20px'}) <strong>That one not moving you? Here are some alternatives:</strong>
        h6.results-list-heading-text 
          span.spin-counts(data-result-count-template!="[@L[cds.sales/offers/online-business:32573-number-of-number-results]@L]")
          button.btn.btn-link.view-all-button(data-ci="95269") [@L[cds.sales/offers/online-business:32573-view-all-results]@L]
    .spin-results(style={'margin-top':'10px'})
    .spin-template-wrap
      .row.spin-template.spin-result.available-domain-name-row
        .col-md-9.white
          span.domain-name-display.lowercase
        .col-md-3.white
          button.btn.btn-primary.select-and-continue.uppercase Select
          .spin-results-message.checking-availability [@L[cds.sales/offers/online-business:32573-checking-availability]@L]
          .spin-results-message.now-unavailable [@L[cds.sales/offers/online-business:32573-domain-no-longer-available]@L]

    .show-more-section
      h6.text-center(style={'margin-top':'10px'})
        span.clickable-show-more(data-ci="95268") See more
        span.show-more-arrow
