atlantis:webstash(type="css")
  style.
    #domain-not-available-view .pro-plans .pro-plan-wrap {border-top: 10px solid #008a32; padding: 20px;}
    #domain-not-available-view .pro-plans {margin-top: 0px; }
    
    #domain-not-available-view h4.other-domains-heading-text {padding-top 20px; font-size: 24px; color:#333; font-weight: bold; }
    #domain-not-available-view h6.results-list-heading-text {padding-top 20px; font-size: 18px; color:#333; }
    #domain-not-available-view .domain-spin-wrap {min-height: 120px;border: solid 1px #cccccc;margin-bottom: 15px;} 
    #domain-not-available-view .domain-name-display {text-transform: lowercase; margin-bottom: 0px; margin-top: 0px;}
    #domain-not-available-view .domain-name-display-tld {text-transform: lowercase;margin-bottom: 0px; margin-top: 0px;}
    #domain-not-available-view .clickable-show-more {cursor: pointer;}
    #domain-not-available-view .show-more-arrow { position: relative; top: 12px; margin-left: 5px; width: 0; height: 0; border: 11px solid transparent; border-top-color: #000; content: ''; }

    #available-domain .spin-results-message,
    .spin-results .spin-results-message, 
    .spin-results .spin-result, 
    .spin-template-wrap .spin-template {display:none;}
    .spin-results .select-and-continue {margin-bottom: 0px; font-size:20px;text-overflow: ellipsis;}
    #spin-results .spin-results-message {margin-top:15px;}
    #spin-results .checking-availability, #spin-results .now-unavailable {padding-top:5px;}
    #spin-results h4.domain-name-display {font-size: 30px; color: #333; font-weight: bold;}
    #spin-results h2.domain-name-display-tld {font-size: 40px; color: #333;}
    #domain-not-available-view button.view-all-button {font-size: 18px; color: #6586C4; font-family: Arial;}
    #spin-results .domain-tile {margin-top: 0px;}

    #domain-not-available-view .not-available-domain-name-row {
      margin: 35px 0 25px;
    }

    // Turn off search input message display
    .search-message {display: none; text-transform: none; }
    
#domain-not-available-view.js-domain-search-wizard-section
  .container
    .row
      .col-md-12
        h2.h0.availability-header.domain-not-available-heading-text [@L[cds.sales/offers/online-business:32573-sorry-domain-unavailable]@L]
    .row.not-available-domain-name-row 
      .col-md-8.col-sm-12
        h2.not-available-domain-name-text.domain-name-displayed.word-break#not-available-domain-name

  .container.bg-green-official.main-marquee
    +domainSearchOffersInput2({
        'tlds': 'domainSearch.tldInfo.tlds',
        'defaultTld': 'domainSearch.tldInfo.defaultTld',
        'formId': 'domainNotAvailableViewForm',
        'title': '', 
        'cicode': '95738', 
        'placeholderText': 'Enter your business name or idea.', 
        'buttonText': '[@L[cds.sales/offers/online-business:32573-search]@L]', 
        'infoTypeHere': '[@L[cds.sales/offers/online-business:32573-type-your-business-placeholder]@L]', 
        'infoErrorEligibility': '[@L[cds.sales/offers/online-business:32573-eligibility-error]@L]',
        'infoInvalidTld': '[@L[cds.sales/offers/online-business:32573-offer-only-valid]@L]',
        'showSearchButton': true
        })
