atlantis:webstash(type="css")
  style.
    #domain-spinner-view .clickable-show-more {cursor: pointer;}
    #domain-spinner-view .show-more-arrow { position: relative; top: 12px; margin-left: 5px; width: 0; height: 0; border: 11px solid transparent; border-top-color: #000; content: ''; }
    #domain-spinner-view button.view-all-button {font-size: 18px; color: #6586C4; font-family: Arial;}

    #spin-results .spin-results-message, 
    #spin-results .spin-result, 
    #spin-template-wrap .spin-template {display:none;}
    #domain-spinner-view .select-and-continue {margin-bottom: 0px; font-size:20px;text-overflow: ellipsis;}
    #spin-results .spin-results-message {margin-top:15px;}
    #spin-results .spin-result {margin-top:10px;}

    h2{margin-top:0px;margin-bottom:0px;}
    h5{margin-top:0px;margin-bottom:0px;}
    h6{margin-top:0px;margin-bottom:0px;}

    #domain-spinner-view .select-and-continue{margin:10px 0;float:right;}
    #domain-spinner-view .domain-name-display{margin:14px 0 15px;color:#333;font-size:40px;font-weight:400;display:block;line-height:1}

#domain-spinner-view.js-domain-search-wizard-section
  .container.other-domains.spin-container
    .row
      .col-md-12
        h5(style={'margin-top':'20px'}) <strong>That one not moving you? Here are some alternatives:</strong>
        h6.results-list-heading-text 
          span#spin-counts(data-result-count-template!="[@L[cds.sales/offers/online-business:32573-number-of-number-results]@L]")
          button.btn.btn-link.view-all-button(data-ci="95269") [@L[cds.sales/offers/online-business:32573-view-all-results]@L]
    #spin-results(style={'margin-top':'10px'})
    #spin-template-wrap
      .row.spin-template.spin-result.available-domain-name-row
        .col-md-9.white
          span.domain-name-display.lowercase
        .col-md-3.white
          button.btn.btn-primary.select-and-continue.uppercase Select
          .spin-results-message.checking-availability [@L[cds.sales/offers/online-business:32573-checking-availability]@L]
          .spin-results-message.now-unavailable [@L[cds.sales/offers/online-business:32573-domain-no-longer-available]@L]

    #show-more-section
      h6.text-center(style={'margin-top':'10px'})
        span.clickable-show-more(data-ci="95268") See more
        span.show-more-arrow
