include _domain-starting-at-mixin.jade
mixin renderGoodNews(productToDisplay)
  append pageStyles
    atlantis:webstash(type="css")
      style.
        #getItNow { padding-bottom: 0; }
        #getItNow .container { position: relative; }
        #getItNow .hero-guy { position: absolute; bottom: 0; height: 80%; }

        #getItNow .column {width: 24%; display: inline-block;vertical-align:top;}
        #getItNow .plus {width: 10%;display: inline-block;text-align: center;font-size: 6rem;font-weight: 700;position: relative;font-family: Walsheim-Black;}
        #getItNow .bubble { background-color: #78C043; padding-bottom: 20px;}
        #getItNow .bubble h2 { margin-bottom: 0; padding-top: 40px; }
        #getItNow .bubble h3 { font-family: Walsheim-Black; }
        #getItNow .products { margin-top: 40px; }
        #getItNow .products h3 { font-family: Walsheim-Black; font-size: 2.25rem; }
        #getItNow .products img { max-height: 110px; }

        #getItNow .cta { margin-top: 20px;}
        #getItNow .cta small { display: block; padding-top: 10px; padding-bottom:5px;}

        @media (min-width: 768px) {
          #getItNow .bubble {
            background-color: white;
            background-position: center center;
            background-image: url(https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-goodNews-shape.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            overflow: visible;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 100px;
            padding-right: 100px;
            margin-left: 20%;
          }
          #getItNow .bubble h2 { padding-top: 0; }
          #getItNow .hero-guy { left: -15%; }
        }

        @media (min-width: 992px) {
          #getItNow .hero-guy { left: -50px; }
        }
        
  section#getItNow
    .container
      img.hero-guy.hidden-xs(src="https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-hero-guy.png")
      .row
        .col-xs-12.col-sm-9.col-sm-offset-3.bubble
          h2.text-center Here you go...
          h3.text-center A great package deal for <mark class="business-idea"></mark> – Starting at <mark id="product-price">#{productToDisplay.price}</mark>
      block productRow
        .row
          .col-xs-12.col-sm-9.col-sm-offset-3.products
            .column.domain
              //- IE 8 fallback img here
              img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-domainName.png")
              h3.text-center Domain Name
              p Get a memorable online address, like <mark class="business-idea">BillyBikes.org</mark>
            .plus +
            block targetedProduct
              .column.website
                //- IE 8 fallback img here
                img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/WebHostingServers.png")
                h3.text-center Web Hosting
                p Give your site a home that’ll keep it secure and running like sports car.
            .plus +
            .column.email
              //- IE 8 fallback img here
              img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png")
              h3.text-center Office 365 Email
              p Get a professional email address, like <mark>yourname@<span class="business-idea">billybikes.org</span></mark>. 
        .row
          .col-xs-12.col-sm-9.col-sm-offset-3.cta
            p.text-center Get the bundle for $1/month for the first year*
            button.btn.btn-purchase.btn-lg.center-block Get It Now
            small.text-center *Bundle cost is $12/year and $XXX.XX/year after the first year