mixin renderOffice365Email(domain)
  append pageStyles
    atlantis:webstash(type="js")
      style.
        .container .row .topSpacing{padding-top:20px;}
        .container .row .leftSpacing{padding-left:50px;}
        .col-xss-1{width: 13%;float: left;position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
        .icon-spacing{text-align: center;font-size: 2em;}

        h2 {margin-bottom:0px}

        .container .row .features-email{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png) no-repeat center bottom;}

  section#O365-email.gray
    .container
      .row
        div.features-email
      .row
        div.text-center
          h2 OFFICE 365 EMAIL
      .row
        div.text-center
          h4 Branded email to talk to your customers
          h4 <mark>#{domain}</mark> – Starting at <mark>#{price}</mark>