extends ../../../templates/pages/landing-page

include _ready-to-take-business-online.jade
include _office365-email-mixin.jade

block domainSearch

block marqueeContent


block sections

  block getItNow

  block domainName
    //include ../shared/domain-search-widget

  block product

  block office365
    +renderOffice365Email("domain")

  block whyUs
    
  block got
    +renderReadyToTakeBusinessOnline("domain","price")
         