extends ../../../sales/shared/_landing-page.jade

include _domain-multiple-selection-mixin.jade
include _office365-email-mixin.jade
include _ready-to-take-business-online-mixin.jade
include _good-news-get-it-now-mixin.jade
include _new-pro-section-mixin.jade

append pageStyles
  style.
    .gray{background-color:#E8E8E8;}
    .green{background-color:#78C043}
    .white{background-color:white}
    .uppercase{text-transform:uppercase}
    .lowercase{text-transform:lowercase}
    .section-divider{height: 2px;background: url('[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-2px-line.png') no-repeat 0 0;}

append headScripts
  atlantis:webstash(type="js")
    script
      include:js ../p4p.js
      include:js ../domain-selection.js

block domainSearch

block marquee

block sections
 
  block getItNow
    // p4p.getItNow
    //+renderGoodNews("domain","price","image-path")

  block proSpecific
    +renderProSection()
  
  block product

  block office365
    // p4p.office365
    +renderOffice365Email()

  block whyUs
    // p4p.whyUs
    // include _why-us

  block domainSearchWizard
    // p4p.domainMultipleSelection
    //+renderDomainMultipleSelection()
    include _domain-search-wizard
  
  block divider
    .container
      .col-xs-12.section-divider(style={'margin-top':'10px','margin-bottom':'10px'})

  block got
    // p4p.got
    //+renderReadyToTakeBusinessOnline("billysbikes.org","price")

prepend endOfPageScripts
  script.
    $(document).ready(function(){
      var domainInfo = {
        businessName  : 'Billys bikes',
        domainName    : 'billysbikes.com',
        emailName     : 'yourname',
        domainOption2 : 'billysbikesLong.com',
        domainOption3 : 'billysbikesReallyLong.com',
        dealPrice     : '$1.00'
      };

      $(".O365-domain-email").html("<mark>" + domainInfo.emailName + "@" + domainInfo.domainName + "</mark>");

      var goodNewsStarter = "A great package deal for <mark>{0}</mark> starting at just <mark>{1}</mark>";
      goodNewsStarter = goodNewsStarter.replace("{0}",domainInfo.businessName).replace("{1}",domainInfo.dealPrice);
      $(".good-news-starter").html(goodNewsStarter);

      var startsWith = "It all starts with a domain name that's easy to remember and fits your business. Here's our favorite for <mark>{0}</mark>";
      startsWith = startsWith.replace("{0}",domainInfo.businessName);
      $(".domain-starts").html(startsWith);

      $(".domainOption1").html(domainInfo.domainName);
      $(".domainOption2").html(domainInfo.domainOption2);
      $(".domainOption3").html(domainInfo.domainOption3);
    });
