extends ../../../templates/pages/landing-page

include _ready-to-take-business-online.jade
include _office365-email-mixin.jade
include _ready-to-take-business-online-mixin.jade

include _good-news-get-it-now.jade

block domainSearch

block sections
 
  block getItNow
    +renderGoodNews("domain","price","image-path")

  block product

  block office365
    +renderOffice365Email("domain")

  block whyUs
    include -why-us.jade
    hr
  
  block got
    +renderReadyToTakeBusinessOnline("domain","price")
         