extends ../../../templates/pages/landing-page

include _ready-to-take-business-online-mixin.jade

block domainSearch

block marqueeContent


block sections
  div
    block getItNow

    block domainName
      //include ../shared/domain-search-widget

    block product

    block office365
      //- define shared ofice 365 HTML here

    block whyUs
      include -why-us.jade
      hr
      
    block got
      +renderReadyToTakeBusinessOnline("domain","price")
         