include _domain-starting-at-mixin.jade
mixin renderReadyToTakeBusinessOnline(productToDisplay)
  append pageStyles
    // atlantis:webstash(type="css")
    style.
      .container .row .topSpacing{padding-top:20px;}
      .container .row .leftSpacing{padding-left:50px;}
      .col-xss-1{width: 13%;float: left;position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
      .icon-spacing{text-align: center;font-size: 2em;}
      .tooltip-icon{height:16px;width:15px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-tootip-icon.png) no-repeat;float:right;position:relative;margin-top:-43px}
      .domain-icon-spacing {margin-right: 60px;}
      .col-spacer2{width:43%;}
      .col-spacer1{width: 30%;}

      h2{margin-top:0px;margin-bottom:0px;}
      h3{margin-top:0px;margin-bottom:0px;}
      .product-name{font-weight:800;padding-top:10px;}

      .features-domain-name{height:117px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-domainName.png) no-repeat center bottom;}
      .features-email{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png) no-repeat center bottom;}
      .features-wordpress{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png) no-repeat center bottom;}
      .features-wsb{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-websiteBuilder-icon.png) no-repeat center bottom;}
      .features-hosting{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-websiteBuilder-icon.png) no-repeat center bottom;}
      .features-online-store{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-websiteBuilder-icon.png) no-repeat center bottom;}
      .web-hosting-icon{height:111px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/WebHostingServers.png) no-repeat center bottom;}
      #business-idea2{background-color: #fedf54; padding-left: 2px; padding-right: 2px;}
      #product-price{background-color: #fedf54; padding-left: 2px; padding-right: 2px;}

  section#got
    .container
      .row
        div.text-center(style={'margin-top':'30px'})
          h2.uppercase Ready to take your business online?
          block checkPro
            h3.uppercase(style={'margin-top':'10px','margin-left':'5%','margin-right':'5%'}) Here's everything you need for <span id="business-idea2"></span> starting at <span id="product-price">#{productToDisplay.price}</span>
        block checkPro-bottom
          .container.bottom
            .row
              .col-sm-4.text-center
                .features-domain-name
                label.h3.uppercase.product-name Domain Name
              .col-sm-4.text-center
                !{productToDisplay.cssClass}
                label.h3.uppercase.product-name #{productToDisplay.name}
              .col-sm-4.text-center
                .features-email
                label.h3.uppercase.product-name Office 365 Email
            .row
              .get-it-now
                .container
                  .row.text-center
                    p.h3.center Get the bundle for $1/month for the first year*
                  .row.text-center(style={'padding-top':'30px','padding-bottom':'10px'})
                    btn.btn-purchase.btn-plan.btn-lg.uppercase.p4p#get-it-btn2 Get it now
                  .row.text-center(style={'padding-top':'10px'})
                    p.h6 *Bundle cost is $12/year and $XXX.XX/year after the first year
