include _domain-starting-at-mixin.jade
mixin renderReadyToTakeBusinessOnline(domain, price)
  append pageStyles
    atlantis:webstash(type="css")
      style.
        .container .row .topSpacing{padding-top:20px;}
        .container .row .leftSpacing{padding-left:50px;}
        .col-xss-1{width: 13%;float: left;position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
        .icon-spacing{text-align: center;font-size: 2em;}
        .features-domain-name{height:115px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-domainName.png) no-repeat center bottom;}
        .features-email{height:117px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png) no-repeat center bottom;}
        .features-wordpress{height:113px; background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-wordPress.png) no-repeat center bottom;}
        .tooltip-icon{height:16px;width:15px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-tootip-icon.png) no-repeat;float:right;position:relative;margin-top:-43px}
        .domain-icon-spacing {margin-right: 60px;}
        .col-spacer2{width:43%;}
        .col-spacer1{width: 30%;}

  section#got
    .container
      .row
        div.text-center
          h2 Ready to take your business online
          +renderDomainstringWithPrice(domain, price)
      .row
        div.topSpacing
          div.col-xss-1
          .col-sm-3
            .icon-spacing
              .features-domain-name
              p
                label Domain
              span.tooltip-icon.domain-icon-spacing

          .col-sm-3
            .icon-spacing
              .features-wordpress
              p
                label Website builder (wrong image)
              span.tooltip-icon
          .col-sm-3
            .icon-spacing
              .features-email
              p
                label Office 365 email
              span.tooltip-icon
      .row
        .col-sm-4.col-spacer1
        p.h3.center Get the bundle for $1/month for the first year*
      .row(style={'padding-top':'30px','padding-bottom':'10px'})
        .col-sm-4.col-spacer2
        .col-sm-3
          btn.btn-purchase.btn-plan.btn-lg Get it now
      .row(style={'padding-top':'10px'})
        .col-sm-4
        p.h6 *Bundle cost is $12/year and $XXX.XX/year after the first year