
extends ../../../../templates/feature

block vars
  - image = "domain.jpg";
  - title = "A domain";
  - subtitle = "Your own unique address on the web, like GoDaddy.com"
block text
  .features-text
    .include-check <strong>Choose from</strong> .com, .net, .org, or even .co domains.
    .include-check <strong>Trust the world leader</strong> with over 58 million domains under management