h2.got-no-top A domain
p Your own unique address on the web, like GoDaddy.com
.features-text
  .include-check-green <strong>Choose from</strong> .com, .net, .org, or even .co domains.
  .include-check-green <strong>Trust the world leader</strong> with over 58 million domains under management