h2.got-no-top Your website
p A place to promote your business or sell your stuff on the web.
.features-text
  .include-check-green <strong>Get your business online</strong> with Website Builder
  .include-check-none <strong>or</strong>
  .include-check-green <strong>Sell products</strong> with your own Online Store (website included)