
extends ../../../../templates/feature

block vars
  - image = "website.jpg";
  - title = "Your website";
  - subtitle = "A place to promote your business or sell your stuff on the web."
block text
  .features-text
    .include-check <strong>Get your business online</strong> with Website Builder
    .strong or
    .include-check <strong>Sell products</strong> with your own Online Store (website included)