atlantis:webstash(type="css")
  style
    :less
      .gdhp-tile.wsb{background-color:#fff;color:#58585a;position:relative;font-family:'Walsheim-Black', 'Arial Black', sans-serif;
        .text{padding:0px 0 0 30px; font-size:36px;line-height:36px;}
        .wsb-logo{
          .wsb-tile-logo{
          background:url("[@T[link:<imageroot />]@T]fos/hp/all-icons.png");
          width:420px;
          height:150px;
          margin:30px 20px 20px;
          }
        }
        .price-headline{
        padding:15px 0 0 30px; font-size:40px;line-height:40px;
        }
        .orange{color: #ff8a00;}
        .wsb-btn-wrap{margin: 20px 20px 20px 30px;position: absolute;bottom: 0;height:73px;}
      }
.gdhp-tile.wsb(onclick!="location.href='[@T[link:<relative path='hosting/website-builder.aspx'><param name='ci' value='97787' /></relative>]@T]';" data-ci="97787")
  div.wsb-logo-wrap
    .wsb-logo
      div.wsb-tile-logo
  #wsbPlusDomainAddCart
    div.text.b [@L[cds.sales/homepage/tile/wsb:getWebsiteBuilder]@L]
    div.text.b [@L[cds.sales/homepage/tile/wsb:plusFreeDomain]@L]
    div.text.b [@L[cds.sales/homepage/tile/wsb:forOnly]@L]
    div.price-headline.b.orange [@T[productprice:<current productid="7524" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/[@L[cds.sales/homepage/tile/wsb:perMonth]@L]
    .wsb-btn-wrap
      button#gdhp-wsb-btn.btn.btn-lrg.btn-orange(href!="javascript:void(0)",data-ci="97787") [@L[cds.sales/homepage/tile/wsb:getStarted]@L]