---
location: sales/ssl/code-signing-certificate.aspx
id: 541ae0eef778fc1620a83152
name: GCE-28142
comments: Remove Website Scanner from Code/Driver Signing Certificate LP
---
{% extends 'layouts/base.html' %}

{% block metahead %}
  {% parent %}
##if(countrySiteAny(in,pk))
    <!-- International Background Images -->
    <style type="text/css">
    .tab-content-plans-pricing-bg-csc {
      background-image: url("[@T[link:<imageroot />]@T]/fos/201401/ssl/code-signing-certificate/img/IN_bg-tab-content-pricing-code-signing-certificate.jpg");
    }
    </style>
##endif

##if(countrySiteAny(my, ph, sg))
    <!-- International Background Images -->
    <style type="text/css">
    .tab-content-plans-pricing-bg-csc {
      background-image: url("[@T[link:<imageroot />]@T]/fos/201401/ssl/code-signing-certificate/img/APAC_bg-tab-content-pricing-code-signing-certificate.jpg");
    }
    </style>
##endif

##if(activeLanguageAny(es,pt,tr,da,fi,nb,sv,de,pl,ru,uk,el,hu))
    <!-- International Background Images -->
    <style type="text/css">
    .tab-content-plans-pricing-bg-csc {
      background-image: url("[@T[link:<imageroot />]@T]/fos/201401/ssl/code-signing-certificate/img/LATAM_bg-tab-content-pricing-code-signing-certificate.jpg");
    }
    </style>
##endif

{% endblock %}

{% block footer %}
    <script>
        $(function () {

            if (typeof FastballEvent_MouseClick === 'function' && typeof fbiLibCheckQueue === 'function') {
                $('[data-ci]').click(function(e){
                    $this = $(this);
                    FastballEvent_MouseClick(e,$this.attr('data-ci'),$(this)[0],'a');
                    fbiLibCheckQueue();
                });
            }
            $('.equal-height').setColumnsEqualHeight();
            $('.select-box').setSelectBox();
            $('.isToolTip').tooltip();
            $('.tab-link').tabLinks();
            $('.js-open-overview').on('click', function(e){
                e.preventDefault();
                window.location.hash = '';
                $('a[href="#pricing"]').tab('show');
                window.location.hash = '#prices';
            });
        });

        // gdSideBySideAlign plugin
        (function ( $, window, document, undefined ) {

          var pluginName = 'gdSideBySideAlign',
              defaults = {
                bailIfRowCountsMismatch : true
          };

         function GDSideBySideAlign( element, options ) {
            this.element = element;
           this.options = $.extend( {}, defaults, options);
            this._defaults = defaults;
            this._name = pluginName;
           this.init();
         }

          GDSideBySideAlign.prototype.init = function () {

          // Find the columns
          var $columns = $(this.element).find('[data-gd-sidebysidealign-col]');

          if($columns.length == 0) {
            return; // bail if no columns found
          }

          // Make sure columns have an equal number of rows
          var numRows = 0, equalLength = true;
          $.each($columns, function(idx,item){
            var $rows = $(item).find('[data-gd-sidebysidealign-row]');
            if(numRows == 0) {
              numRows = $rows.length;
            }
            if(equalLength) {
              if(numRows != $rows.length) equalLength = false;
            }
          });
          if(numRows==0 || !equalLength && this.options.bailIfRowCountsMismatch) {
            return; // bail if no rows, or rows are not equal length
          }

          // loop thru each row and grab the largest cell height and apply to each cell in that row
          for(var i=1; i<=numRows; i++) {
            var $cells = $columns.find('[data-gd-sidebysidealign-row="' + i + '"]' );
            var maxHeight = 0;
            $.each($cells,function(idx, cell){
              maxHeight = Math.max(maxHeight, $(cell).height());
            });
            $cells.height(maxHeight);
          }

        }; /* end GDSideBySideAlign.prototype.init */

        // register the function to be used
        $.fn[pluginName] = function ( options ) {
         return this.each(function () {
            if (!$.data(this, 'plugin_' + pluginName)) {
              $.data(this, 'plugin_' + pluginName, new GDSideBySideAlign( this, $(this).data('gd-sidebysidealign') || options ));
            }
          });
        };

        // load the plugin
        $(document).ready(function(){
          $('[data-gd-sidebysidealign]').gdSideBySideAlign();
        });

        })( jQuery, window, document );
    </script>
{% endblock %}

{% block body %}

 <!-- Start main-banner -->

        <section class="main-banner main-banner-csc">
            <div class="l-main-container container main-banner-content"><a data-ci="88722" class="ribbon ribbon-right"><i class="marquee-flag [@T[localization:<language />]@T] [@T[localization:<language full="true" />]@T] money-back-guarantee"></i></a>
                <h1 class="main-banner-title">[@L[cds.sales/gd/ssl/code-signing-certificate2:MainTitle]@L]</h1>
                <h2 class="main-banner-subtitle">[@L[cds.sales/gd/ssl/code-signing-certificate2:MainSubTitle]@L]</h2>
            </div>
        </section>
        <!-- End main-banner -->

        <!-- Start main-tabs -->
        <section class="main-tabs">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-tabs-item active"><a data-ci="88723" class="nav-tabs-link" href="#pricing" data-toggle="tab">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentTabLink1]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
                    <li class="nav-tabs-item"><a data-ci="88724" class="nav-tabs-link" href="#features" data-toggle="tab">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentTabLink2]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
                    <li class="nav-tabs-item"><a data-ci="88725" class="nav-tabs-link" href="#faq" data-toggle="tab">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentTabLink3]@L]</a><i class="ico ico-shape ico-shape-arrow-down"></i></li>
                </ul>
            </div>
        </section>
        <!-- End main-tabs -->

        <!-- Start main-tabs panes -->
        <div class="tab-content no-margin-top">
            <div class="tab-pane tab-content-plans-pricing-bg-csc active" id="pricing">
                <!-- Start content -->
                <section class="l-main-container container">
                    <!-- Start misc-banner -->
                    <section class="misc-banner">
                        <div class="l-main-container container misc-banner-content">
                            <h2>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabContentPlanPricingTabHeaderText]@L]</h2>
                            <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabContentPlanPricingTabSubHeaderText]@L]</p>
                            <span class="misc-banner-link">[@L[cds.sales/gd/ssl/code-signing-certificate2:LinkViewOurDesignsText]@L]</span>
                        </div>
                    </section>
                    <!-- End misc-banner -->
                    <div id="prices" class="row equal-height" data-gd-sidebysidealign="{}">
                        <div id="code-signing" class="col-xs-4 relative" data-gd-sidebysidealign-col="1">
                            <div class="grid-column no-padding-bottom">
                              <div data-gd-sidebysidealign-row="1">
                                <h2>[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxCodeSigningCertificate]@L]</h2>
                               </div>
                               <div data-gd-sidebysidealign-row="2">
                                <p class="starting-at starting-at-alternate-top-spacing"><span class="starting-at-above">[@L[cds.sales/gd/ssl/code-signing-certificate2:starting-at]@L]</span><span class="starting-at-price">[@T[productprice:<current productid="3683" period="yearly" />]@T]</span><span class="starting-at-small">/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span></p>
                               </div>
                               <div data-gd-sidebysidealign-row="3">
                                <form action="[@T[link:<relative path="/CDS/Widgets/WidgetsPostHandlers/CodeSignAddToCartPostHandler.ashx" parammode="common" />]@T]" name="frmCodeSign" id="frmCodeSign" method="post">
                                    <input type="hidden" name="formSubmitButton" id="formSubmitButton" value="Add-to-Cart" />
                                    <input type="hidden" name="itc" value="slp_codeSign" />
                                    <input type="hidden" name="nocos" value="False" />
                                    <input type="hidden" name="config" value="codesigncert" />
                                    <input type="hidden" name="sdc" value="True" />
                                    <input type="hidden" name="newxs" value="False" />
                                    <input type="hidden" name="cicode" value="13308" />
                                    <input type="hidden" name="prog_id" value="GoDaddy" />
                                    <input type="hidden" name="selectedPlan" id="selectedPlan" class="selectedPlan" value="frmCodeSign_0">
                                    <div class="select-box first" id="price-box" data-ci="88726">
                                        <div class="select-box-head">
                                            <div  class="select-box-current">
                                                <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:1-year]@L]</span>
                                                <span class="price">[@T[productprice:<current productid="3681" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                            </div>
                                            <div class="select-box-cta"><i class="ico ico-download"></i></div>
                                        </div><!-- select-box-head -->
                                        <div class="select-box-body">
                                            <ul class="select-box-options">
                                                <li class="selected">
                                                    <label>
                                                        <input type="radio" name="product" id="3681_1_1" value="3681|1|1" checked="true">
                                                        <div>
                                                            <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:1-year]@L]</span>
                                                            <span class="price">[@T[productprice:<current productid="3681" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                            <span class="save "></span>
                                                        </div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product" id="3682_1_1" value="3682|1|1">
                                                        <div>
                                                            <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:2-year]@L]</span>
                                                            <span class="price">[@T[productprice:<current productid="3682" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                            ##if(productHasSavingsMoreThan(3682, 3681, 0))
                                                            <span class="save ">[@T[productcompare:<percent primaryproductid="3682" secondaryproductid="3681" hidebelow="5"><html><![CDATA[[@L[cds.sales/gd/ssl/code-signing-certificate2:save]@L] {0}%&#8225;]]></html></percent>]@T]</span>
                                                            ##else
                                                            <span class="save "></span>
                                                            ##endif
                                                        </div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product" id="3683_1_1" value="3683|1|1">
                                                        <div>
                                                            <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:3-year]@L]</span>
                                                            <span class="price">[@T[productprice:<current productid="3683" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                            ##if(productHasSavingsMoreThan(3683, 3681, 0))
                                                            <span class="save ">[@T[productcompare:<percent primaryproductid="3683" secondaryproductid="3681" hidebelow="5"><html><![CDATA[[@L[cds.sales/gd/ssl/code-signing-certificate2:save]@L] {0}%&#8225;]]></html></percent>]@T]</span>
                                                            ##else
                                                            <span class="save "></span>
                                                            ##endif
                                                        </div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!-- select-box-body -->
                                    </div><!-- select-box -->

                                    <div class="select-box" id="quantity-box" data-ci="88727">
                                        <div class="select-box-head">
                                            <div class="select-box-current select-box-current-quantity">
                                                <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                <span class="save">1</span>
                                            </div>
                                            <div class="select-box-cta"><i class="ico ico-download"></i></div>
                                        </div><!-- select-box-head -->
                                        <div class="select-box-body">
                                            <ul class="select-box-options">
                                                <li class="selected">
                                                    <label>
                                                        <input type="radio" name="quantity" value="1" checked="true">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>1</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="2">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>2</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="3">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>3</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="4">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>4</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="5">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>5</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="6">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>6</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="7">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>7</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="8">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>8</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="9">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>9</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="10">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>10</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!-- select-box-body -->
                                    </div><!-- select-box -->
                                    <p class="no-margin-bottom"><button data-ci="88728" type="submit" class="btn btn-warning btn-block btn-lg">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanboxCartBtn]@L]</button></p>
                                </form>
                              </div>
                                <ul class="plan-pricing-list plan-pricing-list-alternate">
                                    <li data-gd-sidebysidealign-row="4"><i class="ico ico-empty"></i></li>
                                    <li data-gd-sidebysidealign-row="5">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxCodeSigningCertificateDetails01Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="6">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxCodeSigningCertificateDetails02Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="7">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxCodeSigningCertificateDetails03Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="8"><i class="ico ico-empty"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div id="driver-signing" class="col-xs-4 relative" data-gd-sidebysidealign-col="2">
                            <div class="grid-column no-padding-bottom">
                              <div data-gd-sidebysidealign-row="1">
                                <h2>[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificate]@L]</h2>
                              </div>
                              <div data-gd-sidebysidealign-row="2">
                                <p class="starting-at starting-at-alternate-top-spacing"><span class="starting-at-above">[@L[cds.sales/gd/ssl/code-signing-certificate2:starting-at]@L]</span><span class="starting-at-price">[@T[productprice:<current productid="1153" period="yearly" />]@T]</span><span class="starting-at-small">/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span></p>
                              </div>
                              <div data-gd-sidebysidealign-row="3">
                                <form action="[@T[link:<relative path="/CDS/Widgets/WidgetsPostHandlers/CodeSignAddToCartPostHandler.ashx" parammode="common" />]@T]" name="frmCodeSign" id="frmCodeSign" method="post">
                                    <input type="hidden" name="formSubmitButton" id="formSubmitButton" value="Add-to-Cart" />
                                    <input type="hidden" name="itc" value="slp_codeSign" />
                                    <input type="hidden" name="nocos" value="False" />
                                    <input type="hidden" name="config" value="codesigncert" />
                                    <input type="hidden" name="sdc" value="True" />
                                    <input type="hidden" name="newxs" value="False" />
                                    <input type="hidden" name="cicode" value="13308" />
                                    <input type="hidden" name="prog_id" value="GoDaddy" />
                                    <input type="hidden" name="selectedPlan" id="selectedPlan" class="selectedPlan" value="frmCodeSign_0">
                                    <div class="select-box first" id="price-box" data-ci="88729">
                                        <div class="select-box-head">
                                            <div class="select-box-current">
                                                <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:1-year]@L]</span>
                                                <span class="price">[@T[productprice:<current productid="1130" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                            </div>
                                            <div class="select-box-cta"><i class="ico ico-download"></i></div>
                                        </div><!-- select-box-head -->
                                        <div class="select-box-body">
                                            <ul class="select-box-options">
                                                <li class="selected">
                                                    <label>
                                                        <input type="radio" name="product" id="1130_1_1" value="1130|1|1" checked="true">
                                                        <div>
                                                            <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:1-year]@L]</span>
                                                            <span class="price">[@T[productprice:<current productid="1130" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                        </div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product" id="1132_1_1" value="1132|1|1">
                                                        <div>
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:2-year]@L]</span>
                                                        <span class="price">[@T[productprice:<current productid="1132" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                        ##if(productHasSavingsMoreThan(1132, 1130, 0))
                                                            <span class="save lastChild">[@T[productcompare:<percent primaryproductid="1132" secondaryproductid="1130" hidebelow="5"><html><![CDATA[[@L[cds.sales/gd/ssl/code-signing-certificate2:save]@L] {0}%&#8225;]]></html></percent>]@T]</span>
                                                        ##endif
                                                        </div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product" id="1153_1_1" value="1153|1|1">
                                                        <div>
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:3-year]@L]</span>
                                                        <span class="price">[@T[productprice:<current productid="1153" period="yearly" />]@T]/[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxYear]@L]</span>
                                                        ##if(productHasSavingsMoreThan(1153, 1130, 0))
                                                            <span class="save lastChild">[@T[productcompare:<percent primaryproductid="1153" secondaryproductid="1130" hidebelow="5"><html><![CDATA[[@L[cds.sales/gd/ssl/code-signing-certificate2:save]@L] {0}%&#8225;]]></html></percent>]@T]</span>
                                                        ##endif
                                                        </div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!-- select-box-body -->
                                    </div><!-- select-box -->
                                    <div class="select-box" id="quantity-box" data-ci="88730">
                                        <div class="select-box-head">
                                            <div class="select-box-current select-box-current-quantity">
                                                <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                <span class="save">1</span>
                                            </div>
                                            <div class="select-box-cta"><i class="ico ico-download"></i></div>
                                        </div><!-- select-box-head -->
                                        <div class="select-box-body">
                                            <ul class="select-box-options">
                                                <li class="selected">
                                                    <label>
                                                        <input type="radio" name="quantity" value="1" checked="true">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>1</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="2">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>2</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="3">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>3</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="4">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>4</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="5">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>5</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="6">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>6</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="7">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>7</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="8">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>8</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="9">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>9</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="quantity" value="10">
                                                        <span>[@L[cds.sales/gd/ssl/code-signing-certificate2:SelectQuantity]@L]</span>
                                                        <span>10</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div><!-- select-box-body -->
                                    </div><!-- select-box -->
                                    <p class="no-margin-bottom"><button data-ci="88731" type="submit" class="btn btn-warning btn-block btn-lg">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanboxCartBtn]@L]</button></p>
                                </form>
                              </div>
                                <ul class="plan-pricing-list plan-pricing-list-alternate">
                                    <li data-gd-sidebysidealign-row="4">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificateDetails01Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="5">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificateDetails02Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="6">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificateDetails03Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="7">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificateDetails04Text]@L]</li>
                                    <li data-gd-sidebysidealign-row="8">[@L[cds.sales/gd/ssl/code-signing-certificate2:PlanBoxDriverSigningCertificateDetails05Text]@L]</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="grid-column has-badge grid-column-right">
                                <p><strong>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListTitle1]@L]</strong></p>
                                <ul class="plan-pricing-tab-content-feature-list bullet-list">
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem1]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem2]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem3]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem4]@L]</li>
                                </ul>
                                <p><strong>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListTitle2]@L]</strong></p>
                                <ul class="plan-pricing-tab-content-feature-list bullet-list">
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem5]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem6]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem7]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem8]@L]</li>
                                    <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:FeaturesListItem9]@L]</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </section>
                <!-- End content -->
            </div>
            <div class="tab-pane" id="features">
                <!--  Start content -->
                <section class="l-main-container container">
                    <!-- Start misc-banner -->
                    <section class="misc-banner">
                        <div class="tab-header tab-header-features">
                            <h2 class="tab-header-title">[@L[cds.sales/gd/ssl/code-signing-certificate2:TabContentFeaturesTabHeaderText]@L]</h2>
                            <p class="no-margin-bottom">[@L[cds.sales/gd/ssl/code-signing-certificate2:TabContentFeaturesTabSubHeaderText]@L]</p>
                        </div>
                    </section>
                    <!-- End misc-banner -->
                    <div class="row tab-content">
                        <div class="col-xs-12">
                            <div class="grid-column features-grid-csc">
                                <div class="row-icon-left row-icon-features">
                                    <i class="ico ico-lock"></i>
                                    <h2>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1CurrentFeaturesTitle]@L]</h2>
                                    <ul class="sc-pane-list ">
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1FeatureListItems1]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1FeatureListItems2]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1FeatureListItems3]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1FeatureListItems4]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures1FeatureListItems5]@L]</li>
                                    </ul>
                                </div>
                                <div class="row-icon-left row-icon-features">
                                    <i class="ico ico-dashboard"></i>
                                    <h2>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures2CurrentFeaturesTitle]@L]</h2>
                                    <ul class="sc-pane-list">
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures2FeatureListItems1]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures2FeatureListItems2]@L]</li>
                                        <li>[@L[cds.sales/gd/ssl/code-signing-certificate2:TabFeatures2FeatureListItems3]@L]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-ci="88735" class="btn btn-primary btn-lg btn-block tab-link js-open-overview" href="#"><i class="ico ico-gt"></i>[@L[cds.sales/gd/ssl/code-signing-certificate2:PackageBtn]@L]</a>
                </section>
                <!-- End content -->
            </div>
            <div class="tab-pane" id="faq">
                <section class="tab-content-top-spacing">
                    <div class="container l-main-container">
                        <div class="row tab-content">
                            <div class="col-xs-12">
                                <div class="grid-column tab-content-column-alternate tab-content-faq">
                                    <h2 class="h2-alternate">[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Title]@L]</h2>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item1]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item2]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item3]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item4]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item5]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item6]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList1Item7]@L]</p>

                                    <hr/>

                                    <h2 class="h2-alternate">[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Title]@L]</h2>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item1]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item2]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item3]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item4]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item5]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList2Item6]@L]</p>

                                    <hr/>

                                    <h2 class="h2-alternate">[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList3Title]@L]</h2>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList3Item1]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList3Item2]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList3Item3]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList3Item4]@L]</p>

                                    <hr/>

                                    <h2 class="h2-alternate">[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList4Title]@L]</h2>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList4Item1]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList4Item2]@L]</p>

                                    <hr/>

                                    <h2 class="h2-alternate">[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Title]@L]</h2>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Item1]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Item2]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Item3]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Item4]@L]</p>
                                    <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:FaqList5Item5]@L]</p>

                                </div>
                            </div>
                        </div>
                        <a data-ci="88740" href="#" class="btn btn-primary btn-lg btn-block tab-link js-open-overview"><i class="ico ico-gt"></i>[@L[cds.sales/gd/ssl/code-signing-certificate2:PackageBtn]@L]</a>
                    </div>
                </section>
            </div>
        </div>
        <!-- End main-tabs panes -->

        <section class="container l-main-container content-disclaimer">
            <p class="no-margin-bottom"><small class="small-print">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentDisclaimerSymbols]@L] <a data-ci="88734" class="simple-link pointer-cursor" data-toggle="modal" data-target="#myModal">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentDisclaimerLink]@L]</a></small></p>
            <p><small class="small-print">[@L[cds.sales/gd/ssl/code-signing-certificate2:ContentDicalimerText]@L]</small></p>
        </section>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>[@L[cds.sales/gd/ssl/code-signing-certificate2:DisclaimerModalHeader]@L]</strong></h4>
                    </div>
                    <div class="modal-body">
                        <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:DisclaimerModalItem01]@L]</p>
                        <p>[@L[cds.sales/gd/ssl/code-signing-certificate2:DisclaimerModalItem02]@L]</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
